unpackaged/main/default/flows/Active_service_to_cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_name</name>
        <label>Add name</label>
        <locationX>1766</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>varAllProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_name_TODAY</name>
        <label>Add name</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varAllProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNameToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_product_TODAY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1766</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_TODAY</name>
        <label>Add to collection</label>
        <locationX>754</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service_TODAY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_service</name>
        <label>Single service</label>
        <locationX>2030</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_service_TODAY</name>
        <label>Single service</label>
        <locationX>1018</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleNotMatch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service_TODAY.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_service_TODAY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_service_update</name>
        <label>Single service update</label>
        <locationX>1766</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_product.Opportunity.End_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_service_update_TODAY</name>
        <label>Single service update</label>
        <locationX>754</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service_TODAY.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_product_TODAY.Opportunity.End_date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_TODAY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_service</name>
        <label>Update service</label>
        <locationX>2030</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleNotMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_service_TODAY</name>
        <label>Update service</label>
        <locationX>1018</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleNotMatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service_TODAY</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Effective_Date</name>
        <label>Effective Date?</label>
        <locationX>490</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TODAY</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Add_SpendToday</targetReference>
            </connector>
            <label>TODAY - Upgrade</label>
        </rules>
        <rules>
            <name>TODAY_Downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Execution_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Add_SpendDowngradeToday</targetReference>
            </connector>
            <label>TODAY - Downgrade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_name</name>
        <label>Review name</label>
        <locationX>1898</locationX>
        <locationY>1932</locationY>
        <defaultConnector>
            <targetReference>Single_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAllProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Each_service.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAllProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Each_service.Product_Package__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_service_update</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_name_TODAY</name>
        <label>Review name</label>
        <locationX>886</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Single_service_TODAY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_TODAY</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAllProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Each_service_TODAY.Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAllProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Each_service_TODAY.Product_Package__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_service_update_TODAY</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Plan</name>
        <label>Tier Plan</label>
        <locationX>1590</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Expansion_create_only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Growth_Premium_SEO_LeadsPro</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Website_Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_CSM_Assignment_Queue</targetReference>
            </connector>
            <label>Growth/Premium/SEO/LeadsPro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>1678</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Effective_Date_Not_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Execution_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>Effective Date - Not Today</label>
        </rules>
        <rules>
            <name>Expansion_Upgrade</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Add_Spend</targetReference>
            </connector>
            <label>Expansion / Upgrade</label>
        </rules>
        <rules>
            <name>Downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Add_Spend_Downgrade</targetReference>
            </connector>
            <label>Downgrade</label>
        </rules>
    </decisions>
    <description>Implementing the Addendum Effective Date enhancement.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaName</name>
        <dataType>String</dataType>
        <expression>{!Each_product.Product_Name__c} + &quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>formulaNameToday</name>
        <dataType>String</dataType>
        <expression>{!Each_product_TODAY.Product_Name__c} + &quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>formulaServiceProductName</name>
        <dataType>String</dataType>
        <expression>{!Each_service.Product__c}</expression>
    </formulas>
    <interviewLabel>Active service to cancelled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Active service to cancelled</label>
    <loops>
        <name>Each_product</name>
        <label>Each product</label>
        <locationX>1678</locationX>
        <locationY>1416</locationY>
        <collectionReference>Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_product_TODAY</name>
        <label>Each product</label>
        <locationX>666</locationX>
        <locationY>600</locationY>
        <collectionReference>Opportunity_Products_TODAY</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_name_TODAY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Services_TODAY</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_service</name>
        <label>Each service</label>
        <locationX>1678</locationX>
        <locationY>1824</locationY>
        <collectionReference>Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Review_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_service_TODAY</name>
        <label>Each service</label>
        <locationX>666</locationX>
        <locationY>1008</locationY>
        <collectionReference>Services_TODAY</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Review_name_TODAY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_services_TODAY</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Tasks1</name>
        <label>Create Product Tasks</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <inputReference>varListOfTasksToCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Tasks2</name>
        <label>Create Product Tasks</label>
        <locationX>666</locationX>
        <locationY>1932</locationY>
        <inputReference>varListOfTasksToCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>1678</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Products_TODAY</name>
        <label>Opportunity Products</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_product_TODAY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pending_CSM_Assignment_Queue</name>
        <label>Pending CSM Assignment - Queue</label>
        <locationX>1458</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1234</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Services</name>
        <label>Services</label>
        <locationX>1678</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Website Launched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Services_TODAY</name>
        <label>Services</label>
        <locationX>666</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service_TODAY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Website Launched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_Service</name>
        <label>Website Service</label>
        <locationX>1590</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_Plan</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-App Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Launches</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Launched</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Add_Spend</name>
        <label>Update Add Spend</label>
        <locationX>1590</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Website_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ad_Spend_Management_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Management_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Marketing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Subscription_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_Spend_Downgrade</name>
        <label>Update Add Spend</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ad_Spend_Management_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Management_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Marketing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Subscription_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Plan__c</field>
            <value>
                <elementReference>$Record.Tier_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_SpendDowngradeToday</name>
        <label>Update Add Spend</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Opportunity_Products_TODAY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ad_Spend_Management_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Management_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Marketing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Subscription_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Plan__c</field>
            <value>
                <elementReference>$Record.Tier_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_SpendToday</name>
        <label>Update Add Spend</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Copy_1_of_Expansion_create_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ad_Spend_Management_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Management_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Spend__c</field>
            <value>
                <elementReference>$Record.Ad_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Marketing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>$Record.Monthly_Subscription_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CSM</name>
        <label>Update CSM</label>
        <locationX>1458</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Expansion_create_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>Pending_CSM_Assignment_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_services</name>
        <label>Update services</label>
        <locationX>1678</locationX>
        <locationY>2424</locationY>
        <connector>
            <targetReference>Call_flow</targetReference>
        </connector>
        <inputReference>ServiceCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_services_TODAY</name>
        <label>Update services</label>
        <locationX>666</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>Copy_1_of_Call_flow</targetReference>
        </connector>
        <inputReference>ServiceCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Effective_Date</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 7) AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Addendum</stringValue>
            </value>
        </filters>
        <filters>
            <field>Design_Change_Refresh__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expansion</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won - Addendum</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Addendum_Effective_Date_Path</name>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Addendum Effective Date Path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Addendum_Execution_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_flow</name>
        <label>Call flow</label>
        <locationX>1678</locationX>
        <locationY>2532</locationY>
        <flowName>Create_services_after_addendum_was_edited</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractID</name>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Call_flow</name>
        <label>Call flow</label>
        <locationX>666</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Generate_Product_Tasks_for_Downgrade</targetReference>
        </connector>
        <flowName>Create_services_after_addendum_was_edited</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractID</name>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Expansion_create_only</name>
        <label>Expansion - create only</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Generate_Product_Tasks</targetReference>
        </connector>
        <flowName>Create_services_after_addendum_was_edited</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractID</name>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Expansion_create_only</name>
        <label>Expansion - create only</label>
        <locationX>1590</locationX>
        <locationY>1008</locationY>
        <flowName>Create_services_after_addendum_was_edited</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContractID</name>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Product_Tasks</name>
        <label>Generate Product Tasks</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Product_Tasks1</targetReference>
        </connector>
        <flowName>Opportunity_SFL_createProductTasks</flowName>
        <inputAssignments>
            <name>vOpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varListOfTasksToCreated</assignToReference>
            <name>vListOfTasks</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Product_Tasks_for_Downgrade</name>
        <label>Generate Product Tasks for Downgrade</label>
        <locationX>666</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Create_Product_Tasks2</targetReference>
        </connector>
        <flowName>Opportunity_SFL_createProductTasks</flowName>
        <inputAssignments>
            <name>vOpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varListOfTasksToCreated</assignToReference>
            <name>vListOfTasks</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>ServiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varAllProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varListOfTasksToCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varProductPackage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleNotMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varSingleService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
