unpackaged/main/default/flows/Cancellation_or_Paused_Addendum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_collection</name>
        <label>Add collection</label>
        <locationX>1744</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_collection_today</name>
        <label>Add collection</label>
        <locationX>512</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_service_today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>182</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>varCountContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SS_to_collection</name>
        <label>Add SS to collection</label>
        <locationX>600</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>ScheduleServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varServiceSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_schedule_service_today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Count</name>
        <label>Add Count</label>
        <locationX>1414</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>varCountContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_1_of_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Active_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Service_Cancellation_Paused</name>
        <label>Schedule Service Cancellation/Paused</label>
        <locationX>1832</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>Each_schedule_service.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScheduleServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_schedule_service</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_schedule_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Schedule_Service_Cancellation_Paused_today</name>
        <label>Schedule Service Cancellation/Paused</label>
        <locationX>600</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>varServiceSchedule.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServiceSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_schedule_service_today.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SS_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_cancelled_paused</name>
        <label>Status cancelled/paused Service</label>
        <locationX>1744</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_cancelled_paused_Service_today</name>
        <label>Status cancelled/paused Service</label>
        <locationX>512</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_service_today.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_collection_today</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Review if the account still has more than one contract active</description>
        <name>Active_Contracts</name>
        <label>Active Contracts?</label>
        <locationX>182</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Contract_today</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Active_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_today</targetReference>
            </connector>
            <label>No More Active Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Addendum_Effective_Date</name>
        <label>Addendum Effective Date</label>
        <locationX>545</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TODAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Execution_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_today</targetReference>
            </connector>
            <label>TODAY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Addendum_type</name>
        <label>Addendum type</label>
        <locationX>1568</locationX>
        <locationY>1524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Contracts</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Addendum_type_today</name>
        <label>Addendum type</label>
        <locationX>336</locationX>
        <locationY>1632</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contracts</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review if the account still has more than one contract active</description>
        <name>Copy_1_of_Active_Contracts</name>
        <label>Active Contracts?</label>
        <locationX>1414</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_More_Active_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account</targetReference>
            </connector>
            <label>No More Active Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Effective_Date</name>
        <label>Effective Date?</label>
        <locationX>1293</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Addendum_Execution_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>Not today</label>
        </rules>
    </decisions>
    <description>Implementing Addendum Effective Date</description>
    <environments>Default</environments>
    <formulas>
        <name>varStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Addendum_Type__c},&quot;Cancellation&quot;), &quot;Cancelled&quot;, &quot;Paused&quot;)</expression>
    </formulas>
    <interviewLabel>Cancellation or Paused Addendum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancellation or Paused Addendum</label>
    <loops>
        <name>Each_contact_Cancellation</name>
        <label>Each contact - Cancellation</label>
        <locationX>182</locationX>
        <locationY>2472</locationY>
        <collectionReference>All_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Cancelled</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Each_contact_Cancelled</name>
        <label>Each contact - Cancelled</label>
        <locationX>1414</locationX>
        <locationY>2364</locationY>
        <collectionReference>All_contacts1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Cancelled1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Each_schedule_service</name>
        <label>Each schedule service</label>
        <locationX>1744</locationX>
        <locationY>924</locationY>
        <collectionReference>Schedule_service</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Schedule_Service_Cancellation_Paused</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Each_service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_schedule_service_today</name>
        <label>Each schedule service</label>
        <locationX>512</locationX>
        <locationY>924</locationY>
        <collectionReference>Schedule_service_today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Schedule_Service_Cancellation_Paused_today</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Each_service_today</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_service</name>
        <label>Each service</label>
        <locationX>1568</locationX>
        <locationY>492</locationY>
        <collectionReference>Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_cancelled_paused</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_schedule_service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_service_today</name>
        <label>Each service</label>
        <locationX>336</locationX>
        <locationY>492</locationY>
        <collectionReference>Services_today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_cancelled_paused_Service_today</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_schedule_service_today</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_contacts</name>
        <label>All contacts</label>
        <locationX>182</locationX>
        <locationY>2364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_contact_Cancellation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>All_contacts1</name>
        <label>All contacts</label>
        <locationX>1414</locationX>
        <locationY>2256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_contact_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contracts</name>
        <label>Contracts</label>
        <locationX>182</locationX>
        <locationY>1740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Contracts</name>
        <label>Contracts</label>
        <locationX>1414</locationX>
        <locationY>1632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Add_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Schedule_service</name>
        <label>Schedule service</label>
        <locationX>1744</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_schedule_service</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_service.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Assigning</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Schedule_service_today</name>
        <label>Schedule service</label>
        <locationX>512</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_schedule_service_today</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 )</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_service_today.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Assigning</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Services</name>
        <label>Services</label>
        <locationX>1568</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Services_today</name>
        <label>Services</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service_today</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account</name>
        <label>Account</label>
        <locationX>1282</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>$Record.Addendum_Execution_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_today</name>
        <label>Account</label>
        <locationX>50</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>Contract_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>$Record.Addendum_Execution_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Cancelled</name>
        <label>Contact - Cancelled</label>
        <locationX>270</locationX>
        <locationY>2580</locationY>
        <connector>
            <targetReference>Each_contact_Cancellation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_contact_Cancellation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Cancelled1</name>
        <label>Contact - Cancelled</label>
        <locationX>1502</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>Each_contact_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_contact_Cancelled.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contract</name>
        <label>Contract</label>
        <locationX>1414</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>All_contacts1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contract_today</name>
        <label>Contract</label>
        <locationX>182</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>All_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_schedule_service</name>
        <label>Update schedule service</label>
        <locationX>1568</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Update_Services</targetReference>
        </connector>
        <inputReference>ScheduleServiceCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_schedule_service_today</name>
        <label>Update schedule service</label>
        <locationX>336</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Update_Services_today</targetReference>
        </connector>
        <inputReference>ScheduleServiceCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services</name>
        <label>Update Services</label>
        <locationX>1568</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Addendum_type</targetReference>
        </connector>
        <inputReference>ServiceCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services_today</name>
        <label>Update Services</label>
        <locationX>336</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Addendum_type_today</targetReference>
        </connector>
        <inputReference>ServiceCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>793</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Addendum_Effective_Date</targetReference>
        </connector>
        <filterLogic>2 AND (1 OR 5) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Addendum</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paused</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won - Addendum</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Change_status_of_all_services</name>
            <connector>
                <targetReference>Effective_Date</targetReference>
            </connector>
            <label>Change status of all services</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Addendum_Execution_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>ScheduleServiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>ServiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varCountContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varServiceSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
</Flow>
