unpackaged/main/default/flows/Contact_SCR_Assign_Topics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Eligible_Topics</name>
        <label>Assign Eligible Topics</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vListOfTopics</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_Leads</name>
        <label>Number Of Leads</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>vNumberOfLeadIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Ids_were_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_vTopicAssignmentAlreadyExists</name>
        <label>Reset vTopicAssignmentAlreadyExists</label>
        <locationX>1414</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>vTopicAssignmentAlreadyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicAssignmentAlreadyExists</name>
        <label>SetTopicAssignmentAlreadyExists</label>
        <locationX>1634</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>vTopicAssignmentAlreadyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Topic_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_New_Topic</name>
        <label>Setup New Topic</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vTopic.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Topic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Topic_Assignment</name>
        <label>Setup Topic Assignment</label>
        <locationX>1678</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>vTopicAssignment.TopicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTopic.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTopicAssignment.EntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vListOfTopicAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vTopicAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Ids_were_selected</name>
        <label>Check if Ids were selected</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ProvideTopicName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Ids_were_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumberOfLeadIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoIdsWereSelected</targetReference>
            </connector>
            <label>No Ids were selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Topic_Assignment_Already_Exist</name>
        <label>Does Topic Assignment Already Exist?</label>
        <locationX>1766</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Existing_Topic_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Topic_Assignment_Already_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Existing_Topic_Assignment.TopicId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vTopic.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Existing_Topic_Assignment.EntityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTopicAssignmentAlreadyExists</targetReference>
            </connector>
            <label>Topic Assignment Already Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Topic_Exist</name>
        <label>Does Topic Exist?</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Topic_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Topic_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTopic</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setup_New_Topic</targetReference>
            </connector>
            <label>Topic Doesnt Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Double_Check_for_Duplicates</name>
        <label>Double Check for Duplicates</label>
        <locationX>1546</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Setup_Topic_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTopicAssignmentAlreadyExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_vTopicAssignmentAlreadyExists</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead SCR Assign Topics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact SCR Assign Topics</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Existing_Topic_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Topic_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Topic_Assignment</name>
        <label>Loop Through Existing Topic Assignment</label>
        <locationX>1546</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Topic_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Topic_Assignment_Already_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Double_Check_for_Duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Topic</name>
        <label>Create Topic</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Topic_Assignments</targetReference>
        </connector>
        <inputReference>vTopic</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Topic_Assignments</name>
        <label>Create Topic Assignments</label>
        <locationX>1106</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Found</targetReference>
        </faultConnector>
        <inputReference>vListOfTopicAssignments</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Topics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Topic_Assignments</name>
        <label>Get Topic Assignments</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTopic.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Topics</name>
        <label>Get Topics</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Topic_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>vListOfTopics</elementReference>
            </value>
        </filters>
        <object>Topic</object>
        <outputReference>vTopic</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Found</name>
        <label>Error Found</label>
        <locationX>1414</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;An error happened when trying to create Topic Assignment. Please contact our crm-team with the following message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoIdsWereSelected</name>
        <label>NoIdsWereSelected</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoIdsSelected</name>
            <fieldText>&lt;p&gt;You haven&#39;t selected any leads.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProvideTopicName</name>
        <label>ProvideTopicName</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Eligible_Topics</targetReference>
        </connector>
        <fields>
            <name>ProvideTopicsYouWantToAssign</name>
            <fieldText>&lt;p&gt;Please provide the topic you want to assign to the &lt;strong&gt;{!vNumberOfLeadIds} &lt;/strong&gt;selected contacts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Topic</name>
            <dataType>String</dataType>
            <fieldText>Topic</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1106</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TopicAssignmentSuccess</name>
            <fieldText>&lt;p&gt;The selected topics were successfully assigned to the chosen leads. Click &lt;strong&gt;Finish&lt;/strong&gt; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Number_Of_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vListOfTopicAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>vListOfTopics</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumberOfLeadIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vSearchedTopics</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic</objectType>
    </variables>
    <variables>
        <name>vSearchedTopicsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTopic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic</objectType>
    </variables>
    <variables>
        <name>vTopicAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>vTopicAssignmentAlreadyExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
