unpackaged/main/default/flows/Contract_renewal_day_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Annual_re_enrollments</name>
        <label>Annual re-enrollments</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>Contract.Annual_Re_enrollments</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Annual_Re_enrollments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Annual_re_enrollments_0</name>
        <label>Annual re-enrollments</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <actionName>Contract.Annual_Re_enrollments</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Annual_Re_enrollments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Contract renewal day email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract renewal day email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_email</name>
            <connector>
                <targetReference>Annual_re_enrollments</targetReference>
            </connector>
            <label>Same day</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Contract_Renewal_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_days_before</name>
            <connector>
                <targetReference>Annual_re_enrollments_0</targetReference>
            </connector>
            <label>30 days before</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Contract_Renewal_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
