unpackaged/main/default/flows/Create_services_after_addendum_was_edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_name</name>
        <label>Add name</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varAllServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaServiceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Lead_Nurture_Service</name>
        <label>AI Lead Nurture - Service</label>
        <locationX>2200</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Automated_Blogs_Service</name>
        <label>Automated Blogs - Service</label>
        <locationX>2728</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Monthly_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Ad_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Automated_Blogs_Service_Not_Launched</name>
        <label>Automated Blogs - Service</label>
        <locationX>2992</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blogs_per_Quarter_Service</name>
        <label>Blogs per Quarter - Service</label>
        <locationX>616</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Blogs per Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blogs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Implementation_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Blogs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.of_posts_per_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>48.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PagesofCopywriting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Citations_Reputation_Management_Service</name>
        <label>Citations + Reputation Management - Service</label>
        <locationX>1496</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCitationsStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Citations_Reputation_Management_Service_Brand</name>
        <label>Citations + Reputation Management - Service</label>
        <locationX>1232</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCitationsStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Status_and_Units</name>
        <label>Clear Status and Units</label>
        <locationX>2860</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Monthly_Blogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Status_and_Units_White_Label_App</name>
        <label>Clear Status and Units</label>
        <locationX>3388</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Agent_Seats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Clear_Status_and_Units</name>
        <label>Clear Status and Units</label>
        <locationX>1232</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Clear_Status_and_Units</name>
        <label>Clear Status and Units</label>
        <locationX>1496</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GBP_Posts_Service</name>
        <label>GBP Posts - Service</label>
        <locationX>1276</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - GBP Posts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly GBP Posts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Posts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Reporting_Exits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GBP_Set_Up_Service</name>
        <label>GBP Set Up - Service</label>
        <locationX>1276</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - GBP Set Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP Set Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_GBP_Posts_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Gen_Ads_Service</name>
        <label>Lead Gen Ads - Service</label>
        <locationX>2464</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Monthly_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Ad_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Building_Service</name>
        <label>Link Building - Service</label>
        <locationX>616</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Link Building </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Link Building </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forLinkBuilding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monthly_Reporting_Service</name>
        <label>Monthly Reporting - Service</label>
        <locationX>1408</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Monthly Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Monthly_Quarterly_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Citations_Reputation_Management_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pages_of_Copywriting_Service</name>
        <label>Pages of Copywriting - Service</label>
        <locationX>616</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - Pages of Copywriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pages of Copywriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Content_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QBR_Service</name>
        <label>QBR - Service</label>
        <locationX>3784</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - QBR Schedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SEO_Keyword_Service</name>
        <label>SEO Keyword - Service</label>
        <locationX>616</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - SEO Keyword Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEO Keyword Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_KWA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SEO_Optimizations_Monthly_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SEO_Migration_Service</name>
        <label>SEO Migration - Service</label>
        <locationX>1760</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSEOMigration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SEO_Optimization_Service</name>
        <label>SEO Optimization - Service</label>
        <locationX>616</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Opportunity.Account.Name} - SEO Optimizations (Monthly)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEO Optimizations (Monthly)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_Optmizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSEOOptimization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Building_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_service</name>
        <label>Single service</label>
        <locationX>4048</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>White_Label_App_Service</name>
        <label>White Label App - Service</label>
        <locationX>3256</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Monthly_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Ad_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units_White_Label_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>White_Label_App_Service_Not_Launched</name>
        <label>White Label App - Service</label>
        <locationX>3520</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varSingleService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaServiceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Agent_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Account.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Brand Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_opp_product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units_White_Label_App</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blogs</name>
        <label>Blogs</label>
        <locationX>528</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Blogs_per_Quarter_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Blogs</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PagesofCopywriting</targetReference>
            </connector>
            <label>Do not create Blogs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citations_Reputation_Management_Exists</name>
        <label>Citations + Reputation Management  Exists?</label>
        <locationX>1188</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Citations_Reputation_Management_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Citations + Reputation Management</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Citations_Reputation_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Citations + Reputation Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_opp_product</targetReference>
            </connector>
            <label>Do not create Citations + Reputation Management</label>
        </rules>
        <rules>
            <name>Country_Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_opp_product</targetReference>
            </connector>
            <label>Country = Mexico</label>
        </rules>
        <rules>
            <name>Brand_Tier_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Account.Website_implementation_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citations_Reputation_Management_Service_Brand</targetReference>
            </connector>
            <label>Brand+ Tier plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>GBP_Set_Up_Exists</name>
        <label>GBP Set Up Exists?</label>
        <locationX>1188</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>GBP_Set_Up_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create GBP Set Up</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_GBP_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GBP Set Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_GBP_Posts_Exists</targetReference>
            </connector>
            <label>Do not create GBP Set Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_Building_Exists</name>
        <label>Link Building Exists</label>
        <locationX>528</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Link_Building_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Link Building</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Link_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Link Building </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blogs</targetReference>
            </connector>
            <label>Do not create Link Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_GBP_Posts_Exists</name>
        <label>Monthly GBP Posts Exists?</label>
        <locationX>1188</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>GBP_Posts_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Monthly GBP Posts</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Monthly_GBP_Posts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monthly GBP Posts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_Reporting_Exits</targetReference>
            </connector>
            <label>Do not create Monthly GBP Posts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_Reporting_Exits</name>
        <label>Monthly Reporting Exits?</label>
        <locationX>1188</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Tier_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Monthly Reporting</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Monthly_Reporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monthly Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citations_Reputation_Management_Exists</targetReference>
            </connector>
            <label>Do not create Monthly Reporting</label>
        </rules>
    </decisions>
    <decisions>
        <name>PagesofCopywriting</name>
        <label>Pages of Copywriting</label>
        <locationX>528</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Pages_of_Copywriting_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Pages of Copywriting</defaultConnectorLabel>
        <rules>
            <name>Do_not_create_Pages_of_Copywriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pages of Copywriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_opp_product</targetReference>
            </connector>
            <label>Do not create Pages of Copywriting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_name</name>
        <label>Product name</label>
        <locationX>2288</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Single_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Editorial_SEO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Editorial SEO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Editorial SEO Add On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Keyword_Exists</targetReference>
            </connector>
            <label>Editorial SEO</label>
        </rules>
        <rules>
            <name>Brand_SEO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand SEO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand SEO Add On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBP_Set_Up_Exists</targetReference>
            </connector>
            <label>Brand SEO</label>
        </rules>
        <rules>
            <name>SEO_Migration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Migration_Service</targetReference>
            </connector>
            <label>SEO Migration</label>
        </rules>
        <rules>
            <name>Type_None</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neighborhood Guide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_opp_product</targetReference>
            </connector>
            <label>Type - None</label>
        </rules>
        <rules>
            <name>AI_Lead_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AI Lead Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_Lead_Nurture_Service</targetReference>
            </connector>
            <label>AI Lead Nurture</label>
        </rules>
        <rules>
            <name>Lead_Gen_Ads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Gen Ads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Gen_Ads_Service</targetReference>
            </connector>
            <label>Lead Gen Ads</label>
        </rules>
        <rules>
            <name>Automated_Monthly_Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated Monthly Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Service_launched_already</targetReference>
            </connector>
            <label>Automated Monthly Blogs</label>
        </rules>
        <rules>
            <name>White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copilot (White-Label) Agent Seat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Service_launched_already_White_Label_App</targetReference>
            </connector>
            <label>White Label App</label>
        </rules>
        <rules>
            <name>QBR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_opp_product.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QBR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QBR_Service</targetReference>
            </connector>
            <label>QBR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_name</name>
        <label>Review name</label>
        <locationX>1276</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Each_opp_product.Product_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dev Hours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Click Property Websites</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Intelligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_opp_product.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital CMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_opp_product</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>SEO_Keyword_Exists</name>
        <label>SEO Keyword Exists</label>
        <locationX>528</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>SEO_Keyword_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create SEO Keyword</defaultConnectorLabel>
        <rules>
            <name>Not_Create_SEO_KWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SEO Keyword Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Optimizations_Monthly_Exists</targetReference>
            </connector>
            <label>Not Create SEO KWA</label>
        </rules>
    </decisions>
    <decisions>
        <name>SEO_Optimizations_Monthly_Exists</name>
        <label>SEO Optimizations (Monthly) Exists</label>
        <locationX>528</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>SEO_Optimization_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create SEO Optimizations (Monthly)</defaultConnectorLabel>
        <rules>
            <name>Not_create_SEO_Optimizations_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAllServices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SEO Optimizations (Monthly)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Building_Exists</targetReference>
            </connector>
            <label>Not create SEO Optimizations (Monthly)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Plan</name>
        <label>Tier Plan?</label>
        <locationX>1320</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Monthly_Reporting_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citations_Reputation_Management_Exists</targetReference>
            </connector>
            <label>Brand+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Service_launched_already</name>
        <label>Website Service launched already?</label>
        <locationX>2860</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Automated_Blogs_Service_Not_Launched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website not launched</defaultConnectorLabel>
        <rules>
            <name>Website_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Website_Service.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automated_Blogs_Service</targetReference>
            </connector>
            <label>Website launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Service_launched_already_White_Label_App</name>
        <label>Website Service launched already?</label>
        <locationX>3388</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>White_Label_App_Service_Not_Launched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website not launched</defaultConnectorLabel>
        <rules>
            <name>Website_launched_White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Website_Service.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>White_Label_App_Service</targetReference>
            </connector>
            <label>Website launched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCitationsStatus</name>
        <dataType>String</dataType>
        <expression>IF( 
ISPICKVAL({!Website_Service.Status__c},&quot;Website Launched&quot;), 
&quot;Set Up&quot;, 
&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>forCountCopilotSeats</name>
        <dataType>Number</dataType>
        <expression>{!Opportunity.Contract.Count_of_Monthly_Blogs__c} + {!Each_opp_product.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCountMonthlyBlogs</name>
        <dataType>Number</dataType>
        <expression>{!Opportunity.Contract.Count_of_Monthly_Blogs__c} + {!Each_opp_product.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forLinkBuilding</name>
        <dataType>String</dataType>
        <expression>IF( 
ISPICKVAL({!Website_Service.Status__c},&quot;Website Launched&quot;), 
&quot;Set Up&quot;, 
&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaServiceName</name>
        <dataType>String</dataType>
        <expression>{!Each_service.Product__c} + &quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>formulaServiceRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!Each_opp_product.Product2.Type__c},
&quot;Website Launches&quot;, {!$Label.ID_Service_Website_Launches},
&quot;General&quot;, {!$Label.ID_Service_SEO_General},
&quot;Content Review&quot;, {!$Label.ID_Service_Content_Review},
&quot;Paid Media&quot;, {!$Label.ID_Service_Paid_Media},
&quot;SEO Key Word Analysis&quot;, {!$Label.ID_Service_SEO_KWA},
&quot;Social Media&quot;, {!$Label.ID_Service_Social_Media},
&quot;MLS Implementation&quot;, {!$Label.ID_Service_MLS_Implementation},
&quot;SEO Migration&quot;, {!$Label.ID_Service_SEO_Migration},
&quot;Platform Migration&quot;, {!$Label.ID_Service_Platform_Migration},
&quot;Property Website&quot;, {!$Label.ID_Service_Property_Website},
&quot;Design Refresh&quot;, {!$Label.ID_Service_Design_Refresh},
&quot;Design Change&quot;, &quot;0125f000000VvKAAA0&quot;,
&quot;GMB Posts&quot;,&quot;0125f000000VvKCAA0&quot; ,
&quot;SEO Optimizations&quot;,{!$Label.ID_Service_SEO_Optmizations},
&quot;Blogs&quot;,{!$Label.ID_Service_Blogs},
&quot;Agent Subdomains&quot;, {!$Label.ID_Service_Agent_Subdomains},
&quot;Monthly and Quarterly Reporting&quot; , {!$Label.ID_Service_Monthly_Quarterly_Reporting},
&quot;On-Demand Ads&quot;, {!$Label.ID_Service_OnDemand_Ads},
&quot;GBP SetUp&quot;, {!$Label.ID_Service_GBP_Set_Up},
&quot;Custom Website&quot;, {!$Label.ID_Service_Custom_Website},
&quot;Presence Copilot&quot;, {!$Label.ID_Service_Presence_Copilot},
&quot;AI Lead Nurture&quot;, {!$Label.ID_Service_AI_Lead_Nurture},
&quot;Automated Blogs&quot;, {!$Label.ID_Service_Automated_Blogs},
&quot;AI Lead Nurture&quot;, {!$Label.ID_Service_AI_Lead_Nurture},
&quot;White Label App&quot;, {!$Label.ID_Service_White_Label_App},
&quot;QBR&quot;, {!$Label.ID_Service_QBR},
{!$Label.ID_Service_SEO_General})</expression>
    </formulas>
    <formulas>
        <name>forSEOMigration</name>
        <dataType>String</dataType>
        <expression>IF( 
ISPICKVAL({!Website_Service.Status__c},&quot;Website Launched&quot;), 
&quot;No Migration Needed&quot;, 
&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>forSEOOptimization</name>
        <dataType>String</dataType>
        <expression>IF( 
ISPICKVAL({!Website_Service.Status__c},&quot;Website Launched&quot;), 
&quot;Active&quot;, 
&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>forStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!Each_opp_product.Product2.Type__c},
&quot;Website Launches&quot;, &quot;New&quot;,
&quot;General&quot;, &quot;New&quot;,
&quot;Paid Media&quot;, &quot;New&quot;,
&quot;SEO Key Word Analysis&quot;, &quot;New&quot;,
&quot;Social Media&quot;, &quot;New&quot;,
&quot;MLS Implementation&quot;, &quot;New&quot;,
&quot;SEO Migration&quot;, &quot;New&quot;,
&quot;Platform Migration&quot;, &quot;Pre-Build IM Review&quot;,
&quot;Property Website&quot;, &quot;New&quot;,
&quot;Design Refresh&quot;, &quot;New&quot;,
&quot;GBP Posts&quot;,&quot;New&quot;,
&quot;SEO Optimizations&quot;,&quot;New&quot;,
&quot;Blogs&quot;,&quot;New&quot;,
&quot;Agent Subdomains&quot;, &quot;Waiting on Brand Website&quot;,
&quot;Monthly and Quarterly Reporting&quot; , &quot;New&quot;,
&quot;On-Demand Ads&quot;, &quot;New&quot;,
&quot;GBP SetUp&quot;, &quot;New&quot;,
&quot;AI Lead Nurture&quot;, &quot;New&quot;,
&quot;QBR&quot;, &quot;New&quot;,
&quot;New&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNULL</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <formulas>
        <name>varServiceName</name>
        <dataType>String</dataType>
        <expression>{!Opportunity.Account.Name} +&quot; - &quot;+ {!Each_opp_product.Product2.Name}</expression>
    </formulas>
    <interviewLabel>Create services after addendum was edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create services after addendum was edited</label>
    <loops>
        <name>Each_opp_product</name>
        <label>Each opp product</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>Opportunity_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Review_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_service</name>
        <label>Each service</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>All_services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Services</name>
        <label>Services</label>
        <locationX>176</locationX>
        <locationY>2942</locationY>
        <inputReference>ServiceCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_services</name>
        <label>All services</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_products</name>
        <label>Opportunity products</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Website Service related with the Contract</description>
        <name>Website_Service</name>
        <label>Website Service</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_services</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4 )</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-App Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Launches</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Count_of_Agent_Seats</name>
        <label>Add Count of Agent Seats</label>
        <locationX>3388</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Copilot_Agent_Seats__c</field>
            <value>
                <elementReference>forCountCopilotSeats</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Count_of_Monthly_Blogs</name>
        <label>Add Count of Monthly Blogs</label>
        <locationX>2860</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Each_opp_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Monthly_Blogs__c</field>
            <value>
                <elementReference>forCountMonthlyBlogs</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAllServices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
