unpackaged/main/default/flows/Design_quiz_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification</name>
        <label>Send notification</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Website_implementation_service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5f000000XdJdGAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New design quiz completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_Inactive_Users</name>
        <label>Send notification</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Website_implementation_service</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML5f000000XdJdGAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>No Active User found for Design Quiz record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_strategy_brief_completed</name>
        <label>Send notification strategy brief completed</label>
        <locationX>974</locationX>
        <locationY>2003</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Delete_user_collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_StategyBriefCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!Account1.Name} has complete the strategy brief</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Strategy brief completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_strategy_brief_completed1</name>
        <label>Send notification strategy brief completed</label>
        <locationX>2206</locationX>
        <locationY>2111</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_StategyBriefCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Strategy brief completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!Account2.Name} has complete the strategy brief</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_CSM_to_collection</name>
        <label>Add CSM to collection</label>
        <locationX>2074</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PM_VA2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Onboarding_Manager_Active_NSB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CSM_to_collection_DQ</name>
        <label>Add CSM to collection</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Onboarding_Manager_Active_DQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CSM_to_collection_SB</name>
        <label>Add CSM to collection</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Onboarding_Manager_Active_SB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OM_to_collection</name>
        <label>Add OM to collection</label>
        <locationX>2074</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_strategy_brief_completed1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OM_to_collection_DQ</name>
        <label>Add OM to collection</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_any_of_the_users_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OM_to_collection_SB</name>
        <label>Add OM to collection</label>
        <locationX>842</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_strategy_brief_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OPS_System_User_DQ</name>
        <label>Add OPS System User</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005Rg00000396u5IAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_Inactive_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_VA_to_collection_NSB</name>
        <label>Add PM VA to collection</label>
        <locationX>2206</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PM_VA2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GBP_Set_Up_Service_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_VA_to_collection_SB</name>
        <label>Add PM VA to collection</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PM_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Client_Success_Manager_Active_SB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSM</name>
        <label>Assign CSM</label>
        <locationX>2074</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>varAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CSM_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSM_DQ</name>
        <label>Assign CSM</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CSM_to_collection_DQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSM_SB</name>
        <label>Assign CSM</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account1.Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CSM_to_collection_SB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OM</name>
        <label>Assign OM</label>
        <locationX>2074</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>varIM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2.Implementation_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OM_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OM_DQ</name>
        <label>Assign OM</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varAM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Implementation_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OM_to_collection_DQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OM_SB</name>
        <label>Assign OM</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>varIM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account1.Implementation_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OM_to_collection_SB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_user_collection</name>
        <label>Delete user collection</label>
        <locationX>974</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Strategy_brief_receive_true</name>
        <label>New Strategy brief receive - true</label>
        <locationX>2206</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account2.New_Strategy_Brief_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quiz_completed</name>
        <label>Quiz completed</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Account.Design_Quiz_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Strategy_brief_receive_true</name>
        <label>Strategy brief receive - true</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account1.Strategy_Brief_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found</name>
        <label>Account found</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found1</name>
        <label>Account found</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strategy_brief_receive_true</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found2</name>
        <label>Account found</label>
        <locationX>2360</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Task2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Strategy_brief_receive_true</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_AILead</name>
        <label>Account found</label>
        <locationX>4494</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_AILead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_AILead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database_AILead</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_LeadsPro</name>
        <label>Account found</label>
        <locationX>3438</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_LeadsPro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_LeadsPro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database_LeadsPro</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_OnDemandAds</name>
        <label>Account found</label>
        <locationX>1678</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_OnDemandAds.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_PlanMigration</name>
        <label>Account found</label>
        <locationX>2910</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_PlanMigration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_PlanMigration.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database_PlanMigration</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_SEO_Blog_Selection</name>
        <label>Account found</label>
        <locationX>5022</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Task_SEO_Blog_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found_SEO_Blog_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_SEO_Blog_Selection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database_SEO_Blog_Selection</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if there is an existing account if theres not then a Task is created. If there is an account then it should be related with the Account Database</description>
        <name>Account_found_SEOPro</name>
        <label>Account found</label>
        <locationX>3966</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_SEOPro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_SEOPro.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_account_to_database_SEOPro</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_any_of_the_users_Active</name>
        <label>Is any of the users Active?</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Add_OPS_System_User_DQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User is Active</defaultConnectorLabel>
        <rules>
            <name>At_least_one_user_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification</targetReference>
            </connector>
            <label>At least one User is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Success_Manager_Active_DQ</name>
        <label>Is Client Success Manager Active?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Is_Onboarding_Manager_Active_DQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_CSM_DQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSM_DQ</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Success_Manager_Active_NSB</name>
        <label>Is Client Success Manager Active?</label>
        <locationX>2206</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Is_Onboarding_Manager_Active_NSB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_CSM_NSB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account2.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSM</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Success_Manager_Active_SB</name>
        <label>Is Client Success Manager Active?</label>
        <locationX>974</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Is_Onboarding_Manager_Active_SB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_CSM_SB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account1.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSM_SB</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Onboarding_Manager_Active_DQ</name>
        <label>Is Onboarding Manager Active?</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Is_any_of_the_users_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_OM_DQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account2.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OM_DQ</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Onboarding_Manager_Active_NSB</name>
        <label>Is Onboarding Manager Active?</label>
        <locationX>2206</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Send_notification_strategy_brief_completed1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_OM_NSB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account2.Implementation_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OM</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Onboarding_Manager_Active_SB</name>
        <label>Is Onboarding Manager Active?</label>
        <locationX>974</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Send_notification_strategy_brief_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active_OM_SB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account1.Implementation_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OM_SB</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>2899</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_quiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Quiz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account</targetReference>
            </connector>
            <label>Design quiz</label>
        </rules>
        <rules>
            <name>Strategy_brief</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategy brief</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account1</targetReference>
            </connector>
            <label>Strategy brief</label>
        </rules>
        <rules>
            <name>On_Demand_Ads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Demand Ads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_OnDemandAds</targetReference>
            </connector>
            <label>On Demand Ads</label>
        </rules>
        <rules>
            <name>New_Strategy_Brief</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Strategy Brief</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account2</targetReference>
            </connector>
            <label>New Strategy Brief</label>
        </rules>
        <rules>
            <name>Plan_Migration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_PlanMigration</targetReference>
            </connector>
            <label>Plan Migration</label>
        </rules>
        <rules>
            <name>Leads_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_LeadsPro</targetReference>
            </connector>
            <label>Leads Pro</label>
        </rules>
        <rules>
            <name>SEO_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_SEOPro</targetReference>
            </connector>
            <label>SEO Pro</label>
        </rules>
        <rules>
            <name>AI_Lead_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AI Lead Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_AILead</targetReference>
            </connector>
            <label>AI Lead Nurture</label>
        </rules>
        <rules>
            <name>SEO_Blog_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Blog Selection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_SEO_Blog_Selection</targetReference>
            </connector>
            <label>SEO Blog Selection</label>
        </rules>
    </decisions>
    <description>When created from zappier, the flow relate the record with the corresponding account or creates a task. V28: Adding the SEO Blog Selection Type.</description>
    <environments>Default</environments>
    <interviewLabel>Design quiz completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Account Database created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task</name>
        <label>Task</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f000007xSaiAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find the corresponding account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task2</name>
        <label>Task</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f000007xSaiAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find the corresponding account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_0</name>
        <label>Task</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f000007xSaiAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find the corresponding account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_SEO_Blog_Selection</name>
        <label>Task</label>
        <locationX>5154</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f000007xSaiAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find the corresponding account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account</name>
        <label>Account</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account1</name>
        <label>Account</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account2</name>
        <label>Account</label>
        <locationX>2360</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_AILead</name>
        <label>Account</label>
        <locationX>4494</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_AILead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_LeadsPro</name>
        <label>Account</label>
        <locationX>3438</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_LeadsPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_OnDemandAds</name>
        <label>Account</label>
        <locationX>1678</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_OnDemandAds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_PlanMigration</name>
        <label>Account</label>
        <locationX>2910</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_PlanMigration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_SEO_Blog_Selection</name>
        <label>Account</label>
        <locationX>5022</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_SEO_Blog_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.What_is_your_email_address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Search for the Account using the Contact Email in Account Database</description>
        <name>Account_SEOPro</name>
        <label>Account</label>
        <locationX>3966</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_found_SEOPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PM_VA</name>
        <label>Get PM VA</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_PM_VA_to_collection_SB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PM_VA_Team_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PM_VA2</name>
        <label>Get PM VA</label>
        <locationX>2206</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_PM_VA_to_collection_NSB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PM_VA_Team_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_implementation_service</name>
        <label>Website implementation service</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_implementation_design_quiz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvKMAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_update</name>
        <label>Account update</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Client_Success_Manager_Active_DQ</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account</name>
        <label>Add account</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Quiz_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database</name>
        <label>Add account to database</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>ODA_Form_Received</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_OnDemandAds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database_AILead</name>
        <label>Add account to database</label>
        <locationX>4362</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_AILead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database_LeadsPro</name>
        <label>Add account to database</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Account_LeadsPro</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_LeadsPro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database_PlanMigration</name>
        <label>Add account to database</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_PlanMigration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database_SEO_Blog_Selection</name>
        <label>Add account to database</label>
        <locationX>4890</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_SEO_Blog_Selection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_account_to_database_SEOPro</name>
        <label>Add account to database</label>
        <locationX>3834</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Account_SEOPro</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_SEOPro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GBP_Set_Up_Service_GBP_Set_Up</name>
        <label>GBP Set Up Service - GBP Set Up</label>
        <locationX>3306</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_LeadsPro.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>GBP Set Up</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>GBP_Set_Up_Service_GBP_SetUp_SEOPro</name>
        <label>GBP Set Up Service - GBP SetUp</label>
        <locationX>3834</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Keyword_Analysis_Service_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_SEOPro.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>GBP Set Up</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>GBP_Set_Up_Service_Status</name>
        <label>GBP Set Up Service - Status</label>
        <locationX>2206</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Is_Client_Success_Manager_Active_NSB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>GBP Set Up</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Keyword_Analysis_Service_In_Progress</name>
        <label>Keyword Analysis Service - In Progress</label>
        <locationX>3834</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_SEOPro.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_KWA</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ODA_Form_Received</name>
        <label>ODA Form Received</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>On_Demand_Ads_Service_Form_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_OnDemandAds.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ODA_Form_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>On_Demand_Ads_Service_Form_Received</name>
        <label>On Demand Ads Service - Form Received</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_OnDemandAds.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_OnDemand_Ads</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Form Received</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_database</targetReference>
        </connector>
        <inputReference>Account1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>2206</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_database2</targetReference>
        </connector>
        <inputReference>Account2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_LeadsPro</name>
        <label>Update Account</label>
        <locationX>3306</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>GBP_Set_Up_Service_GBP_Set_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_LeadsPro.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategy_Brief_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SEOPro</name>
        <label>Update Account</label>
        <locationX>3834</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>GBP_Set_Up_Service_GBP_SetUp_SEOPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_SEOPro.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategy_Brief_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_database</name>
        <label>Update database</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_PM_VA</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_database2</name>
        <label>Update database</label>
        <locationX>2206</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_PM_VA2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Add the account data base to service website launched</description>
        <name>Website_implementation_design_quiz</name>
        <label>Website implementation design quiz</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_implementation_service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_quiz__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <start>
        <locationX>2773</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <object>Database__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The account {!Account.Name} has completed the design quiz. Please check it out.</text>
    </textTemplates>
    <variables>
        <name>varAM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varIM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varIndividualUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
