unpackaged/main/default/flows/Lead_SCH_MoveRestingLeadsToActiveQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Lead_SCH_MoveRestingLeadsToActiveQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_SCH_MoveRestingLeadsToActiveQueue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputReference>varUpdatedLeads</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetOwnerBasedOnMarketingCategory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Move_Lead_From_Resting_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-10</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Set owner for leads in resting queue for more than 30 days. It also moves it back to Ready</description>
        <name>SetOwnerBasedOnMarketingCategory</name>
        <label>Set Owner Based On Marketing Category</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <flowName>Lead_SFL_SetOwnerBasedOnMarketingCategory</flowName>
        <inputAssignments>
            <name>varInputLead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varUpdatedLeads</assignToReference>
            <name>varInputLead</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varListOfLeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varUpdatedLeads</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
