unpackaged/main/default/flows/Lead_BeforeSave_MarketingProcesses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Last_Kubaru_Rep_Assigned_Date</name>
        <label>Last Kubaru Rep Assigned Date?</label>
        <locationX>1414</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Last_Rep_Assigned_by_Kubaru</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Kubaru_Rep_Assigned_Date_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Kubaru_Rep_Assigned_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Kubaru_first_assigned_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Kubaru_first_assigned_date</targetReference>
            </connector>
            <label>Last Kubaru Rep Assigned Date Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Rep_Assigned_by_Kubaru</name>
        <label>Last Rep Assigned by Kubaru</label>
        <locationX>1414</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Subtype_2_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Rep_Assigned_by_Kubaru_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Rep_Assigned_by_Kubaru__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Number_Assigned1</targetReference>
            </connector>
            <label>Last Rep Assigned by Kubaru - Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_is_changed</name>
        <label>Lead Source is changed?</label>
        <locationX>1414</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Subtype_1_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_source_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Original__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Original</targetReference>
            </connector>
            <label>Lead source changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Subtype_1_Changed</name>
        <label>Lead Source Subtype 1 Changed?</label>
        <locationX>1414</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Last_Kubaru_Rep_Assigned_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Subtype_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Lead_Source_Subtype_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Subtype_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Subtype_1_Original</targetReference>
            </connector>
            <label>Lead Source Subtype 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Subtype_2_Changed</name>
        <label>Lead Source Subtype 2 Changed?</label>
        <locationX>1414</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Marketing_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Subtype_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Lead_Source_Subtype_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Subtype_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Subtype_2_Original</targetReference>
            </connector>
            <label>Lead Source Subtype 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Category</name>
        <label>Marketing Category</label>
        <locationX>1766</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Bypass_validation_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Queue</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Partners</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partners_Queue</targetReference>
            </connector>
            <label>Partners</label>
        </rules>
        <rules>
            <name>Mid_Market</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Market</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mid_Market_Queue</targetReference>
            </connector>
            <label>Mid-Market</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Queue</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Status_Pursuing_Engagign</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resting_Queue</targetReference>
            </connector>
            <label>Status - Pursuing / Engagign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Category1</name>
        <label>Marketing Category</label>
        <locationX>1414</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_MidMarket</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Queue1</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Partners1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_MidMarket</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partners_Queue1</targetReference>
            </connector>
            <label>Partners</label>
        </rules>
        <rules>
            <name>Mid_Market1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-Market</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MidMarket_Queue</targetReference>
            </connector>
            <label>Mid-Market</label>
        </rules>
        <rules>
            <name>Marketing1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_MidMarket</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Queue1</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Owner_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superuser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rep_Assigned_Date</targetReference>
            </connector>
            <label>Owner Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Status</name>
        <label>Marketing Status?</label>
        <locationX>1414</locationX>
        <locationY>3887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_mkt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_New</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Ready_mkt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_Ready</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready</label>
        </rules>
        <rules>
            <name>Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_non_converted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Nurture</label>
        </rules>
        <rules>
            <name>Disqualify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_non_converted_disqualify</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Disqualify</label>
        </rules>
        <rules>
            <name>Engaging_mktstatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_Engaging</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Engaging</label>
        </rules>
        <rules>
            <name>Pursuing_mkt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_status_Pursuing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pursuing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owned_by_a_Queue</name>
        <label>Owned by a Queue</label>
        <locationX>1414</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Should_Uncheck_Hubspot_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_changed_from_Queue_to_User</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Uncheck_Hubspot_Flag</targetReference>
            </connector>
            <label>Owner is changed from Queue to User</label>
        </rules>
        <rules>
            <name>Owner_si_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Consecutive_Call</targetReference>
            </connector>
            <label>Owner si changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Outcome</name>
        <label>Release Outcome</label>
        <locationX>2184</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Reserve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nurture_ReleaseOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Release_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Release_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_Nurture</targetReference>
            </connector>
            <label>Nurture</label>
        </rules>
        <rules>
            <name>Disqualify_ReleaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Release_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_Disqualify</targetReference>
            </connector>
            <label>Disqualify</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserve</name>
        <label>Reserve?</label>
        <locationX>2184</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Bypass_validation_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reserve__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Category</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Uncheck_Hubspot_Flag</name>
        <label>Should Uncheck Hubspot Flag?</label>
        <locationX>1414</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncheck_Hubspot_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fUncheckHubspotFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hubspot_Flag</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Uncheck Hubspot Flag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status?</label>
        <locationX>1414</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Marketing_Category1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_New</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_Ready</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready</label>
        </rules>
        <rules>
            <name>Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_Pursuing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pursuing</label>
        </rules>
        <rules>
            <name>Engaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_status_Engaging</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Engaging</label>
        </rules>
        <rules>
            <name>Non_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bypass_validation_true</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Non-Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forNumberOfTimes</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_times_assigned_by_Kubaru__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fUncheckHubspotFlag</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$Record.Email}, &quot;@dsamls&quot;)) &amp;&amp; {!$Record.Owner:Group.DeveloperName} &lt;&gt; &#39;MLS_Leads_Net_New&#39;</expression>
    </formulas>
    <interviewLabel>Lead BeforeSave MarketingProcesses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead BeforeSave MarketingProcesses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Bypass_validation_false</name>
        <label>Bypass validation - false</label>
        <locationX>2184</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Marketing_Category1</targetReference>
        </connector>
        <inputAssignments>
            <field>Bypass_validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Bypass_validation_true</name>
        <label>Bypass validation - true</label>
        <locationX>2184</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Release_Outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Bypass_validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>General_Queue</name>
        <label>General - Queue</label>
        <locationX>1106</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Bypass_validation_false</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_General</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>General_Queue1</name>
        <label>General - Queue</label>
        <locationX>754</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_General</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Source_Original</name>
        <label>Lead Source Original</label>
        <locationX>1282</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Lead_Source_Subtype_1_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Original__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Subtype_1_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Subtype_2_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Source_Subtype_1_Original</name>
        <label>Lead Source Subtype 1 Original</label>
        <locationX>1282</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Last_Kubaru_Rep_Assigned_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Subtype_1_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Source_Subtype_2_Original</name>
        <label>Lead Source Subtype 2 Original</label>
        <locationX>1282</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>Marketing_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Subtype_2_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_Engaging</name>
        <label>Lead status - Engaging</label>
        <locationX>1678</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Engaging</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_New</name>
        <label>Lead status - New</label>
        <locationX>622</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_non_converted</name>
        <label>Lead status - non converted</label>
        <locationX>1150</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Release_Outcome__c</field>
            <value>
                <stringValue>Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non-Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_non_converted_disqualify</name>
        <label>Lead status - non converted</label>
        <locationX>1414</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Release_Outcome__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non-Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_Pursuing</name>
        <label>Lead status - Pursuing</label>
        <locationX>1942</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pursuing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_status_Ready</name>
        <label>Lead status - Ready</label>
        <locationX>886</locationX>
        <locationY>3995</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_Queue</name>
        <label>Marketing - Queue</label>
        <locationX>1898</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Bypass_validation_false</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Marketing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_Queue1</name>
        <label>Marketing - Queue</label>
        <locationX>1546</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Marketing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_Disqualify</name>
        <label>Marketing status - Disqualify</label>
        <locationX>2184</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Reserve</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_Engaging</name>
        <label>Marketing status - Engaging</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Marketing_Category1</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>Engaging</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_New</name>
        <label>Marketing status - New</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Marketing_Category1</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_Nurture</name>
        <label>Marketing status - Nurture</label>
        <locationX>1920</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Reserve</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_Pursuing</name>
        <label>Marketing status - Pursuing</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Marketing_Category1</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>Pursuing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Marketing_status_Ready</name>
        <label>Marketing status - Ready</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Marketing_Category1</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mid_Market_Queue</name>
        <label>Mid-Market - Queue</label>
        <locationX>1634</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Bypass_validation_false</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_MidMarket</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MidMarket_Queue</name>
        <label>MidMarket - Queue</label>
        <locationX>1282</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_MidMarket</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partners_Queue</name>
        <label>Partners - Queue</label>
        <locationX>1370</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Bypass_validation_false</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Partners</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partners_Queue1</name>
        <label>Partners - Queue</label>
        <locationX>1018</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Partners</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resting_Queue</name>
        <label>Resting - Queue</label>
        <locationX>2162</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Bypass_validation_false</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Resting</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hubspot_Flag</name>
        <label>Update Hubspot Flag</label>
        <locationX>1282</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Lead_Source_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Exclude_Hubspot__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Kubaru_first_assigned_date</name>
        <label>Update Kubaru first assigned date</label>
        <locationX>1282</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Last_Rep_Assigned_by_Kubaru</targetReference>
        </connector>
        <inputAssignments>
            <field>Kubaru_first_assigned_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Reset the value of Non-Consecutive Calls when the owner is changed</description>
        <name>Update_Non_Consecutive_Call</name>
        <label>Update - Non-Consecutive Call</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Should_Uncheck_Hubspot_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Number_Assigned1</name>
        <label>Update Number Assigned</label>
        <locationX>1282</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>Lead_Source_Subtype_2_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Number_of_times_assigned_by_Kubaru__c</field>
            <value>
                <elementReference>forNumberOfTimes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rep_Assigned_Date</name>
        <label>Update - Rep Assigned Date</label>
        <locationX>1810</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Owned_by_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
