unpackaged/main/default/flows/LP_Add_Service_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Effective_Date_Email</name>
        <label>Effective Date Email</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Task_to_AM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>billing@luxurypresence.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>forSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBilling</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_New_Template</name>
        <label>Notification - New Template</label>
        <locationX>314</locationX>
        <locationY>4188</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Template_change_and_service_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Template Change</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!Service_Originated_from.Name} has new template change, please review it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Service_Originated_from.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Users_to_Collection</name>
        <label>Add Users to Collection</label>
        <locationX>314</locationX>
        <locationY>4080</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005EY000000HgMi</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005EY000000HgMk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_New_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Auxiliar variable to know if the Agent Subdomain Service should be created or not</description>
        <name>Agent_Subdomain_Exists_True</name>
        <label>Agent Subdomain Exists - True</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>varAgentSubdomainExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Status_and_Units</name>
        <label>Clear Status and Units</label>
        <locationX>6122</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Monthly_Blogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Status_and_Units_White_Label_App</name>
        <label>Clear Status and Units</label>
        <locationX>6826</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Agent_Seats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Units</name>
        <label>Clear Units</label>
        <locationX>5022</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Copilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ServiceCollection</name>
        <label>ServiceCollection</label>
        <locationX>2206</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_sVarServices</name>
        <label>sVarServices</label>
        <locationX>2206</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_ServiceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_ServiceCollection</name>
        <label>ServiceCollection</label>
        <locationX>2470</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_sVarServices</name>
        <label>sVarServices</label>
        <locationX>2470</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_ServiceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_ServiceCollection</name>
        <label>ServiceCollection</label>
        <locationX>5550</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_sVarServices</name>
        <label>sVarServices</label>
        <locationX>5550</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Monthly_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ad_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_ServiceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Presence_Copilot_Task</name>
        <label>Create Presence Copilot Task</label>
        <locationX>4494</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>varSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copilot_Service.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copilot_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Copilot_Service.Account__r.Name} - Presence Copilot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_of_Copilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection</name>
        <label>ServiceCollection</label>
        <locationX>534</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection2</name>
        <label>ServiceCollection</label>
        <locationX>974</locationX>
        <locationY>1872</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDX_Tools</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection3</name>
        <label>ServiceCollection</label>
        <locationX>7222</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection3_0</name>
        <label>ServiceCollection</label>
        <locationX>1766</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection_Template_Change</name>
        <label>ServiceCollection - Template Change</label>
        <locationX>3790</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Website</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection_Template_Change_Custom</name>
        <label>ServiceCollection - Template Change</label>
        <locationX>3790</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IAO_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollection_Template_Change_IAO</name>
        <label>ServiceCollection - Template Change</label>
        <locationX>3790</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionAILeadNurture</name>
        <label>ServiceCollection</label>
        <locationX>5286</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionAutomatedBlogs</name>
        <label>ServiceCollection</label>
        <locationX>5990</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionAutomatedBlogs_Not_Launched</name>
        <label>ServiceCollection</label>
        <locationX>6254</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionPresenceCopilot</name>
        <label>ServiceCollection</label>
        <locationX>5022</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionWhiteLabelApp</name>
        <label>ServiceCollection</label>
        <locationX>6694</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units_White_Label_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceCollectionWhiteLabelApp_Not_Launched</name>
        <label>ServiceCollection</label>
        <locationX>6958</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Status_and_Units_White_Label_App</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices</name>
        <label>sVarServices</label>
        <locationX>534</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Design_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_0</name>
        <label>sVarServices</label>
        <locationX>974</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SNameMLS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.MLS_Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDX_Tools.MLS_Board__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Paperwork Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Staging_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_related_Website_Service.Staging_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Website_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_related_Website_Service.Website_Domain__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_0_0</name>
        <label>sVarServices</label>
        <locationX>7222</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_0_0_0</name>
        <label>sVarServices</label>
        <locationX>1766</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Blogs</name>
        <label>sVarServices - Blogs</label>
        <locationX>3526</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} -  Blogs per Quarte</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Blogs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blogs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_Pages_of_Copywriting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Citations_Reputation_Management</name>
        <label>sVarServices - Citations + Reputation Management</label>
        <locationX>3262</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Citations + Reputation Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_GBP_Posts</name>
        <label>sVarServices - GBP Posts</label>
        <locationX>3174</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - GBP Posts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Posts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly GBP Posts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_Monthly_Reporting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_GBP_Set_Up</name>
        <label>sVarServices - GBP Set Up</label>
        <locationX>3174</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - GBP Set Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP Set Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_GBP_Posts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Link_Building</name>
        <label>sVarServices - Link Building</label>
        <locationX>3526</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} -  Link Building </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_Optmizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Link Building</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_Blogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Monthly_Reporting</name>
        <label>sVarServices - Monthly Reporting</label>
        <locationX>3174</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - Monthly Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Monthly_Quarterly_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Reporting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Pages_of_Copywriting</name>
        <label>sVarServices - Pages of Copywriting</label>
        <locationX>3526</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - Pages of Copywriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_Content_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pages of Copywriting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_SEO_Keyword</name>
        <label>sVarServices - SEO Keyword</label>
        <locationX>3526</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - SEO Keyword Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_KWA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEO Keyword Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_SEO_Optimization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_SEO_Optimization</name>
        <label>sVarServices - SEO Optimization</label>
        <locationX>3526</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} - SEO Optimization (Monthly)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_Optmizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEO Optimizations (Monthly)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product_Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Editorial SEO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sVarServices_Link_Building</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Template_Change</name>
        <label>sVarServices - Template Change</label>
        <locationX>3790</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection_Template_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Template_Change_Custom</name>
        <label>sVarServices - Template Change</label>
        <locationX>3790</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection_Template_Change_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServices_Template_Change_IAO</name>
        <label>sVarServices - Template Change</label>
        <locationX>3790</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollection_Template_Change_IAO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesAILeadNurture</name>
        <label>sVarServices</label>
        <locationX>5286</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionAILeadNurture</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesAutomatedBlogs</name>
        <label>sVarServices</label>
        <locationX>5990</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionAutomatedBlogs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesAutomatedBlogs_Not_Launched</name>
        <label>sVarServices</label>
        <locationX>6254</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionAutomatedBlogs_Not_Launched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesPresenceCopilot</name>
        <label>sVarServices</label>
        <locationX>5022</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionPresenceCopilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesWhiteLabelApp</name>
        <label>sVarServices</label>
        <locationX>6694</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionWhiteLabelApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarServicesWhiteLabelApp_Not_Launched</name>
        <label>sVarServices</label>
        <locationX>6958</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>sVarService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sVarRType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Bundle_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Is_Bundle_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarService.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Brand Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceCollectionWhiteLabelApp_Not_Launched</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Service_not_found_error_Message</name>
        <label>Service not found error Message</label>
        <locationX>1326</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>The Website Service was not found for this Subscription.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Country</name>
        <label>Account - Country?</label>
        <locationX>3174</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>sVarServices_Citations_Reputation_Management</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Products</targetReference>
            </connector>
            <label>Mexico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Plan</name>
        <label>Add Plan?</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Contract_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Plan_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Contract_Active</targetReference>
            </connector>
            <label>Add Plan - False</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review if the agent subdomain service already exists in the Contract, if not then the service will need be created, either way the service should not be created</description>
        <name>Agent_Subdomains_Exist</name>
        <label>Agent Subdomains Exist?</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Agent_Subdomain_Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Subdomain_Exists_True</targetReference>
            </connector>
            <label>It exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review the quantity for the product Copilot, so it can create the tasks</description>
        <name>Copilot_Quantity</name>
        <label>Copilot Quantity?</label>
        <locationX>4626</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Presence_Copilot_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity_Products.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Presence_Copilot_Task</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Service_Launched</name>
        <label>Custom Service - Launched?</label>
        <locationX>4054</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>IAO_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Website.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_Template_Change_Custom</targetReference>
            </connector>
            <label>Custom - Launched</label>
        </rules>
        <rules>
            <name>Custom_Not_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Website.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Custom_Website.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Service_Build_Site</targetReference>
            </connector>
            <label>Custom - Not Launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Product_Task_List_Have_Records</name>
        <label>Does Product Task List Have Records?</label>
        <locationX>446</locationX>
        <locationY>3156</locationY>
        <defaultConnector>
            <targetReference>Product_Ad_Spend_Add_On</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Task_List_Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vListOfProductTasks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Tasks</targetReference>
            </connector>
            <label>Product Task List Has Records</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review the quantity for the product Automated Blog</description>
        <name>Existing_Automated_Blogs_Service</name>
        <label>Existing Automated Blogs Service?</label>
        <locationX>5968</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Get_related_Website_Service_Automated_Blogs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not existing</defaultConnectorLabel>
        <rules>
            <name>Existing_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automated_Blogs_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_of_Monthly_Blogs</targetReference>
            </connector>
            <label>Existing Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_website</name>
        <label>Existing website?</label>
        <locationX>1898</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Existing_website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review the quantity for the product White Label App</description>
        <name>Existing_White_Label_App_Service</name>
        <label>Existing White Label App Service?</label>
        <locationX>6672</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Get_related_Website_Service_White_Label_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not existing</defaultConnectorLabel>
        <rules>
            <name>Existing_Service_White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_White_Label_App_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count_of_Agent_Seats</targetReference>
            </connector>
            <label>Existing Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>IAO_Service_Launched</name>
        <label>IAO Service - Launched?</label>
        <locationX>4054</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IAO_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IAO_Service.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_Template_Change_IAO</targetReference>
            </connector>
            <label>IAO - Launched</label>
        </rules>
        <rules>
            <name>IAO_Not_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IAO_Service.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IAO_Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IAO_Service_Modules_Complete</targetReference>
            </connector>
            <label>IAO - Not Launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_App_Onboarding</name>
        <label>In-App Onboarding?</label>
        <locationX>2338</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_sVarServices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_sVarServices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_template_change</name>
        <label>Is template change?</label>
        <locationX>446</locationX>
        <locationY>3756</locationY>
        <defaultConnector>
            <targetReference>Template_change_and_service_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_template_field_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Template_Change</targetReference>
            </connector>
            <label>New template field not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Product_Type</name>
        <label>Opp Product Type</label>
        <locationX>3878</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>sVarServices_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Change_Design_Refresh_Migration_Website_Launches_Property_WEBSITE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Refresh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platform Migration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices</targetReference>
            </connector>
            <label>Design Change, Design Refresh, Migration, Website Launches, Property Website</label>
        </rules>
        <rules>
            <name>MLS_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MLS Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Website_Service</targetReference>
            </connector>
            <label>MLS Implementation</label>
        </rules>
        <rules>
            <name>SEO_Migration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_website</targetReference>
            </connector>
            <label>SEO Migration</label>
        </rules>
        <rules>
            <name>Website_launches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launches</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_App_Onboarding</targetReference>
            </connector>
            <label>Website launches</label>
        </rules>
        <rules>
            <name>Agent_Subdomains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgentSubdomainExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Subdomains</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Products</targetReference>
            </connector>
            <label>Agent Subdomains</label>
        </rules>
        <rules>
            <name>MLS_Implementation_InApp</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4 OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MLS Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital CMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Intelligence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Click Property Websites</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neighborhood Guide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Products</targetReference>
            </connector>
            <label>MLS Implementation - InApp</label>
        </rules>
        <rules>
            <name>Brand_SEO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand SEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_GBP_Set_Up</targetReference>
            </connector>
            <label>Brand SEO</label>
        </rules>
        <rules>
            <name>Editorial_SEO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Editorial SEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_SEO_Keyword</targetReference>
            </connector>
            <label>Editorial SEO</label>
        </rules>
        <rules>
            <name>Template_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Template Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Service</targetReference>
            </connector>
            <label>Template Change</label>
        </rules>
        <rules>
            <name>Presence_Copilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presence Copilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Presence_Copilot_already_created</targetReference>
            </connector>
            <label>Presence Copilot</label>
        </rules>
        <rules>
            <name>AI_Lead_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AI Lead Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServicesAILeadNurture</targetReference>
            </connector>
            <label>AI Lead Nurture</label>
        </rules>
        <rules>
            <name>Lead_Gen_Ads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Gen Ads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_sVarServices</targetReference>
            </connector>
            <label>Lead Gen Ads</label>
        </rules>
        <rules>
            <name>Automated_Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Automated_Blogs_Service</targetReference>
            </connector>
            <label>Automated Blogs</label>
        </rules>
        <rules>
            <name>White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Products.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>White Label App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_White_Label_App_Service</targetReference>
            </connector>
            <label>White Label App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Presence_Copilot_already_created</name>
        <label>Presence Copilot already created?</label>
        <locationX>4824</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>sVarServicesPresenceCopilot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract.Presence_Copilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Copilot_Service</targetReference>
            </connector>
            <label>Already created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Ad_Spend_Add_On</name>
        <label>Product Ad Spend Add On?</label>
        <locationX>446</locationX>
        <locationY>3456</locationY>
        <defaultConnector>
            <targetReference>Is_template_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ad_Spend_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ad_Spend_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Gen_Service</targetReference>
            </connector>
            <label>Ad Spend - Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_change_and_service_status</name>
        <label>Template change and service status</label>
        <locationX>446</locationX>
        <locationY>4380</locationY>
        <defaultConnector>
            <targetReference>Template_Service_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_template_change_and_status_not_Website_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_service_to_new</targetReference>
            </connector>
            <label>Is template change and status not Website Launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Service_Status</name>
        <label>Template Service Status</label>
        <locationX>446</locationX>
        <locationY>4680</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_Website_Launched_or_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Template_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Template_Service_Status_Website_Draft</targetReference>
            </connector>
            <label>NOT Website Launched or Cancelled</label>
        </rules>
        <rules>
            <name>Design_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Design_Refresh__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Service_RT_Design_Refresh</targetReference>
            </connector>
            <label>Design Refresh</label>
        </rules>
        <rules>
            <name>Website_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_originated_from__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_New_Service_RT_Design_Refresh</targetReference>
            </connector>
            <label>Website Launched</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validating if the Website Service is found and if the Opportunity is not &quot;Add Plan&quot; because on that case, the IDX shouldn&#39;t be created at this moment.</description>
        <name>Website_Service_found_and_Add_Service_Opportunity</name>
        <label>Website Service found and Add Service Opportunity?</label>
        <locationX>1304</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Website_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Service_on_WD_Review_or_later_Statuses</targetReference>
            </connector>
            <label>Service found</label>
        </rules>
        <rules>
            <name>Service_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Website_Service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Add_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_not_found_error_Message</targetReference>
            </connector>
            <label>Service not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_service_is_launched</name>
        <label>Website service is launched?</label>
        <locationX>4054</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Custom_Website</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_Services_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Website_Service.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Website_Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServices_Template_Change</targetReference>
            </connector>
            <label>Website Services - Launched</label>
        </rules>
        <rules>
            <name>Website_Not_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Website_Service.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Website_Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Website_Service_New</targetReference>
            </connector>
            <label>Website Not Launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Service_launched_already</name>
        <label>Website Service launched already?</label>
        <locationX>6122</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>sVarServicesAutomatedBlogs_Not_Launched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website not launched</defaultConnectorLabel>
        <rules>
            <name>Websited_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Website_Service_Automated_Blogs.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServicesAutomatedBlogs</targetReference>
            </connector>
            <label>Websited launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Service_launched_already_White_Label_App</name>
        <label>Website Service launched already?</label>
        <locationX>6826</locationX>
        <locationY>1548</locationY>
        <defaultConnector>
            <targetReference>sVarServicesWhiteLabelApp_Not_Launched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Website not launched</defaultConnectorLabel>
        <rules>
            <name>Websited_launched_White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Website_Service_White_Label_App.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarServicesWhiteLabelApp</targetReference>
            </connector>
            <label>Websited launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Service_on_WD_Review_or_later_Statuses</name>
        <label>Website Service on &quot;WD Review&quot; or later Statuses?</label>
        <locationX>1018</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Website_Service.WD_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Website_Service.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MLS</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Removing the &quot;Billing Start Date&quot; field reference and implementing the Addendum Effective Date</description>
    <environments>Default</environments>
    <formulas>
        <name>CDate2months</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDateTime},2)</expression>
    </formulas>
    <formulas>
        <name>forAdBudget</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Ad_Spend__c} + {!$Record.Lead_Gen_Service__r.Monthly_Budget__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forAdSpend</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Contract.Ad_Spend__c} + {!$Record.Ad_Spend__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Add the current Ad Spend Management fiel of the Contract with the one of the opportunity</description>
        <name>forAdSpendMangement</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Ad_Management_Fee__c} + {!$Record.Contract.Ad_Spend_Management_Spend__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCountCopilot</name>
        <dataType>Number</dataType>
        <expression>{!Opportunity_Products.Quantity}  + {!$Record.Contract.Count_of_Copilot_Agent_Seats__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCountMonthlyBlogs</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contract.Count_of_Monthly_Blogs__c} + {!Opportunity_Products.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forMarketingFee</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Contract.Monthly_Marketing_Fee__c} + {!$Record.Monthly_Marketing_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} +&quot; - &quot; + {!$Record.Record_Type_Name__c}+ &quot; - &quot;+ TEXT({!$Record.Billing_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>forSubscriptionFee</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Contract.Monthly_Subscription_Fee__c} + {!$Record.Monthly_Subscription_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forTemplateName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &quot; - Design Change&quot;</expression>
    </formulas>
    <formulas>
        <name>forTemplateServiceDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>ReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>{!CDate2months} - 7</expression>
    </formulas>
    <formulas>
        <name>RenewalDate</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR({!$Flow.CurrentDate} ) + 1, MONTH({!$Flow.CurrentDate}) , DAY({!$Flow.CurrentDate})+1)</expression>
    </formulas>
    <formulas>
        <name>sName</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        {!$Record.VIP__c} = true,
        ISPICKVAL({!$Record.Beta_user__c}, &quot;Yes&quot;),
        {!Opportunity_Products.Product2.Name} = &quot;Website Hosting&quot;
    ),
    &quot;VIP &quot; + {!$Record.Account.Name} + &quot; - In-App Onboarding&quot;,
    IF(
        {!$Record.VIP__c} = true,
        &quot;VIP &quot; + {!$Record.Account.Name} + &quot; - &quot; + {!Opportunity_Products.Product2.Name},
        IF(
            {!$Record.Semi_Custom_Pod__c} = true,
            &quot;SCP &quot; + {!$Record.Account.Name} + &quot; - &quot; + {!Opportunity_Products.Product2.Name},
            IF(
                AND(
                    ISPICKVAL({!$Record.Beta_user__c}, &quot;Yes&quot;),
                    {!Opportunity_Products.Product2.Name} = &quot;Website Hosting&quot;
                ),
                {!$Record.Account.Name} + &quot; - In-App Onboarding&quot;,
                IF(
                    {!Opportunity_Products.Product2.Name} = &quot;Website Hosting&quot;,
                    {!$Record.Account.Name} + &quot; - Website Implementation&quot;,
                    IF(
                        ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;Social Media&quot;),
                        {!$Record.Account.Name} + &quot; - Social Media Premium+&quot;,
                IF(
                        ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;On-Demand Ads&quot;),
                        {!$Record.Account.Name} + &quot; - &quot; + {!Opportunity_Products.Product2.Name},
                        IF(
                            ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;Presence Copilot&quot;),
                            {!$Record.Account.Name} + &quot; - Presence Copilot&quot;,
                        IF(
                        ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;AI Lead Nurture&quot;),
                        {!$Record.Account.Name} + &quot; - &quot; + &quot;AI Lead Nurture&quot;,
                        IF(
                        ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;Automated Blogs&quot;),
                        {!$Record.Account.Name} + &quot; - &quot; + &quot;Automated Blogs&quot;,
                        IF(
                        ISPICKVAL({!Opportunity_Products.Product2.Type__c}, &quot;White Label App&quot;),
                        {!$Record.Account.Name} + &quot; - &quot; + &quot;White Label App&quot;,
                        {!$Record.Name} + &quot; - &quot; + {!Opportunity_Products.Product2.Name}
                          )
                       )
                     )
                     )
                   )
               )
           )
       )
   )
 )
)</expression>
    </formulas>
    <formulas>
        <name>SNameMLS</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.VIP__c}=true, 
&quot;VIP &quot;+ {!$Record.Account.Name} +&quot; - &quot;+ TEXT({!$Record.Website_Type__c}) + &quot; - &quot;+ {!$Record.Hubspot_Deal_ID__c} +&quot; - &quot; + &quot;IDX Tool&quot;, 
IF( {!$Record.Semi_Custom_Pod__c}=true, 
&quot;SCP &quot;+{!$Record.Account.Name} +&quot; - &quot;+ TEXT({!$Record.Website_Type__c}) + &quot; - &quot;+ {!$Record.Hubspot_Deal_ID__c} +&quot; - &quot; + &quot;IDX Tool&quot;, {!$Record.Account.Name} +&quot; - &quot;+ TEXT({!$Record.Website_Type__c}) + &quot; - &quot;+ {!$Record.Hubspot_Deal_ID__c} +&quot; - &quot; + &quot;IDX Tool&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>sVarRType</name>
        <dataType>String</dataType>
        <expression>CASE({!Opportunity_Products.Product2.Type__c},
&quot;Website Launches&quot;, {!$Label.ID_Service_Website_Launches},
&quot;General&quot;, {!$Label.ID_Service_SEO_General},
&quot;Content Review&quot;, {!$Label.ID_Service_Content_Review},
&quot;Paid Media&quot;, {!$Label.ID_Service_Paid_Media},
&quot;SEO Key Word Analysis&quot;, {!$Label.ID_Service_SEO_KWA},
&quot;Social Media&quot;, {!$Label.ID_Service_Social_Media},
&quot;MLS Implementation&quot;, {!$Label.ID_Service_MLS_Implementation},
&quot;SEO Migration&quot;, {!$Label.ID_Service_SEO_Migration},
&quot;Platform Migration&quot;, {!$Label.ID_Service_Platform_Migration},
&quot;Property Website&quot;, {!$Label.ID_Service_Property_Website},
&quot;Design Refresh&quot;, {!$Label.ID_Service_Design_Refresh},
&quot;Design Change&quot;, {!$Label.ID_Service_Template_Change}, 
&quot;GMB Posts&quot;, &quot;0125f000000VvKCAA0&quot;,
&quot;SEO Optimizations&quot;,{!$Label.ID_Service_SEO_Optmizations},
&quot;Blogs&quot;,{!$Label.ID_Service_Blogs},
&quot;Monthly and Quarterly Reporting&quot; , &quot;012EY0000004JCbYAM&quot;,
&quot;On-Demand Ads&quot;, {!$Label.ID_Service_OnDemand_Ads},
&quot;Custom Website&quot;, {!$Label.ID_Service_Custom_Website},
&quot;Brand Identity&quot; , {!$Label.ID_Service_Brand_Identity},
&quot;Citations + Reputation Management&quot;, {!$Label.ID_Service_SEO_General},
&quot;Link Building&quot;, {!$Label.ID_Service_SEO_General},
&quot;Presence Copilot&quot;, {!$Label.ID_Service_Presence_Copilot},
&quot;AI Lead Nurture&quot;, {!$Label.ID_Service_AI_Lead_Nurture},
&quot;Automated Blogs&quot;, {!$Label.ID_Service_Automated_Blogs},
&quot;White Label App&quot;, {!$Label.ID_Service_White_Label_App},
&quot;0125f000000VvKMAA0&quot;)</expression>
    </formulas>
    <interviewLabel>LP - Add Service Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Add Service Opportunity - Closed Won</label>
    <loops>
        <name>IDX_Tools</name>
        <label>IDX Tools</label>
        <locationX>886</locationX>
        <locationY>1656</locationY>
        <collectionReference>Get_MLS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sVarServices_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>446</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_New_Service_RT_Design_Refresh</name>
        <label>New Service RT Design Refresh</label>
        <locationX>578</locationX>
        <locationY>4788</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MLS_Status__c</field>
            <value>
                <stringValue>Get Paperwork Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000Hg5JYAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Service_Design_Refresh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Tasks</name>
        <label>Create Product Tasks</label>
        <locationX>314</locationX>
        <locationY>3264</locationY>
        <connector>
            <targetReference>Product_Ad_Spend_Add_On</targetReference>
        </connector>
        <inputReference>vListOfProductTasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Services</name>
        <label>Create Services</label>
        <locationX>446</locationX>
        <locationY>2940</locationY>
        <connector>
            <targetReference>Generate_Product_Tasks</targetReference>
        </connector>
        <inputReference>ServicesCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Ask for credentials</description>
        <name>Create_Task_to_AM</name>
        <label>Create Task to AM</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CDate2months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ask for credentials</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Service_RT_Design_Refresh</name>
        <label>New Service RT Design Refresh</label>
        <locationX>314</locationX>
        <locationY>4788</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>forTemplateServiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MLS_Status__c</field>
            <value>
                <stringValue>Get Paperwork Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000Hg5JYAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Service_Design_Refresh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Presence_Copilot_Task</name>
        <label>Presence Copilot - Task</label>
        <locationX>4758</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Add_Count_of_Copilot</targetReference>
        </connector>
        <inputReference>varCTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contract_Agent_Subdomain_Service</name>
        <label>Contract - Agent Subdomain Service</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Subdomains_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Agent_Subdomains</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Website</name>
        <label>Custom Website</label>
        <locationX>4054</locationX>
        <locationY>1740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Service_Launched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Automated_Blogs_Service</name>
        <label>Get Automated Blogs Service</label>
        <locationX>5968</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Automated_Blogs_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Automated_Blogs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copilot_Service</name>
        <label>Get Copilot Service</label>
        <locationX>4626</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copilot_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presence Copilot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MLS</name>
        <label>Get MLS</label>
        <locationX>886</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDX_Tools</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_MLS_Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Agent_Subdomain_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Website_Service</name>
        <label>Get related Website Service</label>
        <locationX>1304</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Service_found_and_Add_Service_Opportunity</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Hosting</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Website_Service_Automated_Blogs</name>
        <label>Get related Website Service</label>
        <locationX>6122</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Service_launched_already</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Hosting</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Website_Service_White_Label_App</name>
        <label>Get related Website Service</label>
        <locationX>6826</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Service_launched_already_White_Label_App</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Hosting</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_White_Label_App_Service</name>
        <label>Get White Label App Service</label>
        <locationX>6672</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_White_Label_App_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_White_Label_App</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IAO_Service</name>
        <label>IAO - Service</label>
        <locationX>4054</locationX>
        <locationY>2256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IAO_Service_Launched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Originated_from</name>
        <label>Service - Originated from</label>
        <locationX>314</locationX>
        <locationY>3972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_originated_from__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the website implementation service from the contract</description>
        <name>Website_Service</name>
        <label>Website Service</label>
        <locationX>4054</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_service_is_launched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Adds the amount of Agent Seats product to the Contract</description>
        <name>Add_Count_of_Agent_Seats</name>
        <label>Add Count of Agent Seats</label>
        <locationX>6672</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Copilot_Agent_Seats__c</field>
            <value>
                <elementReference>forCountCopilot</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the amount of copilot product to the Contract</description>
        <name>Add_Count_of_Copilot</name>
        <label>Add Count of Copilot</label>
        <locationX>4824</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Copilot_Agent_Seats__c</field>
            <value>
                <elementReference>forCountCopilot</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the amount of Monthly Blogs product to the Contract</description>
        <name>Add_Count_of_Monthly_Blogs</name>
        <label>Add Count of Monthly Blogs</label>
        <locationX>5968</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Monthly_Blogs__c</field>
            <value>
                <elementReference>forCountMonthlyBlogs</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Contract_Active</name>
        <label>Contract - Active</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_with_Add_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Ad_Spend_Management_Spend__c</field>
            <value>
                <elementReference>forAdSpendMangement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ad_Spend__c</field>
            <value>
                <elementReference>forAdSpend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>forMarketingFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>forSubscriptionFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Media_Service__c</field>
            <value>
                <elementReference>$Record.Paid_Media_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Contract_Active</name>
        <label>Contract - Active</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_with_Add_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Media_Service__c</field>
            <value>
                <elementReference>$Record.Paid_Media_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Custom_Service_Build_Site</name>
        <label>Update Custom Service - Build Site</label>
        <locationX>4054</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>IAO_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Custom_Website.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Build Site</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IAO_Service_Modules_Complete</name>
        <label>Update IAO Service - Modules Complete</label>
        <locationX>4054</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IAO_Service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Modules Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Add &quot;Ad Spend&quot; to &quot;Ad Budget&quot;</description>
        <name>Update_Lead_Gen_Service</name>
        <label>Update Lead Gen Service</label>
        <locationX>314</locationX>
        <locationY>3564</locationY>
        <connector>
            <targetReference>Is_template_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Gen_Service__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monthly_Budget__c</field>
            <value>
                <elementReference>forAdBudget</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Template_Change</name>
        <label>Update Service Template Change</label>
        <locationX>314</locationX>
        <locationY>3864</locationY>
        <connector>
            <targetReference>Service_Originated_from</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_originated_from__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Design__c</field>
            <value>
                <elementReference>$Record.New_template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Change__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_service_to_new</name>
        <label>Update service to new</label>
        <locationX>314</locationX>
        <locationY>4488</locationY>
        <connector>
            <targetReference>Template_Service_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_originated_from__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Template_Service_Status_Website_Draft</name>
        <label>Update Template Service Status - Website Draft</label>
        <locationX>50</locationX>
        <locationY>4788</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_originated_from__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Staging Link</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Service_New</name>
        <label>Update Website Service - New</label>
        <locationX>4054</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Custom_Website</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_Service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Effective_Date_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add Service</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Addendum_Effective_Date</name>
            <connector>
                <targetReference>Add_Plan</targetReference>
            </connector>
            <label>Addendum Effective Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Addendum_Execution_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Product_Tasks</name>
        <label>Generate Product Tasks</label>
        <locationX>446</locationX>
        <locationY>3048</locationY>
        <connector>
            <targetReference>Does_Product_Task_List_Have_Records</targetReference>
        </connector>
        <flowName>Opportunity_SFL_createProductTasks</flowName>
        <inputAssignments>
            <name>vOpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vListOfProductTasks</assignToReference>
            <name>vListOfTasks</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>bodyClosedWon</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account.Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Welcome to Luxury Presence! Im excited to introduce you to your Onboarding Manager,{!$Record.Account.Implementation_Manager__r.FirstName} {!$Record.Account.Implementation_Manager__r.LastName}, cc&#39;d on this email. He/She will be your primary point of contact going forward and will reach out to you within the next business day to schedule your welcome call. Additionally, you will be introduced to an Client Success Manager who will initiate and manage the marketing services that youve purchased.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please dont hesitate to reach out to your Implementation Manager. Also, your contract is attached for your records. It was a pleasure meeting you and good luck on your launch!&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBilling</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi team!
The client {!$Record.Account.Name} has closed won the addendum {!$Record.Name} , with effective date {!$Record.Addendum_Execution_Date__c}.

Link to the opportunity: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>ServicesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>sVarService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varAgentSubdomainExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection of Task</description>
        <name>varCTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Single record for Task object</description>
        <name>varSTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vListOfProductTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
