unpackaged/main/default/flows/LP_Agent_Subdomains_Service_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Cancelled</name>
        <label>Email - Cancelled</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Website_Status_Cancelled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyCancelled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Service Cancelled | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Creating_Subdomains</name>
        <label>Email - Creating Subdomains</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyCreateSubdomains</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Creating Subdomain Sites | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_New_Subdomain_Service</name>
        <label>Email - New Subdomain Service</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyNew</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Subdomain Service | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_On_hold</name>
        <label>Email - On hold</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyOnHold</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Service On-Hold | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Ready_to_Launch</name>
        <label>Email - Ready to Launch</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Technical_PM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyReadyToLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ready to Launch - Final QA | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Subdomain_Review</name>
        <label>Email - Subdomain Review</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodySubdomainReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Revisions Complete! | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_SubDomains_Revision_Round</name>
        <label>Email - SubDomains Revision Round</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyRevisionRound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Revisions in Progress | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_SubTemplate_Draft</name>
        <label>Email - SubTemplate Draft</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyWebsiteDraft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Subdomain Draft in Progress | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_SubTemplate_Draft_Complete</name>
        <label>Email - SubTemplate Draft Complete</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyWDReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Draft Complete! | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_SubTemplate_Feedback_Round</name>
        <label>Email - SubTemplate Feedback Round</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyFeedbackRound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Revisions Complete! | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_SubTemplate_Revision_Round</name>
        <label>Email - SubTemplate Revision Round</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyRevisionRound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-Template Revisions in Progress | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Technical_PM</name>
        <label>Email Technical PM</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <actionName>Service__c.Service_Ready_to_Launch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Final_QA_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Service_Ready_to_Launch</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Waiting_on_Brand_Website</name>
        <label>Email - Waiting on Brand Website</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyWaitingOnBrand</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Waiting on Brand Website | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Website_Launched</name>
        <label>Email - Website Launched</label>
        <locationX>2558</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Website_Implementation_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyWebsiteLaunched</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sub-TemplateService Launched | {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1898</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Website_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staging Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Draft_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Website Draft</label>
        </rules>
        <rules>
            <name>WD_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WD Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WD_Review_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WD Review</label>
        </rules>
        <rules>
            <name>Revisions_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revisions_Round_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Revisions Round</label>
        </rules>
        <rules>
            <name>Feedback_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Round_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Feedback Round</label>
        </rules>
        <rules>
            <name>Create_subdomains_sites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Subdomain Sites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subdomains_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create subdomains sites</label>
        </rules>
        <rules>
            <name>Subdomain_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subdomain Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IDX_Team_Get_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Subdomain Review</label>
        </rules>
        <rules>
            <name>Subdomains_Revisions_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subdomains Revisions Round</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subdomains_Revisions_Round_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Subdomains Revisions Round</label>
        </rules>
        <rules>
            <name>Ready_to_launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_to_Launch_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready to launch</label>
        </rules>
        <rules>
            <name>Website_launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Launch_Date_Null</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Website launch</label>
        </rules>
        <rules>
            <name>Waiting_on_Brand_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Brand Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Waiting_on_Brand_Website</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting on Brand Website</label>
        </rules>
        <rules>
            <name>On_hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_On_hold</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>On hold</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Launch_Date_Null</name>
        <label>Website Launch Date - Null</label>
        <locationX>2558</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_Website_Date2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Launch_Date</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <description>Adding a new &quot;IDX Subdomain Name Check&quot; Task creation when the Service Status equals &quot;Subdomain Review&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>for1BDay</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>for2BDays</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  4, {!$Flow.CurrentDate} + 4,
  5, {!$Flow.CurrentDate} + 4,
  6, {!$Flow.CurrentDate} + 3,
  {!$Flow.CurrentDate} + 2
)</expression>
    </formulas>
    <formulas>
        <name>forFinalQADate</name>
        <dataType>Date</dataType>
        <expression>CASE({!$Record.RecordType.Name},
&quot;Website Launches&quot;, {!for2BDays},
&quot;Property Website&quot;, {!for1BDay},
&quot;Design Refresh&quot;,{!for1BDay},
&quot;Template Change&quot;,{!for1BDay},
&quot;Platform Migration&quot;, {!for2BDays}, {!for1BDay})</expression>
    </formulas>
    <formulas>
        <name>forSubTemplateDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Please build Sub-Template for &quot;+  {!$Record.Name}  +&quot; on the following domain &quot;  +{!$Record.Website_Domain__c}</expression>
    </formulas>
    <interviewLabel>LP - Agent Subdomains Service Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Agent Subdomains Service Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Build_SubTemplate_Task</name>
        <label>Build SubTemplate - Task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_SubTemplate_Draft</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>forSubTemplateDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Website_Builder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Build Sub-Template</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Final_QA_Task</name>
        <label>Final QA - Task</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forFinalQADate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Final_QA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKVAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final QA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IDX_Subdomain_Name_Check_Task</name>
        <label>IDX Subdomain Name Check - Task</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Last_Task_Assigned_IDX_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IDX_Team_Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>IDX Subdomain Name Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Agent_Subdomain_Service_Task</name>
        <label>New Agent Subdomain Service - Task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Last_Task_Assigned_WB_Team_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review that all requirements needed are available to proceed with the build-out.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>WB_Team_Lead_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Agent Subdomain Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Revisions_for_Sub_Template_Task</name>
        <label>Revisions for Sub-Template - Task</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_SubTemplate_Revision_Round</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Website_Builder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Revisions for Sub-Template have been submitted, please complete at your earliest convenience.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Revisions_for_Subdomains_Task</name>
        <label>Revisions for Subdomains - Task</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_SubDomains_Revision_Round</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Website_Builder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Revisions for Subdomains have been submitted, please complete at your earliest convenience.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Subdomain_Approved_Task</name>
        <label>Subdomain Approved - Task</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Last_Task_Assigned_WB_Team_Lead_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>WB_Team_Lead_User_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Subdomain draft has been approved - please initiate build process for all subdomains</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Subdomains_Ready_Task</name>
        <label>Subdomains Ready - Task</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_Ready_to_Launch</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Launch_QA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Subdomains ready for launch, please QA and launch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Final_QA_User</name>
        <label>Final QA - User</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_QA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_QA_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IDX_Team_Get_User</name>
        <label>IDX Team - Get User</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDX_Subdomain_Name_Check_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Coordinator__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WB_Team_Lead_User</name>
        <label>WB Team Lead - User</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Agent_Subdomain_Service_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WB_Team_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>WB_Team_Lead_User_1</name>
        <label>WB Team Lead - User</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subdomain_Approved_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WB_Team_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Website_Implementation_Status</name>
        <label>Account - Website Implementation Status</label>
        <locationX>2558</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Launched</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Website_Status</name>
        <label>Account - Website Status</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Email_New_Subdomain_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Website_Status_Cancelled</name>
        <label>Account - Website Status - Cancelled</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the website date in the primary contact related with the account</description>
        <name>Contact_Update_Website_Date</name>
        <label>Contact - Update Website Date</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Email_Website_Launched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the website date in the primary contact related with the account</description>
        <name>Contact_Update_Website_Date2</name>
        <label>Contact - Update Website Date</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_Website_Launched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Record.Website_Launch_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Create_Subdomains_Date</name>
        <label>Create Subdomains Date</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>WB_Team_Lead_User_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Create_Subdomain_Sites_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Feedback_Round_Date</name>
        <label>Feedback Round Date</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Email_SubTemplate_Feedback_Round</targetReference>
        </connector>
        <inputAssignments>
            <field>Feedback_Round_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Task_Assigned_IDX_Team</name>
        <label>Last Task Assigned - IDX Team</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Email_Subdomain_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDX_Team_Get_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Task_Assigned_WB_Team_Lead</name>
        <label>Last Task Assigned - WB Team Lead</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Account_Website_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WB_Team_Lead_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Task_Assigned_WB_Team_Lead_1</name>
        <label>Last Task Assigned - WB Team Lead</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Email_Creating_Subdomains</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WB_Team_Lead_User_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>New_Date</name>
        <label>New Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>WB_Team_Lead_User</targetReference>
        </connector>
        <inputAssignments>
            <field>New_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_to_Launch_Date</name>
        <label>Ready to Launch Date</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Subdomains_Ready_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_to_Launch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revisions_Round_Date</name>
        <label>Revisions Round Date</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Revisions_for_Sub_Template_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisions_Round_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Subdomains_Revisions_Round_Date</name>
        <label>Subdomains Revisions Round Date</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Revisions_for_Subdomains_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisions_Round_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WD_Review_Date</name>
        <label>WD Review Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Email_SubTemplate_Draft_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>WD_Review__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Website_Draft_Date</name>
        <label>Website Draft Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Build_SubTemplate_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Draft_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Website_Launch_Date</name>
        <label>Website Launch Date</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Contact_Update_Website_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agent Subdomains</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyCancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
{!$Record.Name} has been moved to Cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyCreateSubdomains</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Confirming that the team is currently creating all subdomains in accordance with the approved draft for {!$Record.Name}. Please expect this to be complete within 3-4 business days.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyFeedbackRound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Your sub-template Revisions Round, {!$Record.Name}, is complete! Please review ahead of scheduled call with client.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyNew</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},

You have been assigned a new subdomain service,{!$Record.Name}. Please schedule your welcome call in 4-5 business days.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyOnHold</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
{!$Record.Name}has been moved to On-Hold.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyReadyToLaunch</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Confirming that {!$Record.Name} has been moved to Ready to Launch Please expect the subdomains to be live within 1-2 business days.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyRevisionRound</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Confirming that your sub-template draft, {!$Record.Name}, is currently going through Revisions. Please expect this to be complete within 3-4 business days.</text>
    </textTemplates>
    <textTemplates>
        <name>bodySubdomainReview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Your sub-template Revisions Round, {!$Record.Name}, is complete! Please review ahead of scheduled call with client.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWaitingOnBrand</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
{!$Record.Name} has been moved to Waiting on Brand Website status. Once ready, please move this service to Draft in Progress.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWDReview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
Your new sub-template draft, {!$Record.Name}, is complete! Please review ahead of scheduled call with client.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWebsiteDraft</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},

Your new subdomain draft, {!$Record.Name}, is currently being built, please reach out to the client to schedule a welcome call and change the service status in Salesforce.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWebsiteLaunched</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Owner:User.FirstName},
{!$Record.Name} has officially launched. Please notify the client.</text>
    </textTemplates>
</Flow>
