unpackaged/main/default/flows/LP_Account_SEO_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>If_Status_is_Cancelled</name>
        <label>If Status is Cancelled</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>SEO_Campaign_Summary_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_SEO_Service_Cancelled.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_SEO_Service_Cancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_is_Cancelled_2</name>
        <label>If Status is Cancelled</label>
        <locationX>880</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Create_Updated_SEO_Blog_Content_Strategy_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_SEO_Service_Cancelled.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_SEO_Service_Cancelled_2</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forDueDate1Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <interviewLabel>LP - SEO Campaing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Account SEO Tasks</label>
    <loops>
        <name>Check_if_SEO_Service_Cancelled</name>
        <label>Check if SEO Service Cancelled</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_SEO_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status_is_Cancelled</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Check_if_SEO_Service_Cancelled_2</name>
        <label>Check if SEO Service Cancelled</label>
        <locationX>704</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_SEO_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status_is_Cancelled_2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Updated_SEO_Blog_Content_Strategy_Task</name>
        <label>Create Updated SEO &amp; Blog Content Strategy - Task</label>
        <locationX>968</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Check_if_SEO_Service_Cancelled_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.SEO_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Updated SEO &amp; Blog Content Strategy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SEO_Campaign_Summary_Task</name>
        <label>SEO Campaign Summary - Task</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Check_if_SEO_Service_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.SEO_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SEO Campaign Summary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SEO_Services</name>
        <label>Get SEO Services</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SEO_Service_Cancelled</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO Optimizations (Monthly)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO Optimizations (Quarterly)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEO_Services_2</name>
        <label>Get SEO Services</label>
        <locationX>704</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SEO_Service_Cancelled_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO Optimizations (Monthly)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO Optimizations (Quarterly)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X60_Days_Before_Renewal_Date</name>
            <connector>
                <targetReference>Get_SEO_Services</targetReference>
            </connector>
            <label>60 Days Before Renewal Date</label>
            <offsetNumber>-60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Subscription_Renewal_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_Before_Renewal_Date</name>
            <connector>
                <targetReference>Get_SEO_Services_2</targetReference>
            </connector>
            <label>30 Days Before Renewal Date</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Subscription_Renewal_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceCancelled</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
