unpackaged/main/default/flows/LP_Blogs_Service_Schedule_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_CSM_Notification</name>
        <label>CSM - Notification</label>
        <locationX>2514</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The status of {!$Record.Name} has not moved in 7 days, please review.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} - Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Creating_Content_Notification_blog</name>
        <label>Creating Content - Notification</label>
        <locationX>1546</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Creating_Content_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Service Schedule: {!$Record.Name} is now in Creating Content</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Creating Content</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CSM_Notification</name>
        <label>CSM - Notification</label>
        <locationX>2250</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The status of {!$Record.Name} has not moved in 7 days, the record has moved to Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} - Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_SS_Final_QA</name>
        <label>Notification SS - Final QA</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Final_QA_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service schedule {!$Record.Name} has entered final QA please review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Final QA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_SS_Ready_For_Client_Review</name>
        <label>Notification SS - Ready For Client Review</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Schedule_ready_for_approval_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!$Record.Name} is ready for client review.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ready For Client Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ready_for_Client_Review_Notification</name>
        <label>Ready for Client Review - Notification</label>
        <locationX>3042</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Service Schedule {!$Record.Name} has not move to Sent for Client Approval after 14 days</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Schedule not in Sent for Client Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_ready_for_approval_email</name>
        <label>Schedule ready for approval - email</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Ready_for_Client_Review_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmailSSReadyForApproval</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Schedule service {!$Record.Name} is ready for client review. </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_1_to_counter</name>
        <label>Add 1 to counter</label>
        <locationX>1018</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>varSSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionSS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Service_Schedule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AM_to_collection1</name>
        <label>Add AM to collection</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_Content_Notification_blog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AM_to_user_collection</name>
        <label>Add AM to user collection</label>
        <locationX>2382</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_VIP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Content_Manager</name>
        <label>Add Content Manager</label>
        <locationX>3042</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Content_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_for_Client_Review_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_content_strategist_to_collection</name>
        <label>Add content strategist to collection</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Content_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_SS_Final_QA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_counter</name>
        <label>Add counter</label>
        <locationX>1150</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>varSSCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Service_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Schedule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_AM_to_collection</name>
        <label>Add AM to collection</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_SS_Ready_For_Client_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Service_Schedule</name>
        <label>Create Service Schedule</label>
        <locationX>1018</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>varSingleSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSS.Account_Manager_Linked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_SS_Blogs_per_Quarter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSSName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_VIP</name>
        <label>Account VIP?</label>
        <locationX>2382</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_CSM_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.High_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Approved</targetReference>
            </connector>
            <label>Not VIP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>1062</locationX>
        <locationY>1482</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Content_Specialist</targetReference>
            </connector>
            <label>Record created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner</name>
        <label>Owner?</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Update_Ready_for_Client_Review_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_AM_to_collection</targetReference>
            </connector>
            <label>Not support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Status</name>
        <label>Prior Status</label>
        <locationX>1062</locationX>
        <locationY>1782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_QA_Prior_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_QA_End_Date</targetReference>
            </connector>
            <label>Final QA</label>
        </rules>
        <rules>
            <name>Ready_for_Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ready_for_Client_Review_End_Date</targetReference>
            </connector>
            <label>Ready for Client Review</label>
        </rules>
        <rules>
            <name>Creating_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creating Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Creating_Content_End_Date</targetReference>
            </connector>
            <label>Creating Content</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Schedule_3</name>
        <label>Service Schedule &lt; 3</label>
        <locationX>1150</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Create_SS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_ss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSSCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Schedule</targetReference>
            </connector>
            <label>Create new ss</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1062</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_QA_blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_content_strategist_to_collection</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final QA</label>
        </rules>
        <rules>
            <name>Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready for Client Review</label>
        </rules>
        <rules>
            <name>Adding_photos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adding Photos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Photos_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Adding photos</label>
        </rules>
        <rules>
            <name>Approved1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draft_Blog_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Creating_Content_Blog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creating Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AM_to_collection1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Creating Content</label>
        </rules>
        <rules>
            <name>Sent_for_Client_Approval1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_for_Client_Approval_Date</targetReference>
            </connector>
            <label>Sent for Client Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_Review_for_Client_Review</name>
        <label>Still Review for Client Review?</label>
        <locationX>3174</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Client_Review_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Content_Manager</targetReference>
            </connector>
            <label>Ready for Client Review 14 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_Sent_for_Client_Approval_status</name>
        <label>Still Sent for Client Approval status?</label>
        <locationX>2580</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_for_client_status_7days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Account_Manager__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_SS_Blogs_per_Quarter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AM_to_user_collection</targetReference>
            </connector>
            <label>Sent for client status 7days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCheckApprovalTaks</name>
        <dataType>String</dataType>
        <expression>&quot;Check Approval by Client - &quot; +  {!$Record.Service__r.Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE( {!varSSCount}, 
0, ADDMONTHS({!$Record.Due_Date__c},1),
1, ADDMONTHS({!$Record.Due_Date__c},2),
2, ADDMONTHS({!$Record.Due_Date__c},3),
ADDMONTHS({!$Record.Due_Date__c},1)
)</expression>
    </formulas>
    <formulas>
        <name>forDueDate1BD</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forDueDate21BD</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
 1, {!$Flow.CurrentDate} + 29,
 2, {!$Flow.CurrentDate} + 29,
 3, {!$Flow.CurrentDate} + 29,
 4, {!$Flow.CurrentDate} + 29,
 5, {!$Flow.CurrentDate} + 30,
 6, {!$Flow.CurrentDate} + 31,
  {!$Flow.CurrentDate} + 21
)</expression>
    </formulas>
    <formulas>
        <name>forISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forMonth</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!forDueDate}),
1, &quot;January&quot;, 
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
&quot;December&quot;

)</expression>
    </formulas>
    <formulas>
        <name>forSSName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Service__r.Account__r.Name} + &quot; - Blogs - &quot; +{!forMonth}</expression>
    </formulas>
    <interviewLabel>LP - Blogs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Blogs Service Schedule Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Photos_task</name>
        <label>Add Photos - task</label>
        <locationX>754</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Add_Photos_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Photos</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SS</name>
        <label>Create SS</label>
        <locationX>1282</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputReference>collectionSS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Draft_content_in_client_s_dashboard_task</name>
        <label>Draft content in client&#39;s dashboard - task</label>
        <locationX>1150</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Post_Blog_Last_Task_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Draft_Blog_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Draft content in client&#39;s dashboard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Add_Photos_User</name>
        <label>Add Photos User</label>
        <locationX>754</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Photos_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_Photos_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>All_Service_Schedule</name>
        <label>All Service Schedule</label>
        <locationX>1150</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Draft_Blog_User</name>
        <label>Draft Blog User</label>
        <locationX>1150</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Draft_content_in_client_s_dashboard_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Draft_Blog_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Post_Blog_Last_Task_Assigned</name>
        <label>Post Blog - Last Task Assigned</label>
        <locationX>1150</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>All_Service_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Draft_Blog_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sent_for_Client_Approval_Date</name>
        <label>Sent for Client Approval - Date</label>
        <locationX>1810</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent_for_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Approved</name>
        <label>Status - Approved</label>
        <locationX>2250</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>CSM_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Add Content Specialist to record, depending on the CSM</description>
        <name>Update_Content_Specialist</name>
        <label>Update Content Specialist</label>
        <locationX>930</locationX>
        <locationY>1590</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Specialist__c</field>
            <value>
                <elementReference>$Record.Account_Manager__r.Content_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Creating_Content_End_Date</name>
        <label>Update - Creating Content End Date</label>
        <locationX>1194</locationX>
        <locationY>1890</locationY>
        <inputAssignments>
            <field>Creating_Content_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Creating_Content_Start_Date</name>
        <label>Update - Creating Content Start Date</label>
        <locationX>1546</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Creating_Content_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_QA_End_Date</name>
        <label>Update - Final QA End Date</label>
        <locationX>666</locationX>
        <locationY>1890</locationY>
        <inputAssignments>
            <field>Final_QA_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_QA_Start_Date</name>
        <label>Update - Final QA Start Date</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_QA_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ready_for_Client_Review_End_Date</name>
        <label>Update - Ready for Client Review End Date</label>
        <locationX>930</locationX>
        <locationY>1890</locationY>
        <inputAssignments>
            <field>Ready_for_Client_Review_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ready_for_Client_Review_Start_Date</name>
        <label>Update - Ready for Client Review Start Date</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_Client_Review_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blogs</stringValue>
            </value>
        </filters>
        <object>Service_schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Sent_for_Client_Approval_7Days</name>
            <connector>
                <targetReference>Still_Sent_for_Client_Approval_status</targetReference>
            </connector>
            <label>Sent for Client Approval 7Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Sent_for_Approval_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X14_days_after_Ready_for_Client_Review</name>
            <connector>
                <targetReference>Still_Review_for_Client_Review</targetReference>
            </connector>
            <label>14 days after Ready for Client Review</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Ready_for_Client_Review_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEmailSSReadyForApproval</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The service {!$Record.Name} for client {!$Record.Service__r.Account__r.Name} is ready for approval please review. 
https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <variables>
        <name>collectionSS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>collectionUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>varSSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUsersID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
