unpackaged/main/default/flows/LP_CSAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Account_ID</name>
        <label>Account ID</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forAccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_ID</name>
        <label>Case ID</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCaseIDPosition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_ID</name>
        <label>Service ID</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varServiceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSerivceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_ID</name>
        <label>User ID</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exists_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_ID</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_exists</name>
        <label>Case exists</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Service_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_exists</name>
        <label>Service exists?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>User_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Exists</name>
        <label>User Exists</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Account_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_userID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Submitted_for_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forAccountID</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(MID({!$Record.DelightedInc__Properties__c}, {!forAccountIDStartPosition}, 18), &quot;Email&quot;),&quot;000000000000000000&quot;,MID({!$Record.DelightedInc__Properties__c}, {!forAccountIDStartPosition}, 18))</expression>
    </formulas>
    <formulas>
        <name>forAccountIDPosition</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;Account Id&quot;, {!$Record.DelightedInc__Properties__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forAccountIDStartPosition</name>
        <dataType>Number</dataType>
        <expression>{!forAccountIDPosition}+12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCaseID</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(MID({!$Record.DelightedInc__Properties__c}, {!forCaseIDStartPosition}, 18), &quot;Email&quot;),&quot;000000000000000000&quot;,MID({!$Record.DelightedInc__Properties__c}, {!forCaseIDStartPosition}, 18)
)</expression>
    </formulas>
    <formulas>
        <name>forCaseIDPosition</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;Case Id&quot;, {!$Record.DelightedInc__Properties__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCaseIDStartPosition</name>
        <dataType>Number</dataType>
        <expression>{!forCaseIDPosition}+9</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSerivceID</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(MID({!$Record.DelightedInc__Properties__c}, {!forServiceIDStartPosition}, 18), &quot;Email&quot;),&quot;000000000000000000&quot;,MID({!$Record.DelightedInc__Properties__c}, {!forServiceIDStartPosition}, 18))</expression>
    </formulas>
    <formulas>
        <name>forServiceIDPosition</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;Service Id&quot;, {!$Record.DelightedInc__Properties__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forServiceIDStartPosition</name>
        <dataType>Number</dataType>
        <expression>{!forServiceIDPosition}+12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forUserID</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(MID({!$Record.DelightedInc__Properties__c}, {!forUserIDStartPosition}, 18)
, &quot;Email&quot;),&quot;000000000000000000&quot;,MID({!$Record.DelightedInc__Properties__c}, {!forUserIDStartPosition}, 18)
)</expression>
    </formulas>
    <formulas>
        <name>forUserIDPosition</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;Agent ID&quot;, {!$Record.DelightedInc__Properties__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forUserIDStartPosition</name>
        <dataType>Number</dataType>
        <expression>{!forUserIDPosition}+0</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LP - CSAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - CSAT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service</name>
        <label>Service</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varServiceID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Account_ID</name>
        <label>Add Account ID</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <inputAssignments>
            <field>DelightedInc__Account__c</field>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Case_to_Survey</name>
        <label>Add Case to Survey</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Service_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DelightedInc__Account__c</field>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_score</name>
        <label>Add score</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Add_Service_to_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delighted_Score__c</field>
            <value>
                <elementReference>$Record.DelightedInc__Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Service_to_Survey</name>
        <label>Add Service to Survey</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>User_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>DelightedInc__Account__c</field>
            <value>
                <elementReference>Service.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Service.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Submitted_for_User</name>
        <label>Add Submitted for User</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent_ID__c</field>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_Case_to_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delighted_Comment__c</field>
            <value>
                <elementReference>$Record.DelightedInc__Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delighted_Score__c</field>
            <value>
                <elementReference>$Record.DelightedInc__Score__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_ID</targetReference>
        </connector>
        <object>DelightedInc__Delighted_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varServiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
