unpackaged/main/default/flows/LP_Case_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_auto_response</name>
        <label>Send auto response</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Case.Auto_response_new_support_case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Team_category_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Auto_response_new_support_case</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Submitted_By</name>
        <label>Send Email - Submitted By</label>
        <locationX>842</locationX>
        <locationY>1547</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Close_case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyDeployed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Submitted_By__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your request {!$Record.Subject} has been deployed!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Close_case</name>
        <label>Close case</label>
        <locationX>974</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Case_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Close_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Closed</targetReference>
            </connector>
            <label>Close Case - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_email_change</name>
        <label>Contact email change?</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Team_category_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_email_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_auto_response</targetReference>
            </connector>
            <label>Contact email added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_By_Added</name>
        <label>Submitted By Added</label>
        <locationX>974</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Submitted_By_Helper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submitted_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_By_Pass</targetReference>
            </connector>
            <label>Submitted By</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_By_Helper</name>
        <label>Submitted By Helper</label>
        <locationX>974</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Close_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_by_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submitted_By_Helper__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Submitted_By</targetReference>
            </connector>
            <label>Submitted by - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_category_changed</name>
        <label>Team category changed?</label>
        <locationX>974</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Submitted_By_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enterprise_User</targetReference>
            </connector>
            <label>Reassign Enterprise</label>
        </rules>
        <rules>
            <name>Advanced_Edits_and_Site_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advanced Edits and Site Status</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Partnership_Organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Advanced_Queue</targetReference>
            </connector>
            <label>Advanced Edits and Site Status</label>
        </rules>
        <rules>
            <name>SEO_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SEO_Queue</targetReference>
            </connector>
            <label>SEO Category</label>
        </rules>
        <rules>
            <name>Special_Forces_Brokerage_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Reason_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brokerage Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Reason_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Brokerage_Change_Queue</targetReference>
            </connector>
            <label>Special Forces - Brokerage Change</label>
        </rules>
        <rules>
            <name>Special_Forces_Agent_Subdomain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Reason_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Subdomain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Reason_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Subdomain_Queue</targetReference>
            </connector>
            <label>Special Forces - Agent Subdomain</label>
        </rules>
        <rules>
            <name>Spam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Team_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Spam_Contact</targetReference>
            </connector>
            <label>Spam?</label>
        </rules>
        <rules>
            <name>Side</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>side@luxurypresence.com</stringValue>
                </rightValue>
            </conditions>
            <label>Side</label>
        </rules>
    </decisions>
    <description>Removing Side assign back</description>
    <environments>Default</environments>
    <interviewLabel>LP - Case updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Case updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Advanced_Queue</name>
        <label>Advanced Queue</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Advanced_Edits_and_Site_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced_Edits_and_Site</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Subdomain_Queue</name>
        <label>Get Agent Subdomain Queue</label>
        <locationX>1106</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Agent_Subdomain_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special_Forces_Agent_Subdomains</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Brokerage_Change_Queue</name>
        <label>Get Brokerage Change Queue</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Brokerage_Change_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spacial_Forces_Brokerage_Changes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enterprise_User</name>
        <label>Get Enterprise User</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Enterprise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enterprise_Cases__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEO_Queue</name>
        <label>Get SEO Queue</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SEO_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Advanced_Edits_and_Site_Status</name>
        <label>Add Advanced Edits and Site Status - Queue</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Advanced_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Agent_Subdomain_Queue</name>
        <label>Assign Agent Subdomain Queue</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Agent_Subdomain_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Brokerage_Change_Queue</name>
        <label>Assign Brokerage Change Queue</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Brokerage_Change_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Enterprise</name>
        <label>Assign Enterprise</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Enterprise_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEO_Queue</name>
        <label>Assign SEO Queue</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Do_not_send_survey</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SEO_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Spam_Contact</name>
        <label>Assign to Spam Contact</label>
        <locationX>1370</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>003Rg0000083YVBIA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Do_not_send_survey</name>
        <label>Do not send survey</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Submitted_By_Added</targetReference>
        </connector>
        <inputAssignments>
            <field>Do_Not_Send_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Closed</name>
        <label>Status - Closed</label>
        <locationX>842</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Submitted_By_Pass</name>
        <label>Submitted By Pass</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Submitted_By_Helper</targetReference>
        </connector>
        <inputAssignments>
            <field>Submitted_By_Helper__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_email_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyDeployed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Submitted_By__r.FirstName},
Your request {!$Record.Subject} has been completed and deployed to our production environment. Please review at your earliest convenience, and flag any issues or corrections needed in the next 5 business days. If no items are flagged, we&#39;ll mark the Case as Closed on our end.
Thank you for your patience and collaboration!

Any additional notes will be indicated below.
{!$Record.Notes_for_Submitter__c}

Kind regards,</text>
    </textTemplates>
</Flow>
