unpackaged/main/default/flows/LP_Copy_Plan_products_to_Opp_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Entry_to_Collection</name>
        <label>Add Entry to Collection</label>
        <locationX>138</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Launch_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_0</name>
        <label>Add Entry to Collection</label>
        <locationX>490</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Brand</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Brand_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_0_0</name>
        <label>Add Entry to Collection</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Growth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Growth_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_0_0_0</name>
        <label>Add Entry to Collection</label>
        <locationX>1194</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Premium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Premium_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_0_0_0_0</name>
        <label>Add Entry to Collection</label>
        <locationX>1546</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Elite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Elite_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_Brand_Custom</name>
        <label>Add Entry to Collection</label>
        <locationX>4010</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Brand_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_brandplus</name>
        <label>Add Entry to Collection</label>
        <locationX>2250</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Brand_plus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Brand_Pricebook_Entries_plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_Enterpise</name>
        <label>Add Entry to Collection</label>
        <locationX>3306</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Enterprise</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enterprise_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_Enterprise_Custom</name>
        <label>Add Entry to Collection</label>
        <locationX>5066</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Enterprise_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enterprise_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_Growth_Custom</name>
        <label>Add Entry to Collection</label>
        <locationX>4362</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Growth_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Growth_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_growthplus</name>
        <label>Add Entry to Collection</label>
        <locationX>2602</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Growth_plus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Growth_Pricebook_Entries_plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_LaunchCustom</name>
        <label>Add Entry to Collection</label>
        <locationX>3658</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Launch_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_launchplus</name>
        <label>Add Entry to Collection</label>
        <locationX>1898</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Launch_plus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Launch_Pricebook_Entries_plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_LeadsProCustom</name>
        <label>Add Entry to Collection</label>
        <locationX>5770</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Leads_Pro_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Leads_Pro_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_LeadsProPro</name>
        <label>Add Entry to Collection</label>
        <locationX>5418</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Leads_Pro_Pro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Leads_Pro_Pro_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_Premium_Custom</name>
        <label>Add Entry to Collection</label>
        <locationX>4714</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Premium_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Premium_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_premiumplus</name>
        <label>Add Entry to Collection</label>
        <locationX>2954</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_Premiumplus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Premium_Pricebook_Entries_plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_SEOProCustom</name>
        <label>Add Entry to Collection</label>
        <locationX>6474</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_SEO_Pro_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SEO_Pro_Custom_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_to_Collection_SEOProPro</name>
        <label>Add Entry to Collection</label>
        <locationX>6122</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>EntriesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_entries_SEO_Pro_Pro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SEO_Pro_Pro_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection</name>
        <label>Add to Opp product Collection</label>
        <locationX>138</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>490</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_Brand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_Growth</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0_0_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>1194</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0_0_0_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>1546</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_Elite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0_0_0_0_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>3218</locationX>
        <locationY>5219</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_0_0_0_0_0_0</name>
        <label>Add to Opp product Collection</label>
        <locationX>3218</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Social_Media_Prior_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_basic</name>
        <label>Add to Opp product Collection</label>
        <locationX>2954</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requiere_SEO_Migration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_Brand_Custom</name>
        <label>Add to Opp product Collection</label>
        <locationX>4010</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_brand_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_dominance</name>
        <label>Add to Opp product Collection</label>
        <locationX>3482</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requiere_SEO_Migration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_enterpise</name>
        <label>Add to Opp product Collection</label>
        <locationX>3306</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_enterprise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_enterprise_custom</name>
        <label>Add to Opp product Collection</label>
        <locationX>5066</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_enterprise_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_Growth_Custom</name>
        <label>Add to Opp product Collection</label>
        <locationX>4362</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_growth_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_launch_custom</name>
        <label>Add to Opp product Collection</label>
        <locationX>3658</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_launch_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_LeadsProCustom</name>
        <label>Add to Opp product Collection</label>
        <locationX>5770</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_Leads_Pro_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_LeadsProPro</name>
        <label>Add to Opp product Collection</label>
        <locationX>5418</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_LeadsProPro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_premium</name>
        <label>Add to Opp product Collection</label>
        <locationX>3218</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requiere_SEO_Migration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_Premium_Custom</name>
        <label>Add to Opp product Collection</label>
        <locationX>4714</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_premium_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_Collection_SEOProCustom</name>
        <label>Add to Opp product Collection</label>
        <locationX>6474</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_SEO_Pro_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opp_product_CollectionSEOProPro</name>
        <label>Add to Opp product Collection</label>
        <locationX>6122</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_SEO_Pro_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Opp_product_Collection</name>
        <label>Add to Opp product Collection</label>
        <locationX>1898</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_launchplus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_sVar</name>
        <label>Create sVar</label>
        <locationX>1898</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_launchplus.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_launchplus.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Opp_product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Partnership_Pricebook_ID</name>
        <label>Partnership - Pricebook ID</label>
        <locationX>2756</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varPricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Price_book_Partnership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Standard_Pricebook_ID</name>
        <label>Standard - Pricebook ID</label>
        <locationX>3020</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varPricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Price_book_Standard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_Opp_product_Collection</name>
        <label>Add to Opp product Collection</label>
        <locationX>2250</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_brandplus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Create_sVar</name>
        <label>Create sVar</label>
        <locationX>2250</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_brandplus.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_brandplus.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_to_Opp_product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Add_to_Opp_product_Collection</name>
        <label>Add to Opp product Collection</label>
        <locationX>2602</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_growthplus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Create_sVar</name>
        <label>Create sVar</label>
        <locationX>2602</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_growthplus.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_growthplus.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Add_to_Opp_product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Add_to_Opp_product_Collection</name>
        <label>Add to Opp product Collection</label>
        <locationX>2954</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>OppProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_entries_premiumplus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Create_sVar</name>
        <label>Create sVar</label>
        <locationX>2954</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_premiumplus.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_premiumplus.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Add_to_Opp_product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Create_sVar</name>
        <label>Create sVar</label>
        <locationX>5066</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_enterprise_custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_enterprise_custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_enterprise_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar</name>
        <label>Create sVar</label>
        <locationX>138</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0</name>
        <label>Create sVar</label>
        <locationX>490</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Brand.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Brand.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0_0</name>
        <label>Create sVar</label>
        <locationX>842</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Growth.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Growth.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0_0_0</name>
        <label>Create sVar</label>
        <locationX>1194</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Premium.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Premium.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0_0_0_0</name>
        <label>Create sVar</label>
        <locationX>1546</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Elite.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Elite.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0_0_0_0_0</name>
        <label>Create sVar</label>
        <locationX>3218</locationX>
        <locationY>5111</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SEO_Migration_entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_0_0_0_0_0_0</name>
        <label>Create sVar</label>
        <locationX>3218</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_generation1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_brand_custom</name>
        <label>Create sVar</label>
        <locationX>4010</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_brand_custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_brand_custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_Brand_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_Enterprise</name>
        <label>Create sVar</label>
        <locationX>3306</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_enterprise.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_enterprise.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_enterpise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_growth_custom</name>
        <label>Create sVar</label>
        <locationX>4362</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_growth_custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_growth_custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_Growth_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_Launch_Custom</name>
        <label>Create sVar</label>
        <locationX>3658</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_launch_custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_launch_custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_launch_custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_LeadsProCustom</name>
        <label>Create sVar</label>
        <locationX>5770</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Leads_Pro_Custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_Leads_Pro_Custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_LeadsProCustom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_LeadsProPro</name>
        <label>Create sVar</label>
        <locationX>5418</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_LeadsProPro.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_LeadsProPro.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_LeadsProPro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_premiun_custom</name>
        <label>Create sVar</label>
        <locationX>4714</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_premium_custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_premium_custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_Premium_Custom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_SEOProPro</name>
        <label>Create sVar</label>
        <locationX>6122</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_SEO_Pro_Pro.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_SEO_Pro_Pro.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_CollectionSEOProPro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_Social_Media_Basic</name>
        <label>Create sVar Social Media Basic</label>
        <locationX>2954</locationX>
        <locationY>4595</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Media_Basic.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_basic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_Social_Media_Dominance</name>
        <label>Create sVar Social Media Dominance</label>
        <locationX>3482</locationX>
        <locationY>4595</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Media_Dominance.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_dominance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVar_Social_Media_Premium</name>
        <label>Create sVar Social Media Premium</label>
        <locationX>3218</locationX>
        <locationY>4595</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Media_Premium1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_sVarSEOProCustom</name>
        <label>Create sVar</label>
        <locationX>6474</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>sVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_SEO_Pro_Custom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_entries_SEO_Pro_Custom.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Opp_product_Collection_SEOProCustom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partnership_Pricebook_ID</name>
        <label>Partnership - Pricebook ID</label>
        <locationX>3284</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varPricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Price_book_Partnership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_Pricebook_ID</name>
        <label>Standard - Pricebook ID</label>
        <locationX>3548</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varPricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Price_book_Standard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tier_plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Partnership</name>
        <label>Account Partnership?</label>
        <locationX>3416</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Std_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Partnership_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Partnership_Organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partnership_Pricebook</targetReference>
            </connector>
            <label>Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Actual_products_null</name>
        <label>Actual products null?</label>
        <locationX>2888</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Account_Partnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Actual_Opp_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_products</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Account_Partnership</name>
        <label>Account Partnership?</label>
        <locationX>2888</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Std_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Partnership_Organization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Partnership_Organization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Partnership_Pricebook</targetReference>
            </connector>
            <label>Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_generation_product_null</name>
        <label>Lead generation product</label>
        <locationX>3658</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Social_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_generation_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_generation_product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_generation_notnull</targetReference>
            </connector>
            <label>Lead generation not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_product</name>
        <label>Marketing product?</label>
        <locationX>3350</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Social_Media_Prior_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_generation</name>
            <conditionLogic>(1 OR 2 )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_generation1</targetReference>
            </connector>
            <label>Lead generation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_product_prior_value</name>
        <label>Marketing product prior value</label>
        <locationX>3350</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Marketing_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_generation_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Marketing_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_Generation</targetReference>
            </connector>
            <label>Lead generation prior</label>
        </rules>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Marketing_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_social_media_product</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Marketing_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_lead_generation1</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_generation_product</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Change</name>
        <label>New/Change</label>
        <locationX>3350</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Tier_plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Change_or_addendum</name>
            <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Actual_Opp_Products</targetReference>
            </connector>
            <label>Change or addendum</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Account_Partnership</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requiere_SEO_Migration</name>
        <label>Requiere SEO Migration?</label>
        <locationX>3350</locationX>
        <locationY>4895</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requires_SEO_Migration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Migration_entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_Media_Prior_Value</name>
        <label>Social Media Prior Value</label>
        <locationX>3350</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Social_Media_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Basic_Product</targetReference>
            </connector>
            <label>Basic prior</label>
        </rules>
        <rules>
            <name>Premium_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Premium_Product</targetReference>
            </connector>
            <label>Premium prior</label>
        </rules>
        <rules>
            <name>Dominance_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Dominance_Product</targetReference>
            </connector>
            <label>Dominance prior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_Media_Product</name>
        <label>Social Media Product</label>
        <locationX>3350</locationX>
        <locationY>4379</locationY>
        <defaultConnector>
            <targetReference>Requiere_SEO_Migration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Basic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Social_Media_Basic</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Basic</label>
        </rules>
        <rules>
            <name>Social_Media_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Social_Media_Premium1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Premium</label>
        </rules>
        <rules>
            <name>Dominance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Social_Media__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Social_Media_Dominance</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dominance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_media_product_not_null</name>
        <label>Social media product not null</label>
        <locationX>3658</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Marketing_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_social_media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Social_product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_social_media_not_null</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_plan</name>
        <label>Tier plan</label>
        <locationX>3350</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Launch</label>
        </rules>
        <rules>
            <name>Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Brand</label>
        </rules>
        <rules>
            <name>Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Growth_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Growth</label>
        </rules>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Premium</label>
        </rules>
        <rules>
            <name>Elite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elite_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Elite</label>
        </rules>
        <rules>
            <name>Launch_plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Products_plus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Launch+ Pro</label>
        </rules>
        <rules>
            <name>Brand_plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Products_plus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Brand+ Pro</label>
        </rules>
        <rules>
            <name>Growth_plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Growth_Products_plus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Growth+ Pro</label>
        </rules>
        <rules>
            <name>Premium_plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Products_plus</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Premium+ Pro</label>
        </rules>
        <rules>
            <name>Enterprise_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Enterprise Pro</label>
        </rules>
        <rules>
            <name>Launch_Custom</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BeSpoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Custom_Products</targetReference>
            </connector>
            <label>Launch + Custom</label>
        </rules>
        <rules>
            <name>Brand_Custom</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BeSpoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Custom_Products</targetReference>
            </connector>
            <label>Brand + Custom</label>
        </rules>
        <rules>
            <name>Growth_Custom</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BeSpoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Growth_Custom_Products</targetReference>
            </connector>
            <label>Growth + Custom</label>
        </rules>
        <rules>
            <name>Premium_Custom</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BeSpoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Custom_Products</targetReference>
            </connector>
            <label>Premium + Custom</label>
        </rules>
        <rules>
            <name>Enterprise_Custom</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BeSpoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enterprise_Custom_Products</targetReference>
            </connector>
            <label>Enterprise Custom</label>
        </rules>
        <rules>
            <name>Leads_Pro_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leads_Pro_Pro_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Leads Pro - Pro</label>
        </rules>
        <rules>
            <name>Leads_Pro_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leads_Pro_Custom_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Leads Pro - Custom</label>
        </rules>
        <rules>
            <name>SEO_Pro_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Pro_Pro_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SEO Pro - Pro</label>
        </rules>
        <rules>
            <name>SEO_Pro_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Pro_Custom_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SEO Pro - Custom</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - Copy Plan products to Opp Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Copy Plan products to Opp Products</label>
    <loops>
        <name>Brand_Custom_Pricebook_Entries</name>
        <label>Brand Custom Pricebook Entries</label>
        <locationX>3922</locationX>
        <locationY>1655</locationY>
        <collectionReference>Brand_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Brand_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_brand_custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Enterprise_Custom_Pricebook_Entries</name>
        <label>Enterprise Custom Pricebook Entries</label>
        <locationX>4978</locationX>
        <locationY>1655</locationY>
        <collectionReference>Enterprise_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Enterprise_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_enterprise_custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Enterprise_Pricebook_Entries</name>
        <label>Enterprise Pricebook Entries</label>
        <locationX>3218</locationX>
        <locationY>1655</locationY>
        <collectionReference>Enterprise_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Enterprise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_enterprise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Brand_Pricebook_Entries</name>
        <label>Get Brand Pricebook Entries</label>
        <locationX>402</locationX>
        <locationY>1655</locationY>
        <collectionReference>Brand_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Brand</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_Brand</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Brand_Pricebook_Entries_plus</name>
        <label>Get Brand+ Pricebook Entries</label>
        <locationX>2162</locationX>
        <locationY>1655</locationY>
        <collectionReference>Brand_Products_plus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Brand_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_brandplus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Elite_Pricebook_Entries</name>
        <label>Get Elite Pricebook Entries</label>
        <locationX>1458</locationX>
        <locationY>1655</locationY>
        <collectionReference>Elite_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Elite</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_Elite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Growth_Pricebook_Entries</name>
        <label>Get Growth Pricebook Entries</label>
        <locationX>754</locationX>
        <locationY>1655</locationY>
        <collectionReference>Growth_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Growth</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_Growth</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Growth_Pricebook_Entries_plus</name>
        <label>Get Growth+ Pricebook Entries</label>
        <locationX>2514</locationX>
        <locationY>1655</locationY>
        <collectionReference>Growth_Products_plus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Growth_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_growthplus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Launch_Pricebook_Entries</name>
        <label>Get Launch Pricebook Entries</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <collectionReference>Launch_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Launch_Pricebook_Entries_plus</name>
        <label>Get Launch+ Pricebook Entries</label>
        <locationX>1810</locationX>
        <locationY>1655</locationY>
        <collectionReference>Launch_Products_plus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Launch_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_launchplus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Premium_Pricebook_Entries</name>
        <label>Get Premium Pricebook Entries</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <collectionReference>Premium_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Premium</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_Premium</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Premium_Pricebook_Entries_plus</name>
        <label>Get Premium+ Pricebook Entries</label>
        <locationX>2866</locationX>
        <locationY>1655</locationY>
        <collectionReference>Premium_Products_plus</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Premiumplus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_premiumplus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Growth_Custom_Pricebook_Entries</name>
        <label>Growth Custom Pricebook Entries</label>
        <locationX>4274</locationX>
        <locationY>1655</locationY>
        <collectionReference>Growth_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Growth_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_growth_custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Launch_Custom_Pricebook_Entries</name>
        <label>Launch Custom Pricebook Entries</label>
        <locationX>3570</locationX>
        <locationY>1655</locationY>
        <collectionReference>Launch_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Launch_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_launch_custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Leads_Pro_Custom_Pricebook_Entries</name>
        <label>Leads Pro Custom Pricebook Entries</label>
        <locationX>5682</locationX>
        <locationY>1655</locationY>
        <collectionReference>Leads_Pro_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Leads_Pro_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_Leads_Pro_Custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Leads_Pro_Pro_Pricebook_Entries</name>
        <label>Leads Pro Pro Pricebook Entries</label>
        <locationX>5330</locationX>
        <locationY>1655</locationY>
        <collectionReference>Leads_Pro_Pro_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Leads_Pro_Pro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_LeadsProPro</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries</name>
        <label>Loop entries</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_Brand</name>
        <label>Loop entries</label>
        <locationX>402</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_brand_custom</name>
        <label>Loop entries</label>
        <locationX>3922</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_brand_custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_brandplus</name>
        <label>Loop entries</label>
        <locationX>2162</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_Elite</name>
        <label>Loop entries</label>
        <locationX>1458</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_enterprise</name>
        <label>Loop entries</label>
        <locationX>3218</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_Enterprise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_enterprise_custom</name>
        <label>Loop entries</label>
        <locationX>4978</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_5_of_Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_Growth</name>
        <label>Loop entries</label>
        <locationX>754</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_growth_custom</name>
        <label>Loop entries</label>
        <locationX>4274</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_growth_custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_growthplus</name>
        <label>Loop entries</label>
        <locationX>2514</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_3_of_Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_launch_custom</name>
        <label>Loop entries</label>
        <locationX>3570</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_Launch_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_launchplus</name>
        <label>Loop entries</label>
        <locationX>1810</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_Leads_Pro_Custom</name>
        <label>Loop entries Leads Pro Custom</label>
        <locationX>5682</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_LeadsProCustom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_LeadsProPro</name>
        <label>Loop entries Leads Pro Pro</label>
        <locationX>5330</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_LeadsProPro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_Premium</name>
        <label>Loop entries</label>
        <locationX>1106</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_premium_custom</name>
        <label>Loop entries</label>
        <locationX>4626</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_premiun_custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_premiumplus</name>
        <label>Loop entries</label>
        <locationX>2866</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_4_of_Create_sVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_SEO_Pro_Custom</name>
        <label>Loop entries SEO Pro Custom</label>
        <locationX>6386</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVarSEOProCustom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_entries_SEO_Pro_Pro</name>
        <label>Loop entries SEO Pro Pro</label>
        <locationX>6034</locationX>
        <locationY>2063</locationY>
        <collectionReference>EntriesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_sVar_SEOProPro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Marketing_product_prior_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Premium_Custom_Pricebook_Entries</name>
        <label>Premium Custom Pricebook Entries</label>
        <locationX>4626</locationX>
        <locationY>1655</locationY>
        <collectionReference>Premium_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_Premium_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_premium_custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SEO_Pro_Custom_Pricebook_Entries</name>
        <label>SEO Pro Custom Pricebook Entries</label>
        <locationX>6386</locationX>
        <locationY>1655</locationY>
        <collectionReference>SEO_Pro_Custom_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_SEO_Pro_Custom</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_SEO_Pro_Custom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SEO_Pro_Pro_Pricebook_Entries</name>
        <label>SEO Pro Pro Pricebook Entries</label>
        <locationX>6034</locationX>
        <locationY>1655</locationY>
        <collectionReference>SEO_Pro_Pro_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_entries_SEO_Pro_Pro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_entries_SEO_Pro_Pro</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Products</name>
        <label>Create Opp Products</label>
        <locationX>3350</locationX>
        <locationY>5411</locationY>
        <inputReference>OppProductCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Basic_Product</name>
        <label>Delete Basic Product</label>
        <locationX>2954</locationX>
        <locationY>4187</locationY>
        <connector>
            <targetReference>Social_Media_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Dominance_Product</name>
        <label>Delete Dominance Product</label>
        <locationX>3482</locationX>
        <locationY>4187</locationY>
        <connector>
            <targetReference>Social_Media_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Social Media Dominance</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Lead_Generation</name>
        <label>Delete Lead Generation</label>
        <locationX>2734</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Marketing_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Generation</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_lead_generation1</name>
        <label>Delete lead generation</label>
        <locationX>3262</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Delete_social_media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Generation</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Lead_generation_notnull</name>
        <label>Delete Lead generation</label>
        <locationX>3526</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Social_product</targetReference>
        </connector>
        <inputReference>Lead_generation_product</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Premium_Product</name>
        <label>Delete Premium Product</label>
        <locationX>3218</locationX>
        <locationY>4187</locationY>
        <connector>
            <targetReference>Social_Media_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Social Media Premium</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_products</name>
        <label>Delete products</label>
        <locationX>2756</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Remove_product_checkboxes</targetReference>
        </connector>
        <inputReference>Get_Actual_Opp_Products</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_social_media</name>
        <label>Delete social media</label>
        <locationX>3262</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>Marketing_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Social Media</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_social_media_not_null</name>
        <label>Delete social media not null</label>
        <locationX>3526</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>Marketing_product</targetReference>
        </connector>
        <inputReference>Social_product</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_social_media_product</name>
        <label>Delete social media product</label>
        <locationX>2998</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Marketing_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Social Media</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Brand_Custom_Products</name>
        <label>Brand Custom Products</label>
        <locationX>3922</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Brand_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Brand_Products</name>
        <label>Brand Products</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Brand_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Brand_Products_plus</name>
        <label>Brand+ Products</label>
        <locationX>2162</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Brand_Pricebook_Entries_plus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Elite_Products</name>
        <label>Elite Products</label>
        <locationX>1458</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Elite_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Elite__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Enterprise_Custom_Products</name>
        <label>Enterprise Custom Products</label>
        <locationX>4978</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enterprise_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enterprise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Enterprise_Products</name>
        <label>Enterprise Products</label>
        <locationX>3218</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enterprise_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enterprise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Actual_Opp_Products</name>
        <label>Get Actual Opp Products</label>
        <locationX>2888</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actual_products_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Social Media Basic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Social Media Premium</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Social Media Dominance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lead Generation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries</name>
        <label>Get entries</label>
        <locationX>138</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Launch_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Brand</name>
        <label>Get entries Brand</label>
        <locationX>490</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Brand_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Brand_Custom</name>
        <label>Get entries Brand Custom</label>
        <locationX>4010</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_Brand_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Brand_plus</name>
        <label>Get entries Brand+</label>
        <locationX>2250</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_brandplus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Brand_Pricebook_Entries_plus.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Elite</name>
        <label>Get entries Elite</label>
        <locationX>1546</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Elite_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Enterprise</name>
        <label>Get entries Enterprise</label>
        <locationX>3306</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_Enterpise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enterprise_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Enterprise_Custom</name>
        <label>Get entries Enterprise Custom</label>
        <locationX>5066</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_Enterprise_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enterprise_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Growth</name>
        <label>Get entries Growth</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Growth_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Growth_Custom</name>
        <label>Get entries Growth Custom</label>
        <locationX>4362</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_Growth_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Growth_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Growth_plus</name>
        <label>Get entries Growth+</label>
        <locationX>2602</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_growthplus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Growth_Pricebook_Entries_plus.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Launch_Custom</name>
        <label>Get entries Launch Custom</label>
        <locationX>3658</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_LaunchCustom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Launch_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Launch_plus</name>
        <label>Get entries Launch+</label>
        <locationX>1898</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_launchplus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Launch_Pricebook_Entries_plus.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Leads_Pro_Custom</name>
        <label>Get entries Leads Pro Custom</label>
        <locationX>5770</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_LeadsProCustom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Leads_Pro_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Leads_Pro_Pro</name>
        <label>Get entries Leads Pro Pro</label>
        <locationX>5418</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_LeadsProPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Leads_Pro_Pro_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Premium</name>
        <label>Get entries Premium</label>
        <locationX>1194</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Premium_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Premium_Custom</name>
        <label>Get entries Premium Custom</label>
        <locationX>4714</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_Premium_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Premium_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_Premiumplus</name>
        <label>Get entries Premium+</label>
        <locationX>2954</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_premiumplus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Premium_Pricebook_Entries_plus.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_SEO_Pro_Custom</name>
        <label>Get entries SEO Pro Custom</label>
        <locationX>6474</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_SEOProCustom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_Pro_Custom_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_entries_SEO_Pro_Pro</name>
        <label>Get entries SEO Pro Pro</label>
        <locationX>6122</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Entry_to_Collection_SEOProPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_Pro_Pro_Pricebook_Entries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Growth_Custom_Products</name>
        <label>Growth Custom Products</label>
        <locationX>4274</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Growth_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Growth_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Growth_Products</name>
        <label>Growth Products</label>
        <locationX>754</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Growth__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Growth_Products_plus</name>
        <label>Growth+ Products</label>
        <locationX>2514</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Growth_Pricebook_Entries_plus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Growth_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Launch_Custom_Products</name>
        <label>Launch Custom Products</label>
        <locationX>3570</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launch_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Launch_Products</name>
        <label>Launch Products</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Launch_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launch__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Launch_Products_plus</name>
        <label>Launch+ Products</label>
        <locationX>1810</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Launch_Pricebook_Entries_plus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launch_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_generation1</name>
        <label>Lead generation</label>
        <locationX>3218</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_sVar_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwfYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_generation_product</name>
        <label>Lead generation product</label>
        <locationX>3658</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_generation_product_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Lead Generation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Leads_Pro_Custom_Products</name>
        <label>Leads Pro Custom Products</label>
        <locationX>5682</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leads_Pro_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leads_Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Leads_Pro_Pro_Products</name>
        <label>Leads Pro Pro Products</label>
        <locationX>5330</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leads_Pro_Pro_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leads_Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_Custom_Products</name>
        <label>Premium Custom Products</label>
        <locationX>4626</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Premium_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Premium_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_Products</name>
        <label>Premium Products</label>
        <locationX>1106</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Premium_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Premium__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_Products_plus</name>
        <label>Premium+ Products</label>
        <locationX>2866</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Premium_Pricebook_Entries_plus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Premium_plus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Migration_entry</name>
        <label>SEO Migration entry</label>
        <locationX>3218</locationX>
        <locationY>5003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_sVar_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwpYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Pro_Custom_Products</name>
        <label>SEO Pro Custom Products</label>
        <locationX>6386</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEO_Pro_Custom_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEO_Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Pro_Pro_Products</name>
        <label>SEO Pro Pro Products</label>
        <locationX>6034</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEO_Pro_Pro_Pricebook_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEO_Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Social_Media_Basic</name>
        <label>Social Media Basic</label>
        <locationX>2954</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_sVar_Social_Media_Basic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media Basic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Social_Media_Dominance</name>
        <label>Social Media Dominance</label>
        <locationX>3482</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_sVar_Social_Media_Dominance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media Dominance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Social_Media_Premium1</name>
        <label>Social Media Premium</label>
        <locationX>3218</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_sVar_Social_Media_Premium</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media Premium</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Social_product</name>
        <label>Social product</label>
        <locationX>3658</locationX>
        <locationY>3071</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Social_media_product_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Social Media</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Partnership_Pricebook</name>
        <label>Partnership Pricebook</label>
        <locationX>2756</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Partnership_Pricebook_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.ID_Price_book_Partnership</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Std_Pricebook</name>
        <label>Std Pricebook</label>
        <locationX>3020</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_1_of_Standard_Pricebook_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.ID_Price_book_Standard</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partnership_Pricebook</name>
        <label>Partnership Pricebook</label>
        <locationX>3284</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Partnership_Pricebook_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.ID_Price_book_Partnership</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the product fields that helps to identify products added to the opportunity to false</description>
        <name>Remove_product_checkboxes</name>
        <label>Remove product checkboxes</label>
        <locationX>2756</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Account_Partnership</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent_Subdomains_Product__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_Identity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDX_Tool__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_AI_Lead_Nurturing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Std_Pricebook</name>
        <label>Std Pricebook</label>
        <locationX>3548</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Standard_Pricebook_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.ID_Price_book_Standard</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3224</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Change</targetReference>
        </connector>
        <filterFormula>OR(
ISCHANGED({!$Record.Tier_Plan__c}), 
AND( ISNEW(), {!$Record.Lead_Converted__c} = FALSE),
AND(ISPICKVAL({!$Record__Prior.Tier_Plan__c},&quot;&quot;), NOT(ISPICKVAL({!$Record.Tier_Plan__c},&quot;&quot;))),
ISCHANGED({!$Record.Marketing_Product__c}),
ISCHANGED({!$Record.Social_Media__c}),
ISCHANGED({!$Record.Website_Design__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>EntriesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>OppProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varPricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
