unpackaged/main/default/flows/LP_Custom_Website_Service_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Feedback_Round_Email</name>
        <label>Feedback Round - Email</label>
        <locationX>930</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyFeedbackEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Service in Feedback round status</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Ready_to_Launch_Email</name>
        <label>Ready to Launch - Email</label>
        <locationX>1194</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Analytics_Queue_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyReadyToLaunch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Service ready to launch</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Revision_Round_Email</name>
        <label>Revision Round - Email</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyRevisionEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Service in Revision Round status</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WD_Review_Email_to_OM</name>
        <label>WD Review Email to OM</label>
        <locationX>402</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Add_Domain_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Name} (Website Draft) is Ready for Review!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyWDReview</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_owner_and_csm_email_to_collection</name>
        <label>Add owner and csm email to collection</label>
        <locationX>1194</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ready_to_Launch_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Service_to_collection</name>
        <label>Add Service to collection</label>
        <locationX>490</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>collectionService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDX_Tools_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunities_with_IDX_Products</name>
        <label>Assign Opportunities with IDX Products</label>
        <locationX>490</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>oppsWithIDXProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Service_Opportunities_to_collection.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_Opportunities_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunities_with_missing_IDX_Services</name>
        <label>Assign Opportunities with missing IDX Services</label>
        <locationX>490</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>oppsWithMissingIDXServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Opportunities_with_missing_IDX_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunities_with_missing_IDX_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varService</name>
        <label>varService</label>
        <locationX>490</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>recordService.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDX_Tools_Loop.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IDX Tool</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.MLS_Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDX_Tools_Loop.MLS_Board__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Paperwork Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Client_notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Client_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Staging_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Staging_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordService.Website_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Domain__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1282</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staging Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Due_Date_5_days</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Website Draft</label>
        </rules>
        <rules>
            <name>WD_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WD Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WD_Review_Email_to_OM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WD Review</label>
        </rules>
        <rules>
            <name>Revision_Round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revision_Round_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Revision Round</label>
        </rules>
        <rules>
            <name>Feedback_round</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Round_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Feedback round</label>
        </rules>
        <rules>
            <name>Ready_to_Launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Launch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_owner_and_csm_email_to_collection</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready to Launch</label>
        </rules>
        <rules>
            <name>Website_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citations_Reputation_Management_Service</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Website Launched</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Website_Implementation_Status_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Strategy_Deck_Task_Completed</name>
        <label>Strategy Deck Task Completed?</label>
        <locationX>1788</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Website_Launch_Date_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Strategy_Deck_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Strategy_Deck_Task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Strategy_Deck_and_Schedule_Review_Call_Task</targetReference>
            </connector>
            <label>Strategy Deck Completed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Plan</name>
        <label>Tier Plan?</label>
        <locationX>1788</locationX>
        <locationY>1740</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NCS_User</targetReference>
            </connector>
            <label>Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP</name>
        <label>VIP?</label>
        <locationX>1590</locationX>
        <locationY>2064</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Indexed_Task</targetReference>
            </connector>
            <label>VIP - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Launch_Date_Null</name>
        <label>Website Launch Date - Null</label>
        <locationX>1788</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_Website_Launch1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Launch_Date_Today</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for1BDay</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>for1Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <formulas>
        <name>for2BDays</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  4, {!$Flow.CurrentDate} + 4,
  5, {!$Flow.CurrentDate} + 4,
  {!$Flow.CurrentDate} + 2
)</expression>
    </formulas>
    <formulas>
        <name>for3BDays</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  4, {!$Flow.CurrentDate} + 5,
  5, {!$Flow.CurrentDate} + 5,
  {!$Flow.CurrentDate} + 3
)</expression>
    </formulas>
    <formulas>
        <name>for5BDays</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
1, {!$Flow.CurrentDate} + 7,
2, {!$Flow.CurrentDate} + 7,
3, {!$Flow.CurrentDate} + 7,
4, {!$Flow.CurrentDate} + 7,
5, {!$Flow.CurrentDate} + 7,
  {!$Flow.CurrentDate} + 5
)</expression>
    </formulas>
    <formulas>
        <name>forNewClientTask</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.Account__r.VIP__c} = true, &quot; VIP New Client Set Up&quot;, 
&quot;New Client Set Up&quot;
)</expression>
    </formulas>
    <formulas>
        <name>forServiceName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Opportunity__r.VIP__c}=true, &quot;VIP &quot; + {!$Record.Account__r.Name} + &quot; - IDX Tool&quot;, 
IF({!$Record.Opportunity__r.Semi_Custom_Pod__c}=true, &quot;SCP &quot; + {!$Record.Account__r.Name} + &quot; - IDX Tool&quot;, {!$Record.Account__r.Name} + &quot; - IDX Tool&quot;))</expression>
    </formulas>
    <interviewLabel>LP - Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Custom Website Service Updated</label>
    <loops>
        <name>Add_Opportunities_with_missing_IDX_Service</name>
        <label>Add Opportunities with missing IDX Service</label>
        <locationX>402</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Opportunities_without_IDX_Service</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunities_with_missing_IDX_Services</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_MLS_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Adding the Opportunities linked to the IDX Services to a collection</description>
        <name>Add_Service_Opportunities_to_collection</name>
        <label>Add Service Opportunities to collection</label>
        <locationX>402</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_IDX_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunities_with_IDX_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities_without_IDX_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IDX_Tools_Loop</name>
        <label>IDX Tools Loop</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <collectionReference>Get_MLS_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>varService</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_IDX_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Client_Research_Added_to_BD_Task</name>
        <label>Client Research Added to BD - Task</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>WD_Build_Website_Builder_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Data_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client Research Added to BD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Add_Domain_Task</name>
        <label>Create Add Domain Task</label>
        <locationX>402</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_IDX_Services</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for3BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Required: Please add or confirm the website domain on the onboarding service - {!$Record.Name} - to expedite IDX approval and/or SEO Migration Audit.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IDX_Services</name>
        <label>Create IDX Services</label>
        <locationX>402</locationX>
        <locationY>1932</locationY>
        <inputReference>collectionService</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Final_QA_Task</name>
        <label>Final QA - Task</label>
        <locationX>1194</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Property_Crawl_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Final_QA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKVAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final QA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GA4_ID_GTM_GSC_Implementation_Task</name>
        <label>GA4 ID - GTM - GSC Implementation - Task</label>
        <locationX>1194</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Analytics_Queue_Last_Task_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Analytics_Queue_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_Analytics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GA4 ID - GTM - GSC Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Client_Set_Up_Task</name>
        <label>New Client Set Up - Task</label>
        <locationX>1590</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>VIP</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for1BDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NCS_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forNewClientTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Property_Crawl_Task</name>
        <label>Property Crawl - Task</label>
        <locationX>1194</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>SEO_FQA_User</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for1BDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgUfYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Property Crawl</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Strategy_Deck_and_Schedule_Review_Call_Task</name>
        <label>Send Strategy Deck and Schedule Review Call - Task</label>
        <locationX>1656</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Website_Launch_Date_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Strategy Deck and Schedule Review Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SEO_Post_Launch_QA_Task</name>
        <label>SEO Post Launch QA - Task</label>
        <locationX>2778</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Copy_1_of_SEO_FQA_Last_Task_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_SEO_FQA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SEO Post Launch QA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SEO_Pre_Launch_QA_Task</name>
        <label>SEO Pre Launch QA - Task</label>
        <locationX>1194</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>SEO_FQA_Last_Task_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SEO_FQA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SEO Pre Launch QA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Site_Indexed_Task</name>
        <label>Site Indexed - Task</label>
        <locationX>1458</locationX>
        <locationY>2172</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for1Month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Site Indexed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Header_Image_Curation</name>
        <label>Task - Header Image Curation</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Header_Image_Curator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Header Image Curation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>WD_Build_Data_Specialist_Task</name>
        <label>WD Build | Data Specialist - Task</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Account_Website_Implementation_Status_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Data_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WD Build | Data Specialist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>WD_Build_Website_Builder_Task</name>
        <label>WD Build | Website Builder - Task</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>WD_Build_Data_Specialist_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Website_Builder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>WD Build | Website Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Analytics_Queue_User</name>
        <label>Analytics Queue User</label>
        <locationX>1194</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GA4_ID_GTM_GSC_Implementation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Analytics_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_SEO_FQA_User</name>
        <label>SEO FQA - User</label>
        <locationX>2778</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEO_Post_Launch_QA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SEO_FQA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Final_QA_User</name>
        <label>Final QA User</label>
        <locationX>1194</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_QA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_QA_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all the IDX Services linked to the same Subscription</description>
        <name>Get_IDX_Services</name>
        <label>Get IDX Services</label>
        <locationX>402</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Service_Opportunities_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MLS_Records</name>
        <label>Get MLS Records</label>
        <locationX>402</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDX_Tools_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>oppsWithMissingIDXServices</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_MLS_Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_without_IDX_Service</name>
        <label>Get Opportunities without IDX Service</label>
        <locationX>402</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Opportunities_with_missing_IDX_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>oppsWithIDXProducts</elementReference>
            </value>
        </filters>
        <filters>
            <field>Number_of_IDX_Product_Lines__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>NCS_User</name>
        <label>NCS - User</label>
        <locationX>1590</locationX>
        <locationY>1848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Client_Set_Up_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NCS_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_FQA_User</name>
        <label>SEO FQA - User</label>
        <locationX>1194</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SEO_Pre_Launch_QA_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SEO_FQA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Website_Implementation_Status</name>
        <label>Account - Website Implementation Status</label>
        <locationX>1788</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Strategy_Deck_Task_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Launched</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Website_Implementation_Status_Cancelled</name>
        <label>Account - Website Implementation Status - Cancelled</label>
        <locationX>2250</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Website_Implementation_Status_Created</name>
        <label>Account - Website Implementation Status - Created</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Task_Header_Image_Curation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_implementation_status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Analytics_Queue_Last_Task_Assigned</name>
        <label>Analytics Queue - Last Task Assigned</label>
        <locationX>1194</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Final_QA_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Analytics_Queue_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <description>Move status to &quot;Active&quot;</description>
        <name>Automated_Blogs_Service</name>
        <label>Automated Blogs - Service</label>
        <locationX>1788</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_AILeadNurtureService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Automated_Blogs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Monthly Blogs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Move status to &quot;Set Up&quot;</description>
        <name>Citations_Reputation_Management_Service</name>
        <label>Citations + Reputation Management - Service</label>
        <locationX>1788</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Link_Building_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Citations + Reputation Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Set Up</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Update_Website_Launch</name>
        <label>Contact - Update Website Launch</label>
        <locationX>1656</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Tier_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Update_Website_Launch1</name>
        <label>Contact - Update Website Launch</label>
        <locationX>1920</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Tier_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Record.Website_Launch_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_SEO_FQA_Last_Task_Assigned</name>
        <label>SEO FQA - Last Task Assigned</label>
        <locationX>2778</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_SEO_FQA_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Due_Date_5_days</name>
        <label>Due Date - 5 days</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Client_Research_Added_to_BD_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>for5BDays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Move status to &quot;Set Up&quot;</description>
        <name>Link_Building_Service</name>
        <label>Link Building - Service</label>
        <locationX>1788</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Automated_Blogs_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_SEO_General</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Link Building</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Set Up</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SEO_FQA_Last_Task_Assigned</name>
        <label>SEO FQA - Last Task Assigned</label>
        <locationX>1194</locationX>
        <locationY>1464</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_FQA_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <description>Move status to &quot;New&quot; the related AILN Service</description>
        <name>Update_AILeadNurtureService</name>
        <label>Update AI Lead Nurture Service</label>
        <locationX>1788</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_White_Label_App_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_AI_Lead_Nurture</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AI Lead Nurture</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Move status to &quot;New&quot; on the related White Label App Service</description>
        <name>Update_White_Label_App_Service</name>
        <label>Update White Label App Service</label>
        <locationX>1788</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Account_Website_Implementation_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_White_Label_App</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Copilot (White-Label) Agent Seat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_Launch_Date_Today</name>
        <label>Website Launch Date - Today</label>
        <locationX>1656</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Contact_Update_Website_Launch</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Launch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom Website</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X10_After_Website_Launched</name>
            <connector>
                <targetReference>Copy_1_of_SEO_FQA_User</targetReference>
            </connector>
            <label>10 After Website Launched</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Website_Launch_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyFeedbackEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Revisions have been completed for {!$Record.Name}: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyReadyToLaunch</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Website is being prepared to launch for {!$Record.Name} : https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyRevisionEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Stage has been moved and team is working on it/ reviewing for {!$Record.Name}: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWDReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi, {!$Record.Owner:User.FirstName}!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Website Draft from your Client, {!$Record.Name}, is now ready for review! Please check the Service in Salesforce.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyWebsiteLaunchedEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The service was launched for {!$Record.Name} : https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <variables>
        <name>collectionService</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>oppsWithIDXProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppsWithMissingIDXServices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
