unpackaged/main/default/flows/LP_Contract_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Lead_Gen_Notification</name>
        <label>Lead Gen Notification</label>
        <locationX>666</locationX>
        <locationY>2987</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Account.Name} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The client has paid and their account is in good standing. Please resume their ad campaign(s). Once the campaign is resumed, ensure you mark the task as complete and update the Service status to “Live”. If you have any questions, reach out to the Billing Team in the billing-inquiries channel.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Notification_to_CSM</name>
        <label>Notification to CSM</label>
        <locationX>666</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Task_Client_Payment_Confirmed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Account.Name} Not In Collections</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Account.Name} s now in good standing. Please resume their services as usual. If you have any questions, contact the Billing Team in the billing-inquiries channel.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Lead_Gen_Notification</name>
        <label>Lead Gen Notification</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>In_Collections_Pause_Clients_Ad_Campaign_s</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Account.Name} Past Due on Payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The client is currently past due on payment. Please PAUSE their ad campaign(s). Once paused, ensure you mark the task as complete and move the Lead Gen Ads service status to &quot;Paused&quot;. If you have any questions, reach out to the Billing Team in the billing-inquiries channel.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_CSM</name>
        <label>Notification to CSM</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Clear_varUsers_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Account.Name} In Collections</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>txtNotificationInCollections</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_CSM_to_collection</name>
        <label>Add CSM to collection</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Paid_Media_users</name>
        <label>Add Paid Media users</label>
        <locationX>138</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_paid_media.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaidMediaOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_paid_media.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_paid_media</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_varUsers_variable</name>
        <label>Clear varUsers variable</label>
        <locationX>50</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_ACTION_REQUIRED_Account_is_past_due</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_CSM_to_collection</name>
        <label>Add CSM to collection</label>
        <locationX>666</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Notification_to_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Paid_Media_users</name>
        <label>Add Paid Media users</label>
        <locationX>754</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Each_paid_media.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaidMediaOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Each_paid_media.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Payment_Confirmed_Resume_Clients_Ad_Campaign_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_with_CSM</name>
        <label>Account with CSM?</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Paid_Media_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Manager__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CSM_to_collection</targetReference>
            </connector>
            <label>Not Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Paid_Media_Service</name>
        <label>Paid Media Service?</label>
        <locationX>798</locationX>
        <locationY>2363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Paid_Media_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Paid_Media_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Paid_Media_Service</targetReference>
            </connector>
            <label>Paid Media - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Account_with_CSM</name>
        <label>Account with CSM?</label>
        <locationX>798</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Paid_Media_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Not_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_CSM_to_collection</targetReference>
            </connector>
            <label>Not Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Collections</name>
        <label>In Collections?</label>
        <locationX>688</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Collections_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Collections_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Collections - True</label>
        </rules>
        <rules>
            <name>In_Collections_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.In_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retention_Case_Close</targetReference>
            </connector>
            <label>In Collections - False</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Collections1</name>
        <label>In Collections?</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Number_of_Copilot_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_collections_true1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cancellation_Opportunity</targetReference>
            </connector>
            <label>In collections true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Automated_Blogs_Changed</name>
        <label>Number of Automated Blogs Changed?</label>
        <locationX>688</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>In_Collections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automated_Blogs_modified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Count_of_Monthly_Blogs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Automated_Blog_Service</targetReference>
            </connector>
            <label>Automated Blogs modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Copilot_Changed</name>
        <label>Number of Copilot Changed?</label>
        <locationX>688</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Number_of_Automated_Blogs_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copilot_modified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Count_of_Copilot_Agent_Seats__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Copilot_Service</targetReference>
            </connector>
            <label>Copilot modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Paid_Media_Service</name>
        <label>Paid Media Service?</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Media_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Paid_Media_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Media_Service</targetReference>
            </connector>
            <label>Paid Media - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>688</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Number_of_Copilot_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancellation_Date</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forDueDate1</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LP - Contract Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Contract Updated</label>
    <loops>
        <name>Copy_1_of_Each_paid_media</name>
        <label>Each paid media</label>
        <locationX>666</locationX>
        <locationY>2579</locationY>
        <collectionReference>Copy_1_of_Get_Paid_Media_Service</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_Paid_Media_users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Lead_Gen_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_paid_media</name>
        <label>Each paid media</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <collectionReference>Get_Paid_Media_Service</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Paid_Media_users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lead_Gen_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Client_Payment_Confirmed_Resume_Clients_Ad_Campaign_s</name>
        <label>Client Payment Confirmed: Resume Clients Ad Campaign(s)</label>
        <locationX>754</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Copy_1_of_Each_paid_media</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Each_paid_media.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client Payment Confirmed: Resume Clients Ad Campaign(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Case</name>
        <label>Create Billing Case</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Account_with_CSM</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Billing_Collections_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Client in Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Retention_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Request_Type__c</field>
            <value>
                <stringValue>Non-Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Past Due Payment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>In_Collections_Pause_Clients_Ad_Campaign_s</name>
        <label>In Collections: Pause Clients Ad Campaign(s)</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPaidMediaOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>In Collections: Pause Clients Ad Campaign(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_ACTION_REQUIRED_Account_is_past_due</name>
        <label>Task - ACTION REQUIRED! Account  is past-due</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Paid_Media_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ACTION REQUIRED! {!$Record.Account.Name} is past-due. Please perform outreach.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Client_Payment_Confirmed</name>
        <label>Task - Client Payment Confirmed</label>
        <locationX>666</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Copy_1_of_Paid_Media_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Client Payment Confirmed. Client’s billing account is now up to date Please resume services.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Billing_Collections_User</name>
        <label>Billing Collections User</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Retention_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Collections_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Paid_Media_Service</name>
        <label>Get Paid Media Service</label>
        <locationX>666</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Each_paid_media</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-Demand Ads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise Ads Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Gen Ads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cancellation_Opportunity</name>
        <label>Get Cancellation Opportunity</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Retention_Case_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Addendum_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Media_Service</name>
        <label>Get Paid Media Service</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_paid_media</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-Demand Ads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise Ads Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Gen Ads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Retention_Record_Type</name>
        <label>Get Retention Record Type</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Billing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Retention_Case_Close</name>
        <label>Retention Case - Close</label>
        <locationX>798</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Copy_2_of_Account_with_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Past Due Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Retention_Result__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Modifies the number of Monthly Blogs in the service</description>
        <name>Update_Automated_Blog_Service</name>
        <label>Update Automated Blog Service</label>
        <locationX>556</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>In_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automated Blogs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <elementReference>$Record.Count_of_Monthly_Blogs__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancellation_Date</name>
        <label>Update - Cancellation Date</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>In_Collections1</targetReference>
        </connector>
        <inputAssignments>
            <field>Cancellation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Modifies the number of agent seats in the service</description>
        <name>Update_Copilot_Service</name>
        <label>Update Copilot Service</label>
        <locationX>556</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Number_of_Automated_Blogs_Changed</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presence Copilot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>White Label App</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <elementReference>$Record.Count_of_Copilot_Agent_Seats__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Retention_Case_Close</name>
        <label>Update - Retention Case Close</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Number_of_Copilot_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retention_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Payment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Cancellation_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Result__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtNotificationInCollections</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Account.Name} is now 30+ days delinquent and has entered our non-payment/collections sequence. Billing will continue their outreach, but please start the CS Non-Pay Outreach process for prompt payment.
Update your task after each client contact and mark complete once your outreach is finished. Follow this protocol:
Initial outreach via phone &amp; email within 1 day of this notice.
2 outreach attempts per week for 4 weeks (phone &amp; email or text).</text>
    </textTemplates>
    <variables>
        <name>varPaidMediaOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
