unpackaged/main/default/flows/LP_Case_SLA_Breach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_Count_NEW</name>
        <label>Update Count</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_SLA_Breaches__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_NEW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Count_OPEN</name>
        <label>Update Count</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_SLA_Breaches__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Count_Open</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Still_in_New</name>
        <label>Still in New?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Count_NEW</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StillinOpen</name>
        <label>Still in Open?</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Count_OPEN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncreaseCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_SLA_Breaches__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SLABreachCountPlusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_SLA_Breaches__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LP_Case_SLA_Breach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP_Case_SLA_Breach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Count_NEW</name>
        <label>Add Count</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Number_of_SLA_Breaches__c</field>
            <value>
                <elementReference>$Record.Number_of_SLA_Breaches__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Count_Open</name>
        <label>Add Count</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Number_of_SLA_Breaches__c</field>
            <value>
                <elementReference>$Record.Number_of_SLA_Breaches__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_3_Hours</name>
            <connector>
                <targetReference>Still_in_New</targetReference>
            </connector>
            <label>Wait 3 Hours</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Wait_4_Hours</name>
            <connector>
                <targetReference>StillinOpen</targetReference>
            </connector>
            <label>Wait 4 Hours</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
