unpackaged/main/default/flows/LP_Content_Review_Service_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Change_SS_Status</name>
        <label>Change SS Status</label>
        <locationX>666</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>varSingleSS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_SS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleSS.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionSS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_SS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Content_Type</name>
        <label>Content Type</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AgentBios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Bios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Bios_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Agent Bios</label>
        </rules>
        <rules>
            <name>Misc_Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc. Copy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Misc_copy_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Misc. Copy</label>
        </rules>
        <rules>
            <name>Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blogs_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Blogs</label>
        </rules>
        <rules>
            <name>Neighborhood_Guide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neighborhood Guide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Neighborhood_guide_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Neighborhood Guide</label>
        </rules>
        <rules>
            <name>Community_Guides</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Guides</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_guides_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Community Guides</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Schedule</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - Content Review Service Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Content Review Service Updated</label>
    <loops>
        <name>Each_SS</name>
        <label>Each SS</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <collectionReference>Service_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_SS_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Agent_Bios_User</name>
        <label>Agent Bios - User</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Agent_Bios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Content_Type_Agent_Bios__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Blogs_User</name>
        <label>Blogs - User</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Blogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Content_Type_Blogs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Community_guides_User</name>
        <label>Community guides - User</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Community_guide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Content_Type_Community_Guide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Misc_copy_User</name>
        <label>Misc copy - User</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Misc_Copy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Content_Type_Misc_Copy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Neighborhood_guide_User</name>
        <label>Neighborhood guide - User</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Neighborhood</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Content_Type_Neighborhood_Guide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Schedule</name>
        <label>Service Schedule</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_SS</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Assigning</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Agent_Bios</name>
        <label>Add Agent Bios</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Agent_Bios_Last_Service_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>Agent_Bios_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Blogs</name>
        <label>Add Blogs</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Blogs_Last_Service_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>Blogs_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Community_guide</name>
        <label>Add Community guide</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Community_guide_Last_Service_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>Community_guides_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Misc_Copy</name>
        <label>Add Misc Copy</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Misc_Copy_Last_Service_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>Misc_copy_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Neighborhood</name>
        <label>Add Neighborhood</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Neighborhood_guide_Last_Service_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>Neighborhood_guide_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Agent_Bios_Last_Service_Assigned</name>
        <label>Agent Bios - Last Service Assigned</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agent_Bios_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Blogs_Last_Service_Assigned</name>
        <label>Blogs - Last Service Assigned</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Blogs_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Community_guide_Last_Service_Assigned</name>
        <label>Community guide - Last Service Assigned</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Community_guides_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Misc_Copy_Last_Service_Assigned</name>
        <label>Misc Copy - Last Service Assigned</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Misc_copy_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Neighborhood_guide_Last_Service_Assigned</name>
        <label>Neighborhood guide - Last Service Assigned</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Neighborhood_guide_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Schedule</name>
        <label>Update Service Schedule</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <inputReference>collectionSS</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Content_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Content Review</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionSS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>varSingleSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
</Flow>
