unpackaged/main/default/flows/LP_Design_refresh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_Launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_refresh</targetReference>
            </connector>
            <label>Website Launched</label>
        </rules>
        <rules>
            <name>NOT_Webiste_Launched_or_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Website_Launched</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Revision</targetReference>
            </connector>
            <label>NOT Webiste Launched or Cancelled</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceResonDesign</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Design_Refresh__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forOppName</name>
        <dataType>String</dataType>
        <expression>{!Account.Name}+ &quot; - Addendum Design Refresh&quot;</expression>
    </formulas>
    <formulas>
        <name>forServiceStatus</name>
        <dataType>String</dataType>
        <expression>CASE( {!Service.RecordTypeId}, 
{!$Label.ID_Service_Custom_Website}, &quot;New&quot;, 
{!$Label.ID_Service_Website_Launches}, &quot;New&quot;,
{!$Label.ID_Service_InAppOnboarding}, &quot;Modules Complete&quot;,
&quot;New&quot;
)</expression>
    </formulas>
    <formulas>
        <name>varBody</name>
        <dataType>String</dataType>
        <expression>&quot;Onboarding &quot; + {!Account.Name}  +&quot; design refresh requested&quot;</expression>
    </formulas>
    <interviewLabel>LP- Design refresh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP- Design refresh</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Revision</name>
        <label>New Revision</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Service_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Service.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Design Refresh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvK5AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <stringValue>005EY000000Hg5JYAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Service.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Price_book_entry</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Service.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Change_Refresh__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Refresh_Buton__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>forOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Account.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Design_Refresh__c</field>
            <value>
                <elementReference>Reason_for_design_refresh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvK3AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_originated_from__c</field>
            <value>
                <elementReference>Service.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Addendum</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_product</name>
        <label>Opportunity product</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>New_opportunity_created</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Price_book_entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry</name>
        <label>Price book entry</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwoYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service</name>
        <label>Service</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Based on the record type:
- Website Implementation: New
- Custom Website: New
- In-App Onboarding: Modules Complete</description>
        <name>Update_Service_Status</name>
        <label>Update Service - Status</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>New_Revision1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>forServiceStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <screens>
        <name>Design_refresh</name>
        <label>Design refresh</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>forOppName</elementReference>
            </defaultValue>
            <fieldText>Opportunity name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_date</name>
            <dataType>Date</dataType>
            <fieldText>Close date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_design_refresh</name>
            <choiceReferences>choiceResonDesign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for design refresh</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_opportunity_created</name>
        <label>New opportunity created</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_link</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://luxurypresence.lightning.force.com//{!Opportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://luxurypresence.lightning.force.com//{!Opportunity}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Revision1</name>
        <label>New Revision</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Link</name>
            <fieldText>&lt;p&gt;Revision Created&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://luxurypresence.lightning.force.com/{!New_Revision}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://luxurypresence.lightning.force.com/{!New_Revision}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
