unpackaged/main/default/flows/LP_Delighted_Survey_Setup_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Record_type</name>
        <label>Record type</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_implementation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Website_Launches</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox_for_Trigger1</targetReference>
            </connector>
            <label>Website implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Launch_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkbox_for_Trigger</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Website launched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - Delighted Survey - Setup Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Delighted Survey - Service Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Checkbox_for_Trigger</name>
        <label>Checkbox for Trigger</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProjectName__c</field>
            <value>
                <stringValue>(1st Q) CSAT - Service &amp; Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_CSAT_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Checkbox_for_Trigger1</name>
        <label>Checkbox for Trigger</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Last_Survey_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProjectName__c</field>
            <value>
                <stringValue>NPS - Marketing Clients</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_NPS_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Checkbox_for_Trigger_NPS</name>
        <label>Checkbox for Trigger - NPS</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Last_Survey_Sent_NPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ProjectName__c</field>
            <value>
                <stringValue>NPS - Marketing Clients</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_NPS_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Survey_Sent</name>
        <label>Last Survey Sent</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Last_Delighted_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Survey_Sent_NPS</name>
        <label>Last Survey Sent - NPS</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Last_Delighted_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Service__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X81_days</name>
            <connector>
                <targetReference>Record_type</targetReference>
            </connector>
            <label>81 days</label>
            <offsetNumber>81</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Website_Launch_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X90_days</name>
            <connector>
                <targetReference>Checkbox_for_Trigger_NPS</targetReference>
            </connector>
            <label>90 days</label>
            <offsetNumber>90</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Last_Delighted_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>100</triggerOrder>
</Flow>
