unpackaged/main/default/flows/LP_Email_Message_created_inbound.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Sets the number of days it&#39;s been closed.</description>
        <name>Sets_Days_Closed</name>
        <label>Sets Days Closed</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>daysCaseClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>daysClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the case is closed more than 7 days, create a new case. If it&#39;s less than 7 days, don&#39;t.</description>
        <name>Case_Status</name>
        <label>Case - Status</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_before_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysCaseClosed</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Open1</targetReference>
            </connector>
            <label>Closed Less than 7 Days</label>
        </rules>
        <rules>
            <name>Closed_More_than_7_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>daysCaseClosed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue</targetReference>
            </connector>
            <label>Closed More than 7 Days</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updates the case only if it&#39;s one of a bunch of statuses. This decision branch is redundant but I&#39;m keeping it.</description>
        <name>Copy_1_of_Case_Status</name>
        <label>Case - Status</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Statuses_to_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Client Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Linear Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Internal Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting GBP Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Open</targetReference>
            </connector>
            <label>Statuses to Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the case open or closed</description>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed?</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Sets_Days_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case is Closed</defaultConnectorLabel>
        <rules>
            <name>Case_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Case_Status</targetReference>
            </connector>
            <label>Case is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Support_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Account.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Team_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advanced Edits and Site Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Key_Support_Group</targetReference>
            </connector>
            <label>Key Support</label>
        </rules>
        <rules>
            <name>Side_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Side_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Side, Unresponsive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Side_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LP to Side Billing - Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Side_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Migration - Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Side_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Logos - Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Side_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Website - Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Partnership_Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Side</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_in_Office</targetReference>
            </connector>
            <label>Side/Enterprise</label>
        </rules>
        <rules>
            <name>SEO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Rg000002VzndIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SEO_Queue</targetReference>
            </connector>
            <label>SEO</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_in_Office</name>
        <label>User in Office?</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Open_case_assign_to_key_backup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Out_of_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Owner:User.Out_of_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Open_case_assign_to_key_queue</targetReference>
            </connector>
            <label>User Out of Office</label>
        </rules>
    </decisions>
    <description>Changing reopen to NEW instead of OPEN</description>
    <environments>Default</environments>
    <formulas>
        <name>daysClosed</name>
        <dataType>Number</dataType>
        <expression>TODAY()-DATEVALUE({!$Record.Parent.ClosedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forClosedDateDays</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!$Record.Parent.Closed_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LP - Email Message - created - inbound {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Email Message - created - inbound</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SEO_Queue</name>
        <label>Get SEO Queue</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Case_and_Assign_to_SEO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Key_Support_Group</name>
        <label>Key Support Group</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_case_assign_to_key_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advanced_Edits_and_Site</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Support_Queue</name>
        <label>Support Queue</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_case_assign_to_support_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Opens the case that&#39;s already open.</description>
        <name>Case_Status_Open</name>
        <label>Case - Status - Open</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Status_Open1</name>
        <label>Case - Status - Open</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_after_closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Opens the case that&#39;s already open.</description>
        <name>Copy_1_of_Open_case_assign_to_key_queue</name>
        <label>Open case &amp; assign to key backup</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Key_Support_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_after_closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Opens the case that&#39;s already open.</description>
        <name>Copy_2_of_Open_case_assign_to_key_backup</name>
        <label>Open case, Same Owner</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_after_closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Open_Case_and_Assign_to_SEO</name>
        <label>Open Case and Assign to SEO</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SEO_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Opens the case that&#39;s already open.</description>
        <name>Open_case_assign_to_key_queue</name>
        <label>Open case &amp; assign to key queue</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Key_Support_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_after_closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Opens the case that&#39;s already open.</description>
        <name>Open_case_assign_to_support_queue</name>
        <label>Open case &amp; assign to support queue</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopen_after_closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_to_client__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>daysCaseClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
