unpackaged/main/default/flows/LP_Lead_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_owner</name>
        <label>Email to owner</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Contact has been assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyOwnerNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Lead_Source</name>
        <label>Lead Source</label>
        <locationX>666</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Subtype_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Source_Original</targetReference>
            </connector>
            <label>Lead Source not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Subtype_1</name>
        <label>Lead Source Subtype 1</label>
        <locationX>666</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Subtype_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Subtype_1_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Subtype_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Source_Subtype_1_Orginal</targetReference>
            </connector>
            <label>Lead Source Subtype 1 - Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Subtype_2</name>
        <label>Lead Source Subtype 2</label>
        <locationX>666</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Owner_SDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source_Subtype_2_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Subtype_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Source_Subtype_2_Original</targetReference>
            </connector>
            <label>Lead Source Subtype 2 - Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_Category</name>
        <label>Marketing Category</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Queue</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Partners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partners_Queue</targetReference>
            </connector>
            <label>Partners</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Lead_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Superuser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Role_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Superuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Role_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hubspot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marketing_Category</targetReference>
            </connector>
            <label>Superuser</label>
        </rules>
        <rules>
            <name>Owner_not_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rep_Assigned_Date</targetReference>
            </connector>
            <label>Owner not Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_SDR</name>
        <label>Owner - SDR?</label>
        <locationX>666</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Role_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SDR</targetReference>
            </connector>
            <label>Owner is SDR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - Lead created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Lead created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>General_Queue</name>
        <label>General - Queue</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_General</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partners_Queue</name>
        <label>Partners - Queue</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Lead_Source</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_Partners</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ID_fields</name>
        <label>Update ID fields</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>LEAD_ID_MERGE_LOG__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MLS_AGENT_MASTER_KEY_MERGE_LOG__c</field>
            <value>
                <elementReference>$Record.MLS_Agent_master_key__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Source_Original</name>
        <label>Update - Lead Source Original</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Lead_Source_Subtype_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Original__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Source_Subtype_1_Orginal</name>
        <label>Update - Lead Source Subtype 1 Orginal</label>
        <locationX>534</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Lead_Source_Subtype_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Subtype_1_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Source_Subtype_2_Original</name>
        <label>Update - Lead Source Subtype 2 Original</label>
        <locationX>534</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Owner_SDR</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Subtype_2_Original__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Subtype_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rep_Assigned_Date</name>
        <label>Update Rep Assigned Date</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Email_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Rep_Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDR</name>
        <label>Update - SDR</label>
        <locationX>534</locationX>
        <locationY>1931</locationY>
        <inputAssignments>
            <field>SDR__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_ID_fields</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyOwnerNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The lead “{!$Record.FirstName} {!$Record.LastName}” has been assigned to you. Click &lt;/span&gt;&lt;a href=&quot;https://luxurypresence.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; to review lead in Salesforce&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
