unpackaged/main/default/flows/LP_Lead_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Ready</name>
        <label>Lead - Ready</label>
        <locationX>2690</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Release_Reason</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Lead {!$Record.FirstName} has re-engaged, please review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyLeadReady</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Owner_changed</name>
        <label>Owner changed?</label>
        <locationX>2822</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Add_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SDR</targetReference>
            </connector>
            <label>Add SDR</label>
        </rules>
        <rules>
            <name>Remove_SDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SDR_Remove</targetReference>
            </connector>
            <label>Remove SDR</label>
        </rules>
        <rules>
            <name>Leave_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Role_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Status</targetReference>
            </connector>
            <label>Leave SDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Status</name>
        <label>Prior Status?</label>
        <locationX>2822</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Release_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Converted_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_General</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Partners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Queue_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Ready</targetReference>
            </connector>
            <label>Non - Converted - Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Release_Reason</name>
        <label>Release Reason</label>
        <locationX>2822</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Reserve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_DNC_Queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reserve</name>
        <label>Reserve?</label>
        <locationX>2822</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reserve_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reserve__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Reserve_to_Owner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reserve true</label>
        </rules>
        <rules>
            <name>Reserve_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reserve__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Reserve_to_Owner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reserve false</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review the actual status and prior value to make the time stamps</description>
        <name>Status</name>
        <label>Status</label>
        <locationX>2822</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Owner_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>New_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_Date</targetReference>
            </connector>
            <label>New - Ready</label>
        </rules>
        <rules>
            <name>New_Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_Pursuing_Date</targetReference>
            </connector>
            <label>New - Pursuing</label>
        </rules>
        <rules>
            <name>New_Engaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_and_Ready_Date</targetReference>
            </connector>
            <label>New - Engaging</label>
        </rules>
        <rules>
            <name>New_Non_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Ready_Date_Non_Converted</targetReference>
            </connector>
            <label>New - Non Converted</label>
        </rules>
        <rules>
            <name>New_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_Engaging_Schedule_Date</targetReference>
            </connector>
            <label>New - Schedule</label>
        </rules>
        <rules>
            <name>Ready_Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pursuing_Date</targetReference>
            </connector>
            <label>Ready - Pursuing</label>
        </rules>
        <rules>
            <name>Ready_Engaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Date</targetReference>
            </connector>
            <label>Ready - Engaging</label>
        </rules>
        <rules>
            <name>Ready_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_and_Schedule_Date</targetReference>
            </connector>
            <label>Ready - Schedule</label>
        </rules>
        <rules>
            <name>Ready_Non_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_and_Non_Converted</targetReference>
            </connector>
            <label>Ready - Non Converted</label>
        </rules>
        <rules>
            <name>Pursuing_Engaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Date_Pusuing</targetReference>
            </connector>
            <label>Pursuing - Engaging</label>
        </rules>
        <rules>
            <name>Pursuing_Non_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Non_Converted_Date</targetReference>
            </connector>
            <label>Pursuing - Non converted</label>
        </rules>
        <rules>
            <name>Pursuing_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Schedule_Date</targetReference>
            </connector>
            <label>Pursuing - Schedule</label>
        </rules>
        <rules>
            <name>Pursuing_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_Date_Pursuing</targetReference>
            </connector>
            <label>Pursuing - Ready</label>
        </rules>
        <rules>
            <name>Engaging_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduled_Date</targetReference>
            </connector>
            <label>Engaging - Scheduled</label>
        </rules>
        <rules>
            <name>Engaging_Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Pursuing1</targetReference>
            </connector>
            <label>Engaging - Pursuing</label>
        </rules>
        <rules>
            <name>Engaging_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_Ready_remove</targetReference>
            </connector>
            <label>Engaging - Ready</label>
        </rules>
        <rules>
            <name>Engaging_Non_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_converted</targetReference>
            </connector>
            <label>Engaging - Non Converted</label>
        </rules>
        <rules>
            <name>Non_Converted_Ready1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_Date_NonConverted</targetReference>
            </connector>
            <label>Non Converted - Ready</label>
        </rules>
        <rules>
            <name>Non_Converted_Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Pursuing_Date</targetReference>
            </connector>
            <label>Non Converted - Pursuing</label>
        </rules>
        <rules>
            <name>Non_Converted_Engaging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engaging_date_NonConverted</targetReference>
            </connector>
            <label>Non Converted - Engaging</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forReserve</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Owner:User.Reserved_Records__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forReserveMinus1</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record__Prior.Owner:User.Reserved_Records__c}-1 &lt; 0 , 0, {!$Record__Prior.Owner:User.Reserved_Records__c}-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LP - Lead updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Lead updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Reserve_to_Owner</name>
        <label>Add Reserve to Owner</label>
        <locationX>2558</locationX>
        <locationY>1631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved_Records__c</field>
            <value>
                <elementReference>forReserve</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_and_Non_Converted</name>
        <label>Engaging and Non Converted</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_and_Ready_Date</name>
        <label>Engaging - Ready - Pursuing Date</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_and_Schedule_Date</name>
        <label>Engaging and Schedule Date</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_Date</name>
        <label>Engaging Date</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_date_NonConverted</name>
        <label>Engaging date</label>
        <locationX>5330</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_Date_Pusuing</name>
        <label>Engaging Date</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_Non_Converted_Date</name>
        <label>Engaging - Non Converted Date</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Remove engaign date</description>
        <name>Engaging_Pursuing1</name>
        <label>Engaging - Pursuing</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_Ready_Date_Non_Converted</name>
        <label>Engaging - Ready Date - Non Converted</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Remove engaign date</description>
        <name>Engaging_Ready_remove</name>
        <label>Engaging - Ready</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Engaging_Schedule_Date</name>
        <label>Engaging - Schedule Date</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>New_Date</name>
        <label>New Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>New_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Non_converted</name>
        <label>Non converted</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Non_Pursuing_Date</name>
        <label>Non - Pursuing Date</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pursuing_Date</name>
        <label>Pursuing Date</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_Date</name>
        <label>Ready Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_Date_NonConverted</name>
        <label>Ready Date</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_Date_Pursuing</name>
        <label>Ready - Date</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_Engaging_Schedule_Date</name>
        <label>Ready - Engaging- Schedule Date</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_Pursuing_Date</name>
        <label>Ready - Pursuing Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Engaging_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Converted_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pursuing_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Reserve_to_Owner</name>
        <label>Remove Reserve to Owner</label>
        <locationX>2822</locationX>
        <locationY>1631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reserved_Records__c</field>
            <value>
                <elementReference>forReserveMinus1</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Scheduled_Date</name>
        <label>Scheduled Date</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_DNC_Queue</name>
        <label>Update Owner - DNC Queue</label>
        <locationX>2690</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Reserve</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ID_Queue_DNC</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDR</name>
        <label>Update - SDR</label>
        <locationX>2470</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SDR__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDR_Remove</name>
        <label>Update - SDR - Remove</label>
        <locationX>2734</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SDR__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyLeadReady</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi!
Your Lead &quot;{!$Record.FirstName} {!$Record.LastName}&quot; has been moved to stage Ready, please review and follow up with the Lead.
https://luxurypresence.lightning.force.com/{!$Record.Id}
Kind regards,</text>
    </textTemplates>
</Flow>
