unpackaged/main/default/flows/LP_MLS_Sequence_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BoR_Signature_Needed</name>
        <label>BoR Signature Needed</label>
        <locationX>2690</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.BoR_Signature_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.BoR_Signature_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BoR_Signature_Needed_1st_Follow_Up</name>
        <label>BoR Signature Needed - 1st Follow Up</label>
        <locationX>5858</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.BoR_Signature_Needed_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.BoR_Signature_Needed_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BoR_Signature_Needed_2nd_Follow_Up</name>
        <label>BoR Signature Needed - 2nd Follow Up</label>
        <locationX>12194</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.BoR_Signature_Needed_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.BoR_Signature_Needed_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BRIGHT_Introduction</name>
        <label>BRIGHT - Introduction</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.BRIGHT_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.BRIGHT_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bright_Introduction_1st_Follow_Up</name>
        <label>Bright Introduction - 1st Follow Up</label>
        <locationX>4538</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.BRIGHT_Introduction_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.BRIGHT_Introduction_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bright_Introduction_2nd_Follow_Up</name>
        <label>Bright Introduction - 2nd Follow Up</label>
        <locationX>10874</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.Bright_Introduction_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Bright_Introduction_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_Compass_Introduction_Kathy_Mehringer</name>
        <label>CA Compass Introduction (Kathy Mehringer)</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.CA_Compass_Introduction_Kathy_Mehringer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.CA_Compass_Introduction_Kathy_Mehringer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_Compass_Introduction_Kathy_Mehringer_1st_Follow_Up</name>
        <label>CA Compass Introduction (Kathy Mehringer) - 1st Follow Up</label>
        <locationX>4010</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.CA_Compass_Introduction_Kathy_Mehringer_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.CA_Compass_Introduction_Kathy_Mehringer_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_Compass_Introduction_Kathy_Mehringer_2nd_Follow_Up</name>
        <label>CA Compass Introduction (Kathy Mehringer) - 2nd Follow Up</label>
        <locationX>10346</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.CA_Compass_Introduction_Kathy_Mehringer_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.CA_Compass_Introduction_Kathy_Mehringer_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_IDX_Introduction</name>
        <label>General IDX Introduction</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.General_IDX_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.General_IDX_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_Introduction_1st_Follow_up</name>
        <label>General Introduction - 1st Follow-up</label>
        <locationX>4274</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.General_Introduction_1st_Follow_up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.General_Introduction_1st_Follow_up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_Introduction_2nd_Follow_Up</name>
        <label>General Introduction - 2nd Follow Up</label>
        <locationX>10610</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.General_Introduction_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.General_Introduction_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MLSGRID_Introduction</name>
        <label>MLSGRID Introduction</label>
        <locationX>2426</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.MLSGRID_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.MLSGRID_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MLSGRID_Introduction_1st_Follow_Up</name>
        <label>MLSGRID Introduction - 1st Follow Up</label>
        <locationX>5594</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.MLSGRID_Introduction_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.MLSGRID_Introduction_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MLSGRID_Introduction_2nd_Follow_Up</name>
        <label>MLSGRID Introduction - 2nd Follow Up</label>
        <locationX>11930</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.MLSGRID_Introduction_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.MLSGRID_Introduction_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_1st_Follow_Up_Broker_Known2</name>
        <label>REBNY Introduction - 1st Follow Up - Broker Known</label>
        <locationX>3218</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_1st_Follow_Up_Broker_Known</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_1st_Follow_Up_Broker_Known</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_1st_Follow_Up_Broker_Unknown</name>
        <label>REBNY Introduction - 1st Follow Up - Broker Unknown</label>
        <locationX>5066</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_1st_Follow_Up_Broker_Unknown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_1st_Follow_Up_Broker_Unknown</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_1st_Follow_Up_Compass</name>
        <label>REBNY Introduction - 1st Follow Up - Compass</label>
        <locationX>3482</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_1st_Follow_Up_Compass</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_1st_Follow_Up_Compass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_2nd_Follow_Up_Broker_Known2</name>
        <label>REBNY Introduction - 2nd Follow Up - Broker Known</label>
        <locationX>9554</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_2nd_Follow_Up_Broker_Known</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_2nd_Follow_Up_Broker_Known</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_2nd_Follow_Up_Broker_Unknown</name>
        <label>REBNY Introduction - 2nd Follow Up - Broker Unknown</label>
        <locationX>11402</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_2nd_Follow_Up_Broker_Unknown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_2nd_Follow_Up_Broker_Unknown</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_2nd_Follow_Up_Compass</name>
        <label>REBNY Introduction - 2nd Follow Up - Compass</label>
        <locationX>9818</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_2nd_Follow_Up_Compass</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_2nd_Follow_Up_Compass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_Broker_Compass</name>
        <label>REBNY Introduction - Broker Compass</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_Broker_Compass</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_Broker_Compass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_Broker_Known1</name>
        <label>REBNY Introduction - Broker Known</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_Broker_Known</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_Broker_Known</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REBNY_Introduction_Broker_Unknown</name>
        <label>REBNY Introduction - Broker Unknown</label>
        <locationX>1898</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.REBNY_Introduction_Broker_Unknown</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.REBNY_Introduction_Broker_Unknown</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trestle_General_1st_Follow_Up</name>
        <label>Trestle (General) - 1st Follow Up</label>
        <locationX>4802</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.Trestle_General_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Trestle_General_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trestle_General_2nd_Follow_Up</name>
        <label>Trestle (General) - 2nd Follow Up</label>
        <locationX>11138</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.Trestle_General_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Trestle_General_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Trestle_General_Introduction</name>
        <label>Trestle (General) - Introduction</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.Trestle_General_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Trestle_General_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_1st_Follow_Up</name>
        <label>TX Compass w/ J. Rene Walker as BoR - Not Compliant - 1st Follow Up</label>
        <locationX>3746</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_2nd_Follow_Up</name>
        <label>TX Compass w/ J. Rene Walker as BoR - Not Compliant - 2nd Follow Up</label>
        <locationX>10082</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_Introduction</name>
        <label>TX Compass w/ J. Rene Walker as BoR - Not Compliant - Introduction</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WFRMLS_Utah_Real_Estate_Introduction</name>
        <label>WFRMLS / Utah Real Estate Introduction</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.WFRMLS_Utah_Real_Estate_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.WFRMLS_Utah_Real_Estate_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WFRMLS_Utah_Real_Estate_Introduction_1st_Follow_Up</name>
        <label>WFRMLS / Utah Real Estate Introduction - 1st Follow Up</label>
        <locationX>5330</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.WFRMLS_Utah_Real_Estate_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.WFRMLS_Utah_Real_Estate_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WFRMLS_Utah_Real_Estate_Introduction_2nd_Follow_Up</name>
        <label>WFRMLS / Utah Real Estate Introduction - 2nd Follow Up</label>
        <locationX>11666</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.WFRMLS_Utah_Real_Estate_Introduction_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.WFRMLS_Utah_Real_Estate_Introduction_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>MLS_Board</name>
        <label>MLS Board</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NY_REBNY_Broker_Known_Introduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Known - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_Broker_Known1</targetReference>
            </connector>
            <label>NY - REBNY - Broker Known - Introduction</label>
        </rules>
        <rules>
            <name>NY_REBNY_Compass_Introduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Compass - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_Broker_Compass</targetReference>
            </connector>
            <label>NY - REBNY - Compass - Introduction</label>
        </rules>
        <rules>
            <name>TX_Compass_Introduction_with_J_Rene_Walker_Not_Compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_Introduction</targetReference>
            </connector>
            <label>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</label>
        </rules>
        <rules>
            <name>CA_Compass_Introduction_with_Kathy_Mehringer2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Compass - Introduction with Kathy Mehringer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Compass_Introduction_Kathy_Mehringer</targetReference>
            </connector>
            <label>CA - Compass - Introduction with Kathy Mehringer</label>
        </rules>
        <rules>
            <name>General_Introduction_PandaDoc1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - PandaDoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_IDX_Introduction</targetReference>
            </connector>
            <label>General Introduction - PandaDoc</label>
        </rules>
        <rules>
            <name>BRIGHT_Introduction2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIGHT - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BRIGHT_Introduction</targetReference>
            </connector>
            <label>BRIGHT - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_Trestle1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - Trestle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trestle_General_Introduction</targetReference>
            </connector>
            <label>General Introduction - Trestle</label>
        </rules>
        <rules>
            <name>NY_REBNY_Broker_Unknown_Introduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Unknown - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_Broker_Unknown</targetReference>
            </connector>
            <label>NY - REBNY - Broker Unknown - Introduction</label>
        </rules>
        <rules>
            <name>UT_Utah_Real_Estate_Wasatch_Front_WFRMLS_Introduction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WFRMLS_Utah_Real_Estate_Introduction</targetReference>
            </connector>
            <label>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_MLS_Grid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - MLS Grid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLSGRID_Introduction</targetReference>
            </connector>
            <label>General Introduction - MLS Grid</label>
        </rules>
        <rules>
            <name>General_Request_Broker_Signature_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request - Broker Signature Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoR_Signature_Needed</targetReference>
            </connector>
            <label>General Request - Broker Signature Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_Board_0</name>
        <label>MLS Board</label>
        <locationX>4670</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NY_REBNY_Broker_Known_Introduction_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Known - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_1st_Follow_Up_Broker_Known2</targetReference>
            </connector>
            <label>NY - REBNY - Broker Known - Introduction</label>
        </rules>
        <rules>
            <name>NY_REBNY_Compass_Introduction_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Compass - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_1st_Follow_Up_Compass</targetReference>
            </connector>
            <label>NY - REBNY - Compass - Introduction</label>
        </rules>
        <rules>
            <name>TX_Compass_Introduction_with_J_Rene_Walker_Not_Compliant_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_1st_Follow_Up</targetReference>
            </connector>
            <label>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</label>
        </rules>
        <rules>
            <name>CA_Compass_Introduction_with_Kathy_Mehringer2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Compass - Introduction with Kathy Mehringer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Compass_Introduction_Kathy_Mehringer_1st_Follow_Up</targetReference>
            </connector>
            <label>CA - Compass - Introduction with Kathy Mehringer</label>
        </rules>
        <rules>
            <name>General_Introduction_PandaDoc1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - PandaDoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Introduction_1st_Follow_up</targetReference>
            </connector>
            <label>General Introduction - PandaDoc</label>
        </rules>
        <rules>
            <name>BRIGHT_Introduction2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIGHT - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bright_Introduction_1st_Follow_Up</targetReference>
            </connector>
            <label>BRIGHT - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_Trestle1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - Trestle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trestle_General_1st_Follow_Up</targetReference>
            </connector>
            <label>General Introduction - Trestle</label>
        </rules>
        <rules>
            <name>NY_REBNY_Broker_Unknown_Introduction_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Unknown - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_1st_Follow_Up_Broker_Unknown</targetReference>
            </connector>
            <label>NY - REBNY - Broker Unknown - Introduction</label>
        </rules>
        <rules>
            <name>UT_Utah_Real_Estate_Wasatch_Front_WFRMLS_Introduction_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WFRMLS_Utah_Real_Estate_Introduction_1st_Follow_Up</targetReference>
            </connector>
            <label>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_MLS_Grid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - MLS Grid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLSGRID_Introduction_1st_Follow_Up</targetReference>
            </connector>
            <label>General Introduction - MLS Grid</label>
        </rules>
        <rules>
            <name>General_Request_Broker_Signature_Needed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request - Broker Signature Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoR_Signature_Needed_1st_Follow_Up</targetReference>
            </connector>
            <label>General Request - Broker Signature Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_Board_0_0</name>
        <label>MLS Board</label>
        <locationX>7838</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NY_REBNY_Broker_Known_Introduction_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Known - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_Rebny_IDX_Intro</targetReference>
            </connector>
            <label>NY - REBNY - Broker Known - Introduction</label>
        </rules>
        <rules>
            <name>NY_REBNY_Compass_Introduction_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Compass - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_Rebny_IDX_Intro_0</targetReference>
            </connector>
            <label>NY - REBNY - Compass - Introduction</label>
        </rules>
        <rules>
            <name>TX_Compass_Introduction_with_J_Rene_Walker_Not_Compliant_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_TX_Compass_MLS_Intro_0</targetReference>
            </connector>
            <label>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</label>
        </rules>
        <rules>
            <name>CA_Compass_Introduction_with_Kathy_Mehringer2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Compass - Introduction with Kathy Mehringer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_CA_Compass_MLS_Intro</targetReference>
            </connector>
            <label>CA - Compass - Introduction with Kathy Mehringer</label>
        </rules>
        <rules>
            <name>General_Introduction_PandaDoc1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - PandaDoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallclienttofollowupwithGeneralIDXIntro</targetReference>
            </connector>
            <label>General Introduction - PandaDoc</label>
        </rules>
        <rules>
            <name>BRIGHT_Introduction2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIGHT - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_BRIGHT_Introduction</targetReference>
            </connector>
            <label>BRIGHT - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_Trestle1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - Trestle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_General_Introduction_Trestle</targetReference>
            </connector>
            <label>General Introduction - Trestle</label>
        </rules>
        <rules>
            <name>NY_REBNY_Broker_Unknown_Introduction_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Unknown - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_NY_REBNY_Broker_Unknown</targetReference>
            </connector>
            <label>NY - REBNY - Broker Unknown - Introduction</label>
        </rules>
        <rules>
            <name>UT_Utah_Real_Estate_Wasatch_Front_WFRMLS_Introduction_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_UT_Utah_Real_Estate_Wasatch_Front_WFRMLS</targetReference>
            </connector>
            <label>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_MLS_Grid_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - MLS Grid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_BRIGHT_Introduction_0_0_0_0</targetReference>
            </connector>
            <label>General Introduction - MLS Grid</label>
        </rules>
        <rules>
            <name>General_Request_Broker_Signature_Needed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request - Broker Signature Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_BRIGHT_Introduction_0_0_0_0_0</targetReference>
            </connector>
            <label>General Request - Broker Signature Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_Board_0_0_0</name>
        <label>MLS Board</label>
        <locationX>11006</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NY_REBNY_Broker_Known_Introduction_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Known - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_2nd_Follow_Up_Broker_Known2</targetReference>
            </connector>
            <label>NY - REBNY - Broker Known - Introduction</label>
        </rules>
        <rules>
            <name>NY_REBNY_Compass_Introduction_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Compass - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_2nd_Follow_Up_Compass</targetReference>
            </connector>
            <label>NY - REBNY - Compass - Introduction</label>
        </rules>
        <rules>
            <name>TX_Compass_Introduction_with_J_Rene_Walker_Not_Compliant_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TX_Compass_w_J_Rene_Walker_as_BoR_Not_Compliant_2nd_Follow_Up</targetReference>
            </connector>
            <label>TX - Compass - Introduction with J. Rene Walker (Not Compliant)</label>
        </rules>
        <rules>
            <name>CA_Compass_Introduction_with_Kathy_Mehringer2_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Compass - Introduction with Kathy Mehringer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Compass_Introduction_Kathy_Mehringer_2nd_Follow_Up</targetReference>
            </connector>
            <label>CA - Compass - Introduction with Kathy Mehringer</label>
        </rules>
        <rules>
            <name>General_Introduction_PandaDoc1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - PandaDoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Introduction_2nd_Follow_Up</targetReference>
            </connector>
            <label>General Introduction - PandaDoc</label>
        </rules>
        <rules>
            <name>BRIGHT_Introduction2_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRIGHT - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bright_Introduction_2nd_Follow_Up</targetReference>
            </connector>
            <label>BRIGHT - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_Trestle1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - Trestle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trestle_General_2nd_Follow_Up</targetReference>
            </connector>
            <label>General Introduction - Trestle</label>
        </rules>
        <rules>
            <name>NY_REBNY_Broker_Unknown_Introduction_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY - REBNY - Broker Unknown - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REBNY_Introduction_2nd_Follow_Up_Broker_Unknown</targetReference>
            </connector>
            <label>NY - REBNY - Broker Unknown - Introduction</label>
        </rules>
        <rules>
            <name>UT_Utah_Real_Estate_Wasatch_Front_WFRMLS_Introduction_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WFRMLS_Utah_Real_Estate_Introduction_2nd_Follow_Up</targetReference>
            </connector>
            <label>UT - Utah Real Estate/Wasatch Front (WFRMLS) - Introduction</label>
        </rules>
        <rules>
            <name>General_Introduction_MLS_Grid_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Introduction - MLS Grid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLSGRID_Introduction_2nd_Follow_Up</targetReference>
            </connector>
            <label>General Introduction - MLS Grid</label>
        </rules>
        <rules>
            <name>General_Request_Broker_Signature_Needed_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Request - Broker Signature Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoR_Signature_Needed_2nd_Follow_Up</targetReference>
            </connector>
            <label>General Request - Broker Signature Needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - MLS Sequence 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - MLS Sequence 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Call_client_to_follow_up_with_BRIGHT_Introduction</name>
        <label>Call client to follow up with BRIGHT Introduction</label>
        <locationX>7706</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with BRIGHT Introduction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_BRIGHT_Introduction_0_0_0_0</name>
        <label>Call client to follow up with BRIGHT Introduction</label>
        <locationX>8762</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with WFRMLS / Utah Real Estate Introduction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_BRIGHT_Introduction_0_0_0_0_0</name>
        <label>Call client to follow up with BRIGHT Introduction</label>
        <locationX>9026</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with BoR Signature Needed MLS Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_CA_Compass_MLS_Intro</name>
        <label>Call client to follow up with CA Compass MLS Intro</label>
        <locationX>7178</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with CA Compass MLS Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_General_Introduction_Trestle</name>
        <label>Call client to follow up with General Introduction Trestle</label>
        <locationX>7970</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with Request for Trestle MLS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_NY_REBNY_Broker_Unknown</name>
        <label>Call client to follow up with NY REBNY - Broker Unknown</label>
        <locationX>8234</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with Rebny IDX Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_Rebny_IDX_Intro</name>
        <label>Call client to follow up with Rebny IDX Intro</label>
        <locationX>6386</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with Rebny IDX Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_Rebny_IDX_Intro_0</name>
        <label>Call client to follow up with Rebny IDX Intro</label>
        <locationX>6650</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with Rebny IDX Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_TX_Compass_MLS_Intro_0</name>
        <label>Call client to follow up with TX Compass MLS Intro</label>
        <locationX>6914</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with TX Compass MLS Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_UT_Utah_Real_Estate_Wasatch_Front_WFRMLS</name>
        <label>Call client to follow up with UT - Utah Real Estate/Wasatch Front (WFRMLS)</label>
        <locationX>8498</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with WFRMLS / Utah Real Estate Introduction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_contact_to_follow_up</name>
        <label>Call contact to follow up</label>
        <locationX>12722</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call contact to follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CallclienttofollowupwithGeneralIDXIntro</name>
        <label>Call client to follow up with General IDX Intro</label>
        <locationX>7442</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with General IDX Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>6128</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128D000000DtmYQAS</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_minutes</name>
            <connector>
                <targetReference>MLS_Board</targetReference>
            </connector>
            <label>1 minute later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_minutes_later</name>
            <connector>
                <targetReference>MLS_Board_0</targetReference>
            </connector>
            <label>2 minutes later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_minutes_later</name>
            <connector>
                <targetReference>MLS_Board_0_0</targetReference>
            </connector>
            <label>3 minutes later</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_minutes_later</name>
            <connector>
                <targetReference>MLS_Board_0_0_0</targetReference>
            </connector>
            <label>4 minutes later</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_minutes_later</name>
            <connector>
                <targetReference>Call_contact_to_follow_up</targetReference>
            </connector>
            <label>6 minutes later</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
