unpackaged/main/default/flows/LP_MLS_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NWMLS_Introduction_0</name>
        <label>NWMLS_Introduction</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.NWMLS_Introduction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.NWMLS_Introduction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NWMLS_Introduction_1st_Follow_Up</name>
        <label>NWMLS Introduction - 1st Follow Up</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.NWMLS_Introduction_1st_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.NWMLS_Introduction_1st_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NWMLS_Introduction_2nd_Follow_Up</name>
        <label>NWMLS Introduction - 2nd Follow Up</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>Service__c.NWMLS_Introduction_2nd_Follow_Up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.NWMLS_Introduction_2nd_Follow_Up</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>MLS_BOARD_0</name>
        <label>MLS BOARD</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA_Northwest_MLS_NWMLS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA - Northwest MLS (NWMLS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NWMLS_Introduction_1st_Follow_Up</targetReference>
            </connector>
            <label>WA-Northwest MLS (NWMLS)</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_BOARD_0_0</name>
        <label>MLS BOARD</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA_Northwest_MLS_NWMLS_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA - Northwest MLS (NWMLS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NWMLS_Introduction_2nd_Follow_Up</targetReference>
            </connector>
            <label>WA-Northwest MLS (NWMLS)</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_BOARD_0_0_0</name>
        <label>MLS BOARD</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA_Northwest_MLS_NWMLS_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA - Northwest MLS (NWMLS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_client_to_follow_up_with_NWMLS_Intro</targetReference>
            </connector>
            <label>WA-Northwest MLS (NWMLS)</label>
        </rules>
    </decisions>
    <decisions>
        <name>MLS_BOARD_0_0_0_0</name>
        <label>MLS BOARD</label>
        <locationX>2294</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WA_Northwest_MLS_NWMLS_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Board__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA - Northwest MLS (NWMLS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NWMLS_Introduction_0</targetReference>
            </connector>
            <label>WA-Northwest MLS (NWMLS)</label>
        </rules>
    </decisions>
    <interviewLabel>LP - MLS Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - MLS Sequence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Call_client_to_follow_up_with_NWMLS_Intro</name>
        <label>Call client to follow up with NWMLS Intro</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with NWMLS Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_client_to_follow_up_with_NWMLS_Intro_0</name>
        <label>Call client to follow up with NWMLS Intro</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call client to follow up with NWMLS Intro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>hola</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128D000000DtmYQAS</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_minutes_later</name>
            <connector>
                <targetReference>MLS_BOARD_0</targetReference>
            </connector>
            <label>2 minutes later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_minutes_later</name>
            <connector>
                <targetReference>MLS_BOARD_0_0_0</targetReference>
            </connector>
            <label>3 minutes later</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_minutes_later</name>
            <connector>
                <targetReference>MLS_BOARD_0_0</targetReference>
            </connector>
            <label>4 minutes later</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_minutes_later</name>
            <connector>
                <targetReference>Call_client_to_follow_up_with_NWMLS_Intro_0</targetReference>
            </connector>
            <label>6 minutes later</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_minute_later</name>
            <connector>
                <targetReference>MLS_BOARD_0_0_0_0</targetReference>
            </connector>
            <label>1 minute later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
</Flow>
