unpackaged/main/default/flows/LP_MLS_Implementation_Service_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_counter_to_service</name>
        <label>Add counter to service</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>singleService.MLS_Related_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MLS_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Completed_MLS_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Completed_MLS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MLS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_service_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_counter_to_service1</name>
        <label>Add counter to service</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>singleService.MLS_Related_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MLS_Services1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Completed_MLS_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Completed_MLS1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counters1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MLS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.IDX_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_service_to_collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_counter_to_service_StatusChanged</name>
        <label>Add counter to service</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>singleService.MLS_Related_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MLS_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Completed_MLS_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Completed_MLS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counters_StatusChanged.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MLS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_service_to_collection_StatusChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_service_to_collection</name>
        <label>Add to service to collection</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>collectionService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_service_to_collection1</name>
        <label>Add to service to collection</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>collectionService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counters1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_service_to_collection_GetPaperWork</name>
        <label>Add to service to collection</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>collectionService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counters_GetPaperWork</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_service_to_collection_StatusChanged</name>
        <label>Add to service to collection</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>collectionService</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Services_StatusChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_counter_to_service</name>
        <label>Add counter to service</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>singleService.MLS_Related_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MLS_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Completed_MLS_Services__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Completed_MLS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counters_GetPaperWork.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleService.MLS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MLS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_service_to_collection_GetPaperWork</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MLS_Status</name>
        <label>MLS Status</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLS_Services1</targetReference>
            </connector>
            <label>IS NEW</label>
        </rules>
        <rules>
            <name>IDX_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDX Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLS_Services</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IDX Completed</label>
        </rules>
        <rules>
            <name>Get_paperwork_started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Get Paperwork Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paper_Work_Started_Date_Updated</targetReference>
            </connector>
            <label>Get paperwork started</label>
        </rules>
        <rules>
            <name>MLS_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_Launches_Service_StatusChanged</targetReference>
            </connector>
            <label>MLS Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCompletedMLS</name>
        <dataType>Number</dataType>
        <expression>IF({!varCountCompletedMLS}= 0,0, {!varCountCompletedMLS}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LP - MLS Implementation Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - MLS Implementation Service Updated</label>
    <loops>
        <name>Counters</name>
        <label>Counters</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>Website_Launches_Service</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_counter_to_service</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Services</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Counters1</name>
        <label>Counters</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Website_Launches_Service1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_counter_to_service1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Services1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Counters_GetPaperWork</name>
        <label>Counters</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <collectionReference>Website_Launches_Service_GetPaperWork</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Add_counter_to_service</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Services_GetPaperWork</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Counters_StatusChanged</name>
        <label>Counters</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <collectionReference>Website_Launches_Service_StatusChanged</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_counter_to_service_StatusChanged</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Completed_MLS</name>
        <label>Completed MLS</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Launches_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Completed_MLS1</name>
        <label>Completed MLS</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_Launches_Service1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MLS_Services</name>
        <label>MLS Services</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed_MLS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MLS_Services1</name>
        <label>MLS Services</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed_MLS1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_Launches_Service</name>
        <label>Website Launches Service</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counters</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Agent_Subdomains</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_Launches_Service1</name>
        <label>Website Launches Service</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counters1</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Agent_Subdomains</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_Launches_Service_GetPaperWork</name>
        <label>Website Launches Service</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counters_GetPaperWork</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Agent_Subdomains</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_Launches_Service_StatusChanged</name>
        <label>Website Launches Service</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counters_StatusChanged</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Website_Launches</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Custom_Website</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_Agent_Subdomains</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Completed_Date_Time_Updated</name>
        <label>Completed Date Time - Updated</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Get_Paper_Work_Started_Date_Updated</name>
        <label>Get Paper Work Started Date - Updated</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Website_Launches_Service_GetPaperWork</targetReference>
        </connector>
        <inputAssignments>
            <field>Get_Paperwork_Started_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services</name>
        <label>Update Services</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Completed_Date_Time_Updated</targetReference>
        </connector>
        <inputReference>collectionService</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services1</name>
        <label>Update Services</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>collectionService</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services_GetPaperWork</name>
        <label>Update Services</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <inputReference>collectionService</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Services_StatusChanged</name>
        <label>Update Services</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Counters_StatusChanged</targetReference>
        </connector>
        <inputReference>collectionService</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MLS_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLS Implementation</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionService</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>singleService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varCountCompletedMLS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
