unpackaged/main/default/flows/LP_Opportunity_Status_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0</name>
        <label>Add to collection</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0</name>
        <label>Add to collection</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0</name>
        <label>Add to collection</label>
        <locationX>974</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_lead</name>
        <label>Add to collection lead</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_book_entry_social</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_lead_0</name>
        <label>Add to collection lead</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_lead_0_0</name>
        <label>Add to collection lead</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_book_entry_social_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_lead_0_0_0</name>
        <label>Add to collection lead</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varCollectionOppProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product</name>
        <label>Create opportunity product</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0</name>
        <label>Create opportunity product</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0</name>
        <label>Create opportunity product</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_social.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0_0</name>
        <label>Create opportunity product</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0_0_0</name>
        <label>Create opportunity product</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0_0_0_0</name>
        <label>Create opportunity product</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_lead_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_lead_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0_0_0_0_0</name>
        <label>Create opportunity product</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_social_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_lead_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opportunity_product_0_0_0_0_0_0_0</name>
        <label>Create opportunity product</label>
        <locationX>974</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry_0_0_SEO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Tier_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tier_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update1_Loss</name>
        <label>Update1</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Fast_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fast_track</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Marketing_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design_template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Subscription_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.MLS_Implementation_Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLS_Implementation_timeline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Contract_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Preferred_communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_communication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.LP_Site_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_LP_site_they_referenced_that</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Client_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_reasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loss_reason1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update1_Loss_0</name>
        <label>Update1</label>
        <locationX>2338</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Fast_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fast_track</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Marketing_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design_template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Subscription_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.MLS_Implementation_Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLS_Implementation_timeline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Contract_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Preferred_communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_communication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.LP_Site_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_LP_site_they_referenced_that</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Client_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0</name>
        <label>Update</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Tier_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tier_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Requires_SEO_Migration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requieres_SEO_Migration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0</name>
        <label>Update</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Tier_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tier_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0_0</name>
        <label>Update</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Tier_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tier_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Requires_SEO_Migration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requieres_SEO_Migration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0_0_0</name>
        <label>Update</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Tier_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tier_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Requires_SEO_Migration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requieres_SEO_Migration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0_0_0_0</name>
        <label>Update</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0_0_0_0_0</name>
        <label>Update</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_0_0_0_0_0_0_0</name>
        <label>Update</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_feee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_SEO_Migration_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_future</name>
        <label>Update1</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.One_Time_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_time_fees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Fast_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fast_track</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Subscription_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_subscription_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Monthly_Marketing_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monthly_marketing_fee1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Marketing_subscription_payment_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marketing_subscription_payment_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Design_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design_template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Subscription_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Website_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.MLS_Implementation_Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLS_Implementation_timeline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Contract_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Preferred_communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_communication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.LP_Site_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_LP_site_they_referenced_that</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Client_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Future Close</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.VIP_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIP_reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_product</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClosedLost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedLost1</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closedwon</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedWon1</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>Futureclosed</name>
        <choiceText>Future closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Future Closed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Marketing_product_decision</name>
        <label>Marketing product</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_or_social_media</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Marketing_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Marketing_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Basic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry</targetReference>
            </connector>
            <label>Lead or social media</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketing_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry_lead</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketing_product_decision_0</name>
        <label>Marketing product</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_or_social_media_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Marketing_product_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead generation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Marketing_product_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media Basic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry_0_0</targetReference>
            </connector>
            <label>Lead or social media</label>
        </rules>
        <rules>
            <name>Both_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketing_product_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry_lead_0</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Require_SEO_Migration_0</name>
        <label>Require SEO Migration?</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Update_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requieres_SEO_Migration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Require_SEO_Migration_0_0</name>
        <label>Require SEO Migration?</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Requieres_SEO_Migration_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_book_entry_0_0_SEO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1546</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demo_to_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_0</targetReference>
            </connector>
            <label>Demo to contract</label>
        </rules>
        <rules>
            <name>Demo_to_contract_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_0_0</targetReference>
            </connector>
            <label>Demo to contract 2</label>
        </rules>
        <rules>
            <name>Closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_wonn</targetReference>
            </connector>
            <label>Closed won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_closed</name>
        <label>Status</label>
        <locationX>2118</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Futureclosed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_future</targetReference>
            </connector>
            <label>Future</label>
        </rules>
        <rules>
            <name>Loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedLost1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update1_Loss</targetReference>
            </connector>
            <label>Loss</label>
        </rules>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWon1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_product</targetReference>
            </connector>
            <label>Won without MLS</label>
        </rules>
        <rules>
            <name>Won_with_IDX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClosedWon1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update1_Loss_0</targetReference>
            </connector>
            <label>Won with IDX</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>design_template_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Design_Template__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>disruptor_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Disruptor_Package__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Loss_Reason_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>marketingproductchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Marketing_Product__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mkt_subscription_payment_term</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Marketing_subscription_payment_term__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mls_board_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLS_Board__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mls_implementation_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MLS_Implementation_Timeline__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequiresSEOMigration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Requires_SEO_Migration__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tier_plan_list</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tier_Plan__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vip_reasons_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VIP_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>website_subscription_payment_term_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Website_subscription_payment_term__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>website_type_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Website_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forError</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND( {!Stage}= &quot;Closed Won&quot;, {!Opportunity.IDX_Tool__c} = true, {!Opportunity.MLS_count__c} =0
), true, false
)</expression>
    </formulas>
    <interviewLabel>LP - Opportunity Status Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Opportunity Status Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Opportunity_product</name>
        <label>Opportunity product</label>
        <locationX>1546</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
        <inputReference>varCollectionOppProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>1546</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_price_book_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry</name>
        <label>Price book entry</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marketing_product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_0</name>
        <label>Price book entry</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwpYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_0_0</name>
        <label>Price book entry</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Marketing_product_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_0_0_SEO</name>
        <label>Price book entry</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwpYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_lead</name>
        <label>Price book entry lead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwfYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_lead_0</name>
        <label>Price book entry lead</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwfYAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_social</name>
        <label>Price book entry social media</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwLYAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry_social_0</name>
        <label>Price book entry social media</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity_product_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01tEY000000EMwLYAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_price_book_to_opp</name>
        <label>Add price book to opp</label>
        <locationX>1546</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s5f00000453KtAAI</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>1546</locationX>
        <locationY>2606</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Closed_wonn</name>
        <label>Closed won</label>
        <locationX>2118</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Status_closed</targetReference>
        </connector>
        <fields>
            <name>Stage</name>
            <choiceReferences>Futureclosed</choiceReferences>
            <choiceReferences>ClosedWon1</choiceReferences>
            <choiceReferences>ClosedLost1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loss_reason1</name>
            <choiceReferences>Loss_Reason_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClosedLost</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Closed_lost_notes</name>
            <dataType>String</dataType>
            <fieldText>Closed lost notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClosedLost</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Order_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Order number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>One_time_fees</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.One_Time_Fee__c</elementReference>
            </defaultValue>
            <fieldText>One- time fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fast_track</name>
            <dataType>Boolean</dataType>
            <fieldText>Fast track</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_subscription_fee1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Subscription_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly subscription fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Website_subscription_payment_term</name>
            <choiceReferences>website_subscription_payment_term_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Website_subscription_payment_term__c</elementReference>
            </defaultValue>
            <fieldText>Website subscription payment term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Monthly_marketing_fee1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Marketing_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly marketing fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marketing_subscription_payment_term</name>
            <choiceReferences>mkt_subscription_payment_term</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Marketing_subscription_payment_term__c</elementReference>
            </defaultValue>
            <fieldText>Marketing subscription payment term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Design_template</name>
            <choiceReferences>design_template_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Design_Template__c</elementReference>
            </defaultValue>
            <fieldText>Design template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Brokerage1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Brokerage__c</elementReference>
            </defaultValue>
            <fieldText>Brokerage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disruptor_package</name>
            <choiceReferences>disruptor_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Disruptor_Package__c</elementReference>
            </defaultValue>
            <fieldText>Disruptor package</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VIP</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Opportunity.VIP__c</elementReference>
            </defaultValue>
            <fieldText>VIP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VIP_reasons</name>
            <choiceReferences>vip_reasons_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.VIP_Reason__c</elementReference>
            </defaultValue>
            <fieldText>VIP reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subscription_start_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Opportunity.Subscription_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Subscription start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Website_type</name>
            <choiceReferences>website_type_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Website_Type__c</elementReference>
            </defaultValue>
            <fieldText>Website type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier_plan1</name>
            <choiceReferences>tier_plan_list</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Tier_Plan__c</elementReference>
            </defaultValue>
            <fieldText>Tier plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MLS_Implementation_timeline</name>
            <choiceReferences>mls_implementation_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.MLS_Implementation_Timeline__c</elementReference>
            </defaultValue>
            <fieldText>MLS Implementation timeline</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.City__c</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.State__c</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_notes</name>
            <defaultValue>
                <stringValue>{!Opportunity.Contract_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Contact notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_communication</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Preferred_communication__c</elementReference>
            </defaultValue>
            <fieldText>Preferred communication</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_there_an_LP_site_they_referenced_that</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.LP_Site_Reference__c</elementReference>
            </defaultValue>
            <fieldText>Is there an LP site they referenced that</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Client_notes</name>
            <defaultValue>
                <stringValue>{!Opportunity.Client_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Client notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Closedwon</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Opportunity has the Opportunity Product &quot;IDX Tool&quot; and no Opportunity MLS Board records related, so you can not change status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClosedWon1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.IDX_Tool__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.MLS_count__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_0</name>
        <label>Demo</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Marketing_product_decision</targetReference>
        </connector>
        <fields>
            <name>Brokerage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Brokerage__c</elementReference>
            </defaultValue>
            <fieldText>Brokerage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>One_time_feee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.One_Time_Fee__c</elementReference>
            </defaultValue>
            <fieldText>One time fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_subscription_fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Subscription_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly subscription fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_marketing_fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Marketing_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly marketing fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tier_plan</name>
            <choiceReferences>tier_plan_list</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Tier_Plan__c</elementReference>
            </defaultValue>
            <fieldText>Tier plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marketing_product</name>
            <choiceReferences>marketingproductchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marketing product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requieres_SEO_Migration</name>
            <choiceReferences>RequiresSEOMigration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requieres SEO Migration?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_0_0</name>
        <label>Demo</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Marketing_product_decision_0</targetReference>
        </connector>
        <fields>
            <name>Brokerage_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Brokerage__c</elementReference>
            </defaultValue>
            <fieldText>Brokerage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>One_time_feee_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.One_Time_Fee__c</elementReference>
            </defaultValue>
            <fieldText>One time fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_subscription_fee_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Subscription_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly subscription fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_marketing_fee_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Opportunity.Monthly_Marketing_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Monthly marketing fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tier_plantext</name>
            <fieldText>&lt;p&gt;Tier Plan: {!Opportunity.Tier_Plan__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marketing_product_0</name>
            <choiceReferences>marketingproductchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marketing product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requieres_SEO_Migration_0</name>
            <choiceReferences>RequiresSEOMigration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Requieres SEO Migration?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tier_plan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Growth</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Premium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity.Tier_Plan__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Elite</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1420</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollectionOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varSingleOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
