unpackaged/main/default/flows/LP_Opp_Addendum_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_requested</name>
        <label>Credit requested</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyCredit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>billing@luxurypresence.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Credit request for: {!$Record.Account.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_biling</name>
        <label>Email to biling</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>billing@luxurypresence.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity {!$Record.Name} is now in Contract stage.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refund_requested</name>
        <label>Refund requested</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Owner_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyRefund</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>billing@luxurypresence.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Refund request for: {!$Record.Account.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>798</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varSingleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reactivate Feed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for5BDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_IDX_Service.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_IDX_Service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_IDX_Service</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owner_changed</name>
        <label>Owner changed?</label>
        <locationX>842</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Reactivation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_Date</targetReference>
            </connector>
            <label>Owner was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reactivation</name>
        <label>Reactivation?</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactivation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reactivation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IDX_Services</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reactivation - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund_credit_is_changed</name>
        <label>Refund/credit is changed?</label>
        <locationX>842</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Owner_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Refund__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund_requested</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Refund changed</label>
        </rules>
        <rules>
            <name>Credit_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Refund_Credit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_requested</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Credit change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>842</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_biling</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contract</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Retention_false</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Closed_won_saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_name</targetReference>
            </connector>
            <label>Closed won - Saved</label>
        </rules>
        <rules>
            <name>Closed_Won1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_and_marketing_fee</name>
        <label>Subscription and marketing fee</label>
        <locationX>974</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Monthly_Subscription_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Marketing_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_fees_to_account</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_plan_change</name>
        <label>Tier plan change</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium_Elite_Growth_Brand</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_the_lifetime_AA_report_and_set_up_in_Google_Data_Studio_instead</targetReference>
            </connector>
            <label>Premium / Elite / Growth → Brand</label>
        </rules>
        <rules>
            <name>Brand_Growth_Premium_Elite</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_data_studio_email_and_set_up_in_AA_instead</targetReference>
            </connector>
            <label>Brand → Growth / Premium / Elite</label>
        </rules>
        <rules>
            <name>Launch_Growth_Premium_Elite</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_in_AA_and_perform_NCS_task</targetReference>
            </connector>
            <label>Launch → Growth / Premium / Elite</label>
        </rules>
        <rules>
            <name>Launch_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_in_GDS_and_perform_NCS_task</targetReference>
            </connector>
            <label>Launch → Brand</label>
        </rules>
        <rules>
            <name>Premium_Elite_Growth_Brand_Launch</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pull_the_lifetime_AA_report_and_remove_from_AA_Growth_Premium_Elite_OR_Remove_da</targetReference>
            </connector>
            <label>Premium / Elite / Growth / Brand → Launch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for5BDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <interviewLabel>LP - Opp Addendum Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Opp Addendum Change</label>
    <loops>
        <name>Each_IDX_Service</name>
        <label>Each IDX Service</label>
        <locationX>710</locationX>
        <locationY>1439</locationY>
        <collectionReference>IDX_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reactivate_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reactivate_Tasks</name>
        <label>Create Reactivate Tasks</label>
        <locationX>710</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <inputReference>collectionTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Pull_the_lifetime_AA_report_and_remove_from_AA_Growth_Premium_Elite_OR_Remove_da</name>
        <label>Pull the lifetime AA report and remove from AA (Growth/Premium/Elite) OR Remove data studio email (Brand)</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgVCYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pull the lifetime AA report and remove from AA (Growth/Premium/Elite) OR Remove data studio email (Brand) </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Pull_the_lifetime_AA_report_and_set_up_in_Google_Data_Studio_instead</name>
        <label>Pull the lifetime AA report and set up in Google Data Studio instead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgVCYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pull the lifetime AA report and set up in Google Data Studio instead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Remove_data_studio_email_and_set_up_in_AA_instead</name>
        <label>Remove data studio email and set up in AA instead</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgVCYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Remove data studio email and set up in AA instead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_up_in_AA_and_perform_NCS_task</name>
        <label>Set up in AA and perform NCS task</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgVCYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set up in AA and perform NCS task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_up_in_GDS_and_perform_NCS_task</name>
        <label>Set up in GDS and perform NCS task</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Refund_credit_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgVCYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set up in GDS and perform NCS task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>IDX_Services</name>
        <label>IDX Services</label>
        <locationX>710</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_IDX_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Retention_false</name>
        <label>Account - Retention false</label>
        <locationX>578</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>Retention__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Account_retention_false1</name>
        <label>Account retention false</label>
        <locationX>974</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Subscription_and_marketing_fee</targetReference>
        </connector>
        <inputAssignments>
            <field>Retention__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_fees_to_account</name>
        <label>Add fees to account</label>
        <locationX>842</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>Monthly_Marketing_Fee1__c</field>
            <value>
                <elementReference>$Record.Monthly_Marketing_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee1__c</field>
            <value>
                <elementReference>$Record.Monthly_Subscription_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_name</name>
        <label>Change name</label>
        <locationX>974</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Account_retention_false1</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Name} - Saved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Opportunity_Closed_Won_Addnedum</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>In_Progress_Date</name>
        <label>In Progress Date</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>In_Progress_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assigned_Date</name>
        <label>Update - Assigned Date</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Reactivation</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tier_plan_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvK3AAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyContract</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Team!
The contract for {!$Record.Name} has been sent please review accordingly. 
https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyCredit</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi team! 
A credit was requested for client {!$Record.Account.Name} with credit amount {!$Record.Credit__c}. 
Link: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>bodyRefund</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi team! 
A refund was requested for client {!$Record.Account.Name}, with refund amount {!$Record.Refund__c} and refund reason {!$Record.Refund_reason__c}
Link: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>collectionTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varSingleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
