unpackaged/main/default/flows/LP_Pages_of_Copywritting_Service_Schedule_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Client_review_notification</name>
        <label>Client review notification</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!$Record.Name} is ready for client review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Client_review_notification_IM</name>
        <label>Client review notification - IM</label>
        <locationX>1282</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!$Record.Name} is ready for client review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Creating_Content_Notification</name>
        <label>Creating Content - Notification</label>
        <locationX>2866</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_ContentReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service schedule {!$Record.Name} is in Creating Content status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Creating Content</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsersID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_AM_and_IM_to_collection</name>
        <label>Add AM and IM to collection</label>
        <locationX>2866</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creating_Content_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AM_to_collection</name>
        <label>Add AM to collection</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_review_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IM_to_collection</name>
        <label>Add IM to collection</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varUsersID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service__r.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_review_notification_IM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Content_type</name>
        <label>Content type</label>
        <locationX>1590</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Misc_Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc Copy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Misc_Copy_User</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Misc Copy</label>
        </rules>
        <rules>
            <name>Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blogs_User</targetReference>
            </connector>
            <label>Blogs</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CSM_Active</name>
        <label>If CSM Active</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AM_to_collection</targetReference>
            </connector>
            <label>CSM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_OM_Active</name>
        <label>If OM Active</label>
        <locationX>1414</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Implementation_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IM_to_collection</targetReference>
            </connector>
            <label>OM Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Status</name>
        <label>Prior Status</label>
        <locationX>1590</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Content_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_QA_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_QA_End_Date</targetReference>
            </connector>
            <label>Final QA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_pages</name>
        <label>Status - pages</label>
        <locationX>1590</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Assigning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Assigning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Due_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready for Assigning</label>
        </rules>
        <rules>
            <name>Final_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_QA_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Final QA</label>
        </rules>
        <rules>
            <name>Ready_for_client_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_implementation_status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready for client review</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_implementation_status1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Sent_for_Client_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sent_for_Approval_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent for Client Approval</label>
        </rules>
        <rules>
            <name>Creating_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creating Content</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AM_and_IM_to_collection</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Creating Content</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_implementation_status</name>
        <label>Website implementation status</label>
        <locationX>1216</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launched_Not_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account_Manager__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_CSM_Active</targetReference>
            </connector>
            <label>Launched - Not Support</label>
        </rules>
        <rules>
            <name>Launched_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account_Manager__r.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Send_copywritting_to_client</targetReference>
            </connector>
            <label>Launched - Support</label>
        </rules>
        <rules>
            <name>Not_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_OM_Active</targetReference>
            </connector>
            <label>Not launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_implementation_status1</name>
        <label>Website implementation status</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launched1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account_Manager__r.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_content_to_the_client_site_AM</targetReference>
            </connector>
            <label>Launched</label>
        </rules>
        <rules>
            <name>Not_launched1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Account_Manager__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_content_to_the_client_site_IM</targetReference>
            </connector>
            <label>Not launched</label>
        </rules>
    </decisions>
    <description>Added Condition for OM and CSM Notification when Active</description>
    <environments>Default</environments>
    <formulas>
        <name>forCheckApprovalTaks</name>
        <dataType>String</dataType>
        <expression>&quot;Check Approval by Client - &quot; +  {!$Record.Service__r.Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>forDueDate1BD</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forDueDate21BD</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
 1, {!$Flow.CurrentDate} + 29,
 2, {!$Flow.CurrentDate} + 29,
 3, {!$Flow.CurrentDate} + 29,
 4, {!$Flow.CurrentDate} + 29,
 5, {!$Flow.CurrentDate} + 30,
 6, {!$Flow.CurrentDate} + 31,
  {!$Flow.CurrentDate} + 21
)</expression>
    </formulas>
    <formulas>
        <name>forSSDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE( {!varSSCount}, 
0, ADDMONTHS({!$Record.Due_Date__c},1),
1, ADDMONTHS({!$Record.Due_Date__c},2),
2, ADDMONTHS({!$Record.Due_Date__c},3),
ADDMONTHS({!$Record.Due_Date__c},1)
)</expression>
    </formulas>
    <interviewLabel>LP - Pages of Copywritting Service Schedule Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Pages of Copywritting Service Schedule Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Google_Doc_Task1</name>
        <label>Add Google Doc - Task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Add_Google_Doc_User1</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Add_Google_Doc_User1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add Google Doc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Case_Send_copywritting_to_client</name>
        <label>Case - Send copywritting to client</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Ready_for_Client_Review_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Service__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Send copywritting to client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Case_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Schedule__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send copywritting to client</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Post_content_to_the_client_site_AM</name>
        <label>Post content to the client site - AM</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Post_Copywritting_AM_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post Content To The Client Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Post_content_to_the_client_site_IM</name>
        <label>Post content to the client site - IM</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Post_Copywritting_IM_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Service__r.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post Content To The Client Site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Post_Copywritting_AM_Task</name>
        <label>Post Copywritting - AM Task</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Service__r.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post Copywritting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Post_Copywritting_IM_Task</name>
        <label>Post Copywritting - IM Task</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Service__r.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post Copywritting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Add_Google_Doc_User1</name>
        <label>Add Google Doc User</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Google_Doc_Task1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_Google_Doc_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Blogs_User</name>
        <label>Blogs User</label>
        <locationX>1590</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Content_Specialist_Blogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Content_Type_Blogs__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_SS_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Misc_Copy_User</name>
        <label>Misc Copy User</label>
        <locationX>1326</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Content_Specialist_Misc_Copy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Content_Type_Misc_Copy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_SS_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Content_Specialist_Blogs</name>
        <label>Add Content Specialist - Blogs</label>
        <locationX>1590</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Blogs_user_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Specialist__c</field>
            <value>
                <elementReference>Blogs_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Content_Specialist_Misc_Copy</name>
        <label>Add Content Specialist - Misc Copy</label>
        <locationX>1326</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Misc_copy_user_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Specialist__c</field>
            <value>
                <elementReference>Misc_Copy_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Due_Date</name>
        <label>Add Due Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_Google_Doc_User1</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>forDueDate21BD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Sent_for_Approval_Date</name>
        <label>Add Sent for Approval Date</label>
        <locationX>2602</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent_for_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blogs_user_update</name>
        <label>Blogs user update</label>
        <locationX>1590</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Blogs_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_SS_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Misc_copy_user_update</name>
        <label>Misc copy user update</label>
        <locationX>1326</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Misc_Copy_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_SS_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_for_Client_Review_Date</name>
        <label>Ready for Client Review Date</label>
        <locationX>1216</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_Client_Review_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Add_Google_Doc_User1</name>
        <label>Update Add Google Doc User</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Google_Doc_User1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_QA_End_Date</name>
        <label>Update - Final QA End Date</label>
        <locationX>1458</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Content_type</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_QA_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_QA_Start_Date</name>
        <label>Update - Final QA Start Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Final_QA_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_pages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pages of Copywriting</stringValue>
            </value>
        </filters>
        <object>Service_schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEmailSSReadyForApproval</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The service {!$Record.Name} for client {!$Record.Service__r.Account__r.Name} is ready for approval please review. 
https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <variables>
        <name>collectionSS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>collectionUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>varSSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUsersID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
