unpackaged/main/default/flows/LP_Paid_Media_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Generation_Approved</name>
        <label>Lead Generation - Approved</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Erased_collection_and_AM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_PaidMediaStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyPaidMediaApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Approved Ad</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Lead_Generation_Approved_AM</name>
        <label>Lead Generation - Approved - AM</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_PaidMediaStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyPaidMediaApprovedAM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Client Campaign Live</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notificarion_Paid_Media_Live</name>
        <label>Notificarion - Paid Media Live</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_SS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_PaidMediaStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!$Record.Name} is Live. Please review accordingly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Live</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Start_Build_Out_notification</name>
        <label>Start Build Out notification</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_PaidMediaStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service for {!$Record.Account__r.Name} is on Start Build Out Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Strategy_Creation_notification</name>
        <label>Strategy Creation notification</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_PaidMediaStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The Service {!$Record.Name} is now in Strategy Creation status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1</name>
        <label>Add 1</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SSCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AM_to_collection</name>
        <label>Add AM to collection</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificarion_Paid_Media_Live</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_owner_to_collection</name>
        <label>Add owner to collection</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Generation_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_to_collection_var</name>
        <label>Add user to collection var</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Build_Out_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_to_collection_var1</name>
        <label>Add user to collection var</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Strategy_Creation_notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Service_Schedule</name>
        <label>Create Service Schedule</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>singleServiceS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Paid_Media_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Paid_Media_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_SS_Paid_Media</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Erased_collection_and_AM</name>
        <label>Erased collection and AM</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>collectionUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Generation_Approved_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SSCollection</name>
        <label>SSCollection</label>
        <locationX>1106</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>collectionServiceS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleServiceS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_SS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_SS</name>
        <label>Create SS</label>
        <locationX>1238</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Create_SS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Schedule</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Strategy_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategy Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_collection_var1</targetReference>
            </connector>
            <label>Strategy Creation</label>
        </rules>
        <rules>
            <name>Account_Access_and_Authorization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Access and Authorization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_access_to_appropriate_accounts_Facebook_Google</targetReference>
            </connector>
            <label>Account Access and Authorization</label>
        </rules>
        <rules>
            <name>Start_build_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start Build Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_to_collection_var</targetReference>
            </connector>
            <label>Start build out</label>
        </rules>
        <rules>
            <name>Ad_Preview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Ad_Previews_for_client_approval_task</targetReference>
            </connector>
            <label>Ad Preview</label>
        </rules>
        <rules>
            <name>Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Schedule_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Paid_Media_Done</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Live</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_owner_to_collection</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_plan_VIP</name>
        <label>Tier plan - VIP?</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_SS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_brand_no_VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Tier_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AM_to_collection</targetReference>
            </connector>
            <label>No brand - no VIP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateValue</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},{!Months})</expression>
    </formulas>
    <formulas>
        <name>DueDate7BDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD({!$Flow.CurrentDate} - DATE(1900,1,7), 7),
1, {!$Flow.CurrentDate} + 9,
2, {!$Flow.CurrentDate} + 9,
3, {!$Flow.CurrentDate} + 9,
4, {!$Flow.CurrentDate} + 11,
5, {!$Flow.CurrentDate} + 11,
{!$Flow.CurrentDate} + 7
)</expression>
    </formulas>
    <formulas>
        <name>LastDay</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!DateValue} ) = 12, 
DATE( YEAR( {!DateValue} ), 12, 31 ), 
DATE( YEAR( {!DateValue} ), MONTH({!DateValue} ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Month</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!DateValue}),
1, &quot;January&quot;,
2,&quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5,&quot;May&quot;,
6,&quot;June&quot;,
7,&quot;July&quot;,
8,&quot;August&quot;,
9,&quot;September&quot;,
10,&quot;October&quot;,
11,&quot;November&quot;,
12,&quot;December&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>SSName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name}+ &quot; - &quot; + {!$Record.RecordType.Name} + &quot; - &quot;+{!Month}</expression>
    </formulas>
    <interviewLabel>LP - Paid Media Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Paid Media Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Confirm_access_to_appropriate_accounts_Facebook_Google</name>
        <label>Confirm access to appropriate accounts (Facebook/Google)</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_CC_Authorization_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Confirm access to appropriate accounts (Facebook/Google)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SS1</name>
        <label>Create SS</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Service_Schedule_Created_True</targetReference>
        </connector>
        <inputReference>collectionServiceS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Send_Ad_Previews_for_client_approval_task</name>
        <label>Send Ad Previews for client approval task</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate7BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Ad Previews for client approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_CC_Authorization_Form</name>
        <label>Send CC Authorization Form</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Account_Paid_media_true</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send CC Authorization Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Account_Paid_Media_Done</name>
        <label>Account - Paid Media - Done</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Tier_plan_VIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Media_Done__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Paid_media_true</name>
        <label>Account- Paid media true</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paid_Media_Done__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Service_Schedule_Created_True</name>
        <label>Service Schedule Created - True</label>
        <locationX>1370</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Service_Schedule_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Media</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyPaidMediaApproved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Ad for {!$Record.Name} has been approved by the client, please launch the campaign.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyPaidMediaApprovedAM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The campaign for {!$Record.Name} is now Live.</text>
    </textTemplates>
    <variables>
        <name>collectionServiceS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>collectionUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Months</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>singleServiceS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
</Flow>
