unpackaged/main/default/flows/LP_Platform_Migration_Credential_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Immediate_Email_Alert</name>
        <label>Immediate Email Alert</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Service__c.Immediate_Platform_Migration_Credential_Check</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.Immediate_Platform_Migration_Credential_Check</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X16_Days_Email_Alert</name>
        <label>16 Days Email Alert</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <actionName>Service__c.X16_days_Platform_Migration_Credential_Check</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.X16_days_Platform_Migration_Credential_Check</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X2_Days_Email_Alert</name>
        <label>2 Days Email Alert</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>Service__c.X2_days_Platform_Migration_Credential_Check</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.X2_days_Platform_Migration_Credential_Check</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X9_Days_Email_Alert</name>
        <label>9 Days Email Alert</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <actionName>Service__c.X9_days_Platform_Migration_Credential_Check</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Service__c.X9_days_Platform_Migration_Credential_Check</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>LP - Platform Migration Credential Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Platform Migration Credential Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Immediate_Email_Alert</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128D000000DtmdQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credential Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Registration_Username__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Registration_Password__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Delay</name>
            <connector>
                <targetReference>X2_Days_Email_Alert</targetReference>
            </connector>
            <label>2 Days Delay</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X9_Days_Delay</name>
            <connector>
                <targetReference>X9_Days_Email_Alert</targetReference>
            </connector>
            <label>9 Days Delay</label>
            <offsetNumber>9</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X16_Days_Delay</name>
            <connector>
                <targetReference>X16_Days_Email_Alert</targetReference>
            </connector>
            <label>16 Days Delay</label>
            <offsetNumber>16</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
