unpackaged/main/default/flows/LP_Presence_Copilot_Service_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Create the Presence Copilot task and add it to the collection</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_General_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quantity</name>
        <label>Quantity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Presence_Copilot_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forTaskName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} + &quot; - Presence Copilot&quot;</expression>
    </formulas>
    <interviewLabel>LP - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Presence Copilot Service Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Presence_Copilot_Tasks</name>
        <label>Create Presence Copilot Tasks</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputReference>varCTask</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>Update the &quot;Presence Copilot&quot; checkbox in true</description>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Presence_Copilot__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presence Copilot</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection of task created</description>
        <name>varCTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varSTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
