unpackaged/main/default/flows/LP_Retention_Cases_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Notify_Owner</name>
        <label>Copy 1 of Notify Owner</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>Case.nwcs_ldl__Notify_Case_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.nwcs_ldl__Notify_Case_Owner</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>501</locationX>
        <locationY>2171</locationY>
        <actionName>Case.nwcs_ldl__Notify_Case_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_Retention_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.nwcs_ldl__Notify_Case_Owner</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_of_Days_Closed</name>
        <label>Set # of Days Closed</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varDaysClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formDaysClosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Days_Since_Close</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Tier_Priority</name>
        <label>Customer Tier/Priority</label>
        <locationX>501</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>User_Retention_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP_High_Priority</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_SRCXM_Only_Retention_Cases</targetReference>
            </connector>
            <label>Senior CXM</label>
        </rules>
        <rules>
            <name>CXM_Only</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_CXM_Only_Retention_Cases</targetReference>
            </connector>
            <label>CXM Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Days_Since_Close</name>
        <label>Days Since Close</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Customer_Tier_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDaysClosed</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Case_Owner_Data</targetReference>
            </connector>
            <label>Less than 180</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Case_Owner_Active</name>
        <label>Previous Case Owner Active?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Customer_Tier_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Active</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Case_Owner_Data.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Case_Owner_Data.Retention_All_CX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Case_Owner_Data.Retention_CXM_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_Case_Owner_Data.Retention_Senior_CXM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Previous_Case_Owner</targetReference>
            </connector>
            <label>Owner is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Retention_Case</name>
        <label>Previous Retention Case</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Customer_Tier_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_previous_retention_case.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_of_Days_Closed</targetReference>
            </connector>
            <label>Previous Case Found</label>
        </rules>
    </decisions>
    <description>Adding to only assign to previous owner if the case has been closed less than 180 days</description>
    <environments>Default</environments>
    <formulas>
        <name>formDaysClosed</name>
        <dataType>Number</dataType>
        <expression>TODAY()-DATEVALUE({!Is_there_a_previous_retention_case.ClosedDate})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LP - Retention Cases Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Retention Cases Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Case_Owner_Data</name>
        <label>Get Previous Case Owner Data</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Case_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Is_there_a_previous_retention_case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Looks for a prior retention case for the same account:
Account ID is the Account ID on the triggering case
Record Type Retention
ID is not the triggering case ID
Retention Case Type is not Non Payment
Owner ID is not Grant Stauffer 

Sorting by newest - oldest and saving the newest record to use.</description>
        <name>Is_there_a_previous_retention_case</name>
        <label>Is there a previous retention case?</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Retention_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retention_Request_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Non-Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005EY000000IIOBYA4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_CXM_Only_Retention_Cases</name>
        <label>User - CXM Only Retention Cases</label>
        <locationX>501</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Owner_CXM_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retention_CXM_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Case_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Retention_Cases</name>
        <label>User - All CX Retention Cases</label>
        <locationX>765</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Owner_All_CX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retention_All_CX__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Case_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_SRCXM_Only_Retention_Cases</name>
        <label>User - SRCXM Only Retention Cases</label>
        <locationX>237</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Owner_SRCXM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Retention_Senior_CXM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Case_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Retention_True</name>
        <label>Account - Retention - True</label>
        <locationX>501</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Retention__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Owner_All_CX</name>
        <label>Add Owner - All CX</label>
        <locationX>765</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_User_Last_Case_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Retention_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Owner_CXM_Only</name>
        <label>Add Owner - CXM Only</label>
        <locationX>501</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_CXM_Only_User_Last_Case_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_CXM_Only_Retention_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Owner_SRCXM</name>
        <label>Add Owner - SRCXM</label>
        <locationX>237</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_SRCXM_User_Last_Case_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_SRCXM_Only_Retention_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_to_Previous_Case_Owner</name>
        <label>Assign to Previous Case Owner</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_Previous_Owner_Last_Case_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Previous_Case_Owner_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CXM_Only_User_Last_Case_Assigned</name>
        <label>Update CXM Only User - Last Case Assigned</label>
        <locationX>501</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_CXM_Only_Retention_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Case_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Owner_Last_Case_Assigned</name>
        <label>Update Previous Owner - Last Case Assigned</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Copy_1_of_Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Previous_Case_Owner_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Case_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SRCXM_User_Last_Case_Assigned</name>
        <label>Update SRCXM User - Last Case Assigned</label>
        <locationX>237</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_SRCXM_Only_Retention_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Case_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Last_Case_Assigned</name>
        <label>Update User - Last Case Assigned</label>
        <locationX>765</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Retention_Cases.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Case_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_previous_retention_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Retention_Request_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Non-Payment</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDaysClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
