unpackaged/main/default/flows/LP_Revision_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Record_type</name>
        <label>Record type?</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Xpress_checkout_VIP_or_SemiPod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Revision_Design_refresh</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_design_refresh</targetReference>
            </connector>
            <label>Design refresh</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Revision_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SS_record_type</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>QA_Passback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Revision_QA_Passback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Data_Specialist_QA</targetReference>
            </connector>
            <label>QA Passback</label>
        </rules>
    </decisions>
    <decisions>
        <name>SS_record_type</name>
        <label>SS record type?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blogs_Pages</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Schedule__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_SS_Blogs_per_Quarter</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Schedule__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Revision_PagesCopywriting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Content_specialist</targetReference>
            </connector>
            <label>Blogs / Pages</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xpress_checkout_VIP_or_SemiPod</name>
        <label>Xpress checkout?/VIP or SemiPod?</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Website_builder_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP_SemiPod</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Semi_Custom_Pod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_builder_contact_0_0</targetReference>
            </connector>
            <label>VIP/SemiPod</label>
        </rules>
        <rules>
            <name>Agent_Subdomains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent_Subdomain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_builder_contact_Agentsubdomain</targetReference>
            </connector>
            <label>Agent Subdomains</label>
        </rules>
        <rules>
            <name>Xpress_checkout1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xpress Checkout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Website_builder_contact_0</targetReference>
            </connector>
            <label>Xpress checkout</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - Revision Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Revision Assignments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_Data_Specialist_QA</name>
        <label>Contact - Data Specialist</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Data_Specialist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__r.Owner:User.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Website_Builder_QA</name>
        <label>Contact - Website Builder</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Website_Builder_QA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__r.Owner:User.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_contact</name>
        <label>Data specialist contact</label>
        <locationX>1898</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_specialist_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xpress_checkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_contact_0</name>
        <label>Data specialist contact</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_specialist_user_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Xpress_checkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_contact_0_0</name>
        <label>Data specialist contact</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_specialist_user_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_contact_agentsubdomain</name>
        <label>Data specialist contact</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_specialist_user_agentsubdomain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agent_Subdomain_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_user</name>
        <label>Data specialist user</label>
        <locationX>1898</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_data_specialist_revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_user_0</name>
        <label>Data specialist user</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_data_specialist_revision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_user_0_0</name>
        <label>Data specialist user</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_data_specialist_revision_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Data_specialist_user_agentsubdomain</name>
        <label>Data specialist user</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_data_specialist_revision_agentsubdomain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_agentsubdomain.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Header_image_contact</name>
        <label>Header image contact</label>
        <locationX>1502</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Header_image_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Header_image_contact_0</name>
        <label>Header image contact</label>
        <locationX>1106</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Header_image_user_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Header_image_user</name>
        <label>Header image user</label>
        <locationX>1502</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Header_image_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Header_image_contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Header_image_user_0</name>
        <label>Header image user</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Header_image_user_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Header_image_contact_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Data_Specialist</name>
        <label>User - Data Specialist</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Data_Specialist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Data_Specialist_QA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Website_Builder_QA</name>
        <label>User - Website Builder</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Website_Builder_QA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Website_Builder_QA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_contact</name>
        <label>Website builder contact</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_builder_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Xpress_checkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_contact_0</name>
        <label>Website builder contact</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_builder_user_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Xpress_checkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_contact_0_0</name>
        <label>Website builder contact</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_builder_user_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_contact_Agentsubdomain</name>
        <label>Website builder contact</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Website_builder_user_agentsubdomain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agent_Subdomain_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_revision_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_user</name>
        <label>Website builder user</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_website_builder_revison</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_user_0</name>
        <label>Website builder user</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_website_builder_revison_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_user_0_0</name>
        <label>Website builder user</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_website_builder_revison_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Website_builder_user_agentsubdomain</name>
        <label>Website builder user</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_website_builder_revison_agentsubdomain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_Agentsubdomain.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_data_specialist_revision</name>
        <label>Add data specialist revision</label>
        <locationX>1898</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Data_specialist_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_specialist__c</field>
            <value>
                <elementReference>Data_specialist_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_data_specialist_revision_0</name>
        <label>Add data specialist revision</label>
        <locationX>1634</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Data_specialist_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_specialist__c</field>
            <value>
                <elementReference>Data_specialist_user_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_data_specialist_revision_0_0</name>
        <label>Add data specialist revision</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Data_specialist_date_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_specialist__c</field>
            <value>
                <elementReference>Data_specialist_user_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_data_specialist_revision_agentsubdomain</name>
        <label>Add data specialist revision</label>
        <locationX>1370</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Data_specialist_date_agentsubdomain</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_specialist__c</field>
            <value>
                <elementReference>Data_specialist_user_agentsubdomain.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Header_image_user</name>
        <label>Add Header image user</label>
        <locationX>1502</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Header_image_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_image_curator__c</field>
            <value>
                <elementReference>Header_image_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Header_image_user_0</name>
        <label>Add Header image user</label>
        <locationX>1106</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Header_image_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_image_curator__c</field>
            <value>
                <elementReference>Header_image_user_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_website_builder_revison</name>
        <label>Add website builder revison</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Website_builder_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_builder__c</field>
            <value>
                <elementReference>Website_builder_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_website_builder_revison_0</name>
        <label>Add website builder revison</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Website_builder_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_builder__c</field>
            <value>
                <elementReference>Website_builder_user_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_website_builder_revison_0_0</name>
        <label>Add website builder revison</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Website_builder_date_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_builder__c</field>
            <value>
                <elementReference>Website_builder_user_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_website_builder_revison_agentsubdomain</name>
        <label>Add website builder revison</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Website_builder_date_agentsubdomain</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_builder__c</field>
            <value>
                <elementReference>Website_builder_user_agentsubdomain.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date</name>
        <label>Data specialist date</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Header_image_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_0</name>
        <label>Data specialist date</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Header_image_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_0_0</name>
        <label>Data specialist date</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Header_image_contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_agentsubdomain</name>
        <label>Data specialist date</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Data_specialist_contact_agentsubdomain.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_date</name>
        <label>Header image date</label>
        <locationX>1502</locationX>
        <locationY>2351</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Header_image_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_date_0</name>
        <label>Header image date</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Header_image_contact_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_Content_specialist</name>
        <label>Owner - Content specialist</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <elementReference>$Record.Service_Schedule__r.Content_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_design_refresh</name>
        <label>Owner design refresh</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <stringValue>005EY000000Hg8SYAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Data_Specialist</name>
        <label>Update - Contact - Data Specialist</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Contact_Website_Builder_QA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Data_Specialist_QA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Website_Builder_QA</name>
        <label>Update - Contact - Website Builder</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_DS_WB_OM_IDX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Website_Builder_QA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DS_WB_OM_IDX</name>
        <label>Update - DS WB OM IDX</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Data_specialist__c</field>
            <value>
                <elementReference>User_Data_Specialist.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDX_Coordinator__c</field>
            <value>
                <elementReference>$Record.Service__r.IDX_Coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_builder__c</field>
            <value>
                <elementReference>User_Website_Builder_QA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date</name>
        <label>Website builder date</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Data_specialist_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_0</name>
        <label>Website builder date</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Data_specialist_contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_0_0</name>
        <label>Website builder date</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Data_specialist_contact_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_agentsubdomain</name>
        <label>Website builder date</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Data_specialist_contact_agentsubdomain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Website_builder_contact_Agentsubdomain.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_revision_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_type</targetReference>
        </connector>
        <object>Revision__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
