unpackaged/main/default/flows/LP_Revision_due_date_counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Revision</name>
        <label>New Revision</label>
        <locationX>2338</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_NewRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyNewRevision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Revision</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Service_Schedule__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_count_schedule_service_0</name>
        <label>Add count schedule service</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>varScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Schedule_revisions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revision_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_count_service</name>
        <label>Add count service</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varServiceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Service_revisions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_revisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_owner_to_collection</name>
        <label>Add owner to collection</label>
        <locationX>2338</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service_Schedule__r.Content_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Video_Revision_Schedule</name>
        <label>Count Video Revision Schedule</label>
        <locationX>2866</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>varVRScheduleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Video_Schedule_Revision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Video_Revision_Round</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Video_Revision_Service</name>
        <label>Count Video Revision Service</label>
        <locationX>2866</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varVRServiceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Video_Revision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Video_Schedule_Revision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_VIP</name>
        <label>Account VIP?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Revision_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_vip_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Project_Coordinator_VIP</targetReference>
            </connector>
            <label>Account vip true</label>
        </rules>
        <rules>
            <name>Account_vip_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner</targetReference>
            </connector>
            <label>Account vip false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_VIP_LiveDesign</name>
        <label>Account VIP?</label>
        <locationX>1942</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_VIP_true1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Project_Coordinator_VIP1</targetReference>
            </connector>
            <label>Account VIP true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Analytics_Task</name>
        <label>Analytics Task</label>
        <locationX>710</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>HIC_Task_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_Analytics_Task_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Analytics_Task_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_Analytics_Task_Req</targetReference>
            </connector>
            <label>CRM/Analytics Task Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>HIC_Task_Required</name>
        <label>HIC Task Required</label>
        <locationX>710</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>WB_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HIC_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HIC_Task_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HIC_Request_Task</targetReference>
            </connector>
            <label>HIC Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>2052</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125f000000VvK6AAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_VIP</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Design_refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125f000000VvK5AAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Call_with_Design_Project_Manager</targetReference>
            </connector>
            <label>Design refresh</label>
        </rules>
        <rules>
            <name>Live_Client_Design_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Ec0000000A2bIAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_VIP_LiveDesign</targetReference>
            </connector>
            <label>Live Client Design Revision</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Revision_Marketing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
        <rules>
            <name>Video_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012EY0000004L2FYAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Video_Pod_Queue</targetReference>
            </connector>
            <label>Video Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Revision_type</name>
        <label>Revision type</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Service_RT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Google_Doc_Short</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google Doc - Short</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoogldeDocShort_Date</targetReference>
            </connector>
            <label>Google Doc Short</label>
        </rules>
        <rules>
            <name>Google_Doc_Long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google Doc - Long</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoogleDocLong_Date</targetReference>
            </connector>
            <label>Google Doc Long</label>
        </rules>
        <rules>
            <name>Xpress_checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xpress Checkout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Xpress_Date</targetReference>
            </connector>
            <label>Xpress checkout</label>
        </rules>
        <rules>
            <name>Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blogs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blogs_Date</targetReference>
            </connector>
            <label>Blogs</label>
        </rules>
        <rules>
            <name>Pages_of_Copywriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pages of Copywriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pages_of_Copywriting_Date</targetReference>
            </connector>
            <label>Pages of Copywriting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_RT_0</name>
        <label>Service RT</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Analytics_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stamp_Service_Stage_0</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Refresh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platform Migration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website Launches</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-App Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agent Subdomains</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Service_Status_0</targetReference>
            </connector>
            <label>Stamp Service Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Video</name>
        <label>Type of Video?</label>
        <locationX>2866</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_s_Video_Creation</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Creation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>It&#39;s Video Creation</label>
        </rules>
        <rules>
            <name>It_s_Video_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video Revision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Video_Revision</targetReference>
            </connector>
            <label>It&#39;s Video Revision</label>
        </rules>
    </decisions>
    <description>Due Date, Counter, Service Status</description>
    <environments>Default</environments>
    <formulas>
        <name>forDSSubject</name>
        <dataType>String</dataType>
        <expression>&quot;DS - RR- &quot;+ TEXT({!$Record.Revision_Round__c}) + &quot; &quot; + TEXT({!$Record.Revision_Type__c}) + &quot; | &quot;+{!$Record.Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>forRevisionRound</name>
        <dataType>Number</dataType>
        <expression>{!varScheduleCount} + {!varServiceCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forVRRevisionRound</name>
        <dataType>Number</dataType>
        <expression>{!varVRScheduleCount} + {!varVRServiceCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forWBSubject</name>
        <dataType>String</dataType>
        <expression>&quot;WB - RR- &quot;+ TEXT({!$Record.Revision_Round__c}) +&quot; &quot;+ TEXT({!$Record.Revision_Type__c}) + &quot; | &quot;+{!$Record.Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NextBusinessDay</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>RName</name>
        <dataType>String</dataType>
        <expression>IF(
ISPICKVAL({!$Record.Source__c},&quot;Client Revision&quot;), 
{!$Record.Account__r.Name} + &quot; - &quot;+TEXT({!$Record.Source__c})+&quot; - RR - &quot;+TEXT({!$Record.Service__r.Client_Revision_Count__c}+1) , {!$Record.Account__r.Name} + &quot; - &quot;+TEXT({!$Record.Source__c})+&quot; - RR - &quot;+ TEXT({!$Record.Service__r.Internal_Revision_Count__c+1}))</expression>
    </formulas>
    <formulas>
        <name>RVCName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!$Record.Revision_Type__c}, &quot;Video Creation&quot;), 
  &quot;Opening Video Creation &quot;  + &quot; | &quot; + {!$Record.Account__r.Name},
  &quot;Opening Video Creation &quot; +  &quot; | &quot; + {!$Record.Account__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>RVRName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!$Record.Source__c}, &quot;Client Revision&quot;),
  &quot;Opening Video Editing | &quot; + {!$Record.Account__r.Name} + &quot;| RR&quot; + TEXT({!$Record.Revision_Round__c}),
  &quot;Opening Video Editing | &quot; + {!$Record.Account__r.Name} + &quot;| RR&quot; + TEXT({!$Record.Revision_Round__c})
)</expression>
    </formulas>
    <formulas>
        <name>ServiceStatus</name>
        <dataType>String</dataType>
        <expression>text({!$Record.Service__r.Status__c})</expression>
    </formulas>
    <formulas>
        <name>var24hrs</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
5, {!$Flow.CurrentDate} + 2 + 1,
6, {!$Flow.CurrentDate} + 1 + 1,
{!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>var48hrs</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
4, {!$Flow.CurrentDate} + 2 + 2,
5, {!$Flow.CurrentDate} + 2 + 2,
6, {!$Flow.CurrentDate} + 1 + 2,
{!$Flow.CurrentDate} + 2
)</expression>
    </formulas>
    <formulas>
        <name>var72hrs</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+ 3</expression>
    </formulas>
    <interviewLabel>LP- Revision due date &amp; counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP- Revision create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRM_Analytics_Task_Req</name>
        <label>CRM/Analytics Task Required</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>HIC_Task_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextBusinessDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgUYYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKTAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Analytics Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DS_Task</name>
        <label>DS Task</label>
        <locationX>710</locationX>
        <locationY>2903</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgMfYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKVAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forDSSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>HIC_Request_Task</name>
        <label>HIC Request Task</label>
        <locationX>578</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>WB_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextBusinessDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgLzYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKTAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>HIC Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Schedule_Call_with_Design_Project_Manager</name>
        <label>Schedule Call with Design Project Manager</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>NextBusinessDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Call with Design Project Manager </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>WB_Task</name>
        <label>WB Task</label>
        <locationX>710</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>DS_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgMfYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125f000000VvKVAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forWBSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Design_Project_Coordinator_Video</name>
        <label>Design Project Coordinator Video</label>
        <locationX>2866</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Video</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Video_DPC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Project_Coordinator_VIP</name>
        <label>Design Project Coordinator - VIP</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerVIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Design Project Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Project_Coordinator_VIP1</name>
        <label>Design Project Coordinator - VIP</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_OwnerVIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Design Project Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Schedule_revisions</name>
        <label>Schedule revisions</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_count_schedule_service_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Schedule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_revisions</name>
        <label>Service revisions</label>
        <locationX>710</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_count_service</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Video_Pod_Queue</name>
        <label>Video Pod Queue</label>
        <locationX>2866</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revision_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Video_Pod_Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Video_Revision</name>
        <label>Video Revision</label>
        <locationX>2866</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Video_Revision_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revision_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Video Revision</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Video_Schedule_Revision</name>
        <label>Video Schedule Revision</label>
        <locationX>2866</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Video_Revision_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Schedule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account</name>
        <label>Account</label>
        <locationX>2052</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Service__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blogs_Date</name>
        <label>Blogs Date</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Service_RT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>var24hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_OwnerVIP</name>
        <label>Copy 1 of OwnerVIP</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Design_Project_Coordinator_VIP1</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <elementReference>Design_Project_Coordinator_VIP1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GoogldeDocShort_Date</name>
        <label>GoogldeDocShort Date</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Service_RT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>var48hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GoogleDocLong_Date</name>
        <label>GoogleDocLong Date</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Service_RT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>var48hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Revision_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <stringValue>005EY000000HgMfYAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_Video</name>
        <label>Owner Video</label>
        <locationX>2866</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Type_of_Video</targetReference>
        </connector>
        <inputAssignments>
            <field>Design_project_coordinator__c</field>
            <value>
                <elementReference>Design_Project_Coordinator_Video.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OwnerVIP</name>
        <label>OwnerVIP</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Design_Project_Coordinator_VIP</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <elementReference>Design_Project_Coordinator_VIP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pages_of_Copywriting_Date</name>
        <label>Pages of Copywriting Date</label>
        <locationX>1106</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Service_RT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>var24hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Related_Service_Status_0</name>
        <label>Related Service Status</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Analytics_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Status_PL__c</field>
            <value>
                <elementReference>$Record.Service__r.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revision_Name</name>
        <label>Revision Name</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Service_revisions</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revision_Owner</name>
        <label>Revision Owner</label>
        <locationX>2866</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Design_Project_Coordinator_Video</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <elementReference>Video_Pod_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Design_Project_Coordinator_VIP</name>
        <label>Update Design Project Coordinator VIP</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Revision_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Design_Project_Coordinator_VIP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Design_Project_Coordinator_VIP1</name>
        <label>Update Design Project Coordinator VIP</label>
        <locationX>1810</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Design_Project_Coordinator_VIP1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>2602</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RVCName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner</name>
        <label>Update owner</label>
        <locationX>2338</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Add_owner_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Schedule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Revision_Owner__c</field>
            <value>
                <elementReference>$Record.Service_Schedule__r.Content_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Video_Revivsion_Name</name>
        <label>Update Video Revivsion Name</label>
        <locationX>2866</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RVRName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Video_Revision_Round</name>
        <label>Video Revision Round</label>
        <locationX>2866</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Video_Revivsion_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forVRRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>var48hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Xpress_Date</name>
        <label>Xpress Date</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Service_RT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Revision_Round__c</field>
            <value>
                <elementReference>forRevisionRound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revisions_Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1926</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <object>Revision__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyNewRevision</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Revisions have been requested for {!$Record.Name}. Please review.</text>
    </textTemplates>
    <textTemplates>
        <name>textComments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Revisions Document Link: {!$Record.Revisions_Document_Link__c};Google folder: {!$Record.Google_Folder__c};Staging Link:;{!$Record.Staging_Link__c};Clone:;Implementation Manager: {!$Record.Implementation_Manager__c};Revisions Pod:;{!$Record.Revisions_Pod__c};Design project coordinator: {!$Record.Design_project_coordinator__c};Design template {!$Record.Design_template__c}; Tier plan: {!$Record.Tier_plan__c}</text>
    </textTemplates>
    <variables>
        <name>DevNameAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Video_Pod</stringValue>
        </value>
    </variables>
    <variables>
        <name>varScheduleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varServiceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVideoRevisionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVRScheduleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varVRServiceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
