unpackaged/main/default/flows/LP_Service_Schedules_Blogs_per_Quarter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_1</name>
        <label>Add 1</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0</name>
        <label>Add 1</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0</name>
        <label>Add 1</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0</name>
        <label>Add 1</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>2954</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>3218</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add 1</label>
        <locationX>3482</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0</name>
        <label>Add to Collection</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>2690</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>2954</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>3218</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add to Collection</label>
        <locationX>3482</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quarters_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_1</name>
        <label>Add 1</label>
        <locationX>4010</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>4010</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>4010</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 Blogs - 1st Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_1</name>
        <label>Add 1</label>
        <locationX>4274</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>4274</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>4274</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 Blogs - 2nd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Add_1</name>
        <label>Add 1</label>
        <locationX>4538</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>4538</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>4538</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 Blogs - 3rd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Add_1</name>
        <label>Add 1</label>
        <locationX>4802</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>4802</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>4802</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 Blogs - 4th Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Add_1</name>
        <label>Add 1</label>
        <locationX>5330</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>5330</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>5330</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12 Blogs - 1st Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Add_1</name>
        <label>Add 1</label>
        <locationX>5594</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_6_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>5594</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>5594</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12 Blogs - 2nd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_6_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Add_1</name>
        <label>Add 1</label>
        <locationX>5858</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_7_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>5858</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_sVarSS</name>
        <label>7 of sVarSS</label>
        <locationX>5858</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12 Blogs - 3rd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_7_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Add_1</name>
        <label>Add 1</label>
        <locationX>6122</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>6122</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SSCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVarSS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Quarters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_sVarSS</name>
        <label>sVarSS</label>
        <locationX>6122</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12 Blogs - 4th Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment</name>
        <label>sVarSS</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 Blogs - 1st Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0</name>
        <label>sVarSS</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate6months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 Blogs - 2nd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0</name>
        <label>sVarSS</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate9months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 Blogs - 3rd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0</name>
        <label>sVarSS</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate12months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 Blogs - 4th Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Blogs - 1st Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate6months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Blogs - 2nd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate9months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Blogs - 3rd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate12months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Blogs - 4th Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate3months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 Blogs - 1st Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate6months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 Blogs - 2nd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate9months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 Blogs - 3rd Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Service_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Freelancer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freelancer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sVarSSAssignment_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>sVarSS</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sVarSS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125f000000VvKNAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate12months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 Blogs - 4th Quarter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVarSS.Content_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_Associate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blogs</name>
        <label>Blogs</label>
        <locationX>3614</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X6_Blogs_per_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 Blogs per Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarters</targetReference>
            </connector>
            <label>6 Blogs per Quarter</label>
        </rules>
        <rules>
            <name>X3_Blogs_per_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 Blogs per Quarter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarters_0</targetReference>
            </connector>
            <label>3 Blogs per Quarter</label>
        </rules>
        <rules>
            <name>X2_Blogs_per_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 Blogs per Quarter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarters_0_0</targetReference>
            </connector>
            <label>2 Blogs per Quarter</label>
        </rules>
        <rules>
            <name>X4_Blogs_per_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 Blogs per Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Quarters</targetReference>
            </connector>
            <label>4 Blogs per Quarter</label>
        </rules>
        <rules>
            <name>X12_Blogs_per_Quarter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12 Blogs per Quarter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Quarters</targetReference>
            </connector>
            <label>12 Blogs per Quarter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Quarters</name>
        <label>Quarters</label>
        <locationX>4538</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_sVarSS</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Copy_1_of_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_sVarSS</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Copy_1_of_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_sVarSS</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Copy_1_of_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>16.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_sVarSS</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Quarters</name>
        <label>Quarters</label>
        <locationX>5858</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_sVarSS</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Copy_2_of_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_sVarSS</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Copy_2_of_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>36.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_sVarSS</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Copy_2_of_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_sVarSS</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quarters</name>
        <label>Quarters</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quarters_0</name>
        <label>Quarters</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Records_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Q2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Q3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Q4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quarters_0_0</name>
        <label>Quarters</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Records_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Q1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q1</label>
        </rules>
        <rules>
            <name>Q2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q2</label>
        </rules>
        <rules>
            <name>Q3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q3</label>
        </rules>
        <rules>
            <name>Q4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sVarSSAssignment_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate12months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},12)</expression>
    </formulas>
    <formulas>
        <name>DueDate3months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},3)</expression>
    </formulas>
    <formulas>
        <name>DueDate6months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},6)</expression>
    </formulas>
    <formulas>
        <name>DueDate9months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},9)</expression>
    </formulas>
    <interviewLabel>LP - Service Schedules Blogs per Quarter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Service Schedules Blogs per Quarter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Records</name>
        <label>Create Records</label>
        <locationX>5066</locationX>
        <locationY>575</locationY>
        <inputReference>SSCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Records</name>
        <label>Create Records</label>
        <locationX>6386</locationX>
        <locationY>575</locationY>
        <inputReference>SSCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputReference>SSCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_0</name>
        <label>Create Records</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <inputReference>SSCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_0_0</name>
        <label>Create Records</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <inputReference>SSCollectionVar</inputReference>
    </recordCreates>
    <start>
        <locationX>3488</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Blogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvK8AAK</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SSCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>sVarSS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
</Flow>
