unpackaged/main/default/flows/LP_SEO_Optimization_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Active_Notification_CSM</name>
        <label>Active - Notification - CSM</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_SS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_SEO_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Active Service</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The service {!$Record.Name} has been completed please review it.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1</name>
        <label>Add 1</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SSCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CSM_to_collection</name>
        <label>Add CSM to collection</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Notification_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_1</name>
        <label>Add 1</label>
        <locationX>600</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_SSCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_Service_Schedule</name>
        <label>Create Service Schedule</label>
        <locationX>600</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>singleServiceS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_SS_SEO_Optimizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSNameQuarterly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDueDateQuarterly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SSCollection</name>
        <label>SSCollection</label>
        <locationX>600</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>collectionServiceS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleServiceS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_SS_Quarterly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Service_Schedule</name>
        <label>Create Service Schedule</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>singleServiceS.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_SS_SEO_Optimizations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleServiceS.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SSCollection</name>
        <label>SSCollection</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>collectionServiceS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleServiceS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_SS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_SS</name>
        <label>Create SS</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Create_SS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Schedule</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_SS_Quarterly</name>
        <label>Create SS Quarterly</label>
        <locationX>732</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_SS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Service_Schedule</targetReference>
            </connector>
            <label>Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Maybelle_User_Exist</name>
        <label>Does Maybelle User Exist?</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_SS_Quarterly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maybelle_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Maybelle_Caguitla</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Intro_Email_Task</targetReference>
            </connector>
            <label>Maybelle User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product</name>
        <label>Product?</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEO_Optimizations_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Optimizations (Monthly)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Schedule_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User</targetReference>
            </connector>
            <label>SEO Optimizations (Monthly)</label>
        </rules>
        <rules>
            <name>SEO_Optimizations_Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Optimizations (Quarterly)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Schedule_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_Plan</targetReference>
            </connector>
            <label>SEO Optimizations (Quarterly)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1073</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Plan</name>
        <label>Tier Plan?</label>
        <locationX>732</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Maybelle_Caguitla</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SS_Quarterly</targetReference>
            </connector>
            <label>VIP - Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>User</name>
        <label>User</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_SS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CSM_to_collection</targetReference>
            </connector>
            <label>Not support</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateValue</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CreatedDate},{!Months})</expression>
    </formulas>
    <formulas>
        <name>for1BDay</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forCount</name>
        <dataType>Number</dataType>
        <expression>IF(
{!$Record.Product__c} = &quot;SEO Optimizations (Monthly)&quot;, 12, 4
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forDueDateQuarterly</name>
        <dataType>Date</dataType>
        <expression>CASE(
{!Count},
0, IF(AND( OR( {!forMonth}=1, {!forMonth}=2, {!forMonth}=3), {!forThisYear}=0) , DATE(YEAR(TODAY()),03,31), DATE(YEAR(TODAY())+1,03,31)), 
1, IF( AND(OR( {!forMonth}=1, {!forMonth}=2, {!forMonth}=3, {!forMonth}=4, {!forMonth}=5, {!forMonth}=6),{!forThisYear}=0) , DATE(YEAR(TODAY()),06,30), DATE(YEAR(TODAY())+1,06,30)),
2, IF( AND(OR( {!forMonth}=10, {!forMonth}=11, {!forMonth}=12),{!forThisYear}=1 ), DATE(YEAR(TODAY())+1,09,30), DATE(YEAR(TODAY()),09,30)),
3, IF( AND(OR( {!forMonth}=10, {!forMonth}=11, {!forMonth}=12),{!forThisYear}=0) , DATE(YEAR(TODAY())+1,12,31), DATE(YEAR(TODAY()),12,31)),
DATE(2023,3,31)
)</expression>
    </formulas>
    <formulas>
        <name>forMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forThisYear</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Count}, 
0, IF(TODAY()&gt; DATE(YEAR(TODAY()),02,15),1,0),
1, IF(TODAY()&gt; DATE(YEAR(TODAY()),05,15),1,0),
2, IF(TODAY()&gt; DATE(YEAR(TODAY()),08,15),1,0),
3, IF(TODAY()&gt; DATE(YEAR(TODAY()),11,15),1,0),
0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastDay</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!DateValue} ) = 12, 
DATE( YEAR( {!DateValue} ), 12, 31 ), 
DATE( YEAR( {!DateValue} ), MONTH({!DateValue} ) + 1, 1) - 1)</expression>
    </formulas>
    <formulas>
        <name>Month</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!DateValue}),
1, &quot;January&quot;,
2,&quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5,&quot;May&quot;,
6,&quot;June&quot;,
7,&quot;July&quot;,
8,&quot;August&quot;,
9,&quot;September&quot;,
10,&quot;October&quot;,
11,&quot;November&quot;,
12,&quot;December&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>SSName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name}+ &quot; - &quot; + {!$Record.RecordType.Name} + &quot; - &quot;+{!Month}</expression>
    </formulas>
    <formulas>
        <name>SSNameQuarterly</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name}+ &quot; - &quot;+{!$Record.RecordType.Name} + &quot; - Quarter&quot;+TEXT({!Count})</expression>
    </formulas>
    <interviewLabel>LP - SEO Optimization Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - SEO Optimization Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_SS</name>
        <label>Create SS</label>
        <locationX>864</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Service_Schedule_Created1</targetReference>
        </connector>
        <inputReference>collectionServiceS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SS1</name>
        <label>Create SS</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Service_Schedule_Created</targetReference>
        </connector>
        <inputReference>collectionServiceS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SEO_Intro_Email_Task</name>
        <label>SEO Intro Email - Task</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_SS_Quarterly</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for1BDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Maybelle_Caguitla.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>SEO Intro Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>mcaguitla@luxurypresence.com</description>
        <name>Get_Maybelle_Caguitla</name>
        <label>Get Maybelle Caguitla User</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Maybelle_User_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mcaguitla@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Service_Schedule_Created</name>
        <label>Service Schedule - Created</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Service_Schedule_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Service_Schedule_Created1</name>
        <label>Service Schedule - Created</label>
        <locationX>864</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Service_Schedule_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEO Optimizations</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionServiceS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Months</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>singleServiceS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>varUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
