unpackaged/main/default/flows/LP_Send_welcome_call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Custom_Growth_Premium_Email</name>
        <label>Custom - Growth/Premium</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_Email_for_Custom_Design_Growth_Premium</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_Email_for_Custom_Design_Growth_Premium</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IAO_Welcome_Email_for_Pro</name>
        <label>IAO Welcome Email for Pro</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Account.IAO_Welcome_Email_for_Pro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.IAO_Welcome_Email_for_Pro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_IAO_Pro_Growth_Premium</name>
        <label>No IAO - Pro Growth / Premium</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_Email_for_Pro_Design_NON_IAO_Growth_Premium</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_Email_for_Pro_Design_NON_IAO_Growth_Premium</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_for_Custom_Design</name>
        <label>Welcome Email for Custom Design</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_Email_for_Custom_Design</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_Email_for_Custom_Design</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_email_for_Custom_Design_Leads_Pro</name>
        <label>Welcome email for Custom Design Leads Pro</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_email_for_Custom_Design_Leads_Pro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_email_for_Custom_Design_Leads_Pro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_email_for_Custom_Design_Seo_Pro</name>
        <label>Welcome email for Custom Design Seo Pro</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_email_for_Custom_Design_Seo_Pro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_email_for_Custom_Design_Seo_Pro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_email_for_IAO_Custom</name>
        <label>Welcome email for IAO Custom</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_email_for_IAO_Custom</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_email_for_IAO_Custom</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_for_Pro_Design_NON_IAO</name>
        <label>Welcome Email for Pro Design NON IAO</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_Email_for_Pro_Design_NON_IAO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_Email_for_Pro_Design_NON_IAO</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_email_for_Pro_Design_NON_IAO_Lead_Pro</name>
        <label>Welcome email for Pro Design NON IAO Lead Pro</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_email_for_Pro_Design_NON_IAO_Lead_Pro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_email_for_Pro_Design_NON_IAO_Lead_Pro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_email_for_Pro_Design_NON_IAO_SEO_Pro</name>
        <label>Welcome email for Pro Design NON IAO SEO Pro</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Account.Welcome_email_for_Pro_Design_NON_IAO_SEO_Pro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Welcome_email_for_Pro_Design_NON_IAO_SEO_Pro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Website_Design</name>
        <label>Website Design</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pro_IAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IAO_Welcome_Email_for_Pro</targetReference>
            </connector>
            <label>Pro - IAO</label>
        </rules>
        <rules>
            <name>Pro_No_IAO_Growth_Premium</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_IAO_Pro_Growth_Premium</targetReference>
            </connector>
            <label>Pro - No IAO - Growth/ Premium</label>
        </rules>
        <rules>
            <name>Pro_No_IAO_SEO_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_email_for_Pro_Design_NON_IAO_SEO_Pro</targetReference>
            </connector>
            <label>Pro - No IAO - SEO Pro</label>
        </rules>
        <rules>
            <name>Pro_No_IAO_Leads_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_email_for_Pro_Design_NON_IAO_Lead_Pro</targetReference>
            </connector>
            <label>Pro - No IAO - Leads Pro</label>
        </rules>
        <rules>
            <name>Pro_No_IAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand_Identity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_for_Pro_Design_NON_IAO</targetReference>
            </connector>
            <label>Pro - No IAO</label>
        </rules>
        <rules>
            <name>Custom_IAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_email_for_IAO_Custom</targetReference>
            </connector>
            <label>Custom - IAO</label>
        </rules>
        <rules>
            <name>Custom_Growth_Premium</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth+</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Growth_Premium_Email</targetReference>
            </connector>
            <label>Custom - Growth/Premium</label>
        </rules>
        <rules>
            <name>Custom_No_IAO_SEO_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_email_for_Custom_Design_Seo_Pro</targetReference>
            </connector>
            <label>Custom - No IAO - SEO Pro</label>
        </rules>
        <rules>
            <name>Custom_No_IAO_Lead_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta_user__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leads Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_email_for_Custom_Design_Leads_Pro</targetReference>
            </connector>
            <label>Custom - No IAO - Lead Pro</label>
        </rules>
        <rules>
            <name>Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Design__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand_Identity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier_Plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_for_Custom_Design</targetReference>
            </connector>
            <label>Custom</label>
        </rules>
    </decisions>
    <description>Strategy brief: When a deal is closed:
If tier plan = Growth or Premium, then a link with the Strategy Brief is sent on the Email Template (Welcome Call)</description>
    <environments>Default</environments>
    <interviewLabel>LP - Send welcome call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Send welcome call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Account1</name>
        <label>Account</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_quiz_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategy_Brief_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategy_Brief_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_0</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Opportunity_Welcome_Email_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_quiz_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategy_Brief_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategy_Brief_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the welcome email field ti true</description>
        <name>Opportunity_Welcome_Email_Sent</name>
        <label>Opportunity - Welcome Email Sent</label>
        <locationX>1370</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Welcome_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Website_Design</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvK4AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Manual_Assignment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012EY0000004KoqYAE</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>900</triggerOrder>
</Flow>
