unpackaged/main/default/flows/LP_Service_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_notification</name>
        <label>New notification</label>
        <locationX>1766</locationX>
        <locationY>3359</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewBodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New service assigned</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] New Service: Template Change. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Owner_3</name>
        <label>Notify Owner</label>
        <locationX>1370</locationX>
        <locationY>2303</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] New Service: MLS Implementation.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner</name>
        <label>Notify Owner</label>
        <locationX>182</locationX>
        <locationY>3467</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>New Service: Design Refresh.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0</name>
        <label>Notify Owner</label>
        <locationX>1106</locationX>
        <locationY>2303</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] New Service: MLS Implementation.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>1766</locationX>
        <locationY>3251</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>New_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] @[{!$Record.Header_Image_Curator__c} ] @[{!$Record.QA__c}] @[{!$Record.Website_Builder__c}] @[{!$Record.Data_Specialist__c}] New Service: Website Launches.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>2778</locationX>
        <locationY>1979</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Paid_Media_VA_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] New Service: Paid Media.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>3042</locationX>
        <locationY>1979</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Add_of_posts_per_month</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] New Service: Social Media.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>3306</locationX>
        <locationY>1871</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>5220</locationX>
        <locationY>863</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] {!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>6298</locationX>
        <locationY>1979</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>5770</locationX>
        <locationY>2303</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>6034</locationX>
        <locationY>2303</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>4956</locationX>
        <locationY>1079</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] {!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>4098</locationX>
        <locationY>2171</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Notify Owner</label>
        <locationX>4934</locationX>
        <locationY>2171</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}]{!Notification}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_CollectionSS</name>
        <label>Add to Collection</label>
        <locationX>2866</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>SSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OwnerLoop</name>
        <label>Owner</label>
        <locationX>2866</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>sVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sVar.Paid_Media_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__r.Paid_Media_Specialist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_CollectionSS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Addendum_type</name>
        <label>Addendum Type</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Past_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upgrade_Downgrade</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Addendum_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Types</targetReference>
            </connector>
            <label>Upgrade / Downgrade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_MLS_Implementation_Service</name>
        <label>Existing MLS Implementation Service?</label>
        <locationX>1040</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Is_High_Compliance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Previous Owner</defaultConnectorLabel>
        <rules>
            <name>Existing_Records_2</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_MLS_Implementation_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MLS_Implementation_Services.Owner:User.MLS_High_Compliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MLS_Implementation_Services.Owner:User.MLS_Coordinator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_MLS_Implementation_Services.Active_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Previous_Owner</targetReference>
            </connector>
            <label>Existing Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_On_Demand_Ads_Services</name>
        <label>Existing On Demand Ads Services?</label>
        <locationX>6760</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Is_a_VIP_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Existing_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_On_Demand_Ads_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Owner</targetReference>
            </connector>
            <label>Existing Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_RT</name>
        <label>Existing RT</label>
        <locationX>6100</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_OwnerSEOGPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>NullSEOGBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_RT_Services.Owner:User.Role_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SEO Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppTier_Plan</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_VIP_Account</name>
        <label>Is a VIP Account?</label>
        <locationX>6958</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Paid_Media_Specialist_User_OnDemands</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not VIP</defaultConnectorLabel>
        <rules>
            <name>VIP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIP_Paid_Media_Specialist_User</targetReference>
            </connector>
            <label>VIP Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_High_Compliance</name>
        <label>Is High Compliance?</label>
        <locationX>1238</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>User_MLS_Coordinator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MLS Coordinator</defaultConnectorLabel>
        <rules>
            <name>High_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MLS_High_Compliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_MLS_High_Compliance</targetReference>
            </connector>
            <label>High Compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Past_Services</name>
        <label>No Past Services</label>
        <locationX>5000</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_OwnerAddendum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Past_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Types</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>Design_refresh_o_template_change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Template Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Refresh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Refresh_User_jn</targetReference>
            </connector>
            <label>Design refresh or template change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opporunity_RT</name>
        <label>Opportunity RT</label>
        <locationX>4956</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Types</targetReference>
            </connector>
            <label>New Sales</label>
        </rules>
        <rules>
            <name>Addendum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addendum</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addendum_type</targetReference>
            </connector>
            <label>Addendum</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppTier_Plan</name>
        <label>Tier Plan</label>
        <locationX>5902</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Get_SEO_Specialists_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Growth1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SEO_Specialists</targetReference>
            </connector>
            <label>Growth/Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product</name>
        <label>Product?</label>
        <locationX>7618</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_Building</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Building</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Building_User</targetReference>
            </connector>
            <label>Link Building</label>
        </rules>
        <rules>
            <name>Citations_Reputation_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Citations + Reputation Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citations_User</targetReference>
            </connector>
            <label>Citations + Reputation Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product1</name>
        <label>Product?</label>
        <locationX>4934</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bi_Weekly_GBP_Posts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-Weekly GBP Posts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bi_Weekly_GBP_Set_up_user</targetReference>
            </connector>
            <label>Bi-Weekly GBP Posts</label>
        </rules>
        <rules>
            <name>Weekly_GBP_Posts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly GBP Posts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Weekly_GBP_Set_up_user</targetReference>
            </connector>
            <label>Weekly GBP Posts</label>
        </rules>
        <rules>
            <name>Monthly_GBP_Posts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly GBP Posts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monthly_GBP_Posts_User</targetReference>
            </connector>
            <label>Monthly GBP Posts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product2</name>
        <label>Product?</label>
        <locationX>4098</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEO_Optimizations_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Optimizations (Monthly)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Optimizations_Monthly1</targetReference>
            </connector>
            <label>SEO Optimizations (Monthly)</label>
        </rules>
        <rules>
            <name>SEO_Optimizations_Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Optimizations (Quarterly)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Optimizations_Quarterly_Growth_true</targetReference>
            </connector>
            <label>SEO Optimizations (Quarterly)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Types</name>
        <label>Record Types</label>
        <locationX>4956</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Design_Refresh</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIP_Offering</targetReference>
            </connector>
            <label>Design Refresh</label>
        </rules>
        <rules>
            <name>Template_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Template_Change</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Change_User</targetReference>
            </connector>
            <label>Template Change</label>
        </rules>
        <rules>
            <name>MLS_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_MLS_Implementation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_MLS_Implementation_Services</targetReference>
            </connector>
            <label>MLS Implementation</label>
        </rules>
        <rules>
            <name>Webiste_Launches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Website_Launches</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_InAppOnboarding</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Custom_Website</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIP_Semi_custom</targetReference>
            </connector>
            <label>Webiste Launches</label>
        </rules>
        <rules>
            <name>SEO_Migration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_SEO_Migration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEO_Migration_User</targetReference>
            </connector>
            <label>SEO Migration</label>
        </rules>
        <rules>
            <name>Paid_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Paid_Media</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paid_Media_Specialist_User</targetReference>
            </connector>
            <label>Paid Media</label>
        </rules>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Social_Media</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Social_Media_Specialist</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
        <rules>
            <name>Content_Review</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Content_Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_manager_user</targetReference>
            </connector>
            <label>Content Review</label>
        </rules>
        <rules>
            <name>Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Blogs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_manager_user_blogs</targetReference>
            </connector>
            <label>Blogs</label>
        </rules>
        <rules>
            <name>SEO_Optimization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_SEO_Optmizations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product2</targetReference>
            </connector>
            <label>SEO Optimization</label>
        </rules>
        <rules>
            <name>GBP_Posts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_GBP_Posts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product1</targetReference>
            </connector>
            <label>GBP Posts</label>
        </rules>
        <rules>
            <name>GBP_SetUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_GBP_Set_Up</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBP_Set_up_user</targetReference>
            </connector>
            <label>GBP SetUp</label>
        </rules>
        <rules>
            <name>Key_Word_Analysis_SEO_Optimizations_GBP_Posts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_SEO_KWA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP Posts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_RT_Services</targetReference>
            </connector>
            <label>Key Word Analysis, SEO Optimizations, GBP Posts</label>
        </rules>
        <rules>
            <name>On_Demand_Ads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_OnDemand_Ads</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_On_Demand_Ads_Services</targetReference>
            </connector>
            <label>On Demand Ads</label>
        </rules>
        <rules>
            <name>SEO_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_SEO_General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product</targetReference>
            </connector>
            <label>SEO General</label>
        </rules>
        <rules>
            <name>Brand_Identity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Brand_Identity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Onboarding_Manager</targetReference>
            </connector>
            <label>Brand Identity</label>
        </rules>
        <rules>
            <name>Monthly_Reporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Monthly_Quarterly_Reporting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Client_Success_Manager</targetReference>
            </connector>
            <label>Monthly Reporting</label>
        </rules>
        <rules>
            <name>Presence_Copilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presence Copilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copilot_User</targetReference>
            </connector>
            <label>Presence Copilot</label>
        </rules>
        <rules>
            <name>AI_Lead_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_AI_Lead_Nurture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AI_Lead_Nurture_User</targetReference>
            </connector>
            <label>AI Lead Nurture</label>
        </rules>
        <rules>
            <name>Automated_Blogs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_Automated_Blogs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Account_Owner</targetReference>
            </connector>
            <label>Automated Blogs</label>
        </rules>
        <rules>
            <name>White_Label_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_White_Label_App</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_White_Label_App_User</targetReference>
            </connector>
            <label>White Label App</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Plan_SEO_Migration</name>
        <label>Tier Plan</label>
        <locationX>2294</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium_Elite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Tier_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competitive_Analysis_task</targetReference>
            </connector>
            <label>Premium/Elite</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP_Offering</name>
        <label>VIP Offering</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Design_Refresh_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Semi_Custom_Pod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Semi_Custom_Pod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIP_User</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>VIP_Semi_custom</name>
        <label>VIP / Semi custom?</label>
        <locationX>1766</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Account_IM_to_Website_IM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIP_Semi_custom_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Semi_Custom_Pod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Semi_Custom_Pod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.VIP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_IM_to_Website_IM_0</targetReference>
            </connector>
            <label>VIP Semi custom true</label>
        </rules>
    </decisions>
    <description>Update with Round Robin Assignments for Paid Media team (On Demand Ads)</description>
    <environments>Default</environments>
    <formulas>
        <name>Notification</name>
        <dataType>String</dataType>
        <expression>&quot;New Service:&quot;+ {!$Record.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>LP - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Service Assignments</label>
    <loops>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>2778</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_SS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OwnerLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Paid_Media_Specialist_in_SS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Competitive_Analysis_task</name>
        <label>Competitive Analysis task</label>
        <locationX>2162</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005EY000000HgCyYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Competitive Analysis</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AI_Lead_Nurture_User</name>
        <label>AI Lead Nurture User</label>
        <locationX>8938</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_AI_Lead_Nurture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AI_Lead_Nurture__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Bi_Weekly_GBP_Set_up_user</name>
        <label>Bi Weekly GBP Set up user</label>
        <locationX>4538</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_GBP_Set_up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bi_Weekly_GBP_Posts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Citations_User</name>
        <label>Citations User</label>
        <locationX>7618</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_Citations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Citations_Reputation_Management__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Content_manager_user</name>
        <label>Content manager user</label>
        <locationX>3306</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_Content_Blogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Content Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Content_manager_user_blogs</name>
        <label>Content manager user</label>
        <locationX>3570</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Freelancer_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Content Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copilot_User</name>
        <label>Copilot User</label>
        <locationX>8674</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_Copilot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Copilot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Refresh_User</name>
        <label>Design Refresh User</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Design_Refresh__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Design_Refresh_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Refresh_User_jn</name>
        <label>Design Refresh User</label>
        <locationX>4956</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Design_Refresh__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Design_Refresh_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_RT_Services</name>
        <label>Existing RT Services</label>
        <locationX>6100</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_RT</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvKKAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvKCAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvKIAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Freelancer_user</name>
        <label>Freelancer user</label>
        <locationX>3570</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_freelancer_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Blogs_Freelancer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GBP_Set_up_user</name>
        <label>GBP Set up user</label>
        <locationX>5506</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_GBP_Set_up1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GBP_Set_up__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist</name>
        <label>Get Data Specialist</label>
        <locationX>1898</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Specialist_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_0</name>
        <label>Get Data Specialist</label>
        <locationX>1634</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Specialist_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_dr</name>
        <label>Get Data Specialist</label>
        <locationX>314</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Specialist_User_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_User</name>
        <label>Get Data Specialist User</label>
        <locationX>1898</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Data_Specialist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_User_0</name>
        <label>Get Data Specialist User</label>
        <locationX>1634</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Data_Specialist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_User_dr</name>
        <label>Get Data Specialist User</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Data_Specialist_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_User_vip_dr</name>
        <label>Get Data Specialist User</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Data_Specialist_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Specialist_vip_dr</name>
        <label>Get Data Specialist</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Specialist_User_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_MLS_Implementation_Services</name>
        <label>Get Existing MLS Implementation Services</label>
        <locationX>1040</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_MLS_Implementation_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IDX Tool</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_18_Digit_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Service_18_Digit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_On_Demand_Ads_Services</name>
        <label>Get Existing On Demand Ads Services</label>
        <locationX>6760</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_On_Demand_Ads_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012EY0000004K8KYAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_18_Digit_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Service_18_Digit_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator</name>
        <label>Get Header Image Curator</label>
        <locationX>1898</locationX>
        <locationY>2735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Header_Image_Curator_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_0</name>
        <label>Get Header Image Curator</label>
        <locationX>1634</locationX>
        <locationY>2735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Header_Image_Curator_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_dr</name>
        <label>Get Header Image Curator</label>
        <locationX>314</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Header_Image_Curator_User_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_User</name>
        <label>Get Header Image Curator User</label>
        <locationX>1898</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Header_Image_Curator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_User_0</name>
        <label>Get Header Image Curator User</label>
        <locationX>1634</locationX>
        <locationY>2843</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Header_Image_Curator_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_User_dr</name>
        <label>Get Header Image Curator User</label>
        <locationX>314</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Header_Image_Curator_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_User_vip_dr</name>
        <label>Get Header Image Curator User</label>
        <locationX>50</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Header_Image_Curator_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Header_Image_Curator_vip_dr</name>
        <label>Get Header Image Curator</label>
        <locationX>50</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Header_Image_Curator_User_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Header Image Curator</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Past_Services</name>
        <label>Get Past Services</label>
        <locationX>5000</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Past_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEO_Specialists</name>
        <label>Get SEO Specialists</label>
        <locationX>5770</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OwnerSEOSpecialist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Keyword_Analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>mmiller@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>dloomis@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>sdevine@luxurypresence.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEO_Specialists_0_0</name>
        <label>Get SEO Specialists</label>
        <locationX>6034</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OwnerSEOSpecialist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Keyword_Analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>mmiller@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>dloomis@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>sdevine@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>afisher@luxurypresence.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>cswann@luxurypresence.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SS</name>
        <label>Get SS</label>
        <locationX>2778</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Social_Media_Specialist</name>
        <label>Get Users</label>
        <locationX>3042</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OwnerSocialMedia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social Media Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder</name>
        <label>Get Website Builder</label>
        <locationX>1898</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Website_Builder_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_0</name>
        <label>Get Website Builder</label>
        <locationX>1634</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Website_Builder_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_dr</name>
        <label>Get Website Builder</label>
        <locationX>314</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Website_Builder_User_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_User</name>
        <label>Get Website Builder User</label>
        <locationX>1898</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Website_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_User_0</name>
        <label>Get Website Builder User</label>
        <locationX>1634</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Website_Builder_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_User_dr</name>
        <label>Get Website Builder User</label>
        <locationX>314</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Website_Builder_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_User_vip_dr</name>
        <label>Get Website Builder User</label>
        <locationX>50</locationX>
        <locationY>2627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Website_Builder_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Website_Builder_vip_dr</name>
        <label>Get Website Builder</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Website_Builder_User_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFT_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.PFT_Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Last_website_execution_assinged__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_White_Label_App_User</name>
        <label>Get White Label App User</label>
        <locationX>9466</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_White_Label_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>White_Label_App__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Link_Building_User</name>
        <label>Link Building User</label>
        <locationX>7354</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_Link_Building</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Link_Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Monthly_GBP_Posts_User</name>
        <label>Monthly GBP Posts - User</label>
        <locationX>5066</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Monthly_GBP_Posts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Monthly_GBP_Posts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Paid_Media_Specialist_User</name>
        <label>Paid Media Specialist User</label>
        <locationX>2778</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_paid_media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Media Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Paid_Media_Specialist_User_OnDemands</name>
        <label>Paid Media Specialist User</label>
        <locationX>7090</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_On_Demand_Ads_Service_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Media Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Paid_Media_VA_User</name>
        <label>Paid Media VA User</label>
        <locationX>2778</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_PM_VA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PM_VA_Team_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Migration_User</name>
        <label>SEO Migration User</label>
        <locationX>2294</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_SEO_Migration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEO_Migration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Optimizations_Monthly1</name>
        <label>SEO Optimizations Monthly</label>
        <locationX>3834</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_owner_seo_growth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEO_Optimizations_Monthly__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SEO_Optimizations_Quarterly_Growth_true</name>
        <label>SEO Optimizations Quarterly Growth - true</label>
        <locationX>4098</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_owner_seo_specialist_quarterly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SEO_Optimizations_Quarterly__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Template_Change_User</name>
        <label>Template Change User</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Template_Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_MLS_Coordinator</name>
        <label>User MLS Coordinator</label>
        <locationX>1370</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_MLS_Coordinator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MLS_Coordinator__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_MLS_High_Compliance</name>
        <label>User MLS High Compliance</label>
        <locationX>1106</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_High_Compliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MLS_High_Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VIP_Paid_Media_Specialist_User</name>
        <label>VIP Paid Media Specialist User</label>
        <locationX>6826</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_On_Demand_Ads_Service_Owner_VIP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Media Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VIP__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VIP_User</name>
        <label>VIP User</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VIP_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VIP_Custom_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Weekly_GBP_Set_up_user</name>
        <label>Weekly GBP Set up user</label>
        <locationX>4802</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Weekly_GBP_Set_up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Weekly_GBP_Posts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_Service_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_IM_to_Website_IM</name>
        <label>Account IM to Website IM</label>
        <locationX>1898</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Get_Data_Specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Account_IM_to_Website_IM_0</name>
        <label>Account IM to Website IM</label>
        <locationX>1634</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Get_Data_Specialist_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_of_posts_per_month</name>
        <label>Add # of posts per month</label>
        <locationX>3042</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>of_posts_per_month__c</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assigned_PM_VA</name>
        <label>Assigned PM VA</label>
        <locationX>2778</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Get_SS</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_PM_VA__c</field>
            <value>
                <elementReference>Paid_Media_VA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date</name>
        <label>Data specialist date</label>
        <locationX>1898</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Get_Website_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_0</name>
        <label>Data specialist date</label>
        <locationX>1634</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Get_Website_Builder_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_dr</name>
        <label>Data specialist date</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Get_Website_Builder_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Data_specialist_date_vip_dr</name>
        <label>Data specialist date</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Get_Website_Builder_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Specialist_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Design_Refresh_Assigned_Date_Updated</name>
        <label>Design Refresh Assigned Date Updated</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Get_Data_Specialist_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Design_Refresh_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Design_Refresh_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Design_Refresh_Assigned_Date_Updated_jn</name>
        <label>Design Refresh Assigned Date Updated</label>
        <locationX>4956</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Design_Refresh_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Design_Refresh_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_curator_date</name>
        <label>Header image curator date</label>
        <locationX>1898</locationX>
        <locationY>3059</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_curator_date_0</name>
        <label>Header image curator date</label>
        <locationX>1634</locationX>
        <locationY>3059</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_curator_date_dr</name>
        <label>Header image curator date</label>
        <locationX>314</locationX>
        <locationY>3275</locationY>
        <connector>
            <targetReference>NotifyOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Header_image_curator_date_vip_dr</name>
        <label>Header image curator date</label>
        <locationX>50</locationX>
        <locationY>3275</locationY>
        <connector>
            <targetReference>NotifyOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Header_Image_Curator_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_0</name>
        <label>Owner</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Notify_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Template_Change_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_0_0</name>
        <label>Owner</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Design_Refresh_Assigned_Date_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Design_Refresh_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_GBP_Set_up</name>
        <label>Owner GBP Set up</label>
        <locationX>4538</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_GBP_Set_up</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Bi_Weekly_GBP_Set_up_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_GBP_Set_up1</name>
        <label>Owner GBP Set up</label>
        <locationX>5506</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_GBP_Set_up1</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GBP_Set_up_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_Monthly_GBP_Posts</name>
        <label>Owner - Monthly GBP Posts</label>
        <locationX>5066</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Monthly_GBP_Posts</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Monthly_GBP_Posts_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_paid_media</name>
        <label>Owner paid media</label>
        <locationX>2778</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_paid_media_specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Paid_Media_Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_SEO_Migration</name>
        <label>Owner SEO Migration</label>
        <locationX>2294</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_SEO_Migration_user</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SEO_Migration_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Owner_Weekly_GBP_Set_up</name>
        <label>Owner Weekly GBP Set up</label>
        <locationX>4802</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_GBP_Set_up_Weekly</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Weekly_GBP_Set_up_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Paid_Media_Last_Service_Assgined</name>
        <label>Paid Media Last Service Assgined</label>
        <locationX>7090</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Paid_Media_Specialist_User_OnDemands.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Paid_Media_Last_Service_Assgined_VIP</name>
        <label>Paid Media Last Service Assgined</label>
        <locationX>6826</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VIP_Paid_Media_Specialist_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Owner_ID</name>
        <label>Set Owner ID</label>
        <locationX>4956</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Design_Refresh_Assigned_Date_Updated_jn</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Design_Refresh_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AI_Lead_Nurture_User</name>
        <label>Update AI Lead Nurture User</label>
        <locationX>8938</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AI_Lead_Nurture_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Citations_User</name>
        <label>Update Citations User</label>
        <locationX>7618</locationX>
        <locationY>1979</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Citations_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_Specialist</name>
        <label>Update Data Specialist</label>
        <locationX>1898</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Data_specialist_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Specialist__c</field>
            <value>
                <elementReference>Get_Data_Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_Specialist_0</name>
        <label>Update Data Specialist</label>
        <locationX>1634</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Data_specialist_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Specialist__c</field>
            <value>
                <elementReference>Get_Data_Specialist_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_Specialist_dr</name>
        <label>Update Data Specialist</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Data_specialist_date_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Specialist__c</field>
            <value>
                <elementReference>Get_Data_Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_Specialist_vip_dr</name>
        <label>Update Data Specialist</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Data_specialist_date_vip_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Specialist__c</field>
            <value>
                <elementReference>Get_Data_Specialist_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_freelancer_user</name>
        <label>Update freelancer user</label>
        <locationX>3570</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Owner_blogs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Freelancer_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GBP_Set_up</name>
        <label>Update GBP Set up</label>
        <locationX>4538</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Bi_Weekly_GBP_Set_up_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GBP_Set_up1</name>
        <label>Update GBP Set up</label>
        <locationX>5506</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GBP_Set_up_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GBP_Set_up_Weekly</name>
        <label>Update GBP Set up Weekly</label>
        <locationX>4802</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Weekly_GBP_Set_up_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Header_Image_Curator</name>
        <label>Update Header Image Curator</label>
        <locationX>1898</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Header_image_curator_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_Image_Curator__c</field>
            <value>
                <elementReference>Get_Header_Image_Curator_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Header_Image_Curator_0</name>
        <label>Update Header Image Curator</label>
        <locationX>1634</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Header_image_curator_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_Image_Curator__c</field>
            <value>
                <elementReference>Get_Header_Image_Curator_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Header_Image_Curator_dr</name>
        <label>Update Header Image Curator</label>
        <locationX>314</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Header_image_curator_date_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_Image_Curator__c</field>
            <value>
                <elementReference>Get_Header_Image_Curator_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Header_Image_Curator_vip_dr</name>
        <label>Update Header Image Curator</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Header_image_curator_date_vip_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Header_Image_Curator__c</field>
            <value>
                <elementReference>Get_Header_Image_Curator_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Service_Assigned_High_Compliance</name>
        <label>Update Last Service Assigned</label>
        <locationX>1106</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>NotifyOwner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_MLS_High_Compliance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Service_Assigned_MLS_Coordinator</name>
        <label>Update Last Service Assigned</label>
        <locationX>1370</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Notify_Owner_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_MLS_Coordinator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Link_Building_User</name>
        <label>Update Link Building User</label>
        <locationX>7354</locationX>
        <locationY>1979</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Link_Building_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Monthly_GBP_Posts</name>
        <label>Update Monthly GBP Posts</label>
        <locationX>5066</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Monthly_GBP_Posts_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_On_Demand_Ads_Service_Owner</name>
        <label>Update On Demand Ads Service Owner</label>
        <locationX>7090</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Paid_Media_Last_Service_Assgined</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Paid_Media_Specialist_User_OnDemands.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_On_Demand_Ads_Service_Owner_VIP</name>
        <label>Update On Demand Ads Service Owner</label>
        <locationX>6826</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Paid_Media_Last_Service_Assgined_VIP</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VIP_Paid_Media_Specialist_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Account_Owner</name>
        <label>Update Owner - Account Owner</label>
        <locationX>9202</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_AI_Lead_Nurture</name>
        <label>Update Owner - AI Lead Nurture</label>
        <locationX>8938</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_AI_Lead_Nurture_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AI_Lead_Nurture_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_blogs</name>
        <label>Update Owner</label>
        <locationX>3570</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__r.Content_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freelancer__c</field>
            <value>
                <elementReference>Freelancer_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Content_manager_user_blogs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Citations</name>
        <label>Update Owner - Citations</label>
        <locationX>7618</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Citations_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Citations_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Client_Success_Manager</name>
        <label>Update Owner - Client Success Manager</label>
        <locationX>8410</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Content_Blogs</name>
        <label>Update Owner</label>
        <locationX>3306</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Associate__c</field>
            <value>
                <elementReference>$Record.Account__r.Account_Manager__r.Content_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_Manager__c</field>
            <value>
                <elementReference>Content_manager_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Content_manager_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Copilot</name>
        <label>Update Owner - Copilot</label>
        <locationX>8674</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copilot_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_High_Compliance</name>
        <label>Update Owner_High_Compliance</label>
        <locationX>1106</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Last_Service_Assigned_High_Compliance</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_MLS_High_Compliance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Link_Building</name>
        <label>Update Owner - Link Building</label>
        <locationX>7354</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Link_Building_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Link_Building_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_MLS_Coordinator</name>
        <label>Update Owner</label>
        <locationX>1370</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_Last_Service_Assigned_MLS_Coordinator</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_MLS_Coordinator.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Onboarding_Manager</name>
        <label>Update Owner - Onboarding Manager</label>
        <locationX>8146</locationX>
        <locationY>1655</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner_seo_growth</name>
        <label>Update owner seo growth</label>
        <locationX>3834</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_seo_growth</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SEO_Optimizations_Monthly1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner_seo_specialist_quarterly</name>
        <label>Update owner seo specialist quarterly</label>
        <locationX>4098</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_seo_specialist_quarterly</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SEO_Optimizations_Quarterly_Growth_true.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_Previous_Owner</name>
        <label>Update Owner to Previous Owner</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Existing_MLS_Implementation_Services.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_White_Label_App</name>
        <label>Update Owner - White Label App</label>
        <locationX>9466</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_White_Label_App_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_White_Label_App_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerAddendum</name>
        <label>Update Owner</label>
        <locationX>5220</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Past_Services.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerSEOGPP</name>
        <label>Update Owner</label>
        <locationX>6298</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Existing_RT_Services.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerSEOSpecialist</name>
        <label>Update Owner</label>
        <locationX>5770</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_UserSEOGBP</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SEO_Specialists.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerSEOSpecialist_0</name>
        <label>Update Owner</label>
        <locationX>6034</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Update_UserSEOGBP_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_SEO_Specialists_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OwnerSocialMedia</name>
        <label>Update Owner</label>
        <locationX>3042</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_User_SocialMediaSpecialist</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Users_Social_Media_Specialist.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_paid_media_specialist</name>
        <label>Update paid media specialist</label>
        <locationX>2778</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Paid_Media_Specialist_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Paid_Media_Specialist_in_SS</name>
        <label>Update Paid Media Specialist in SS</label>
        <locationX>2778</locationX>
        <locationY>2819</locationY>
        <inputReference>SSCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_seo_growth</name>
        <label>Update seo growth</label>
        <locationX>3834</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_Optimizations_Monthly1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SEO_Migration_user</name>
        <label>Update SEO Migration user</label>
        <locationX>2294</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Tier_Plan_SEO_Migration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_Migration_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_seo_specialist_quarterly</name>
        <label>Update seo specialist quarterly</label>
        <locationX>4098</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SEO_Optimizations_Quarterly_Growth_true.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Owner</name>
        <label>Update Service Owner</label>
        <locationX>6562</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Existing_On_Demand_Ads_Services.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_SocialMediaSpecialist</name>
        <label>Update User</label>
        <locationX>3042</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Users_Social_Media_Specialist.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UserSEOGBP</name>
        <label>Update User</label>
        <locationX>5770</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SEO_Specialists.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UserSEOGBP_0</name>
        <label>Update User</label>
        <locationX>6034</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>NotifyOwner_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SEO_Specialists_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Builder</name>
        <label>Update Website Builder</label>
        <locationX>1898</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Website_builder_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Builder__c</field>
            <value>
                <elementReference>Get_Website_Builder_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Builder_0</name>
        <label>Update Website Builder</label>
        <locationX>1634</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>Website_builder_date_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Builder__c</field>
            <value>
                <elementReference>Get_Website_Builder_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Builder_dr</name>
        <label>Update Website Builder</label>
        <locationX>314</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Website_builder_date_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Builder__c</field>
            <value>
                <elementReference>Get_Website_Builder_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Website_Builder_vip_dr</name>
        <label>Update Website Builder</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Website_builder_date_vip_dr</targetReference>
        </connector>
        <inputAssignments>
            <field>Website_Builder__c</field>
            <value>
                <elementReference>Get_Website_Builder_User_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_White_Label_App_User</name>
        <label>Update White Label App User</label>
        <locationX>9466</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_White_Label_App_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>VIP_Owner</name>
        <label>VIP Owner</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>VIP_user_update</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VIP_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VIP_user_update</name>
        <label>VIP user update</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Get_Data_Specialist_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VIP_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Service_Assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date</name>
        <label>Website builder date</label>
        <locationX>1898</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Get_Header_Image_Curator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_0</name>
        <label>Website builder date</label>
        <locationX>1634</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Get_Header_Image_Curator_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_dr</name>
        <label>Website builder date</label>
        <locationX>314</locationX>
        <locationY>2843</locationY>
        <connector>
            <targetReference>Get_Header_Image_Curator_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Website_builder_date_vip_dr</name>
        <label>Website builder date</label>
        <locationX>50</locationX>
        <locationY>2843</locationY>
        <connector>
            <targetReference>Get_Header_Image_Curator_vip_dr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Website_Builder_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_website_execution_assinged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>4830</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opporunity_RT</targetReference>
        </connector>
        <object>Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewBodyText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned to a new service: https://luxurypresence.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>OwnerMLS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>sVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_schedule__c</objectType>
    </variables>
    <variables>
        <name>varCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>varHighCompliance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
