unpackaged/main/default/flows/LP_Task_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_account</name>
        <label>Send account</label>
        <locationX>1370</locationX>
        <locationY>2171</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportBasic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Add_testimonial_case.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_account_add_agent</name>
        <label>Send account add agent</label>
        <locationX>1634</locationX>
        <locationY>2171</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportBasic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Add_testimonial_case.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_account_investigate_listing</name>
        <label>Send account investigate listing</label>
        <locationX>2162</locationX>
        <locationY>2171</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportAdvanced</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Investigate_listing_case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_account_listing_information</name>
        <label>Send account listing information</label>
        <locationX>1898</locationX>
        <locationY>2171</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportAdvanced</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Listing_information_case.AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_AM</name>
        <label>Send notification to AM</label>
        <locationX>974</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Service_Strategy_Deck</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_StategyBriefCompleted</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Account.Name} - Strategy Deck task is completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Strategy Deck </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUserCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_task_add_agent_completed</name>
        <label>Send task &quot;add agent&quot; completed</label>
        <locationX>1634</locationX>
        <locationY>2063</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_account_add_agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The &quot;Add Agent&quot; task has been completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportBasic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_task_add_testimonial_completed</name>
        <label>Send task &quot;add testimonial &quot;completed</label>
        <locationX>1370</locationX>
        <locationY>2063</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The &quot;Add Testimonial&quot; task has been completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportBasic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_task_investigate_listing_completed</name>
        <label>Send task &quot;investigate listing&quot; completed</label>
        <locationX>2162</locationX>
        <locationY>2063</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_account_investigate_listing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The &quot;Investigate Listing Information&quot; task has been completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportAdvanced</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_task_listing_information_completed</name>
        <label>Send task &quot;listing information&quot; completed</label>
        <locationX>1898</locationX>
        <locationY>2063</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_account_listing_information</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The &quot;Listing Information&quot; task has been completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>$Label.ID_Slack_SupportAdvanced</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Turn_On_AI_Lead_Notification</name>
        <label>Turn On AI Lead Notification</label>
        <locationX>4538</locationX>
        <locationY>2171</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.ID_Notification_TaskPastDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUserCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Turn On AI Lead Nurture Task Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review {!Get_Service_TurnAI.Name} service</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Service_TurnAI.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>To collection variable in order to send the notification</description>
        <name>Add_CSM_of_Account_TurnAI</name>
        <label>Add CSM of Account</label>
        <locationX>4538</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>varUserCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_TurnAI.Account__r.Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Turn_On_AI_Lead_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_id_to_collection</name>
        <label>Add user id to collection</label>
        <locationX>974</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>varUserCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Account_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0055f0000065OauAAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_to_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AILN_Integration_Task_Assignment</name>
        <label>AILN Integration Task Assignment</label>
        <locationX>4802</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AILN Integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_AI_Lead_Nurture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksToCreateColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AILN_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_FF_Task_Assignment</name>
        <label>Enable FF Task Assignment</label>
        <locationX>4802</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enable FF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sam_Twombly_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_AI_Lead_Nurture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksToCreateColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AILN_Integration_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_website_launched_status</name>
        <label>Account website launched status?</label>
        <locationX>974</locationX>
        <locationY>2387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Strategy_Deck.Account__r.Website_implementation_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Launched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Strategy_Deck_and_Schedule_Review_Call_Task</targetReference>
            </connector>
            <label>Website launched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditions</name>
        <label>Conditions</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEO_Migration_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SEO Migration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Migration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Setup_Completed_Review</targetReference>
            </connector>
            <label>SEO Migration Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_related_Service_AILN</name>
        <label>Is the related Service AILN?</label>
        <locationX>5198</locationX>
        <locationY>1955</locationY>
        <defaultConnectorLabel>Related Service is not AILN</defaultConnectorLabel>
        <rules>
            <name>Related_Service_is_AILN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ID_Service_AI_Lead_Nurture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Service_Status</targetReference>
            </connector>
            <label>Related Service is AILN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Status</name>
        <label>Prior Status</label>
        <locationX>2954</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Task_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_end_date</targetReference>
            </connector>
            <label>New prior</label>
        </rules>
        <rules>
            <name>Not_started_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_started_end_date</targetReference>
            </connector>
            <label>Not started prior</label>
        </rules>
        <rules>
            <name>In_Progress_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_progress_end_date</targetReference>
            </connector>
            <label>In Progress prior</label>
        </rules>
        <rules>
            <name>Ready_for_QA_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_for_qa_end_date</targetReference>
            </connector>
            <label>Ready for QA prior</label>
        </rules>
        <rules>
            <name>QA_in_Progress_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QA_in_progress_end_date</targetReference>
            </connector>
            <label>QA in Progress prior</label>
        </rules>
        <rules>
            <name>Additional_Revisions_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Revisions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_revisions_end_date</targetReference>
            </connector>
            <label>Additional Revisions prior</label>
        </rules>
        <rules>
            <name>Sent_for_approval_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_for_approval_end_date</targetReference>
            </connector>
            <label>Sent for approval prior</label>
        </rules>
        <rules>
            <name>Additional_Feedback_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_feedback_end_date</targetReference>
            </connector>
            <label>Additional Feedback prior</label>
        </rules>
        <rules>
            <name>At_risk_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>At_risk_end_date</targetReference>
            </connector>
            <label>At risk prior</label>
        </rules>
        <rules>
            <name>Completed_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_end_date</targetReference>
            </connector>
            <label>Completed prior</label>
        </rules>
        <rules>
            <name>Blocked_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blocked_end_date</targetReference>
            </connector>
            <label>Blocked prior</label>
        </rules>
        <rules>
            <name>Open_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_end_date</targetReference>
            </connector>
            <label>Open prior</label>
        </rules>
        <rules>
            <name>To_do_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To-do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_do_end_date</targetReference>
            </connector>
            <label>To-do prior</label>
        </rules>
        <rules>
            <name>SFA_Revisions_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFA Revisions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_Revisions_end_date</targetReference>
            </connector>
            <label>SFA Revisions prior</label>
        </rules>
        <rules>
            <name>SFA_Revisions_In_Progress_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFA Revisions In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_revisions_in_progress_end_date</targetReference>
            </connector>
            <label>SFA Revisions In Progress prior</label>
        </rules>
        <rules>
            <name>Revisions_in_Progress_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revisions in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revisions_in_progress_end_date</targetReference>
            </connector>
            <label>Revisions in Progress prior</label>
        </rules>
        <rules>
            <name>Done_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Done_end_date</targetReference>
            </connector>
            <label>Done prior</label>
        </rules>
        <rules>
            <name>Paused_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paused_end_date</targetReference>
            </connector>
            <label>Paused prior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type</name>
        <label>Record type?</label>
        <locationX>1458</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_launch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125f000000VvKVAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0KEY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revision</targetReference>
            </connector>
            <label>Website launch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_type1</name>
        <label>Record type?</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_launch1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125f000000VvKVAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0KEY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revision1</targetReference>
            </connector>
            <label>Website launch</label>
        </rules>
    </decisions>
    <decisions>
        <description>Timestamp</description>
        <name>Status</name>
        <label>Status</label>
        <locationX>2954</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Prior_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Started</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_progress_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Ready_for_QA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for QA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_for_QA_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready for QA</label>
        </rules>
        <rules>
            <name>Additional_Revisions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Revisions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_revisions_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Revisions</label>
        </rules>
        <rules>
            <name>Sent_for_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_for_approval_Start_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent for approval</label>
        </rules>
        <rules>
            <name>Additional_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_feedback_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Feedback</label>
        </rules>
        <rules>
            <name>At_risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>At_risk_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>At risk</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blocked_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Blocked</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Open</label>
        </rules>
        <rules>
            <name>To_do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To-do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_do_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>To-do</label>
        </rules>
        <rules>
            <name>SFA_Revisions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFA Revisions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_Revisions_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SFA Revisions</label>
        </rules>
        <rules>
            <name>SFA_Revisions_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFA Revisions In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_Revisions_In_progress_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SFA Revisions In Progress</label>
        </rules>
        <rules>
            <name>Revisions_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revisions in Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revision_in_progress_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Revisions in Progress</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Done_start_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Done</label>
        </rules>
        <rules>
            <name>Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paused_Start_Date</targetReference>
            </connector>
            <label>Paused</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_completed</name>
        <label>Task completed</label>
        <locationX>2954</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Team_for_Content_Creation_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign Team for Content Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SS_Creating_Content</targetReference>
            </connector>
            <label>Assign Team for Content Creation - Completed</label>
        </rules>
        <rules>
            <name>Confirm_access_to_appropriate_accounts_Facebook_Google_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm access to appropriate accounts (Facebook/Google)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service</targetReference>
            </connector>
            <label>Confirm access to appropriate accounts (Facebook/Google) - completed</label>
        </rules>
        <rules>
            <name>Send_Strategy_Deck_and_schedule_review_call_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Send Strategy Deck and schedule review call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Info</targetReference>
            </connector>
            <label>Send Strategy Deck and schedule review call - completed</label>
        </rules>
        <rules>
            <name>Strategy_Deck_completed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategy Deck</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_user_id_to_collection</targetReference>
            </connector>
            <label>Strategy Deck - completed</label>
        </rules>
        <rules>
            <name>Add_testimonial_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add testimonial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_testimonial_case</targetReference>
            </connector>
            <label>Add testimonial - completed</label>
        </rules>
        <rules>
            <name>Add_agent_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_agent_case</targetReference>
            </connector>
            <label>Add agent - completed</label>
        </rules>
        <rules>
            <name>Listing_information_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Listing information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Listing_information_case</targetReference>
            </connector>
            <label>Listing information - completed</label>
        </rules>
        <rules>
            <name>Investigate_listing_information_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investigate listing information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Investigate_listing_case</targetReference>
            </connector>
            <label>Investigate listing information - completed</label>
        </rules>
        <rules>
            <name>Post_Content_To_The_Clients_Site_Completed</name>
            <conditionLogic>(1  OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Content To The Client Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Copywritting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SS_Posted</targetReference>
            </connector>
            <label>Post Content To The Clients Site - Completed</label>
        </rules>
        <rules>
            <name>SEO_Campaign_Summary_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEO Campaign Summary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SEO_Campaign_Summary_To_Client</targetReference>
            </connector>
            <label>SEO Campaign Summary - Completed</label>
        </rules>
        <rules>
            <name>Create_Updated_SEO_Blog_Content_Strategy_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Updated SEO &amp; Blog Content Strategy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_new_updated_SEO_Blog_Content_Strategy_task</targetReference>
            </connector>
            <label>Create Updated SEO &amp; Blog Content Strategy - completed</label>
        </rules>
        <rules>
            <name>Add_Photos_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Photos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SS_Final_QA</targetReference>
            </connector>
            <label>Add Photos - completed</label>
        </rules>
        <rules>
            <name>Add_Google_Docs_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Google Docs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freelancer_copywriting_user</targetReference>
            </connector>
            <label>Add Google Docs - Completed</label>
        </rules>
        <rules>
            <name>Initial_QA_Redirects_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial QA Redirects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_QA_User</targetReference>
            </connector>
            <label>Initial QA Redirects - Completed</label>
        </rules>
        <rules>
            <name>Draft_content_in_client_s_dashboard_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft content in client&#39;s dashboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Blog_User</targetReference>
            </connector>
            <label>Draft content in client&#39;s dashboard - Complete</label>
        </rules>
        <rules>
            <name>Create_Creative_Brief_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Creative Brief</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Social_Media_Service</targetReference>
            </connector>
            <label>Create Creative Brief- Completed</label>
        </rules>
        <rules>
            <name>Turn_On_AI_Lead_Nurture_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turn On AI Lead Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_TurnAI</targetReference>
            </connector>
            <label>Turn On AI Lead Nurture - Completed</label>
        </rules>
        <rules>
            <name>TCR_Verification_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TCR Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Service_TCR_Approval_field</targetReference>
            </connector>
            <label>TCR Verification - Completed</label>
        </rules>
        <rules>
            <name>AILN_Integration_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AILN Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_related_Service_AILN</targetReference>
            </connector>
            <label>AILN Integration - Completed</label>
        </rules>
        <rules>
            <name>Apple_Submission_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apple Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activation_Call_Task</targetReference>
            </connector>
            <label>Apple Submission - Completed</label>
        </rules>
    </decisions>
    <description>Creates a task in SEO Migration</description>
    <environments>Default</environments>
    <formulas>
        <name>for2BDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  4, {!$Flow.CurrentDate} + 4,
  5, {!$Flow.CurrentDate} + 3,
  {!$Flow.CurrentDate} + 2
)</expression>
    </formulas>
    <formulas>
        <name>forDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD({!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  5, {!$Flow.CurrentDate} + 3,
  6, {!$Flow.CurrentDate} + 2,
  {!$Flow.CurrentDate} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forDueDate1week</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>LP - Task Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - Task Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Approve_QA_Redirects_Task</name>
        <label>Approve QA Redirects - Task</label>
        <locationX>3746</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Approve_QA_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Approve_QA_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approve QA Redirects</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Collect_Info</name>
        <label>Collect Info</label>
        <locationX>578</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Strategy_Review_Complete_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Collect Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Complete_access_has_been_received</name>
        <label>Complete access has been received task</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Service.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete access has been received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Activation_Call_Task</name>
        <label>Create Activation Call Task</label>
        <locationX>5594</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_Generic_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Activation Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Service.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AILN_Tasks</name>
        <label>Create AILN Tasks</label>
        <locationX>4802</locationX>
        <locationY>2387</locationY>
        <inputReference>tasksToCreateColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Complete_Creative_Brief</name>
        <label>Create Task - Complete Creative Brief</label>
        <locationX>4274</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>for2BDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Custom_Social_Media_Service.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Creative Brief</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Custom_Social_Media_Service.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>QA_and_Post_content</name>
        <label>QA and Post content</label>
        <locationX>4010</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Last_Task_Assign_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Post_Blog_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>QA and Post content</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Review_new_updated_SEO_Blog_Content_Strategy_task</name>
        <label>Review new/updated SEO &amp; Blog Content Strategy - task</label>
        <locationX>2954</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate1week</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review new/updated SEO &amp; Blog Content Strategy</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SEO_Campaign_Summary_To_Client</name>
        <label>Send SEO Campaign Summary To Client</label>
        <locationX>2690</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>forDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send SEO Campaign Summary To Client</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Strategy_Deck_and_Schedule_Review_Call_Task</name>
        <label>Send Strategy Deck and Schedule Review Call - Task</label>
        <locationX>842</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Service_Strategy_Deck.Account__r.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Strategy Deck and Schedule Review Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Service_Strategy_Deck.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Strategy_Review_Complete_Approved</name>
        <label>Strategy Review Complete + Approved</label>
        <locationX>578</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Task_AM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Strategy Review Complete + Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Setup_Completed_Review</name>
        <label>Task - Setup Completed Review</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Service.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Setup Completed Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Service.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Add_agent_case</name>
        <label>Add agent case</label>
        <locationX>1634</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_task_add_agent_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Add_testimonial_case</name>
        <label>Add testimonial case</label>
        <locationX>1370</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_task_add_testimonial_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Approve_QA_User</name>
        <label>Approve QA User</label>
        <locationX>3746</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_QA_Redirects_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approve_QA_Redirects_Taks__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Freelancer_copywriting_user</name>
        <label>Freelancer - copywriting user</label>
        <locationX>3482</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Freelancer_Copywriting__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Social_Media_Service</name>
        <label>Get Custom Social Media Service</label>
        <locationX>4274</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_Complete_Creative_Brief</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sam_Twombly_User</name>
        <label>Get Sam Twombly User</label>
        <locationX>4802</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enable_FF_Task_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005EY000000JQqOYAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>2954</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Service related with the  task</description>
        <name>Get_Service_TurnAI</name>
        <label>Get Service</label>
        <locationX>4538</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_CSM_of_Account_TurnAI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Investigate_listing_case</name>
        <label>Investigate listing case</label>
        <locationX>2162</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_task_investigate_listing_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Listing_information_case</name>
        <label>Listing information case</label>
        <locationX>1898</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_task_listing_information_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Post_Blog_User</name>
        <label>Post Blog User</label>
        <locationX>4010</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QA_and_Post_content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Post_Blog_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Last_task_assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Revision</name>
        <label>Revision</label>
        <locationX>1326</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_task_owner_to_Design_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Revision1</name>
        <label>Revision</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_owner_to_Website_builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Revision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service</name>
        <label>Service</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_access_has_been_received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Strategy_Deck</name>
        <label>Service - Strategy Deck</label>
        <locationX>974</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Strategy_Deck_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Strategy_Deck_true</name>
        <label>Account - Strategy Deck  true</label>
        <locationX>974</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Account_website_launched_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Strategy_Deck.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategy_Deck_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Additional_feedback_end_date</name>
        <label>Additional feedback end date</label>
        <locationX>2426</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Feedback_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Additional_feedback_start_date</name>
        <label>Additional feedback start date</label>
        <locationX>2470</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Feedback_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Additional_revisions_end_date</name>
        <label>Additional revisions end date</label>
        <locationX>1898</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Revisions_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Additional_revisions_start_date</name>
        <label>Additional revisions start date</label>
        <locationX>1898</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Record_type1</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Revisions_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Approve_QA_Date</name>
        <label>Approve QA - Date</label>
        <locationX>3746</locationX>
        <locationY>2171</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approve_QA_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>At_risk_end_date</name>
        <label>At risk end date</label>
        <locationX>2690</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>At_Risk_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>At_risk_start_date</name>
        <label>At risk start date</label>
        <locationX>2734</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>At_Risk_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blocked_end_date</name>
        <label>Blocked end date</label>
        <locationX>3218</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocked_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blocked_start_date</name>
        <label>Blocked start date</label>
        <locationX>3262</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocked_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_owner_to_Website_builder</name>
        <label>Change owner to Website builder</label>
        <locationX>1766</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Change_task_DS_RR_owner_to_Design_project1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>WB - RR-</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Revision1.Website_builder__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_task_DS_RR_owner_to_Design_project</name>
        <label>Change task DS - RR-owner to Design project</label>
        <locationX>1326</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DS - RR-</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Revision.QA__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_task_DS_RR_owner_to_Design_project1</name>
        <label>Change task DS - RR-owner to Design project</label>
        <locationX>1766</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DS - RR-</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Revision1.Data_specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_task_owner_to_Design_project</name>
        <label>Change task WB - RR-owner to Design project</label>
        <locationX>1326</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Change_task_DS_RR_owner_to_Design_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>WB - RR-</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Revision.Design_project_coordinator__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Completed_end_date</name>
        <label>Completed end date</label>
        <locationX>2954</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Completed_start_date</name>
        <label>Completed start date</label>
        <locationX>2998</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Done_end_date</name>
        <label>Done end date</label>
        <locationX>4802</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Done_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Done_start_date</name>
        <label>Done start date</label>
        <locationX>4846</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Done_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>In_progress_end_date</name>
        <label>In progress end date</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>In_Progress_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>In_progress_start_date</name>
        <label>In progress start date</label>
        <locationX>1062</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>In_Progress_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Task_Assign_User</name>
        <label>Last Task Assign - User</label>
        <locationX>4010</locationX>
        <locationY>2171</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Blog_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_task_assigned__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>New_end_date</name>
        <label>New end date</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>New_end_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>New_Start_Date</name>
        <label>New Start Date</label>
        <locationX>534</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>New_start_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_started_end_date</name>
        <label>Not started end date</label>
        <locationX>842</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Started_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Started_Start_Date</name>
        <label>Not Started Start Date</label>
        <locationX>798</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Started_start_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_end_date</name>
        <label>Open end date</label>
        <locationX>3482</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Open_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_start_date</name>
        <label>Open start date</label>
        <locationX>3526</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Open_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Paused_end_date</name>
        <label>Paused end date</label>
        <locationX>5066</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Paused_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Paused_Start_Date</name>
        <label>Paused Start Date</label>
        <locationX>5110</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Paused_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>QA_in_progress_end_date</name>
        <label>QA in progress end date</label>
        <locationX>1634</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>QA_In_Progress_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_for_qa_end_date</name>
        <label>Ready for qa end date</label>
        <locationX>1370</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_QA_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ready_for_QA_Start_Date</name>
        <label>Ready for QA Start Date</label>
        <locationX>1458</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Record_type</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_QA_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revision_in_progress_start_date</name>
        <label>Revision in progress start date</label>
        <locationX>4582</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisions_in_Progress_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Revisions_in_progress_end_date</name>
        <label>Revisions in progress end date</label>
        <locationX>4538</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisions_in_Progress_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sent_for_approval_end_date</name>
        <label>Sent for approval end date</label>
        <locationX>2162</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent_for_Approval_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sent_for_approval_Start_Date</name>
        <label>Sent for approval Start Date</label>
        <locationX>2206</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent_for_Approval_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SFA_Revisions_end_date</name>
        <label>SFA Revisions end date</label>
        <locationX>4010</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Revisions_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SFA_revisions_in_progress_end_date</name>
        <label>SFA revisions in progress end date</label>
        <locationX>4274</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Revisions_In_Progress_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SFA_Revisions_In_progress_start_date</name>
        <label>SFA Revisions In progress start date</label>
        <locationX>4318</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Revisions_In_Progress_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SFA_Revisions_start_date</name>
        <label>SFA Revisions start date</label>
        <locationX>4054</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Revisions_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SS_Creating_Content</name>
        <label>SS - Creating Content</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Creating Content</stringValue>
            </value>
        </inputAssignments>
        <object>Service_schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SS_Final_QA</name>
        <label>SS - Final QA</label>
        <locationX>3218</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Final QA</stringValue>
            </value>
        </inputAssignments>
        <object>Service_schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SS_Posted</name>
        <label>SS - Posted</label>
        <locationX>2426</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>Service_schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>To_do_end_date</name>
        <label>To-do end date</label>
        <locationX>3746</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Task_completed</targetReference>
        </connector>
        <inputAssignments>
            <field>To_do_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_do_start_date</name>
        <label>To-do start date</label>
        <locationX>3790</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>To_do_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Service_Status</name>
        <label>Update related Service Status</label>
        <locationX>5066</locationX>
        <locationY>2063</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Service_TCR_Approval_field</name>
        <label>Update related Service TCR Approval field</label>
        <locationX>4802</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Get_Sam_Twombly_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCR_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
    </recordUpdates>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tasksToCreateColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskVar2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varUserCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
