unpackaged/main/default/flows/LP_White_Label_App_Service_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>App_Visual_Identity_Task_Assignment</name>
        <label>App Visual Identity - Task Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>App Visual Identity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_White_Label_App</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_New_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apple_Developer_Task_Assignment</name>
        <label>Apple Developer - Task Assignment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apple Developer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_Generic_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apple_Submission_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apple_Submission_Task_Assignment</name>
        <label>Apple Submission - Task Assignment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apple Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_Generic_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_In_Progress_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Kick_of_Call_Task_Assignment</name>
        <label>Kick of Call - Task Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kick Off Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Task_Generic_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVarCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>App_Visual_Identity_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activation_Date_is_null</name>
        <label>Activation Date is null?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Activation_Date_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kick_of_Call_Task_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apple_Developer_Task_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activation_Date_is_null</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LP - White Label App Service Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LP - White Label App Service Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks_In_Progress_Status</name>
        <label>Create Tasks</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>taskVarCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_New_Status</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>taskVarCollection</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Activation_Date_field</name>
        <label>Update Activation Date field</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Activation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>White Label App</stringValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskVarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
