unpackaged/main/default/flows/New_sales_opp_closed_won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_social_media</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_social</name>
        <label>Add to collection social</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Schedule Welcome Call meeting  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_website_launch.Account__r.Implementation_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_website_launch.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_task_social</name>
        <label>Create task</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Schedule Welcome Call meeting  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_social_media.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>twoWeeks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_social_media.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_social</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Service_null</name>
        <label>Service null?</label>
        <locationX>270</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_website_launch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
        <rules>
            <name>Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_website_launch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Social_media</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_media</name>
        <label>Social media?</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Create_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_social_media.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_social</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <description>Create tasks for website launches and social media services</description>
    <environments>Default</environments>
    <formulas>
        <name>forDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>twoWeeks</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD({!$Flow.CurrentDate}- DATE(1900, 1, 7), 7),
0, ({!$Flow.CurrentDate}) + 14 + FLOOR((14-1)/5)*2,
1, ({!$Flow.CurrentDate}) + 14+ FLOOR((14)/5)*2,
2, ({!$Flow.CurrentDate}) + 14 + FLOOR((14+1)/5)*2,
3, ({!$Flow.CurrentDate}) + 14 + FLOOR((14+2)/5)*2,
4, ({!$Flow.CurrentDate}) + 14 + FLOOR((14+3)/5)*2,
5, ({!$Flow.CurrentDate}) + 14 + CEILING((14)/5)*2,
6, ({!$Flow.CurrentDate}) - IF(14&gt;0,1,0) + 14 + CEILING((14)/5)*2,
null)</expression>
    </formulas>
    <interviewLabel>New sales opp closed won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New sales opp closed won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks</name>
        <label>Create tasks</label>
        <locationX>270</locationX>
        <locationY>1487</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Service_social_media</name>
        <label>Service social media</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Social_media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvKLAA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_website_launch</name>
        <label>Service website launch</label>
        <locationX>270</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128D000000DtmTQAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_website_launch</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvK4AAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
