unpackaged/main/default/flows/New_Internal_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_case_assigned_email</name>
        <label>New case assigned - email</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>SFTeam@luxurypresence.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Case assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyNewCaseAssigned</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_for_Priority_Issue</name>
        <label>Send Slack for Priority Issue</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_case_assigned_email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>A Priority Issue has been submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0PEY000000csZ12AI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_owner</name>
        <label>Add owner</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_operations_request_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_type</name>
        <label>Add record type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ID_Case_SFDC_Ticket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_a_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Priority_Issue_Notification</name>
        <label>Priority Issue Notification</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>New_case_assigned_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_Critical_Urgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_for_Priority_Issue</targetReference>
            </connector>
            <label>Issue Critical/Urgent</label>
        </rules>
    </decisions>
    <description>Update to Queue Assignment - Added Critical &amp; Urgent Slack Alert</description>
    <environments>Default</environments>
    <formulas>
        <name>forBSA</name>
        <dataType>String</dataType>
        <expression>IF(
OR( ISPICKVAL({!Case.Team__c},&quot;Operations&quot;),  ISPICKVAL({!Case.Team__c},&quot;Billing/Finance&quot;) , ISPICKVAL({!Case.Team__c},&quot;Sales&quot;), ISPICKVAL({!Case.Team__c},&quot;PED&quot;), ISPICKVAL({!Case.Team__c},&quot;Custom Design&quot;), ISPICKVAL({!Case.Team__c},&quot;All Teams&quot;)
), &quot;0055f000007xSaiAAE&quot;,
IF(
AND( ISPICKVAL({!Case.Request_Type__c}, &quot;New Process&quot;), 
OR(ISPICKVAL({!Case.Team__c},&quot;Onboarding&quot;), ISPICKVAL({!Case.Team__c},&quot;PFT&quot;),  ISPICKVAL({!Case.Team__c},&quot;IDX&quot;),ISPICKVAL({!Case.Team__c},&quot;CS-All Teams&quot;),ISPICKVAL({!Case.Team__c},&quot;Social Media&quot;),ISPICKVAL({!Case.Team__c},&quot;CSM&quot;),ISPICKVAL({!Case.Team__c},&quot;SEO&quot;),ISPICKVAL({!Case.Team__c},&quot;Support&quot;), ISPICKVAL({!Case.Team__c},&quot;Content&quot;), ISPICKVAL({!Case.Team__c},&quot;Paid Media&quot;), ISPICKVAL({!Case.Team__c},&quot;CX&quot;)
 )
), 
&quot;005EY000000JSzqYAG&quot;, &quot;005EY000000Hg5qYAC&quot;
)
)</expression>
    </formulas>
    <interviewLabel>New Internal Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Internal Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Add_record_type</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Case_SFDC_Ticket</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_created_case</name>
        <label>Get created case</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Salesforce_operations_request_queue</name>
        <label>Salesforce operations request - queue</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Operations_Requests</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_created_case</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Click next to submit a new request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_a_Request</name>
        <label>Submit a Request</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Salesforce_operations_request_queue</targetReference>
        </connector>
        <fields>
            <name>CaseRequest</name>
            <fieldText>&lt;p&gt;Please add the &lt;strong&gt;Problem Statement&lt;/strong&gt; in the &lt;em&gt;Description&lt;/em&gt; field, and complete all the fields in the screen flow. For more information on the format for submitting requests, see &lt;a href=&quot;https://coda.io/d/CRM-Team-Hub_dzxzDyPDBG5/Request-Format_suCNu#_luTE_&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submit_a_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_a_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Subject</objectFieldReference>
                </fields>
                <fields>
                    <name>ProblemStatement</name>
                    <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Problem Statement&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;A description of the request/issue, intended result, and what the business impact is.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Description</objectFieldReference>
                </fields>
                <fields>
                    <name>Scenario</name>
                    <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Scenario(s)&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;Describe the scenario(s) in which the  request/issue presents itself&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Scenario_s__c</objectFieldReference>
                </fields>
                <fields>
                    <name>AdditionalNotes</name>
                    <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Additional Notes&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;Share any additional information that is relevant to the build&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Additional_Notes__c</objectFieldReference>
                </fields>
                <fields>
                    <name>TestSteps</name>
                    <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;strong&gt;Test Steps&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;How do you verify the request is completed, and what is the expected result.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Test_Steps__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Submit_a_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submit_a_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Priority</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Submitted_By__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submit_a_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Request_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Team__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Case.Impacted_Teams__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Priority_Issue_Notification</targetReference>
        </connector>
        <fields>
            <name>Thank_you_message</name>
            <fieldText>&lt;p&gt;Thank you for submitting your request. The case number is {!Get_created_case.CaseNumber} you will be receiving updates shortly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyNewCaseAssigned</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following case {!Get_created_case.CaseNumber} - {!Get_created_case.Subject} has been assigned to you. Please review in Salesforce and follow up.
Kind regards,</text>
    </textTemplates>
    <textTemplates>
        <name>SendSlackNotificationPriorityIssue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Priority Issue has been Submitted:
Subject: {!Case.Subject}
Case Number: {!Case.CaseNumber}
Submitted by: {!Case.Submitted_By__c}
Date Created: {!Case.CreatedDate}</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FileNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
