unpackaged/main/default/flows/New_Addendum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varOppCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>At_Risk_Fee_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_opp</name>
        <label>Create opp</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varOppProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_book_entry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppID1</name>
        <label>OppID1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>At_Risk_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppID1_0</name>
        <label>OppID1</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_addendum_decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_addendum_decision</name>
        <label>New addendum</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Addendum_created_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services</targetReference>
            </connector>
            <label>Expansion/Downgrade/Upgrade/Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Downgrade_Paused</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pause</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity</targetReference>
            </connector>
            <label>Cancellation/Downgrade/Paused</label>
        </rules>
        <rules>
            <name>Extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_1</targetReference>
            </connector>
            <label>Extension</label>
        </rules>
        <rules>
            <name>Expansion1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Addendum_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_0</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AddendumTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Addendum_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Brokerage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Brokerage_Addendum__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentMarketingProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Current_Marketing_Product__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentSocialMedia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Current_Social_Media__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ForecastCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>ForecastCategoryName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HasTheAMBeenNotified</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Has_the_Account_Manager_been_notified__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewAddemdumChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>New_Addendum__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Onboarding</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Onboarding__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryEscalationService</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Primary_Escalation_Service__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryReasonChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Primary_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RootCauseChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Root_Cause__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamThatEscalatedChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Team_That_Escalated__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TierPlanChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tier_Plan__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UrgencyLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Urgency_Level__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>aEUserName</name>
        <dataType>String</dataType>
        <expression>{!Account.AE__r.FirstName} + &quot; &quot; + {!Account.AE__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>forAccountManagerName</name>
        <dataType>String</dataType>
        <expression>{!Account.Account_Manager__r.FirstName}+ &quot; &quot; + {!Account.Account_Manager__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!Account.Name} + &quot;- Addendum - &quot; + {!Addendum_type}</expression>
    </formulas>
    <formulas>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    ISPICKVAL({!Account.Partnership_Organization__c}, &quot;&quot;),
    ISPICKVAL({!Account.Partnership_Organization__c}, &quot;N/A&quot;)
  ),
  &quot;01s5f00000453KtAAI&quot;,
  &quot;01sEY00000013fNYAQ&quot;
)</expression>
    </formulas>
    <interviewLabel>New Addendum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Addendum</label>
    <loops>
        <name>Each_service</name>
        <label>Each service</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <collectionReference>Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Price_book_entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>OppID1</targetReference>
        </connector>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>aEUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Addendum__c</field>
            <value>
                <elementReference>forAccountManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>Addendum_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automated_Workflow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>Sales_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Opp_Addendum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Addendum</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Start_Date__c</field>
            <value>
                <elementReference>Account.Subscription_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_0</name>
        <label>Opportunity</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>OppID1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>aEUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Addendum__c</field>
            <value>
                <elementReference>forAccountManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>Addendum_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automated_Workflow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>Sales_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Opp_Addendum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Addendum</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Start_Date__c</field>
            <value>
                <elementReference>Account.Subscription_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_1</name>
        <label>Opportunity</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
        <inputAssignments>
            <field>AE__c</field>
            <value>
                <elementReference>aEUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager_Addendum__c</field>
            <value>
                <elementReference>forAccountManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addendum_Type__c</field>
            <value>
                <elementReference>Addendum_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automated_Workflow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Marketing_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Monthly_Subscription_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Marketing_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>Sales_opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Opp_Addendum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New Addendum</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Start_Date__c</field>
            <value>
                <elementReference>Account.Subscription_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_product</name>
        <label>Opportunity product</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Addendum_created</targetReference>
        </connector>
        <inputReference>varOppCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contract</name>
        <label>Contract</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_book_entry</name>
        <label>Price book entry</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_service.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sales_opportunity</name>
        <label>Sales opportunity</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Addendum</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125f000000VvK4AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012O90000000NnrIAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Services</name>
        <label>Services</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IDX Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MLS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>At_Risk_Fee</name>
        <label>At Risk Fee</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>New_addendum_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monthly_Marketing_Fee_At_Risk__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee_At_Risk__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>At_Risk_Fee_1</name>
        <label>At Risk Fee</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>New_addendum_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monthly_Marketing_Fee_At_Risk__c</field>
            <value>
                <elementReference>Account.Monthly_Marketing_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Subscription_Fee_At_Risk__c</field>
            <value>
                <elementReference>Account.Monthly_Subscription_Fee1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Addendum_created</name>
        <label>Addendum created</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Created</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://luxurypresence.lightning.force.com/{!NewOppID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://luxurypresence.lightning.force.com/{!NewOppID}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addendum_created_0</name>
        <label>Addendum created</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Created_0</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://luxurypresence.lightning.force.com/{!NewOppID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://luxurypresence.lightning.force.com/{!NewOppID}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Addendum</name>
        <label>New Addendum</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <fields>
            <name>Addendum_type</name>
            <choiceReferences>AddendumTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Addendum type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!OppName} </stringValue>
            </defaultValue>
            <fieldText>Opportunity name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_date</name>
            <dataType>Date</dataType>
            <fieldText>Close date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Onboarding_c</name>
            <choiceReferences>Onboarding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Onboarding</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varPrimaryReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRootCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
