unpackaged/main/default/flows/Opportunity_Add_or_Change_Bundle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Ad_Spend_Fee_to_List</name>
        <label>Add Ad Spend Fee to List</label>
        <locationX>270</locationX>
        <locationY>7250</locationY>
        <assignmentItems>
            <assignToReference>listOfOtherProductsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityProductToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Prices_for_Other_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ad_Spend_to_List</name>
        <label>Add Ad Spend to List</label>
        <locationX>270</locationX>
        <locationY>7034</locationY>
        <assignmentItems>
            <assignToReference>listOfOtherProductsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityProductToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Other_Product_Ad_Spend_Add_On_Management_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the Product ID of the Bundled Product</description>
        <name>Add_Bundle_Product_ID</name>
        <label>Add Bundle Product ID</label>
        <locationX>270</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>allBundleProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Store_All_Bundle_Product_IDs.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_All_Bundle_Product_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Other_Product_To_List</name>
        <label>Add Other Product To List</label>
        <locationX>534</locationX>
        <locationY>7034</locationY>
        <assignmentItems>
            <assignToReference>listOfOtherProductsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpportunityProductToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Prices_for_Other_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PBEntryID_to_Collection</name>
        <label>Add PBEntryID to Collection</label>
        <locationX>270</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>allPricebookEntryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_PriceBookEntryIDs.PriceBookEntry_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PriceBookEntryIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the product ID to our list of products already on the Opportunity so it doesn&#39;t show on the list.</description>
        <name>Add_Product_ID_to_list_of_Current_Products</name>
        <label>Add Product ID to list of Current Products</label>
        <locationX>270</locationX>
        <locationY>4886</locationY>
        <assignmentItems>
            <assignToReference>allCurrentProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Current_Product_Ids.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Product_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_One_Time_Prices</name>
        <label>Add to One-Time Prices</label>
        <locationX>270</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>totalPriceSelectedSetupFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Bundle_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMininumPriceSetupFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Minimum_Price_Allowed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_of_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Recurring</name>
        <label>Add to Recurring</label>
        <locationX>798</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>totalPriceRecurringFees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Bundle_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMinimumPriceRecurring</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Minimum_Price_Allowed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_of_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Recurring_Non_Discountable</name>
        <label>Add to Recurring Non Discountable</label>
        <locationX>534</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>vTotalPriceRecurringFeesNonDiscountable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Bundle_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMinimumPriceRecurring</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Total_of_Selected_Products.Minimum_Price_Allowed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Total_of_Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bundle_ID</name>
        <label>Assign Bundle ID</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>bundleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_a_Plan.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_Chosen_Bundle_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Opportunity_Values</name>
        <label>Assign Current Opportunity Values</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentOpportunityValues.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_An_Addendum_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning record id to a variable with a better name FOR CLARITY.</description>
        <name>Assign_Opportunity_Id</name>
        <label>Assign Opportunity Id</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Values_from_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_19</name>
        <label>Assignment 19</label>
        <locationX>534</locationX>
        <locationY>5618</locationY>
        <assignmentItems>
            <assignToReference>thisProductsDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Override_Surplus_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Discount_is_Recurring_Product</name>
        <label>Discount is Recurring Product with Ad Spend</label>
        <locationX>798</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>thisProductsDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentDiscountforRecurringFeesPlansWithAdSpend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Override_Surplus_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_is_Recurring_Product</name>
        <label>Discount is Recurring Product</label>
        <locationX>1062</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>thisProductsDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentDiscountRecurringFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Override_Surplus_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalculate_One_Time_Price</name>
        <label>Recalculate One Time Price</label>
        <locationX>336</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>thisProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOneTimeSurplusPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalculate_Recurring_Price</name>
        <label>Recalculate Recurring Price</label>
        <locationX>600</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>thisProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRecurringFeeSurplusPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removing the Bundle Plans not allowed for Addendum from the All Bundle Plans collection variable.</description>
        <name>Remove_Plans_not_allowed_for_Addendum</name>
        <label>Remove Plans not allowed for Addendum</label>
        <locationX>116</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>allBundlePlans</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Filter_on_Bundle_Plans_not_allowed_for_Addendum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Any_Bundles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removing the Bundle Plans not allowed for New Sales from the All Bundle Plans collection variable.</description>
        <name>Remove_Plans_not_allowed_for_New_Sales</name>
        <label>Remove Plans not allowed for New Sales</label>
        <locationX>380</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>allBundlePlans</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Filter_on_Bundle_Plans_not_allowed_for_New_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Any_Bundles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Minimums_to_Nothing</name>
        <label>Set Minimums to Nothing</label>
        <locationX>50</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>totalMinimumPriceRecurring</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMininumPriceSetupFees</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allow_Discount_Override</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Product_Ad_Spend_Add_On</name>
        <label>Set Other Product Ad Spend Add On</label>
        <locationX>270</locationX>
        <locationY>6926</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Option_Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Prices_for_Other_Products.PriceBookEntryID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Prices_for_Other_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>otherProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAdSpendMonthlyFeePrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ad_Spend_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Product_Ad_Spend_Add_On_Management_Fee</name>
        <label>Set Other Product Ad Spend Add On Management Fee</label>
        <locationX>270</locationX>
        <locationY>7142</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Option_Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ad_Spend_Management_Fee_PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ad_Spend_Management_Fee_PricebookEntry.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>otherProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAdSpendManagementFeePrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ad_Spend_Fee_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Product_Variable</name>
        <label>Set Other Product Variable</label>
        <locationX>534</locationX>
        <locationY>6926</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Option_Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Options</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Prices_for_Other_Products.PriceBookEntryID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Prices_for_Other_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>otherProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityProductToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualPriceOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Other_Product_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We need these values later.</description>
        <name>Set_the_Chosen_Bundle_Plan</name>
        <label>Set the Chosen Bundle Plan</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>theBundlePlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_a_Plan.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bundleTierPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_a_Plan.firstSelectedRow.Tier_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bundlePricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_a_Plan.firstSelectedRow.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bundle_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Multiplies the Bundle Price by the Discount calculated for EACH Product.</description>
        <name>Set_This_Products_Price</name>
        <label>Set This Products Price</label>
        <locationX>600</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>thisProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product_Line_Item_for_Each_Bundle_Product.Bundle_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Time_or_Setup_Fee_Bundle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_Addendum_Screen</name>
        <label>Set Values from Addendum Screen</label>
        <locationX>50</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>contractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addendum_Subscription_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractAddendumExecutionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addendum_Addendum_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractContractTermPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addendum_Contract_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractFeePaymentTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addendum_Subscription_Fee_Payment_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunityValues.TTV_Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunityValues.Website_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWebsiteDesignFromBundlePlan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Bundle_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_from_New_Sale_Screen</name>
        <label>Set Values from New Sale Screen</label>
        <locationX>314</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>contractStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newsale_Subscription_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractContractTermPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newsale_Contract_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractFeePaymentTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newsale_Subscription_Fee_Payment_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractInAppOnboarding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newsale_In_App_Onboarding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunityValues.TTV_Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TTV_Beta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentOpportunityValues.Website_Design__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWebsiteDesignFromBundlePlan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Bundle_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets &quot;this product&#39;s discount&quot; to the setup fee discount applied</description>
        <name>Setup_Fee_Discount</name>
        <label>Setup Fee Discount</label>
        <locationX>270</locationX>
        <locationY>5618</locationY>
        <assignmentItems>
            <assignToReference>thisProductsDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>percentDiscountOverrideSetupFees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Override_Surplus_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Erase the Bundle Tier Plan value, because we aren&#39;t allowed to set it anyway.</description>
        <name>Wipe_Out_Tier_Plan</name>
        <label>Wipe Out Tier Plan</label>
        <locationX>50</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>bundleTierPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tier_and_Bundle_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoNeedsCSMManagerApproval</name>
        <choiceText>No (Needs CSM Manager Approval)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No (Needs CSM Manager Approval)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Getting all the Bundle Plans that are not available for Addendum.</description>
        <name>Filter_on_Bundle_Plans_not_allowed_for_Addendum</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on Bundle Plans not allowed for Addendum</label>
        <locationX>116</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allBundlePlans</collectionReference>
        <conditionLogic>1 AND (NOT 2)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales.Plan_availability__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales.Plan_availability__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Addendum</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_Plans_not_allowed_for_Addendum</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Getting all the Bundle Plans that are not available for New Sales.</description>
        <name>Filter_on_Bundle_Plans_not_allowed_for_New_Sales</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter on Bundle Plans not allowed for New Sales</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allBundlePlans</collectionReference>
        <conditionLogic>1 AND (NOT 2)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales.Plan_availability__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales.Plan_availability__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>New Sales</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_Plans_not_allowed_for_New_Sales</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>cAdSpendPercentage</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.85</numberValue>
        </value>
    </constants>
    <decisions>
        <description>I mean, this is just being pedantic...</description>
        <name>Are_There_Any_Bundles</name>
        <label>Are There Any Bundles?</label>
        <locationX>380</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Bundles!</defaultConnectorLabel>
        <rules>
            <name>Bundles</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>allBundlePlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunityValues.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_a_Plan_Screen</targetReference>
            </connector>
            <label>Bundles!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Existing_Bundle_Products</name>
        <label>Are There Existing Bundle Products?</label>
        <locationX>182</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Get_the_Pricebook_Entry_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No they is not</defaultConnectorLabel>
        <rules>
            <name>Yes_They_Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Bundle_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Current_Bundle_Products</targetReference>
            </connector>
            <label>Yes They Is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Plan_Include_Ad_Spend</name>
        <label>Does the Plan Include Ad Spend?</label>
        <locationX>930</locationX>
        <locationY>5618</locationY>
        <defaultConnector>
            <targetReference>Discount_is_Recurring_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_with_Ad_Spend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTotalPriceRecurringFeesNonDiscountable</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTotalPriceRecurringFeesNonDiscountable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Discount_is_Recurring_Product</targetReference>
            </connector>
            <label>Plan with Ad Spend</label>
        </rules>
    </decisions>
    <decisions>
        <description>There&#39;s a validation rule that runs to block setting a Tier Plan when the Add Plan field is false. So, we do this. It&#39;s dumb.</description>
        <name>Is_Add_Plan_False</name>
        <label>Is a</label>
        <locationX>182</locationX>
        <locationY>7634</locationY>
        <defaultConnector>
            <targetReference>Set_Tier_and_Bundle_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Plan is True</defaultConnectorLabel>
        <rules>
            <name>Add_Plan_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addServiceRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpportunityValues.Add_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wipe_Out_Tier_Plan</targetReference>
            </connector>
            <label>Add Plan is False</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is an addendum opportunity, some things are different. There is no minimum on bundles so we&#39;re going to set the thresholds to 0.

An Add Service record type is the same as Addendum, but we weren&#39;t told about this until the night before launch.</description>
        <name>Is_An_Addendum_Opportunity</name>
        <label>Is An Addendum Opportunity?</label>
        <locationX>182</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Allow_Discount_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not an Addendum</defaultConnectorLabel>
        <rules>
            <name>JahwolAddendum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addServiceRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Minimums_to_Nothing</targetReference>
            </connector>
            <label>Yes, an Addendum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_Ad_Spend_Add_On</name>
        <label>Is It Ad Spend Add On?</label>
        <locationX>402</locationX>
        <locationY>6818</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Product_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ad_Spend_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_Prices_for_Other_Products.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Spend Add On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Other_Product_Ad_Spend_Add_On</targetReference>
            </connector>
            <label>Ad Spend Add On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Null</name>
        <label>Is Pricebook Null?</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_All_Bundle_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pricebook From Opportunity</defaultConnectorLabel>
        <rules>
            <name>No_Pricebook_Pull_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunityValues.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_All_Bundle_Plans</targetReference>
            </connector>
            <label>No Pricebook, Pull Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Time_or_Recurring_Product</name>
        <label>One Time or Recurring Product</label>
        <locationX>534</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Add_to_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not One-Time</defaultConnectorLabel>
        <rules>
            <name>SetupFee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Total_of_Selected_Products.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_One_Time_Prices</targetReference>
            </connector>
            <label>Setup Fee Products</label>
        </rules>
        <rules>
            <name>Recurring_Not_Discountable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Total_of_Selected_Products.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring (Not Discountable)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Recurring_Non_Discountable</targetReference>
            </connector>
            <label>Recurring Not Discountable</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Time_or_Setup_Fee_Bundle</name>
        <label>One Time or Setup Fee Bundle?</label>
        <locationX>600</locationX>
        <locationY>5510</locationY>
        <defaultConnector>
            <targetReference>Does_the_Plan_Include_Ad_Spend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Discount Applies</defaultConnectorLabel>
        <rules>
            <name>One_Time_Discount_Applies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Product_Line_Item_for_Each_Bundle_Product.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setup_Fee_Discount</targetReference>
            </connector>
            <label>One-Time Discount Applies</label>
        </rules>
        <rules>
            <name>Non_Discountable_Exempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Product_Line_Item_for_Each_Bundle_Product.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring (Not Discountable)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_19</targetReference>
            </connector>
            <label>Non Discountable Exempt</label>
        </rules>
    </decisions>
    <decisions>
        <description>This allow users to override bundle and make it bigger</description>
        <name>Override_Surplus_Price</name>
        <label>Override Surplus Price</label>
        <locationX>600</locationX>
        <locationY>6002</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>One_Time_Surplus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Product_Line_Item_for_Each_Bundle_Product.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OverrideSetupFeePrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalPriceSelectedSetupFees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_One_Time_Price</targetReference>
            </connector>
            <label>One Time Surplus</label>
        </rules>
        <rules>
            <name>Recurring_Surplus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Product_Line_Item_for_Each_Bundle_Product.Product__r.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OverrideRecurringFeePrice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fTotalBundleRecurringFees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_Recurring_Price</targetReference>
            </connector>
            <label>Recurring Surplus</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Opportunity_Record_Type</name>
        <label>What Opportunity Record Type?</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Are_There_Any_Bundles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_an_Addendum_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentOpportunityValues.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_on_Bundle_Plans_not_allowed_for_Addendum</targetReference>
            </connector>
            <label>It is an Addendum Opportunity</label>
        </rules>
        <rules>
            <name>It_is_a_New_Sales_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newSalesRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentOpportunityValues.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_on_Bundle_Plans_not_allowed_for_New_Sales</targetReference>
            </connector>
            <label>It is a New Sales Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is an addendum opportunity, some things are different. The contract details screens are different.</description>
        <name>Which_Contract_Details_Screen</name>
        <label>Which Contract Details Screen?</label>
        <locationX>182</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>newsale_Contract_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Sales</defaultConnectorLabel>
        <rules>
            <name>Addendum</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addServiceRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addendum_Contract_Details</targetReference>
            </connector>
            <label>Addendum</label>
        </rules>
    </decisions>
    <description>- Fields on contract details screen are now optional
- Addendum field now appears after the Contract Start Date field
- Tier plan is no longer set if Add Plan is false AND the record type is Add Service
- There are now two versions of the contract details screen
- Apparently there&#39;s a record type we were never told about that has to behave like Addendum
- Checking the &quot;Add Plan&quot; field before setting Tier Plan</description>
    <dynamicChoiceSets>
        <name>choicesIsRenewalAddeddum</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Is_Renewal_Addeddum__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesOverrideSubscriptionRenewalDate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Override_Subscription_Renewal_Date__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesProductOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Prices_for_Other_Products.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product_Option__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesTTVBetaPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TTV_Beta__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This is pulled from the Opportunity field</description>
        <name>ContractTerms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Contract_Term_Months__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DesignTemplateOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Design_Template__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This mapping was extremely not obvious.</description>
        <name>InAppOnboardingIsReallyBetaUserField</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Beta_user__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InAppOnboardingOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Onboarding__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubscriptionFeePaymentTermsFromOpportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Subscription_Fee_Payment_Term__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Values from the Website Design field on the Opportunity.</description>
        <name>websiteDesignOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Website_Design__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fAdSpendManagementFeePrice</name>
        <dataType>Currency</dataType>
        <expression>{!ManualPriceOverride}*(1-{!cAdSpendPercentage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAdSpendManagementFeeTotal</name>
        <dataType>Currency</dataType>
        <expression>{!ManualPriceOverride}*{!otherProductQuantity}*(1-{!cAdSpendPercentage})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAdSpendMonthlyFeePrice</name>
        <dataType>Currency</dataType>
        <expression>{!ManualPriceOverride}*{!cAdSpendPercentage}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAdSpendMonthlyFeeTotal</name>
        <dataType>Currency</dataType>
        <expression>{!ManualPriceOverride}*{!otherProductQuantity}*{!cAdSpendPercentage}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fAdSpendTotal</name>
        <dataType>Currency</dataType>
        <expression>{!ManualPriceOverride}*{!otherProductQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fOneTimeSurplusPrice</name>
        <dataType>Number</dataType>
        <expression>{!thisProductPrice}*({!OverrideSetupFeePrice}/{!totalPriceSelectedSetupFees})</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fRecurringFeeSurplusPrice</name>
        <dataType>Number</dataType>
        <expression>{!thisProductPrice}*(({!OverrideRecurringFeePrice}-IF(ISBLANK({!vTotalPriceRecurringFeesNonDiscountable}),0,{!vTotalPriceRecurringFeesNonDiscountable}))/{!totalPriceRecurringFees})</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>fTotalBundleRecurringFees</name>
        <dataType>Currency</dataType>
        <expression>{!totalPriceRecurringFees}+IF(ISNULL({!vTotalPriceRecurringFeesNonDiscountable}),0,{!vTotalPriceRecurringFeesNonDiscountable})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Total price of items that have the billing type of recurring + those that have the billing type of Recussing Non Discountable</description>
        <name>fTotalPriceRecurringPlusRecurringNonDiscountable</name>
        <dataType>Currency</dataType>
        <expression>{!totalPriceRecurringFees} + IF(ISBLANK({!vTotalPriceRecurringFeesNonDiscountable}), 0, {!vTotalPriceRecurringFeesNonDiscountable})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fWebsiteDesignFromBundlePlan</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!theBundlePlan.Name},&quot;Custom&quot;),&quot;Custom&quot;,&quot;Pro&quot;)</expression>
    </formulas>
    <formulas>
        <name>nullString</name>
        <dataType>String</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <description>Addendum or New Sale</description>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <expression>IF(({!addendumRecordTypeId} = {!opportunityRecordTypeId}) ||( {!addServiceRecordTypeId} = {!opportunityRecordTypeId}) , &#39;Addendum&#39;, &#39;New Sale&#39;)</expression>
    </formulas>
    <formulas>
        <name>percentDiscountforRecurringFeesPlansWithAdSpend</name>
        <dataType>Number</dataType>
        <expression>({!OverrideRecurringFeePrice}-{!vTotalPriceRecurringFeesNonDiscountable})/{!totalPriceRecurringFees}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <description>0% discount for non discountable product</description>
        <name>percentDiscountNonDiscountableRecurring</name>
        <dataType>Number</dataType>
        <expression>{!OverrideRecurringFeePrice}-{!OverrideRecurringFeePrice}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>percentDiscountOverrideSetupFees</name>
        <dataType>Number</dataType>
        <expression>{!OverrideSetupFeePrice}/{!totalPriceSelectedSetupFees}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>percentDiscountRecurringFees</name>
        <dataType>Number</dataType>
        <expression>{!OverrideRecurringFeePrice}/{!totalPriceRecurringFees}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>productLineItemDiscount</name>
        <dataType>Number</dataType>
        <expression>IF((1 - {!thisProductsDiscount}) * 100 &lt; 0, null, (1 - {!thisProductsDiscount}) * 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates the discount for a given product</description>
        <name>productPriceAdjusted</name>
        <dataType>Currency</dataType>
        <expression>{!thisProductPrice} * {!thisProductsDiscount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>testDiscount</name>
        <dataType>Number</dataType>
        <expression>1.00</expression>
        <scale>17</scale>
    </formulas>
    <interviewLabel>Opportunity-Add or Change Bundle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity-Add or Change Bundle</label>
    <loops>
        <name>Assign_Current_Product_Ids</name>
        <label>Assign Current Product Ids</label>
        <locationX>182</locationX>
        <locationY>4778</locationY>
        <collectionReference>Get_Existing_Products_on_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_ID_to_list_of_Current_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Other_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Calculate_Total_of_Selected_Products</name>
        <label>Calculate Total of Selected Products</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <collectionReference>CustomizeProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>One_Time_or_Recurring_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PriceBookEntryIDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Product_Line_Item_for_Each_Bundle_Product</name>
        <label>Create Product Line Item for Each Bundle Product</label>
        <locationX>182</locationX>
        <locationY>5294</locationY>
        <collectionReference>CustomizeProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_This_Products_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Ad_Spend_Management_Fee_PricebookEntry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the other producs chosen and enter prices.</description>
        <name>Enter_Prices_for_Other_Products</name>
        <label>Enter Prices for Other Products</label>
        <locationX>182</locationX>
        <locationY>6602</locationY>
        <collectionReference>OtherProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enter_Other_Product_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Other_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_PriceBookEntryIDs</name>
        <label>Get PriceBookEntryIDs</label>
        <locationX>182</locationX>
        <locationY>2930</locationY>
        <collectionReference>CustomizeProducts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PBEntryID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Current_Opportunity_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through ALL the products and store the IDs, so we can filter later.</description>
        <name>Store_All_Bundle_Product_IDs</name>
        <label>Store All Bundle Product IDs</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <collectionReference>allBundleProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Bundle_Product_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Customize_Bundle_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Line_Items</name>
        <label>Create Opportunity Line Items</label>
        <locationX>600</locationX>
        <locationY>6302</locationY>
        <connector>
            <targetReference>Create_Product_Line_Item_for_Each_Bundle_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>productLineItemDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Bundle_Product__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Create_Product_Line_Item_for_Each_Bundle_Product.PriceBookEntry_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Product_Line_Item_for_Each_Bundle_Product.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>thisProductPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Other_Products</name>
        <label>Create Other Products</label>
        <locationX>182</locationX>
        <locationY>7526</locationY>
        <connector>
            <targetReference>Is_Add_Plan_False</targetReference>
        </connector>
        <inputReference>listOfOtherProductsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Remove any current bundle products.</description>
        <name>Delete_Current_Bundle_Products</name>
        <label>Delete Current Bundle Products</label>
        <locationX>50</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Get_the_Pricebook_Entry_Details</targetReference>
        </connector>
        <inputReference>Get_Current_Bundle_Products</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Gets all Bundle Plans that are active, so that we can let the user choose.</description>
        <name>Copy_1_of_Get_All_Bundle_Plans</name>
        <label>Get Standard Pricebook Plans</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>standardPricebookID</elementReference>
            </value>
        </filters>
        <object>Bundle_Plan__c</object>
        <outputReference>allBundlePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_Unique__c</queriedFields>
        <queriedFields>Plan_Discount__c</queriedFields>
        <queriedFields>Number_of_Products__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Total_Bundle_Discounted_Price__c</queriedFields>
        <queriedFields>Total_Bundle_List_Price__c</queriedFields>
        <queriedFields>Number_of_Other_Products__c</queriedFields>
        <queriedFields>Total_Discount_Price_of_Other_Products__c</queriedFields>
        <queriedFields>Total_List_Price_of_Other_Products__c</queriedFields>
        <queriedFields>Number_of_Setup_Fee_Products__c</queriedFields>
        <queriedFields>Total_Discount_Price_of_Setup_Fees__c</queriedFields>
        <queriedFields>Total_List_Price_of_Setup_Fee_Products__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price_Book__c</queriedFields>
        <queriedFields>Tier_Plan__c</queriedFields>
        <queriedFields>Plan_availability__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Ad_Spend_Management_Fee_PricebookEntry</name>
        <label>Get Ad Spend Management Fee PricebookEntry</label>
        <locationX>182</locationX>
        <locationY>6494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Prices_for_Other_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ad Spend Management Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Addendum Record Type</description>
        <name>Get_Add_Service_Record_Type</name>
        <label>Get Add Service Record Type</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add Service</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>addServiceRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity Addendum Record Type</description>
        <name>Get_Addendum_Record_Type</name>
        <label>Get Addendum Record Type</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Sales_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Addendum</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>addendumRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets all Bundle Plans that are active, so that we can let the user choose.</description>
        <name>Get_All_Bundle_Plans</name>
        <label>Get All Bundle Plans</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunityValues.Pricebook2.Id</elementReference>
            </value>
        </filters>
        <object>Bundle_Plan__c</object>
        <outputReference>allBundlePlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name_Unique__c</queriedFields>
        <queriedFields>Plan_Discount__c</queriedFields>
        <queriedFields>Number_of_Products__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Total_Bundle_Discounted_Price__c</queriedFields>
        <queriedFields>Total_Bundle_List_Price__c</queriedFields>
        <queriedFields>Number_of_Other_Products__c</queriedFields>
        <queriedFields>Total_Discount_Price_of_Other_Products__c</queriedFields>
        <queriedFields>Total_List_Price_of_Other_Products__c</queriedFields>
        <queriedFields>Number_of_Setup_Fee_Products__c</queriedFields>
        <queriedFields>Total_Discount_Price_of_Setup_Fees__c</queriedFields>
        <queriedFields>Total_List_Price_of_Setup_Fee_Products__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price_Book__c</queriedFields>
        <queriedFields>Tier_Plan__c</queriedFields>
        <queriedFields>Plan_availability__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get all the products that are in this bundle.</description>
        <name>Get_Bundle_Products</name>
        <label>Get Bundle Products</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_All_Bundle_Product_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bundle_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bundleId</elementReference>
            </value>
        </filters>
        <object>Bundle_Product__c</object>
        <outputReference>allBundleProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Standard_Price__c</queriedFields>
        <queriedFields>Bundle_Price__c</queriedFields>
        <queriedFields>PriceBookEntry_ID__c</queriedFields>
        <queriedFields>Product_Name_Formula__c</queriedFields>
        <queriedFields>Billing_Type__c</queriedFields>
        <queriedFields>Billing_Frequency__c</queriedFields>
        <queriedFields>Minimum_Price_Allowed__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <sortField>Product__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the bundle products that are already on the Opportunity, because we&#39;re going to erase them.</description>
        <name>Get_Current_Bundle_Products</name>
        <label>Get Current Bundle Products</label>
        <locationX>182</locationX>
        <locationY>4154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Existing_Bundle_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Bundle_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contract details from the Opportunity so that they can be pre-populated on the Contract Details screen.</description>
        <name>Get_Current_Values_from_Opportunity</name>
        <label>Get Current Values from Opportunity</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>currentOpportunityValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Start_Date__c</queriedFields>
        <queriedFields>Contract_Term_Months__c</queriedFields>
        <queriedFields>Subscription_Fee_Payment_Term__c</queriedFields>
        <queriedFields>Design_Template__c</queriedFields>
        <queriedFields>Beta_user__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Website_Design__c</queriedFields>
        <queriedFields>Addendum_Execution_Date__c</queriedFields>
        <queriedFields>Add_Plan__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>TTV_Beta__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get any current products on the Opportunity so we can exclude them from the list. We shouldn&#39;t have the same product on there twice.</description>
        <name>Get_Existing_Products_on_Opportunity</name>
        <label>Get Existing Products on Opportunity</label>
        <locationX>182</locationX>
        <locationY>4670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Product_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get New Sales Record Type</description>
        <name>Get_New_Sales_Record_Type</name>
        <label>Get New Sales Record Type</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Add_Service_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sales</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>newSalesRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets all the products from the price book that aren&#39;t in the current bundle, aren&#39;t already on the Opportunity and have a Product Family of &quot;Ala Carte&quot;</description>
        <name>Get_Other_Products</name>
        <label>Get Other A La Carte Price Book Entries</label>
        <locationX>182</locationX>
        <locationY>5078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Other_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bundlePricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>allBundleProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>allCurrentProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Ala Carte</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ad Spend Management Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Name</name>
        <label>Get Pricebook Name.</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Bundles_No_Cry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentOpportunityValues.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>opportunityPriceBookName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook_ID</name>
        <label>Get Standard Pricebook ID</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pricebook_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>standardPricebookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Pricebook_Entry_Details</name>
        <label>Get the Pricebook Entry Details</label>
        <locationX>182</locationX>
        <locationY>4562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Products_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>allPricebookEntryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the Tier (from the Bundle record) and links the Opportunity to the Bundle.</description>
        <name>Set_Tier_and_Bundle_on_Opportunity</name>
        <label>Set Tier and Bundle on Opportunity</label>
        <locationX>182</locationX>
        <locationY>7934</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Addendum_Execution_Date__c</field>
            <value>
                <elementReference>contractAddendumExecutionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beta_user__c</field>
            <value>
                <elementReference>contractInAppOnboarding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bundle__c</field>
            <value>
                <elementReference>Choose_a_Plan.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term_Months__c</field>
            <value>
                <elementReference>contractContractTermPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Template__c</field>
            <value>
                <elementReference>currentOpportunityValues.Design_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Renewal_Addeddum__c</field>
            <value>
                <elementReference>Is_This_a_Renewal_Addeddum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Subscription_Renewal_Date__c</field>
            <value>
                <elementReference>Should_This_Addendum_Update_Subscription_Renewal_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Fee_Payment_Term__c</field>
            <value>
                <elementReference>contractFeePaymentTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Start_Date__c</field>
            <value>
                <elementReference>contractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TTV_Beta__c</field>
            <value>
                <elementReference>currentOpportunityValues.TTV_Beta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tier_Plan__c</field>
            <value>
                <elementReference>bundleTierPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Design__c</field>
            <value>
                <elementReference>currentOpportunityValues.Website_Design__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Contract Details are Different for Addendums</description>
        <name>Addendum_Contract_Details</name>
        <label>Addendum Contract Details</label>
        <locationX>50</locationX>
        <locationY>3854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Values_from_Addendum_Screen</targetReference>
        </connector>
        <fields>
            <name>AddendumPlanSummary</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choosen Plan:&lt;/strong&gt; {!theBundlePlan.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Website Design for plan:&lt;/strong&gt; {!fWebsiteDesignFromBundlePlan}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addendum_Subscription_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Subscription_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>addendum_Addendum_Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Addendum_Execution_Date__c</elementReference>
            </defaultValue>
            <fieldText>Addendum Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>addendum_Contract_Term</name>
            <choiceReferences>ContractTerms</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Contract_Term_Months__c</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_This_a_Renewal_Addeddum</name>
            <choiceReferences>choicesIsRenewalAddeddum</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is This a Renewal Addeddum?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Should_This_Addendum_Update_Subscription_Renewal_Date</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>NoNeedsCSMManagerApproval</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Should this Addendum update the Renewal Date?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Is_This_a_Renewal_Addeddum</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addendum_Subscription_Fee_Payment_Term</name>
            <choiceReferences>SubscriptionFeePaymentTermsFromOpportunity</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Subscription_Fee_Payment_Term__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Fee Payment Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>currentOpportunityValues.Design_Template__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the Sales Person to enter a price, in dollars, of how much they want to charge fo for Setup Fees &amp; Recurring Fees. Discount is calculated and applied.</description>
        <name>Allow_Discount_Override</name>
        <label>Allow Discount Override</label>
        <locationX>182</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Contract_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>OverrideBundlePricing</name>
            <fieldText>&lt;p&gt;You can override the bundle&#39;s price by entering a value below for each of the Setup Fees and Monthly Products. When you enter a dollar amount the system will calculate a discount percentage and apply it evenly across &lt;em&gt;all products&lt;/em&gt; that match that type.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSubtotalDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total of Setup Fees: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!totalPriceSelectedSetupFees}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total of Monthly Fees: &lt;/strong&gt;{!fTotalPriceRecurringPlusRecurringNonDiscountable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OverrideSetupFeePrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>totalPriceSelectedSetupFees</elementReference>
            </defaultValue>
            <fieldText>Override Setup Fee Price</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a number between {!totalPriceSelectedSetupFees} and {!totalMininumPriceSetupFees}&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(212, 6, 6);&quot;&gt;Enter a price higher than &lt;/span&gt;&lt;span style=&quot;color: rgb(212, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;{!totalMininumPriceSetupFees}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OverrideSetupFeePrice} &gt;= {!totalMininumPriceSetupFees}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Minimum_Price_for_Setup</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Cannot be lower than {!totalMininumPriceSetupFees})&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OpportunityType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Sale</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OverrideRecurringFeePrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>fTotalPriceRecurringPlusRecurringNonDiscountable</elementReference>
            </defaultValue>
            <fieldText>Override Monthly Fee Price</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a price between {!totalPriceRecurringFees} and {!totalMinimumPriceRecurring}&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(212, 6, 6); background-color: rgb(255, 255, 255);&quot;&gt;Enter a price between {!totalMinimumPriceRecurring} and {!fTotalPriceRecurringPlusRecurringNonDiscountable}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OverrideRecurringFeePrice} &gt;= {!totalMinimumPriceRecurring}
 || (
{!OpportunityType} = &#39;New Sale&#39;
&amp;&amp; {!OverrideRecurringFeePrice} &gt;= {!totalMinimumPriceRecurring}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Minimum_Price_For_Monthly_Fees</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Cannot be lower than&lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!totalMinimumPriceRecurring})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OpportunityType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Sale</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays all active plans and lets the user choose one.</description>
        <name>Choose_a_Plan_Screen</name>
        <label>Choose a Plan Screen</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Bundle_ID</targetReference>
        </connector>
        <fields>
            <name>ChoseABundleInstructions</name>
            <fieldText>&lt;p&gt;Choose a bundle from the list below. Bundles have default discount levels and prices set up, but you&#39;ll be able to customize them after you&#39;ve chosen one.&lt;/p&gt;&lt;p&gt;If your Opportunity &lt;em&gt;already has a bundle on it&lt;/em&gt; &lt;strong&gt;all&lt;/strong&gt; of the existing bundle products will be removed and replaced with the bundle you choose on this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_a_Plan</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Bundle_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose a Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>allBundlePlans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ac95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Bundle Plan Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Plan_Discount__c&quot;,&quot;guid&quot;:&quot;column-019d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Plan Discount&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Total_Discount_Price_of_Setup_Fees__c&quot;,&quot;guid&quot;:&quot;column-a146&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Setup Fees Total&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Discount Price of Setup Fees&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Discount_Price_of_Other_Products__c&quot;,&quot;guid&quot;:&quot;column-7062&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Other Products Total&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Discount Price of Other Products&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-5172&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Other_Products</name>
        <label>Choose Other Products</label>
        <locationX>182</locationX>
        <locationY>5186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Line_Item_for_Each_Bundle_Product</targetReference>
        </connector>
        <fields>
            <name>AddOtherShizzle</name>
            <fieldText>&lt;p&gt;You can add other products to your opportunity now, and set the price on the next screens. (You can also do this later, or change products directly from the Opportunity.)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Other Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Other_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3535&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_Type__c&quot;,&quot;guid&quot;:&quot;column-30b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Billing Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-35cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customize_Bundle_Products</name>
        <label>Customize_Bundle_Products</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculate_Total_of_Selected_Products</targetReference>
        </connector>
        <fields>
            <name>Show_Setup_Fee_Pricing_from_Bundle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Setup Fee Pricing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Bundle Price:&lt;/strong&gt; {!theBundlePlan.Total_Discount_Price_of_Setup_Fees__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;List Price: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!theBundlePlan.Total_List_of_Setup_Fees__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomizeBundleInstructions</name>
            <fieldText>&lt;p&gt;You can customize your bundle by removing products from the list below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomizeProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Bundle_Product__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customize the Bundle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>allBundleProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-e24e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name (Formula)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Standard_Price__c&quot;,&quot;guid&quot;:&quot;column-8b29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Standard Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Bundle_Price__c&quot;,&quot;guid&quot;:&quot;column-9a01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Bundle Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>allBundleProducts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Other_Product_Price</name>
        <label>Enter Other Product Price</label>
        <locationX>402</locationX>
        <locationY>6710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_It_Ad_Spend_Add_On</targetReference>
        </connector>
        <fields>
            <name>OtherProductName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Enter_Prices_for_Other_Products.Name} -  &lt;/strong&gt;{!Enter_Prices_for_Other_Products.Product2.Description}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;List Price:&lt;/strong&gt; {!Enter_Prices_for_Other_Products.UnitPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnterPriceforProduct</name>
            <fieldText>&lt;p&gt;Enter the price you want for this product below. The default value is already set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ManualPriceOverride</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Enter_Prices_for_Other_Products.UnitPrice</elementReference>
            </defaultValue>
            <fieldText>Enter Your Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>otherProductQuantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please ensure the quantity matches the number of selected options.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Enter_Prices_for_Other_Products.Product2.Name} = &#39;Feed Integration Partner&#39;,
(1 + LEN({!Options}) - LEN(SUBSTITUTE({!Options}, &quot;;&quot;, &quot;&quot;)))
	= {!otherProductQuantity}, true)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Options</name>
            <choiceReferences>choicesProductOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enter_Prices_for_Other_Products.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Feed Integration Partner</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AdSpendManagementFee</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Monthly Fee: &lt;/strong&gt;{!fAdSpendMonthlyFeeTotal}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Management Fee: &lt;/strong&gt;{!fAdSpendManagementFeeTotal}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total: &lt;/strong&gt;{!fAdSpendTotal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enter_Prices_for_Other_Products.Product2.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Ad Spend Add On</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>newsale_Contract_Details</name>
        <label>Contract Details</label>
        <locationX>314</locationX>
        <locationY>3854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Values_from_New_Sale_Screen</targetReference>
        </connector>
        <fields>
            <name>NewSalesSummary</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choosen Plan:&lt;/strong&gt; {!theBundlePlan.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Website Design for plan:&lt;/strong&gt; {!fWebsiteDesignFromBundlePlan}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newsale_Subscription_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Subscription_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Subscription Start Date has to be in the &lt;em&gt;future.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!newsale_Subscription_Start_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>newsale_Contract_Term</name>
            <choiceReferences>ContractTerms</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Contract_Term_Months__c</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newsale_Subscription_Fee_Payment_Term</name>
            <choiceReferences>SubscriptionFeePaymentTermsFromOpportunity</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Subscription_Fee_Payment_Term__c</elementReference>
            </defaultValue>
            <fieldText>Subscription Fee Payment Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>currentOpportunityValues.Design_Template__c</objectFieldReference>
        </fields>
        <fields>
            <name>newsale_In_App_Onboarding</name>
            <choiceReferences>InAppOnboardingIsReallyBetaUserField</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.Beta_user__c</elementReference>
            </defaultValue>
            <fieldText>In-App Onboarding</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>currentOpportunityValues.RecordTypeId</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>addendumRecordTypeId</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TTV_Beta</name>
            <choiceReferences>choicesTTVBetaPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentOpportunityValues.TTV_Beta__c</elementReference>
            </defaultValue>
            <fieldText>TTV Beta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Bundles_No_Cry</name>
        <label>No Bundle No Cry</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Bundles</name>
            <fieldText>&lt;p&gt;This Opportunity is using the &lt;strong&gt;{!opportunityPriceBookName}&lt;/strong&gt; pricebook.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: sans-serif;&quot;&gt;There are no active bundles that match this Opportunty&#39;s pricebook.&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; You can delete all the products and choose a different &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Pricebook&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;, or ask someone to create a new bundle.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Addendum_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addendumRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addServiceRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allBundlePlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bundle_Plan__c</objectType>
    </variables>
    <variables>
        <description>Contains a list of all the products in the bundle, so that we can filter based on that criteria.</description>
        <name>allBundleProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>All the products in this bundle.</description>
        <name>allBundleProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bundle_Product__c</objectType>
    </variables>
    <variables>
        <description>Stores all current product IDs so we can filter on it.</description>
        <name>allCurrentProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allPricebookEntryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>After a bundle is selected, this contains the ID.</description>
        <name>bundleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bundlePricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bundleTierPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractAddendumExecutionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractContractTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contractContractTermPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractDesignTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractFeePaymentTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Yes, it&#39;s really Beta_User__c</description>
        <name>contractInAppOnboarding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractWebsiteDesign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_on_Bundle_Plans_not_allowed_for_New_Sales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bundle_Plan__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentOpportunityValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Allows the sales person to override the calculated price.</description>
        <name>discountedPriceRecurringFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listOfBundleProductsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>listOfOtherProductsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>The price entered manually by user. This overrides the discount price.</description>
        <name>manualPriceOtherProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>manualPriceSetupFeeProducts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newSalesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityPriceBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The product&#39;s we&#39;re going to add</description>
        <name>OpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>The Opportunity ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>standardPricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The bundle plan chosen by the dude.</description>
        <name>theBundlePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bundle_Plan__c</objectType>
    </variables>
    <variables>
        <name>theLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>theOpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>thisProductPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>This products discount value.</description>
        <name>thisProductsDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>totalMinimumPriceRecurring</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the total minimum price of all setup fees (the bundle can&#39;t be priced less than this.)</description>
        <name>totalMininumPriceSetupFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the total value of the recurring fees that have been selected.</description>
        <name>totalPriceRecurringFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the total price of the setup fees that have been included in the bundle.</description>
        <name>totalPriceSelectedSetupFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityProductToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Stores the total value of the non discountable recurring fees that have been selected.</description>
        <name>vTotalPriceRecurringFeesNonDiscountable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
