unpackaged/main/default/flows/OpportunityProduct_Before_PopulateProductFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Override_Option_Selection</name>
        <label>Override Option Selection</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Override</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Option_Selected__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feed_Integration_Options__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feed_Integration_Options__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Override_Option_Selected</targetReference>
            </connector>
            <label>Override</label>
        </rules>
    </decisions>
    <description>Anytime there&#39;s a change to the OpportunityProduct, this populates text fields with Product information.</description>
    <environments>Default</environments>
    <interviewLabel>OpportunityProduct_Before_PopulateProductFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityProduct_Before_PopulateProductFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Override_Option_Selected</name>
        <label>Override Option Selected</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Option_Selected__c</field>
            <value>
                <elementReference>$Record.Feed_Integration_Options__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Product_Fields</name>
        <label>Populate Product Fields</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Override_Option_Selection</targetReference>
        </connector>
        <inputAssignments>
            <field>AddOn_RollUp_Category__c</field>
            <value>
                <elementReference>$Record.Product2.AddOn_RollUp_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductFamily__c</field>
            <value>
                <elementReference>$Record.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Product_Fields</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
