unpackaged/main/default/flows/Opportunity_After_NewSales_UpdateOpportunityDateFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to the opportunity owner</description>
        <name>SDR_Demo_reminding_AE_s_feedback</name>
        <label>SDR Demo - reminding AE&#39;s feedback</label>
        <locationX>1986</locationX>
        <locationY>1139</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Subscription_Fee_Payment_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SDR Feedback Form</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Assess_if_Demo_Date_is_Already_Filled</name>
        <label>Assess if Demo Date is Already Filled</label>
        <locationX>2118</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Demo_Date_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Demo Date is Null</defaultConnectorLabel>
        <rules>
            <name>Demo_Date_is_Already_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demo_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDR</targetReference>
            </connector>
            <label>Demo Date is Already Filled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only review the current status</description>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>2294</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Subscription_Fee_Payment_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selling_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_if_Demo_Date_is_Already_Filled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selling</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate the prior and current status</description>
        <name>Prior_Status</name>
        <label>Prior Status</label>
        <locationX>2294</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Current_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualifying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Qualifying</label>
        </rules>
        <rules>
            <name>Qualifying_Selling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selling_Date</targetReference>
            </connector>
            <label>Qualifying - Selling</label>
        </rules>
        <rules>
            <name>Qualifying_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selling_and_Contract_Date</targetReference>
            </connector>
            <label>Qualifying - Contract</label>
        </rules>
        <rules>
            <name>Qualifying_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selling_Contract_ClosedWon</targetReference>
            </connector>
            <label>Qualifying - Closed Won</label>
        </rules>
        <rules>
            <name>Qualifying_Flake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flaked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selling_Contract_Flaked</targetReference>
            </connector>
            <label>Qualifying - Flake</label>
        </rules>
        <rules>
            <name>Selling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Selling_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Selling</label>
        </rules>
        <rules>
            <name>Selling_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Date</targetReference>
            </connector>
            <label>Selling - Contract</label>
        </rules>
        <rules>
            <name>Selling_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_and_Closed_Date</targetReference>
            </connector>
            <label>Selling - Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Won_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Lost_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Future_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_Close_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Future Close</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Selling_Contract_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contract</label>
        </rules>
        <rules>
            <name>Contract_Selling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Selling_Date</targetReference>
            </connector>
            <label>Contract - Selling</label>
        </rules>
        <rules>
            <name>Flaked_Qualifying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flaked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Date_Flaked</targetReference>
            </connector>
            <label>Flaked - Qualifying</label>
        </rules>
        <rules>
            <name>Flaked_Selling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flaked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Selling_Date1</targetReference>
            </connector>
            <label>Flaked - Selling</label>
        </rules>
        <rules>
            <name>Flaked_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flaked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Selling_Contract_Date1</targetReference>
            </connector>
            <label>Flaked - Contract</label>
        </rules>
        <rules>
            <name>Flaked_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flaked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualifying_Selling_Contract_Closed_Won_Date1</targetReference>
            </connector>
            <label>Flaked - Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review if the SDR of the currrent opportunity is filled</description>
        <name>SDR</name>
        <label>SDR?</label>
        <locationX>2118</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Subscription_Fee_Payment_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDR_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDR_user__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDR_Demo_reminding_AE_s_feedback</targetReference>
            </connector>
            <label>SDR Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Fee_Payment_Term</name>
        <label>Subscription Fee Payment Term</label>
        <locationX>2294</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_Fee_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annually</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Term_Text</targetReference>
            </connector>
            <label>Annually</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forPaymentTermText</name>
        <dataType>String</dataType>
        <expression>&quot;Annual Fee (Execution of order form): &quot;</expression>
    </formulas>
    <interviewLabel>Opportunity_After_NewSales_UpdateOpportunityDateFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_After_NewSales_UpdateOpportunityDateFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Lost_Date</name>
        <label>Close Lost Date</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Won_Date</name>
        <label>Close Won Date</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contract_and_Closed_Date</name>
        <label>Contract and Closed Date</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contract_Date</name>
        <label>Contract Date</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Selling_Date</name>
        <label>Selling Date</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Change the demo date to today</description>
        <name>Demo_Date_Updated</name>
        <label>Demo Date Updated</label>
        <locationX>2206</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>SDR</targetReference>
        </connector>
        <inputAssignments>
            <field>Demo_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Future_Close_Date</name>
        <label>Future Close Date</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Date</name>
        <label>Qualifying Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Date_Flaked</name>
        <label>Qualifying Date</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Selling_Contract_Closed_Won_Date1</name>
        <label>Qualifying - Selling - Contract - Closed Won Date</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Selling_Contract_Date</name>
        <label>Qualifying/Selling/Contract Date</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Selling_Contract_Date1</name>
        <label>Qualifying - Selling - Contract Date</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Selling_Date</name>
        <label>Qualifying/ Selling Date</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Qualifying_Selling_Date1</name>
        <label>Qualifying - Selling Date</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selling_and_Contract_Date</name>
        <label>Selling and Contract Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selling_Contract_ClosedWon</name>
        <label>Selling-Contract-ClosedWon</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selling_Contract_Flaked</name>
        <label>Selling-Contract-Flaked</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Flake_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Selling_Date</name>
        <label>Selling Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Lost_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Won_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Close_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Term_Text</name>
        <label>Update - Payment Term Text</label>
        <locationX>2162</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>Payment_Term_Text__c</field>
            <value>
                <elementReference>forPaymentTermText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prior_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Sales</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please complete the&lt;a href=&quot;https://docs.google.com/forms/d/1HDmfr1zUMiNCJv2T447pteo5NmtIjhPqCMhPOaRVtfo/edit)&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; &lt;/a&gt;&lt;a href=&quot;https://docs.google.com/forms/d/1HDmfr1zUMiNCJv2T447pteo5NmtIjhPqCMhPOaRVtfo/edit&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;SDR Feedback form&lt;/a&gt; for the Opportunity&lt;a href=&quot;https://luxurypresence.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; {!$Record.Name}&lt;/a&gt;  for the SDR {!$Record.SDR_user__r.FirstName} {!$Record.SDR_user__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feedback is mandatory:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;OCC’s too&lt;/li&gt;&lt;li&gt;DQ situations too (note - if a DQ, please send SF Opp Link to your manager and the SDR manager via slack)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>700</triggerOrder>
</Flow>
