unpackaged/main/default/flows/Service_AfterSave_WebsiteLaunched_DCSMPostLaunchLaunchPlus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Launch_DCSM_Post_Launch_Strategy_Call_1Week</name>
        <label>Launch: DCSM Post-Launch Strategy Call 1Week</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Account.Launch_1_week_post_launch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Post_Launch_Email_Sent_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Account2.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Launch_1_week_post_launch</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Launch_DCSM_Post_Launch_Strategy_Call_24_hours</name>
        <label>Launch: DCSM Post-Launch Strategy Call 24 hours</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Account.Launch_24_Hours_After_Launch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Launch_24_Hours_After_Launch</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Launch_DCSM_Post_Launch_Strategy_Call_72</name>
        <label>Launch: DCSM Post-Launch Strategy Call 72 hours</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>Account.Launch_72_Hours_after_Launch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Account1.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Launch_72_Hours_after_Launch</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Service_AfterSave_WebsiteLaunched_DCSMPostLaunchLaunchPlus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service AfterSave WebsiteLaunched DCSM Post Launch Launch+</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_DCSM_Post_Launch_Strategy_Call_24_hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account1</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_DCSM_Post_Launch_Strategy_Call_72</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account2</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launch_DCSM_Post_Launch_Strategy_Call_1Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Post_Launch_Email_Sent_Status</name>
        <label>Update Post-Launch Email Sent Status</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Launch_Email_Tracking__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Launch_Tier_IAO_Service_Launched__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-App Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website Launched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Launch_Email_Tracking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Launch_DCSM_Post_Launch_Strategy_Call_24_Hrs</name>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Launch: DCSM Post-Launch Strategy Call 24 Hrs</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Last_Status_Update__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Launch_DCSM_Post_Launch_Strategy_Call_72_Hrs</name>
            <connector>
                <targetReference>Get_Account1</targetReference>
            </connector>
            <label>Launch: DCSM Post-Launch Strategy Call 72 Hrs</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Last_Status_Update__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Launch_DCSM_Post_Launch_Strategy_Call_1_Week</name>
            <connector>
                <targetReference>Get_Account2</targetReference>
            </connector>
            <label>Launch: DCSM Post-Launch Strategy Call 1 Week</label>
            <offsetNumber>168</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Last_Status_Update__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
