unpackaged/main/default/flows/Task_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Call_Result_Changed</name>
        <label>Call Result Changed</label>
        <locationX>2558</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Who_What</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Result_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject</targetReference>
            </connector>
            <label>Call Result is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Result_Contact</name>
        <label>Call Result?</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Answer_DMviaNDM_Set_Demo</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Set Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Set Demo Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Set Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Set Demo Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Set Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Set Demo Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re - Engage Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Answer DMviaNDM~Set Demo</label>
        </rules>
        <rules>
            <name>DNC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~DNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DMviaNDM~DNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_cooling</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DNC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Result_Opportunity</name>
        <label>Call Result?</label>
        <locationX>4010</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Held_Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Held Dome</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Held_Demo</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Held Demo</label>
        </rules>
        <rules>
            <name>Demo_Flaked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Flaked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Demo_Flaked</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Demo Flaked</label>
        </rules>
        <rules>
            <name>Re_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Reset</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Re-set</label>
        </rules>
        <rules>
            <name>Not_Held</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Held</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Not_Held</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not Held</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_ResultLead</name>
        <label>Call Result?</label>
        <locationX>2096</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Answer</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dialpad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Status_NoAnswer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Answer</label>
        </rules>
        <rules>
            <name>Prospect_not_Interested</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Prospect Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DMviaNDM~Prospect Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Prospect Not Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Non_converted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Prospect not Interested</label>
        </rules>
        <rules>
            <name>Current_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Current Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DMviaNDM~Current Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~Current Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Non_convertedCurrentClient</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Current Client</label>
        </rules>
        <rules>
            <name>Client_DNC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~DNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DMviaNDM~DNC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer NDM~DNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Non_converted_DNC</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Client DNC</label>
        </rules>
        <rules>
            <name>Answer_NDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Answer NDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Status_NDM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Answer NDM</label>
        </rules>
        <rules>
            <name>Answer_DM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Set Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Set Demo Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~OTF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Answer DM~Sale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Answer DM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Answer DM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>2822</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Lead_Call_Result_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Ready_Pursuing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pursuing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Call_Result_True_Engaging</targetReference>
            </connector>
            <label>New - Ready - Pursuing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status_NDM</name>
        <label>Current Status</label>
        <locationX>2294</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Lead_Call_Result_True_NDM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Ready</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Call_Result_True_Pursuing</targetReference>
            </connector>
            <label>New - Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status_NoAnswer</name>
        <label>Current Status</label>
        <locationX>974</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Consecutive_calls_No_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Ready_NoAnswer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consecutive_calls_No_contact_NoAnswer</targetReference>
            </connector>
            <label>New - Ready</label>
        </rules>
    </decisions>
    <decisions>
        <description>Review if the field &quot;First Call Date&quot; is blank and the call result changed</description>
        <name>First_Call_Date</name>
        <label>First Call Date?</label>
        <locationX>2096</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Call_ResultLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.First_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Call_Date_Today</targetReference>
            </connector>
            <label>No date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_No_Answer_Wrong_Number</name>
        <label>Is No Answer~Wrong Number?</label>
        <locationX>974</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Answer_Wrong_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Answer~Wrong Number</stringValue>
                </rightValue>
            </conditions>
            <label>No Answer~Wrong Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_What</name>
        <label>Who/What</label>
        <locationX>2558</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Result_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCallDurationText</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.CallDurationInSeconds} &lt; 60, TEXT({!forCallDurationValue}) + &quot; sec&quot; , TEXT({!forCallDurationValue}) + &quot; min&quot; 

)</expression>
    </formulas>
    <formulas>
        <name>forCallDurationValue</name>
        <dataType>Number</dataType>
        <expression>IF(
{!$Record.CallDurationInSeconds} &lt; 60, {!$Record.CallDurationInSeconds},   {!$Record.CallDurationInSeconds}/60

)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forConsecutiveCall</name>
        <dataType>Number</dataType>
        <expression>{!GetLead.Consecutive_calls_No_Contact__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forNumberOfTimesDialed</name>
        <dataType>Number</dataType>
        <expression>{!GetLead.Number_of_times_dialed__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forSubjectCallResult</name>
        <dataType>String</dataType>
        <expression>{!$Record.CallDisposition} + &quot; - &quot; + {!forCallDurationText}+ &quot; - Dialpad call&quot;</expression>
    </formulas>
    <interviewLabel>Task AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetContact.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.ID_Opp_New_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>Contact</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Result_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>Lead</label>
        <locationX>2096</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Call_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Consecutive_calls_No_contact</name>
        <label>Consecutive calls - No contact</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Is_No_Answer_Wrong_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <elementReference>forConsecutiveCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Consecutive_calls_No_contact_NoAnswer</name>
        <label>Consecutive calls - No contact</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Is_No_Answer_Wrong_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <elementReference>forConsecutiveCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pursuing</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_cooling</name>
        <label>Contact - cooling</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_re_assign__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cooling</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>First_Call_Date_Today</name>
        <label>First Call Date - Today</label>
        <locationX>1964</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Call_ResultLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Call_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Call_Result_True</name>
        <label>Lead Call Result - True</label>
        <locationX>2954</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Result__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Call_Result_True_Engaging</name>
        <label>Lead Call Result - True - Engaging</label>
        <locationX>2690</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Result__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Engaging</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Call_Result_True_NDM</name>
        <label>Lead Call Result - True</label>
        <locationX>2426</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Result__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Call_Result_True_Pursuing</name>
        <label>Lead Call Result - True - Pursuing</label>
        <locationX>2162</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Result__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pursuing</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Non_converted</name>
        <label>Lead - Non converted</label>
        <locationX>1370</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non-Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Non_converted_DNC</name>
        <label>Lead - Non converted DNC</label>
        <locationX>1898</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason__c</field>
            <value>
                <stringValue>DNC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Outcome__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non-Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Non_convertedCurrentClient</name>
        <label>Lead - Non converted</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consecutive_calls_No_Contact__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_times_dialed__c</field>
            <value>
                <elementReference>forNumberOfTimesDialed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Reason__c</field>
            <value>
                <stringValue>Current Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Outcome__c</field>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Non-Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Demo_Flaked</name>
        <label>Opportunity - Demo Flaked</label>
        <locationX>3746</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Outcome__c</field>
            <value>
                <stringValue>Flaked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Status__c</field>
            <value>
                <stringValue>Not Held</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Held_Demo</name>
        <label>Opportunity - Held Demo</label>
        <locationX>3482</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Status__c</field>
            <value>
                <stringValue>Held Demo</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Not_Held</name>
        <label>Opportunity - Not Held</label>
        <locationX>4274</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Status__c</field>
            <value>
                <stringValue>Not Held</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Reset</name>
        <label>Opportunity - Reset</label>
        <locationX>4010</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Outcome__c</field>
            <value>
                <stringValue>Re-set</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Status__c</field>
            <value>
                <stringValue>Not Held</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subject</name>
        <label>Update - Subject</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Who_What</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>forSubjectCallResult</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Result_Changed</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
