unpackaged/main/default/flows/va_enps_template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f659afcb_c178_4dae_aa2b_777fdad4f621</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_06b92e7a_56f7_45c6_b103_d68af76d4c0c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2abab732_dd78_481c_b0a4_4ec075c013f2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0a1b35ad_2dea_4183_af07_b02dd65573dd</name>
        <choiceText>PFT - Revisions VIP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Revisions VIP</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f0f9399_ca05_4a4d_bed9_f03d6a070ddf</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1246753e_8c50_4306_84b5_3f7498b18f3a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1345b42e_0ba0_4152_9c79_ff2f1c132bdd</name>
        <choiceText>LATAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LATAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fe01d5c_191e_4e85_8d46_28f118e448fd</name>
        <choiceText>PFT - Express Revisions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Express Revisions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_228bd0ae_a087_4476_8d73_6902e1e76fdb</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_25634fdf_d472_4af6_8db8_3bec2fe4a819</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_300097a6_7dd0_49de_8c6c_c6485da5bd72</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_319958c9_48fb_442b_8be1_2e35f97efd52</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_38924e7b_b549_439c_a971_cd5bf9240c3f</name>
        <choiceText>PFT - Revisions Firefighter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Revisions Firefighter</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3fa9d7a4_833c_49d9_b07d_ad6a552220fe</name>
        <choiceText>IDX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IDX</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bf5edd7_7aa9_4287_952e_89b1dbd7e379</name>
        <choiceText>Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e7b40b3_3fb1_475e_81f5_0aa8ca24affd</name>
        <choiceText>Side - New Logo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Side - New Logo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_556c85be_ea24_44b9_9d49_81ff2ee4cb96</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57704ece_2a9f_4e5e_8887_7ac995cd7de2</name>
        <choiceText>PFT - Launch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Launch</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5bbd3c98_460b_497d_8f01_e5cacd834a37</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_60f2821b_26e4_4ba6_84fc_5b4fc5997398</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_61392d79_d0e2_4862_bb3d_564729d59d35</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74762b0a_df5a_4933_b568_faaa342820a6</name>
        <choiceText>Client Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74da478d_4570_48a0_8628_4ae3e2125968</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7acc9c80_404d_4e5d_8df4_6f1c829843ea</name>
        <choiceText>PFT - Website Execution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Website Execution</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7b23b76f_ca6f_4451_9303_95c2fa8e4b57</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_817dc1a7_a850_47a8_a02c_ab7857dbc24b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_84e68b84_4fd8_4521_9042_18ddeff1f8cd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f6a4bca_629a_4acc_8f37_558862395825</name>
        <choiceText>SEO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_95fd9ef6_0be5_42db_83a6_131a51e8392b</name>
        <choiceText>Client Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Success</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_99e03147_4a4e_4707_8c35_6891e0adcb93</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c92a8ff_82a2_47d9_a82d_923c2e3bc1d2</name>
        <choiceText>Creative Studio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creative Studio</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a09caa6e_4732_483c_ba95_3ae20ba83986</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a39515ee_00bd_4544_b8fc_e16755daaae5</name>
        <choiceText>HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b4252fe2_aa55_44fd_9184_91db27f81553</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c72e2af0_9c62_4bd5_aa1a_51363d98b885</name>
        <choiceText>Paid Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d18ed62e_1981_46f8_8bf0_42504102a2b3</name>
        <choiceText>PH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PH</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d408cf56_fd64_4875_99c4_757fec1f7a9d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d42a008b_e1b1_4d40_976e_01fcd8c90204</name>
        <choiceText>PFT - Revisions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PFT - Revisions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d48e0890_58d2_4ff9_a3f7_9e2b62bf95a6</name>
        <choiceText>Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_db341a15_f976_46f5_bcb5_8253da7e3f99</name>
        <choiceText>CSS &amp;amp; Bug Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CSS &amp; Bug Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f40ecec8_b249_49aa_8889_facd78d0519f</name>
        <choiceText>Analytics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analytics</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fbd41a6a_42ba_4bce_91f7_316f43a93da8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <interviewLabel>VA - eNPS Template</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>VA - eNPS Template</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_va_enps_template_ba9b1736_8997_4518_aa8b_376574f3ebd6</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_06b92e7a_56f7_45c6_b103_d68af76d4c0c</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_2abab732_dd78_481c_b0a4_4ec075c013f2</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d35f6fca_1db9_4620_aac9_6403fecf745b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d35f6fca_1db9_4620_aac9_6403fecf745b</name>
            <choiceReferences>c_7b23b76f_ca6f_4451_9303_95c2fa8e4b57</choiceReferences>
            <choiceReferences>c_84e68b84_4fd8_4521_9042_18ddeff1f8cd</choiceReferences>
            <choiceReferences>c_fbd41a6a_42ba_4bce_91f7_316f43a93da8</choiceReferences>
            <choiceReferences>c_1246753e_8c50_4306_84b5_3f7498b18f3a</choiceReferences>
            <choiceReferences>c_25634fdf_d472_4af6_8db8_3bec2fe4a819</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Current systems/tools provided adequately support my job function.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a65a2c15_31a0_413e_b303_f9cbcc83e530</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Would you like to offer any notes/feedback about systems/tooling supporting your job function?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e3cc3498_5747_4962_9305_44456336f23f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_e3cc3498_5747_4962_9305_44456336f23f</name>
            <choiceReferences>c_228bd0ae_a087_4476_8d73_6902e1e76fdb</choiceReferences>
            <choiceReferences>c_319958c9_48fb_442b_8be1_2e35f97efd52</choiceReferences>
            <choiceReferences>c_60f2821b_26e4_4ba6_84fc_5b4fc5997398</choiceReferences>
            <choiceReferences>c_5bbd3c98_460b_497d_8f01_e5cacd834a37</choiceReferences>
            <choiceReferences>c_a09caa6e_4732_483c_ba95_3ae20ba83986</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;I am satisfied with the usability of the systems/tools provided to me.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eb804393_09bb_49ae_b806_f645026b2be3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Would you like to offer any notes/feedback about the usability of the systems/tooling provided to you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4a1e4644_e36d_43a8_9f11_a976fa65380f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_4a1e4644_e36d_43a8_9f11_a976fa65380f</name>
            <choiceReferences>c_b4252fe2_aa55_44fd_9184_91db27f81553</choiceReferences>
            <choiceReferences>c_300097a6_7dd0_49de_8c6c_c6485da5bd72</choiceReferences>
            <choiceReferences>c_817dc1a7_a850_47a8_a02c_ab7857dbc24b</choiceReferences>
            <choiceReferences>c_d408cf56_fd64_4875_99c4_757fec1f7a9d</choiceReferences>
            <choiceReferences>c_74da478d_4570_48a0_8628_4ae3e2125968</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;I&#39;m confident the updates being made to the tooling and systems my team use will make us more effective.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3f7ff59e_7f06_4fe5_8971_80a13cc10d24</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Would you like to offer any notes/feedback about tooling and systems updates?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2abab732_dd78_481c_b0a4_4ec075c013f2</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a5230139_d621_49b1_8fc1_27d6943a6f27_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_a5230139_d621_49b1_8fc1_27d6943a6f27</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;I would recommend Luxury Presence LLC as a great place to work.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_83ea46aa_4c56_4947_a38b_5e4b6ea563e0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Any feedback you&#39;d like to leave for LP? We want to know how can we improve.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f659afcb_c178_4dae_aa2b_777fdad4f621</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_06b92e7a_56f7_45c6_b103_d68af76d4c0c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8c53daab_14c8_4a01_b7a9_9df610f3d012</name>
            <choiceReferences>c_d18ed62e_1981_46f8_8bf0_42504102a2b3</choiceReferences>
            <choiceReferences>c_1345b42e_0ba0_4152_9c79_ff2f1c132bdd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;Region&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8aacb6f4_aec0_458d_8447_e505b1ace80e</name>
            <choiceReferences>c_61392d79_d0e2_4862_bb3d_564729d59d35</choiceReferences>
            <choiceReferences>c_0f0f9399_ca05_4a4d_bed9_f03d6a070ddf</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: docs-Roboto; font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: docs-Roboto; font-size: 16px;&quot;&gt;Do you manage contractors at Luxury Presence? (you are responsible for direct reports)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_347e5d78_3b12_4c03_80ee_80e3700ad7df</name>
            <choiceReferences>c_f40ecec8_b249_49aa_8889_facd78d0519f</choiceReferences>
            <choiceReferences>c_95fd9ef6_0be5_42db_83a6_131a51e8392b</choiceReferences>
            <choiceReferences>c_74762b0a_df5a_4933_b568_faaa342820a6</choiceReferences>
            <choiceReferences>c_d48e0890_58d2_4ff9_a3f7_9e2b62bf95a6</choiceReferences>
            <choiceReferences>c_9c92a8ff_82a2_47d9_a82d_923c2e3bc1d2</choiceReferences>
            <choiceReferences>c_db341a15_f976_46f5_bcb5_8253da7e3f99</choiceReferences>
            <choiceReferences>c_a39515ee_00bd_4544_b8fc_e16755daaae5</choiceReferences>
            <choiceReferences>c_3fa9d7a4_833c_49d9_b07d_ad6a552220fe</choiceReferences>
            <choiceReferences>c_4bf5edd7_7aa9_4287_952e_89b1dbd7e379</choiceReferences>
            <choiceReferences>c_c72e2af0_9c62_4bd5_aa1a_51363d98b885</choiceReferences>
            <choiceReferences>c_1fe01d5c_191e_4e85_8d46_28f118e448fd</choiceReferences>
            <choiceReferences>c_57704ece_2a9f_4e5e_8887_7ac995cd7de2</choiceReferences>
            <choiceReferences>c_d42a008b_e1b1_4d40_976e_01fcd8c90204</choiceReferences>
            <choiceReferences>c_38924e7b_b549_439c_a971_cd5bf9240c3f</choiceReferences>
            <choiceReferences>c_0a1b35ad_2dea_4183_af07_b02dd65573dd</choiceReferences>
            <choiceReferences>c_7acc9c80_404d_4e5d_8df4_6f1c829843ea</choiceReferences>
            <choiceReferences>c_99e03147_4a4e_4707_8c35_6891e0adcb93</choiceReferences>
            <choiceReferences>c_8f6a4bca_629a_4acc_8f37_558862395825</choiceReferences>
            <choiceReferences>c_4e7b40b3_3fb1_475e_81f5_0aa8ca24affd</choiceReferences>
            <choiceReferences>c_556c85be_ea24_44b9_9d49_81ff2ee4cb96</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: docs-Roboto;&quot;&gt;What team are you on? (If you split time, choose where you spend most of your time)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_f659afcb_c178_4dae_aa2b_777fdad4f621</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: Roboto, Arial, sans-serif;&quot;&gt;Thank you for answering our Contractor&#39;s Voice survey!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Our Voice surveys provide the Offshore HR Team with a comprehensive look at monthly topics that pertain to the business and employee journey. As we continue to grow, it&#39;s extremely important we understand your experience here at Luxury Presence. Thank you for your response in advance!</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 32px; font-family: docs-Roboto;&quot;&gt;Offshore Contractors Voice: X&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_4a1e4644_e36d_43a8_9f11_a976fa65380f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a5230139_d621_49b1_8fc1_27d6943a6f27_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_d35f6fca_1db9_4620_aac9_6403fecf745b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e3cc3498_5747_4962_9305_44456336f23f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
